{"openapi":"3.0.1","info":{"title":"Party Lifecycle Management","description":"Manages initiating, updating, and tracking the end-to-end party lifecycle — from initial customer offer acceptance through identity verification, qualification assessment, and final party creation, following BIAN 'Party Lifecycle Management' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/v1/party-lifecycle-management/{party-lifecycle-management-id}/update":{"put":{"tags":["CR - PartyRelationshipAdministrativePlan - v14"],"summary":"UpCR Update details about a party life-cycle administrative plan","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/party-lifecycle-management/{party-lifecycle-management-id}/qualification/update":{"put":{"tags":["BQ - Qualification - v14"],"summary":"UpBQ Update party qualification routine","operationId":"UpdateQualification","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/party-lifecycle-management/{party-lifecycle-management-id}/precedents/{precedents-id}/update":{"put":{"tags":["BQ - Precedents - v14"],"summary":"UpBQ Update details about customer precedents","operationId":"UpdatePrecedents","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"precedents-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrecedentsDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecedentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/party-lifecycle-management/{party-lifecycle-management-id}/documentation/{documentation-id}/update":{"put":{"tags":["BQ - Documentation - v14"],"summary":"UpBQ Update details about document handling","operationId":"UpdateDocumentation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentation-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/update":{"put":{"tags":["CR - PartyRelationshipAdministrativePlan - stub"],"summary":"UpCR Update details about a party life-cycle administrative plan","operationId":"Update_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/request":{"put":{"tags":["CR - PartyRelationshipAdministrativePlan - stub"],"summary":"RqCR Request manual intervention (e.g. negotiate resolution)","operationId":"Request","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/qualification/update":{"put":{"tags":["BQ - Qualification - stub"],"summary":"UpBQ Update party qualification routine","operationId":"UpdateQualification_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/precedents/{precedents-id}/update":{"put":{"tags":["BQ - Precedents - stub"],"summary":"UpBQ Update details about customer precedents","operationId":"UpdatePrecedents_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"precedents-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecedentsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecedentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/identity-proofing/{identity-proofing-id}/update":{"put":{"tags":["BQ - IdentityProofing - stub"],"summary":"UpBQ Update details about a party identity proofing routine","operationId":"UpdateIdentityProofing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"identity-proofing-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityProofingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/execute":{"put":{"tags":["CR - PartyRelationshipAdministrativePlan - stub"],"summary":"ExCR Execute an automated action (e.g. input data)","operationId":"Execute","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/exchange":{"put":{"tags":["CR - PartyRelationshipAdministrativePlan - stub"],"summary":"EcCR Accept, verify, etc. of the party life-cycle administrative plan","operationId":"Exchange","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/documentation/{documentation-id}/update":{"put":{"tags":["BQ - Documentation - stub"],"summary":"UpBQ Update details about document handling","operationId":"UpdateDocumentation_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentation-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/documentation/{documentation-id}/request":{"put":{"tags":["BQ - Documentation - stub"],"summary":"RqBQ Request manual intervention (e.g. handle a document exchange)","operationId":"RequestDocumentation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentation-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/documentation/{documentation-id}/execute":{"put":{"tags":["BQ - Documentation - stub"],"summary":"ExBQ Execute an automated action (e.g. input data about a document)","operationId":"ExecuteDocumentation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentation-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/control":{"put":{"tags":["CR - PartyRelationshipAdministrativePlan - stub"],"summary":"CoCR Control the processing of a party-life-cycle administrative plan (e.g. terminate)","operationId":"Control","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/party-lifecycle-management-config/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/party-lifecycle-management/{party-lifecycle-management-id}/qualification/initiate":{"post":{"tags":["BQ - Qualification - v14"],"summary":"InBQ Initiate party qualification routine","operationId":"InitiateQualification","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/party-lifecycle-management/{party-lifecycle-management-id}/precedents/initiate":{"post":{"tags":["BQ - Precedents - v14"],"summary":"InBQ Initiate customer precedents","operationId":"InitiatePrecedents","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrecedentsDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecedentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/party-lifecycle-management/initiate":{"post":{"tags":["CR - PartyRelationshipAdministrativePlan - v14"],"summary":"InCR Initiate party life-cycle administrative plan","operationId":"Initiate","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/qualification/initiate":{"post":{"tags":["BQ - Qualification - stub"],"summary":"InBQ Initiate party qualification routine","operationId":"InitiateQualification_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/precedents/register":{"post":{"tags":["BQ - Precedents - stub"],"summary":"InBQ Register customer precedents","operationId":"RegisterPrecedents","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecedentsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecedentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/identity-proofing/initiate":{"post":{"tags":["BQ - IdentityProofing - stub"],"summary":"InBQ Initiate party identity proofing routine","operationId":"InitiateIdentityProofing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityProofingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityProofingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/initiate":{"post":{"tags":["CR - PartyRelationshipAdministrativePlan - stub"],"summary":"InCR Initiate party life-cycle administrative plan","operationId":"Initiate_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/party-lifecycle-management/{party-lifecycle-management-id}/qualification/{qualification-id}/retrieve":{"get":{"tags":["BQ - Qualification - v14"],"summary":"ReBQ Retrieve details about a party qualification routine","operationId":"RetrieveQualification","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"qualification-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/party-lifecycle-management/{party-lifecycle-management-id}/precedents/{precedents-id}/retrieve":{"get":{"tags":["BQ - Precedents - v14"],"summary":"ReBQ Retrieve details about customer precedent maintenance","operationId":"RetrievePrecedents","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"precedents-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecedentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/retrieve":{"get":{"tags":["CR - PartyRelationshipAdministrativePlan - stub"],"summary":"ReCR Retrieve details about a party life-cycle administrative plan","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRelationshipAdministrativePlanDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/qualification/{qualification-id}/retrieve":{"get":{"tags":["BQ - Qualification - stub"],"summary":"ReBQ Retrieve details about a party qualification routine","operationId":"RetrieveQualification_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"qualification-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualificationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/precedents/{precedents-id}/retrieve":{"get":{"tags":["BQ - Precedents - stub"],"summary":"ReBQ Retrieve details about customer precedent maintenance","operationId":"RetrievePrecedents_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"precedents-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecedentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/party-lifecycle-management/{party-lifecycle-management-id}/identity-proofing/{identity-proofing-id}/retrieve":{"get":{"tags":["BQ - IdentityProofing - stub"],"summary":"ReBQ Retrieve details about a party identity proofing routine","operationId":"RetrieveIdentityProofing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"identity-proofing-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityProofingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/party-lifecycle-management/{party-lifecycle-management-id}/documentation/{documentation-id}/retrieve":{"get":{"tags":["BQ - Documentation - stub"],"summary":"ReBQ Retrieve details about document processing for a party life-cycle administration","operationId":"RetrieveDocumentation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-lifecycle-management-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentation-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/party-lifecycle-management-config/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfigDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/party-lifecycle-management-config/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"DateTimeDTO":{"type":"object","properties":{"DateTimeContent":{"type":"string"},"TimeZoneCode":{"type":"string"},"DaylightSavingIndicator":{"type":"string"},"DateTimeType":{"type":"string","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate","EntryDate"]}},"example":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RNN","DateTimeType":"FulfillmentDate"}},"DateTimePeriodDTO":{"type":"object","properties":{"FromDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ToDateTime":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DJOI","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"QNC","DateTimeType":"CloseDate"}}},"IdentifierDTO":{"type":"object","properties":{"IdentifierValue":{"type":"string"},"IdentifierIssuerReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"IdentifierStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"IdentifierEndDate":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"IdentifierValue":"d59b2af1-8242-4ff3-9239-ef3d8e09f33e","IdentifierIssuerReference":{"PartyReference":"c1faf351-ee23-469c-b067-722a550753b8","InvolvementReference":"4d323708-94c5-4c97-b86b-644c77c0c7e6"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GYTOLRGWT","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"JNLTKJ","DateTimeType":"CloseDate"}}},"IndustryCodeDTO":{"type":"object","properties":{"Industrycode":{"type":"string"}},"example":{"Industrycode":"UFRUAHOI"}},"InvolvedPartyDTO":{"type":"object","properties":{"PartyReference":{"type":"string"},"InvolvementReference":{"type":"string"}},"example":{"PartyReference":"c67cb661-371e-4647-9cd2-e844895f7432","InvolvementReference":"d2ea54a7-17e9-4537-b171-fe26f5295230"}},"LogDTO":{"type":"object","properties":{"LogType":{"type":"string"},"LogPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"LogDate":{"$ref":"#/components/schemas/DateTimeDTO"},"LogIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"LogType":"DEFAULT","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SIHJ","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"QCAJDST","DateTimeType":"ActivationDate"}},"LogDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DVCQBSCQUA","DateTimeType":"InitiatedDate"},"LogIdentification":{"IdentifierValue":"d431520a-b286-4c17-95f9-f4ffa59c0487","IdentifierIssuerReference":{"PartyReference":"9bf5e739-e746-43e7-837a-160f9af155c5","InvolvementReference":"544cf4df-4171-4839-8c45-611e17da6382"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"AFOGBT","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FYHJTUJMD","DateTimeType":"ExecutedDate"}}}},"NameDTO":{"type":"object","properties":{"Name":{"type":"string"}},"example":{"Name":"IAALIH"}},"NameInformationDTO":{"type":"object","properties":{"FirstName":{"type":"string"},"MiddleName":{"type":"string"},"FamilyName":{"type":"string"},"NickName":{"type":"string"},"GivenName":{"type":"string"},"FullName":{"type":"string"},"BirthName":{"type":"string"},"ShortName":{"type":"string"},"TradingName":{"type":"string"},"LegalName":{"type":"string"}},"example":{"FirstName":"XAFXW","MiddleName":"TGH","FamilyName":"MXL","NickName":"BOAAC","GivenName":"WTW","FullName":"JUBPLGTSG","BirthName":"HKFALJ","ShortName":"PRXVAJ","TradingName":"CCTSPKL","LegalName":"GUATD"}},"PartyDTO":{"type":"object","properties":{"PartyName":{"$ref":"#/components/schemas/NameInformationDTO"},"PartyType":{"type":"string","enum":["Person","Organisation"]},"PartyDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"PartyIdentification":{"$ref":"#/components/schemas/PartyIdentificationDTO"},"PartyLegalStructureType":{"type":"string","enum":["Individual","CommunityInterestCompany","CharitableIncorporatedOrganisation","CoOperative","Charity","GeneralPartnership","LimitedLiabilityPartnership","ScottishLimitedPartnership","LimitedPartnership","PrivateLimitedCompany","PublicLimitedCompany","SoleSoleTrader"]},"PartyActivityIndicator":{"$ref":"#/components/schemas/IndustryCodeDTO"}},"example":{"PartyName":{"FirstName":"ZHOJPQOF","MiddleName":"FGBYGD","FamilyName":"ZUIB","NickName":"YXZ","GivenName":"AZH","FullName":"PWKS","BirthName":"URRXKX","ShortName":"BGYHFI","TradingName":"UFCYIP","LegalName":"VZHLBDDJE"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GOUJJNLK","DateTimeType":"FulfillmentDate"},"PartyIdentification":{"PartyIdentificationType":"TaxExemptIdentificationNumber","PartyIdentification":{"IdentifierValue":"75017088-c815-4f1d-9a3d-e579306db58f","IdentifierIssuerReference":{"PartyReference":"010cfd88-c43b-4ad4-8716-aefbf4cf3c2d","InvolvementReference":"994b7d3c-9993-48c8-9da1-6b49ba6f50bd"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RKZDMDQNZ","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"UEYPIQD","DateTimeType":"ValidToDate"}}},"PartyLegalStructureType":"Individual","PartyActivityIndicator":{"Industrycode":"ZFWACVD"}}},"PartyIdentificationDTO":{"type":"object","properties":{"PartyIdentificationType":{"type":"string","enum":["TaxIdentificationNumber","NationalRegistrationNumber","RegistrationAuthorityIdentification","LeiLegalEntityIdentifier","AlienRegistrationNumber","PassportNumber","TaxExemptIdentificationNumber","CorporateIdentification","DriverLicenseNumber","ForeignInvestmentIdentityNumber","SocialSecurityNumber","IdentityCardNumber","ConCat","NationalRegistrationIdentificationNumber"]},"PartyIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"PartyIdentificationType":"ForeignInvestmentIdentityNumber","PartyIdentification":{"IdentifierValue":"4c17a614-42d2-4f80-8fac-0860add50d1e","IdentifierIssuerReference":{"PartyReference":"9360cb3e-2fec-4060-8def-861056269805","InvolvementReference":"29e438d9-15f0-44c6-87e4-d1c3b0abf1f2"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FXWYDYNNKR","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"WRTT","DateTimeType":"BlockingDate"}}}},"PartyRelationshipAdministrativePlanDTO":{"type":"object","properties":{"id":{"type":"string"},"CustomerReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"},"PartyRelationshipType":{"type":"string","enum":["PartyIsParentOfParty","PartyIsSubsidiaryOfParty","PartyIsCertifiedByParty","PartyIsMarriedToParty","PartyActsOnBehalfOfParty","PartyIsContactPointForParty","PartyIsTrustedByParty","PartyIsThePowerOfAttorneyForParty","PartyReceivesBenefitsFromAParty"]},"PartyLife-cycleMaintenanceSchedule":{"$ref":"#/components/schemas/ScheduleDTO"},"PartyLife-cycleMaintenanceTask":{"$ref":"#/components/schemas/TaskDTO"},"PartyLife-cycleMaintenanceTaskType":{"type":"string"},"PartyLife-cycleMaintenanceWorkProducts":{"$ref":"#/components/schemas/WorkProductDTO"},"PartyLife-cycleMaintenanceTaskResult":{"type":"string"},"CustomerPrecedentProfileUpdateLog":{"$ref":"#/components/schemas/LogDTO"},"PartyRelationshipLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"},"PartyRelationshipLifecyclePhase":{"type":"array","items":{"$ref":"#/components/schemas/PartyRelationshipLifecyclePhaseDTO"}}},"example":{"id":"56450605-de91-4a88-822e-fddb860db8ad","CustomerReference":{"PartyReference":"d2de160f-08b6-4648-8da3-51ef7d062678","InvolvementReference":"c227e65e-98d9-48b3-a4cf-c86f052d6e5a"},"PartyReference":{"PartyName":{"FirstName":"LGQNP","MiddleName":"OYGCPGMX","FamilyName":"HYHQNU","NickName":"LYCTHP","GivenName":"NGRUKLQWUO","FullName":"ZSRZMFNRT","BirthName":"HSWRR","ShortName":"HZDUVMQGA","TradingName":"MPXAAR","LegalName":"YDZNNCZ"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GELAXRKNI","DateTimeType":"DueDate"},"PartyIdentification":{"PartyIdentificationType":"CorporateIdentification","PartyIdentification":{"IdentifierValue":"5ad30cd1-da05-4ef1-a15e-66cb292394e0","IdentifierIssuerReference":{"PartyReference":"572cecb6-1392-441f-95a0-95b581175737","InvolvementReference":"b4cf3ddb-1a4a-41e8-911f-f089d2f629ca"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RDQFTKL","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"JJRXGJOUU","DateTimeType":"OpenDate"}}},"PartyLegalStructureType":"CharitableIncorporatedOrganisation","PartyActivityIndicator":{"Industrycode":"DRQR"}},"PartyRelationshipType":"PartyIsThePowerOfAttorneyForParty","PartyLife-cycleMaintenanceSchedule":{"ScheduleType":"DEFAULT"},"PartyLife-cycleMaintenanceTask":{"Task":"XDQRZDG"},"PartyLife-cycleMaintenanceTaskType":"DEFAULT","PartyLife-cycleMaintenanceWorkProducts":{"WorkProductType":"Document","WorkProductIdentifoication":{"IdentifierValue":"4a55042b-0da7-49ff-ae33-af04d331def1","IdentifierIssuerReference":{"PartyReference":"5cfba1d5-58ec-42bd-b30f-8289cea59da8","InvolvementReference":"907e55ac-148d-42e3-ab50-585aeb2fcf74"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IEIY","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TIVXLHID","DateTimeType":"EntryDate"}}},"PartyLife-cycleMaintenanceTaskResult":"EYIQKAK","CustomerPrecedentProfileUpdateLog":{"LogType":"DEFAULT","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TPXQZKVIWX","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"HEYXSV","DateTimeType":"DeactivationDate"}},"LogDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZAKECZL","DateTimeType":"MaturityDate"},"LogIdentification":{"IdentifierValue":"0513c1dc-db77-4df4-b2c0-214870e1b8e2","IdentifierIssuerReference":{"PartyReference":"b456029e-4deb-47a1-91e5-09ee189ddbaf","InvolvementReference":"8d3a8749-b3bb-41bf-b970-77cbd0b969b3"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IVGKZKEI","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"UVZP","DateTimeType":"ValueDate"}}},"PartyRelationshipLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"HADKABOFE","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FFSLKGKTM","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PBE","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"22392b78-3a07-465c-95da-9831b732ca80","InvolvementReference":"4eead0b2-e07c-4697-8cef-e00764819dcf"}},"PartyRelationshipLifecyclePhase":[{"Description":"RNFWUMU","IsCurrentPhase":"OGIOC","PhaseName":{"Name":"UJUCKNSU"},"PhaseStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FOMCQZG","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"BIDQMG","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NABT","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"e34ae323-eaf9-4803-a46f-f292088cf728","InvolvementReference":"98bfd44a-e114-4ba1-974a-e92d4ae4572e"}},"PhasePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"AGANGRMIWE","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MNWH","DateTimeType":"DueDate"}}},{"Description":"RSHH","IsCurrentPhase":"JQKGW","PhaseName":{"Name":"XEVNVOQWXQ"},"PhaseStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"OGUP","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SFJAKTMDD","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PHWHDLX","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ebea1ac7-3881-4888-bfb7-de6fc9f99536","InvolvementReference":"30ba3aa5-c2e0-46d6-b692-3f08945c76aa"}},"PhasePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"YRQ","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"JSPUGTLCM","DateTimeType":"ExecutedDate"}}}]}},"PartyRelationshipLifecyclePhaseDTO":{"type":"object","properties":{"Description":{"type":"string"},"IsCurrentPhase":{"type":"string"},"PhaseName":{"$ref":"#/components/schemas/NameDTO"},"PhaseStatus":{"$ref":"#/components/schemas/StatusDTO"},"PhasePeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"}},"example":{"Description":"QQDJLDTH","IsCurrentPhase":"ACTKUB","PhaseName":{"Name":"ZSL"},"PhaseStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"HRDWMFRJHM","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZIOYPZFS","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"XBCLMFQE","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"c2e84fb6-4e16-4e87-a1e3-b0eec79c14bf","InvolvementReference":"5a5d07e4-1d46-4faa-a9ec-3a1f3fb16666"}},"PhasePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"UIXZYXMS","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"BQQOF","DateTimeType":"SendingDate"}}}},"ScheduleDTO":{"type":"object","properties":{"ScheduleType":{"type":"string"}},"example":{"ScheduleType":"DEFAULT"}},"StatusDTO":{"type":"object","properties":{"StatusReason":{"type":"string"},"StatusDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"StatusValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"StatusInvolvedPartyReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"}},"example":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IWQYCN","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"UMHOYHSEAK","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PFHDPYF","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"8097691e-5be2-427c-a384-ead4cdacddca","InvolvementReference":"151256b6-094a-4c2a-a675-9c4bd212cb42"}}},"TaskDTO":{"type":"object","properties":{"Task":{"type":"string"}},"example":{"Task":"ZSZFM"}},"WorkProductDTO":{"type":"object","properties":{"WorkProductType":{"type":"string","enum":["Document","WorkingPaper","ActivityLog","Form","File","MeetingSchedule","MeetingMinute"]},"WorkProductIdentifoication":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"WorkProductType":"Form","WorkProductIdentifoication":{"IdentifierValue":"61354821-819a-4f90-9c4e-86a2b29b39eb","IdentifierIssuerReference":{"PartyReference":"680cdd3d-a0d2-4be2-a3dd-474c533dfae4","InvolvementReference":"8b3a77f8-c648-415a-a934-673b82f2ed52"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PTYZWK","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NRP","DateTimeType":"ExpiryDate"}}}},"AssessmentDTO":{"type":"object","properties":{"AssessmentType":{"type":"string","enum":["Valuation","Matching","Authorization","Authentication","QualityAssurance","Audit","ComplianceCheck","FundingCheck","SuitabilityCheck","PerformanceCheck","ImpactAssessment","RiskAssessment","Rating","UnderwritingAssessment","Qualification","Verification","KyCAssessment","PepAssessment","AMlAssessment","EligibilityCheck","ExternalAgencyCheck","EntitlementCheck"]},"AssessmentMethod":{"type":"string"},"AssessmentSchedule":{"$ref":"#/components/schemas/ScheduleDTO"},"AssessmentDescription":{"type":"string"},"AssessmentModel":{"$ref":"#/components/schemas/ModelDTO"},"AssessmentDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"AssessmentResult":{"type":"string"},"AssessmentSupportingDocument":{"$ref":"#/components/schemas/DocumentDTO"},"AssessmentRepresentingDocument":{"$ref":"#/components/schemas/DocumentDTO"},"AssessmentRequiredAdjustment":{"type":"string"},"AssessmentRequirement":{"$ref":"#/components/schemas/RequirementDTO"},"AssessmentExpiryDate":{"$ref":"#/components/schemas/DateDTO"},"AssessmentStatus":{"$ref":"#/components/schemas/StatusDTO"},"AssessmentIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AssessmentType":"Qualification","AssessmentMethod":"AFBLORLRVH","AssessmentSchedule":{"ScheduleType":"DEFAULT"},"AssessmentDescription":"LGNHMEGXH","AssessmentModel":{"ModelType":"DEFAULT","ModelPurpose":"JRTMSGFMV","ModelVersion":"DENBAM","ModelName":{"Name":"BIHK"},"ModelDateAndTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"BNJEQYHSMS","DateTimeType":"ValidFromDate"},"ModelStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"OCOOGGV","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"LUFWOWF","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"HLUR","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"c5adfb32-a55b-4d04-bf49-40a308322d32","InvolvementReference":"f48ca010-b737-464c-9b21-eb4b08a58196"}}},"AssessmentDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"KXEYICSEQ","DateTimeType":"RequestedDate"},"AssessmentResult":"BZMOJRPJ","AssessmentSupportingDocument":{"DocumentIdentification":{"IdentifierValue":"b611e57f-e2be-4aa4-9286-7ecba94a3c83","IdentifierIssuerReference":{"PartyReference":"2863ca80-1969-4f12-a4df-68c0b2f35aeb","InvolvementReference":"6680ab09-afdc-4483-b20b-cc4d4dbf98ad"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DLZIIIVW","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"OBCNBXO","DateTimeType":"CloseDate"}},"DocumentVersion":"ETSQEL","DocumentType":"DispatchAdvice","DocumentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RVBWKWZ","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"BDLZYFHETT","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"HQQSRI","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"cc38989a-e606-4b0c-b553-826d79e059d8","InvolvementReference":"ae506ec0-ba99-43ec-8326-da4cf5c56202"}},"DocumentDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"XWQQOU","DateTimeType":"OpenDate"},"DocumentName":{"Name":"OZJX"},"DocumentDateTimeType":"ValueDate","DocumentPurpose":"OCGMUYWMRF","DocumentFormat":"XEZNJQB","DocumentSubject":"HVQQYDQMM","DocumentDescription":"YYNHMGKE","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"LCVRXIJE","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"CNK","DateTimeType":"EntryDate"}}},"AssessmentRepresentingDocument":{"DocumentIdentification":{"IdentifierValue":"670b8ab8-6adb-4369-972b-8ffd42a68682","IdentifierIssuerReference":{"PartyReference":"4a0d9b34-e8ef-4f42-9a9b-752f5016d6f6","InvolvementReference":"b22cd04e-1b80-4c06-ac63-70188688e1ba"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SYP","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DEAZDOR","DateTimeType":"CreatingDate"}},"DocumentVersion":"HUJPJ","DocumentType":"CreditNoteRelatedToFinancialAdjustment","DocumentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IDKQZVK","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SLI","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PRFBX","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"d2956fe9-7b68-4f79-96ee-0cdbc9046ca2","InvolvementReference":"44356e9e-bbd8-45ce-909f-abc362fba877"}},"DocumentDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"EUYNRRVIG","DateTimeType":"DueDate"},"DocumentName":{"Name":"XSSARIW"},"DocumentDateTimeType":"ValueDate","DocumentPurpose":"WEXODIF","DocumentFormat":"KALKUS","DocumentSubject":"QUZOZERYDV","DocumentDescription":"FLBNRR","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IOY","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"VEELDY","DateTimeType":"DueDate"}}},"AssessmentRequiredAdjustment":"YSAMXP","AssessmentRequirement":{"RequirementType":"DEFAULT"},"AssessmentExpiryDate":{"DateContent":"2026-05-04"},"AssessmentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DRON","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"JDDLTB","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"QMFWLZVQGK","DateTimeType":"SigningDate"}},"StatusInvolvedPartyReference":{"PartyReference":"b6ad4305-2533-434a-a4bb-c2f9ea62e1e8","InvolvementReference":"03b9e511-4e8e-4ef4-af24-a496b70a494f"}},"AssessmentIdentification":{"IdentifierValue":"81d9924c-aef9-4601-9524-4657fc3559b8","IdentifierIssuerReference":{"PartyReference":"3f0b89fd-08e7-4196-8d61-b83099f2304e","InvolvementReference":"79709ff4-c0c9-4299-ae08-5fb2ea957214"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"AZNZDPDQX","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NVV","DateTimeType":"ExecutedDate"}}}},"DateDTO":{"type":"object","properties":{"DateContent":{"type":"string"}},"example":{"DateContent":"2026-05-04"}},"DirectoryDTO":{"type":"object","properties":{"DirectoryVersion":{"type":"string"},"DirectoryConfiguration":{"type":"string"},"DirectoryValidPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"DirectoryStatus":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"DirectoryVersion":"LJPIVBKYG","DirectoryConfiguration":"POOOVRU","DirectoryValidPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"YLZMJ","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RJFGCQT","DateTimeType":"DueDate"}},"DirectoryStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FCFTDRM","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"REVIPPY","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"POFX","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"c216a1b5-8181-494b-986d-d4b5397998da","InvolvementReference":"cda9b4d5-7d16-4b04-beae-0c5b72d5f499"}}}},"DocumentDTO":{"type":"object","properties":{"DocumentIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"DocumentVersion":{"type":"string"},"DocumentType":{"type":"string","enum":["MeteredServiceInVoice","CreditNoteRelatedToFinancialAdjustment","DebitNoteRelatedToFinancialAdjustment","CommercialInVoice","CreditNote","DebitNote","HireInVoice","SelfBilledInVoice","RemittanceAdviceMessage","RelatedPaymentInstruction","CommercialContract","ForeignExchangeDealReference","StatementOfAccount","DispatchAdvice","PurchaseOrder","StructuredCommunicationReference","BillOfLading","Voucher","AccountReceivableOpenItem","TradeServicesUtilityTransaction","CashierReceipt","CustomerReceipt","Journal","SaleReceipt"]},"DocumentStatus":{"$ref":"#/components/schemas/StatusDTO"},"DocumentDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"DocumentName":{"$ref":"#/components/schemas/NameDTO"},"DocumentDateTimeType":{"type":"string","enum":["CreationDate","CapturingDate","VersionDate","ValueDate","IssueDate"]},"DocumentPurpose":{"type":"string"},"DocumentFormat":{"type":"string"},"DocumentSubject":{"type":"string"},"DocumentDescription":{"type":"string"},"DocumentValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"}},"example":{"DocumentIdentification":{"IdentifierValue":"4cd79344-2445-4055-9d08-9d73592f1ce2","IdentifierIssuerReference":{"PartyReference":"6fbb61fe-9c06-41fd-a333-2a959ea7769b","InvolvementReference":"4642e495-8cbd-4659-8ca0-a4790600cce4"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TWHNDZY","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"EXGBNYW","DateTimeType":"SigningDate"}},"DocumentVersion":"APVKXIAXUZ","DocumentType":"TradeServicesUtilityTransaction","DocumentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"XPVOFT","DateTimeType":"RequestedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IMH","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"UXIOGGOQGI","DateTimeType":"ExpiryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"dd60f798-9b46-4b17-9c65-f3ee108a3e2a","InvolvementReference":"d3a34378-206e-4e99-bc75-ad159efbbd57"}},"DocumentDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TMARGHRE","DateTimeType":"DueDate"},"DocumentName":{"Name":"SPLSLVAMP"},"DocumentDateTimeType":"ValueDate","DocumentPurpose":"YKFU","DocumentFormat":"KABOXCLF","DocumentSubject":"GFUYLEP","DocumentDescription":"BLECOP","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"CLGHJ","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IBFJIBVB","DateTimeType":"ValidFromDate"}}}},"DocumentDirectoryEntryDTO":{"type":"object","properties":{"DocumentDirectoryEntryIdentification":{"type":"string"},"DirectoryEntryDateType":{"type":"string","enum":["OpenDate","RefreshDate"]},"DirectoryEntryDate":{"$ref":"#/components/schemas/DateDTO"},"DirectoryEntryStatus":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"DocumentDirectoryEntryIdentification":"PTQJSFMES","DirectoryEntryDateType":"RefreshDate","DirectoryEntryDate":{"DateContent":"2026-05-04"},"DirectoryEntryStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"CEBBWAVNY","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"CKVOAT","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ALX","DateTimeType":"SigningDate"}},"StatusInvolvedPartyReference":{"PartyReference":"5870764f-6ab1-4b7c-bf5a-d8618526b477","InvolvementReference":"ab3849ea-43ac-4b2b-874a-e1cc81b02f70"}}}},"FeatureDTO":{"type":"object","properties":{"FeatureType":{"type":"string","enum":["FeeFeature","InterestFeature","WithdrawalFeature","DepositFeature","SweepFeature","LienFeature","PaymentFeature","RepaymentFeature","LimitFeature","OverdraftFeature","StatementFeature","CurrencyExchangeFeature","PriceFeature"]},"FeatureIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"FeatureName":{"$ref":"#/components/schemas/NameDTO"},"FeatureLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"},"FeatureDescription":{"type":"string"}},"example":{"FeatureType":"FeeFeature","FeatureIdentification":{"IdentifierValue":"34773dd0-d5e1-487d-b884-bb6489c75dc5","IdentifierIssuerReference":{"PartyReference":"11708fd9-1ece-4ad9-afd0-912c1fea9827","InvolvementReference":"73ee24c3-1fa8-49d8-917d-036775679965"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"VQBJJTTM","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"EOBD","DateTimeType":"OpenDate"}},"FeatureName":{"Name":"WLRCBSGQ"},"FeatureLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ODMQMQCBTH","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"LYUFPIYZTA","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"YMPOHHNEN","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"c58448b3-3033-4f71-93b3-6b27a92688c3","InvolvementReference":"d450e19f-2d0c-475f-849a-43fc1afe9907"}},"FeatureDescription":"VZTGUH"}},"InstructionDTO":{"type":"object","properties":{"InstructionDate":{"$ref":"#/components/schemas/InstructionDateTimeDTO"},"InstructionStatus":{"$ref":"#/components/schemas/InstructionStatusDTO"},"InstructionIdentification":{"$ref":"#/components/schemas/InstructionIdentificationDTO"},"InstructionType":{"type":"string","enum":["PaymentInstruction","DeliveryOrder","InformationRequest","ExchangeInstruction","AllocationInstruction","MaintenanceInstruction"]},"InstructionResult":{"type":"object"},"InstructionDescription":{"type":"object"},"InstructionLog":{"$ref":"#/components/schemas/LogDTO"},"InstructionPurpose":{"type":"string"}},"example":{"InstructionDate":{"InstructionDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GMGTMC","DateTimeType":"FulfillmentDate"},"InstructionDateType":"DueDate"},"InstructionStatus":{"InstructionStatusType":"AcknowledgedAccepted","InstructionStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DVBWHNGP","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"WSPBUMGEIV","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SCGF","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"044c5dd7-2cb6-4599-91ca-3ec05298390d","InvolvementReference":"ca8bb223-bd3a-41a8-9faa-c3a96429d5ed"}}},"InstructionIdentification":{"InstructionIdentification":{"IdentifierValue":"0a48a7da-c0db-41ea-8597-51abcbd01995","IdentifierIssuerReference":{"PartyReference":"4fac04ea-b841-436a-a185-893d20b5bae5","InvolvementReference":"7f41294a-7c1f-4422-ab57-408b2d83df49"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZCZMEK","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FKGJYH","DateTimeType":"InitiatedDate"}},"InstructionIdentificationType":"InstructionNumber"},"InstructionType":"AllocationInstruction","InstructionResult":{},"InstructionDescription":{},"InstructionLog":{"LogType":"DEFAULT","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"OUAZQ","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"YRNAWTB","DateTimeType":"ValidToDate"}},"LogDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"LHYMFBZDZF","DateTimeType":"DueDate"},"LogIdentification":{"IdentifierValue":"4666e72e-3e77-43d9-92ce-fe3bccdc52fe","IdentifierIssuerReference":{"PartyReference":"5b56734e-5937-464e-9722-d85fa03d9f0d","InvolvementReference":"f6d67e4f-b830-4930-87dd-6ff5f997e27f"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FEXYODM","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IXS","DateTimeType":"DeactivationDate"}}},"InstructionPurpose":"RMFRD"}},"InstructionDateTimeDTO":{"type":"object","properties":{"InstructionDate":{"$ref":"#/components/schemas/DateTimeDTO"},"InstructionDateType":{"type":"string","enum":["DueDate","ExecutionDate","FulfillmentDate"]}},"example":{"InstructionDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"XZMDW","DateTimeType":"CloseDate"},"InstructionDateType":"FulfillmentDate"}},"InstructionIdentificationDTO":{"type":"object","properties":{"InstructionIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"InstructionIdentificationType":{"type":"string","enum":["OrderNumber","InstructionNumber"]}},"example":{"InstructionIdentification":{"IdentifierValue":"c55e525c-a3aa-40f1-955d-86fc37827a30","IdentifierIssuerReference":{"PartyReference":"24e23953-e627-4b1b-b819-f7425382a8eb","InvolvementReference":"37485f2b-9a9e-4ef6-bc2c-0e3d0d2e63d0"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RUETHCY","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MBLQMWD","DateTimeType":"RequestedDate"}},"InstructionIdentificationType":"InstructionNumber"}},"InstructionStatusDTO":{"type":"object","properties":{"InstructionStatusType":{"type":"string","enum":["PendingProcessing","AcknowledgedAccepted","Rejected","Accepted","Completed","NotReceived","Cancelled","BeingCancelled","ReceivedByIssuerOrRegistrar","Pending","StandingInstruction","Queued","CancelledBySubCustodian","Forwarded","Failed"]},"InstructionStatus":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"InstructionStatusType":"PendingProcessing","InstructionStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"BRWEJY","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"KAYHRLWD","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MNHFUYLZZ","DateTimeType":"ValueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"4a0a9541-44d5-49a7-b38c-9225004d8ae7","InvolvementReference":"7cd6d7e7-6ebc-4e01-925a-68093f3fb88c"}}}},"ModelDTO":{"type":"object","properties":{"ModelType":{"type":"string"},"ModelPurpose":{"type":"string"},"ModelVersion":{"type":"string"},"ModelName":{"$ref":"#/components/schemas/NameDTO"},"ModelDateAndTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ModelStatus":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"ModelType":"DEFAULT","ModelPurpose":"ANSHVAOZS","ModelVersion":"LQVRGD","ModelName":{"Name":"TMBCNEFQ"},"ModelDateAndTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"YXHZL","DateTimeType":"ExecutedDate"},"ModelStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TFQ","DateTimeType":"RequestedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GBPDIM","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"OOFXUAWLB","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"550ee8b1-07ab-42e5-9a54-b72ac7ba0956","InvolvementReference":"bef147c2-12b4-4983-88f2-e0a7ba20b557"}}}},"QualificationDTO":{"type":"object","properties":{"id":{"type":"string"},"QualificationType":{"type":"string","enum":["Valuation","Matching","Authorization","Authentication","QualityAssurance","Audit","ComplianceCheck","FundingCheck","SuitabilityCheck","PerformanceCheck","ImpactAssessment","RiskAssessment","Rating","UnderwritingAssessment","Qualification","Verification","KyCAssessment","PepAssessment","AMlAssessment","EligibilityCheck","ExternalAgencyCheck","EntitlementCheck"]},"PublicDirectoryReference":{"$ref":"#/components/schemas/DirectoryDTO"},"SpecialistAgencyServiceReference":{"$ref":"#/components/schemas/ServiceDTO"},"QualificationTaskRecord":{"$ref":"#/components/schemas/TaskDTO"},"QualificationTaskDescription":{"type":"string"},"SpecialistAgencyRegulatorServiceRequestResult":{"$ref":"#/components/schemas/InstructionDTO"},"DocumentDirectoryEntryInstanceReference":{"$ref":"#/components/schemas/DocumentDirectoryEntryDTO"},"QualificationTaskWorkProducts":{"$ref":"#/components/schemas/WorkProductDTO"},"QualificationTaskResult":{"$ref":"#/components/schemas/AssessmentDTO"}},"example":{"id":"c4b0a24f-b184-4ab4-902c-528c242ff40b","QualificationType":"KyCAssessment","PublicDirectoryReference":{"DirectoryVersion":"QAPFFTSU","DirectoryConfiguration":"TUSA","DirectoryValidPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"IYMZPDZ","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"EDUOLT","DateTimeType":"DeactivationDate"}},"DirectoryStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NXJTTH","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"XWSDNCAJOX","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"CIODJXPBXS","DateTimeType":"CloseDate"}},"StatusInvolvedPartyReference":{"PartyReference":"5e8bf774-584a-40c9-8e27-27743a3a3aa4","InvolvementReference":"d2ce1cf4-ea68-4c68-903d-e2e163da0543"}}},"SpecialistAgencyServiceReference":{"ServiceName":{"Name":"GSDMTZAVVK"},"ServiceDescription":"CXU","ServiceType":"BusinessService","ServiceIdentification":{"IdentifierValue":"b8d1b712-0abf-47f4-a6c9-65037c0e1937","IdentifierIssuerReference":{"PartyReference":"01e604a3-4e2c-4d9f-8e4e-9f3732613d32","InvolvementReference":"d3efb665-632a-4fb6-a74d-ab2d30b32e3a"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DXTCSG","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NLIOAUGPU","DateTimeType":"DeactivationDate"}},"ServiceLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"HJHINSLAY","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MITGLSN","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NJMVT","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"5cc7dd7d-1973-4710-b3ff-b1260fd187a5","InvolvementReference":"1b8d0246-8345-44fb-a323-42811ecc6c52"}},"ServiceFeature":{"FeatureType":"DepositFeature","FeatureIdentification":{"IdentifierValue":"23c88155-ceb3-4d09-b489-d1dd8c174027","IdentifierIssuerReference":{"PartyReference":"a977c28b-0e70-49b3-8520-b64b3683dba3","InvolvementReference":"f68fa572-a88b-44d0-be7a-95a642ba02a9"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SRCUYH","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"QHCWKCAXF","DateTimeType":"RequestedDate"}},"FeatureName":{"Name":"BBY"},"FeatureLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"WJFRH","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DLWVHJROQ","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RSOFNEAJWR","DateTimeType":"ActivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"f4557e7d-43d8-47f9-976a-2e1a83853ad4","InvolvementReference":"3a75114f-e48d-4584-b552-5acf31c53f05"}},"FeatureDescription":"PJLJAWRCR"},"FeatureType":"RepaymentFeature","FeatureIdentification":{"IdentifierValue":"d9b3f9b9-67e8-4dd9-a8a0-54a2146277cf","IdentifierIssuerReference":{"PartyReference":"d725a6dd-4821-4c03-bcaf-3b0e890b3949","InvolvementReference":"1fefebad-0035-4b96-ace4-7d4a698eb061"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TGLRERUQW","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SANMEIRNE","DateTimeType":"OpenDate"}},"FeatureName":{"Name":"RZS"},"FeatureLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"AAHPLYBTB","DateTimeType":"DeactivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"WCMILH","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZHRR","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"cc60c5f3-9ff5-4fbc-9a5c-0d9d53244e45","InvolvementReference":"caea2444-80d7-481f-bbcc-55145e0d30d1"}},"FeatureDescription":"OGISERONRT"},"QualificationTaskRecord":{"Task":"DOD"},"QualificationTaskDescription":"TFA","SpecialistAgencyRegulatorServiceRequestResult":{"InstructionDate":{"InstructionDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NEDLGBUQJE","DateTimeType":"OpenDate"},"InstructionDateType":"DueDate"},"InstructionStatus":{"InstructionStatusType":"Rejected","InstructionStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"LOUCWO","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"OLSW","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"KVI","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"7203f86f-e336-4983-a098-7ccc76caab2e","InvolvementReference":"a864d827-f02a-4f7b-9195-2cd46d77da8f"}}},"InstructionIdentification":{"InstructionIdentification":{"IdentifierValue":"bc1002ff-47b1-4298-989d-36225eace3fa","IdentifierIssuerReference":{"PartyReference":"bfb2ff06-cb56-4040-9b76-ab58b0b1ba3a","InvolvementReference":"57c316b5-41c3-4517-b662-f934ddd8f14e"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MYYEVCNDS","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DTZAFRM","DateTimeType":"MaturityDate"}},"InstructionIdentificationType":"InstructionNumber"},"InstructionType":"PaymentInstruction","InstructionResult":{},"InstructionDescription":{},"InstructionLog":{"LogType":"DEFAULT","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ECOWDA","DateTimeType":"ReceivingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TWTDBVCCAQ","DateTimeType":"ValidFromDate"}},"LogDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"XSUHMA","DateTimeType":"CloseDate"},"LogIdentification":{"IdentifierValue":"f5d4cd27-b73f-4d3c-be06-6e2c6d9e38d1","IdentifierIssuerReference":{"PartyReference":"5a5c6598-24ec-4867-ad84-4afab2ab32fd","InvolvementReference":"aa4ae2f1-eb74-43aa-a3d6-cce6dc6a3095"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NRHHSMESNI","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FIGCX","DateTimeType":"EffectiveDate"}}},"InstructionPurpose":"LRAOWQW"},"DocumentDirectoryEntryInstanceReference":{"DocumentDirectoryEntryIdentification":"DOOVAVD","DirectoryEntryDateType":"RefreshDate","DirectoryEntryDate":{"DateContent":"2026-05-04"},"DirectoryEntryStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ASRMTVUIQT","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"WTLWYUKUJ","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"CUW","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"59ef0a56-5309-4432-809e-06c1706a0dcd","InvolvementReference":"5046c0ab-56d0-4a0e-bd9a-e5685ee5a5fd"}}},"QualificationTaskWorkProducts":{"WorkProductType":"File","WorkProductIdentifoication":{"IdentifierValue":"391b31f4-ed85-4eed-afcc-1271f68f74bd","IdentifierIssuerReference":{"PartyReference":"21c81608-55d3-4cd5-967d-25887abc0d5c","InvolvementReference":"de44668f-3e6b-4299-949e-8914b30065af"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GHMYQ","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SCIFAJGCPE","DateTimeType":"DeactivationDate"}}},"QualificationTaskResult":{"AssessmentType":"Qualification","AssessmentMethod":"XQXCCEW","AssessmentSchedule":{"ScheduleType":"DEFAULT"},"AssessmentDescription":"XSZRXHTUE","AssessmentModel":{"ModelType":"DEFAULT","ModelPurpose":"GLEIU","ModelVersion":"IESXNXBU","ModelName":{"Name":"BGE"},"ModelDateAndTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DDJDLLUBL","DateTimeType":"ValueDate"},"ModelStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"AHMLA","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"YYHBT","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"DDSQR","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"e1fb0084-29d2-4d72-8d5a-efe2326f2cdd","InvolvementReference":"74f71b76-c811-4a39-9c53-64a3247160e8"}}},"AssessmentDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"XYKOGZ","DateTimeType":"SigningDate"},"AssessmentResult":"REAAZEP","AssessmentSupportingDocument":{"DocumentIdentification":{"IdentifierValue":"14803843-e80e-44ca-b7a7-e0433607de59","IdentifierIssuerReference":{"PartyReference":"9e97db17-9111-4156-b41e-7cacdc04783c","InvolvementReference":"7277741d-4ccf-4cfb-ba0e-5fe80f2ef1ed"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"CTXCSSV","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"HFIAFBJYX","DateTimeType":"SigningDate"}},"DocumentVersion":"EEESVPZSYF","DocumentType":"StructuredCommunicationReference","DocumentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GTBUWLT","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GCNR","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"JDDBNLMADN","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"8922baab-104a-4a67-9813-303e1b59839e","InvolvementReference":"9009c7a2-952d-4430-a6cf-ae70bc05b729"}},"DocumentDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MRS","DateTimeType":"DueDate"},"DocumentName":{"Name":"ZFCBOYDVFU"},"DocumentDateTimeType":"CreationDate","DocumentPurpose":"CRHKPTJDB","DocumentFormat":"QXNIDGXIK","DocumentSubject":"UZH","DocumentDescription":"YQI","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ITYGSXERSO","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"BGTJ","DateTimeType":"RequestedDate"}}},"AssessmentRepresentingDocument":{"DocumentIdentification":{"IdentifierValue":"4896a6f0-2d3c-4aab-b5e4-89af8933df2d","IdentifierIssuerReference":{"PartyReference":"281f9151-ed74-463a-b7f3-7146e86a9217","InvolvementReference":"c8c6cd08-c1db-47c9-a26b-115667af76b8"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"BYKFRHFA","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"VWUYQKSH","DateTimeType":"OpenDate"}},"DocumentVersion":"ELILBF","DocumentType":"MeteredServiceInVoice","DocumentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PLAGPEFTV","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PJZWCXXB","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"YRMQV","DateTimeType":"SigningDate"}},"StatusInvolvedPartyReference":{"PartyReference":"d2b92b2d-03ce-46cd-9682-7112dde1aaa3","InvolvementReference":"3881b883-4d68-4823-afe3-cb563a422939"}},"DocumentDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NOY","DateTimeType":"ValueDate"},"DocumentName":{"Name":"SFJQRNNFBK"},"DocumentDateTimeType":"ValueDate","DocumentPurpose":"OMJ","DocumentFormat":"XXCNKNK","DocumentSubject":"SFO","DocumentDescription":"JSNKKPBWH","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZJZJBR","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"KWB","DateTimeType":"OpenDate"}}},"AssessmentRequiredAdjustment":"VDJVIF","AssessmentRequirement":{"RequirementType":"DEFAULT"},"AssessmentExpiryDate":{"DateContent":"2026-05-04"},"AssessmentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MZYXLIMJC","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"QIJ","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"KFKMBEUFOM","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"b3c774c6-fde1-4ca8-bd7e-4d4a8ae64bd1","InvolvementReference":"5c016d5b-315b-4f11-a208-2ea064c5ae74"}},"AssessmentIdentification":{"IdentifierValue":"1268d799-6170-43d8-9723-9c3c4a11d2ba","IdentifierIssuerReference":{"PartyReference":"2d0f88a2-dab6-411e-b598-3b79b726b2b1","InvolvementReference":"74fc2c1d-cb0d-4933-8cd7-9612e60e1fa2"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TZXNBNPM","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"INWNY","DateTimeType":"SigningDate"}}}}},"RequirementDTO":{"type":"object","properties":{"RequirementType":{"type":"string"}},"example":{"RequirementType":"DEFAULT"}},"ServiceDTO":{"type":"object","properties":{"ServiceName":{"$ref":"#/components/schemas/NameDTO"},"ServiceDescription":{"type":"string"},"ServiceType":{"type":"string","enum":["ItService","AdministrativeService","SystemService","FinancialService","InformationService","BusinessService","ExternalService"]},"ServiceIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"ServiceLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"},"ServiceFeature":{"$ref":"#/components/schemas/FeatureDTO"},"FeatureType":{"type":"string","enum":["FeeFeature","InterestFeature","WithdrawalFeature","DepositFeature","SweepFeature","LienFeature","PaymentFeature","RepaymentFeature","LimitFeature","OverdraftFeature","StatementFeature","CurrencyExchangeFeature","PriceFeature"]},"FeatureIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"FeatureName":{"$ref":"#/components/schemas/NameDTO"},"FeatureLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"},"FeatureDescription":{"type":"string"}},"example":{"ServiceName":{"Name":"FHTFPGEA"},"ServiceDescription":"JHYWER","ServiceType":"BusinessService","ServiceIdentification":{"IdentifierValue":"437e55bc-2d11-4184-b82d-4e128acf3d83","IdentifierIssuerReference":{"PartyReference":"5ffafc2b-d99c-41d5-b1a5-1b1006e23e90","InvolvementReference":"8695f3a8-b5b7-4fa1-a64f-b04a455b4461"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"LVYKT","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GEISCVU","DateTimeType":"ReceivingDate"}},"ServiceLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GLIKWB","DateTimeType":"DeactivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RFAYA","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"APEMPZK","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"1274e7a3-451c-42b1-94b8-344fbd085cea","InvolvementReference":"57f6ac35-b192-4f3f-9ae0-ce9613beed14"}},"ServiceFeature":{"FeatureType":"LimitFeature","FeatureIdentification":{"IdentifierValue":"88937e4a-c095-4446-9c77-d2fde130cb01","IdentifierIssuerReference":{"PartyReference":"7b4c04bc-43be-4150-a367-47b34ada3eb5","InvolvementReference":"c92e3a84-c5f1-4c12-a8d2-976ce7620638"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"NXK","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"FXWMMN","DateTimeType":"EntryDate"}},"FeatureName":{"Name":"ZNHOTBNO"},"FeatureLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MXYZKAFGC","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"GSSR","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"KOHNTTQNQ","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"5edc202d-d543-49e5-b716-4ea67fd25609","InvolvementReference":"280e6a0e-98e9-45a3-a4c6-143f5b7fcf91"}},"FeatureDescription":"CFE"},"FeatureType":"WithdrawalFeature","FeatureIdentification":{"IdentifierValue":"96d922b3-ed96-463d-a568-3b9da11a2798","IdentifierIssuerReference":{"PartyReference":"e0940df6-69fc-4d5d-8b45-46a396cc0d35","InvolvementReference":"d3c5aa52-37ba-4f5f-a962-0c4b275a7485"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"VVVCJNPUBI","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"OCGCTC","DateTimeType":"ExpiryDate"}},"FeatureName":{"Name":"RVXUR"},"FeatureLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TNHFYWM","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"RCQ","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"BGOUBBG","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"2f2981a2-630c-44cf-9fd3-64634e26642f","InvolvementReference":"55a5ccab-2982-4e89-9d62-def8aef624fc"}},"FeatureDescription":"HBKOTXXVXC"}},"ActionDTO":{"type":"object","properties":{"ActionType":{"type":"string","enum":["Initiate","Execute","Create","Transfer","Pay","Deliver","Apply","Calculate"]},"EventType":{"type":"string"},"EventDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"EventDescription":{"type":"string"},"EventSource":{"type":"string"},"EventLocation":{"$ref":"#/components/schemas/LocationDTO"},"EventAction":{"$ref":"#/components/schemas/ActionDTO"},"EventStatus":{"$ref":"#/components/schemas/StatusDTO"},"EventValue":{"type":"string"},"EventValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"EventIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"ActionType":"Pay","EventType":"DEFAULT","EventDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MTFNUXT","DateTimeType":"BlockingDate"},"EventDescription":"TJT","EventSource":"OOX","EventLocation":{"LocationDescription":"OCYYRMPG","LocationDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PPSKJP","DateTimeType":"ReceivingDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"EYCOMLZKH","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"AIHO","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"VYAISMP","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"2b676208-fe6d-43d8-adac-c5c8835325e9","InvolvementReference":"c64b15f5-25d8-45ee-ac93-875abbd05f73"}},"LocationType":"City","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"AEJHAGTDW","LocationCapacity":"WYJ","LocationIdentification":{"IdentifierValue":"bba46bc8-8e48-49ae-b253-5185031d818d","IdentifierIssuerReference":{"PartyReference":"69c4b73c-b671-4043-ab1b-69a0cb782330","InvolvementReference":"72ea7917-4c6e-4ab5-be99-f83bc3a833fe"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"EYFLQ","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"SLGFOZG","DateTimeType":"MaturityDate"}},"LocationAddress":"UUUQWNNR","LocationName":{"Name":"PHCTDAU"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"JKSJK","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZYM","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TVEPXAI","DateTimeType":"ActivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"9790ed5b-00af-42c1-93da-351990e9b405","InvolvementReference":"02eb7f8a-f130-4a57-a432-d0e6c42df77c"}},"EventValue":"EOGMXIOUWE","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"WMP","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"QPE","DateTimeType":"SendingDate"}},"EventIdentification":{"IdentifierValue":"446a1db7-d541-4e1c-9ad9-12fab91b33b3","IdentifierIssuerReference":{"PartyReference":"7302c11a-d0ea-43ed-9eb6-79929aa04207","InvolvementReference":"338effe2-c498-48ab-8052-f529a971fad2"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"HBV","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"MMDAQC","DateTimeType":"ExpiryDate"}}}},"LocationDTO":{"type":"object","properties":{"LocationDescription":{"type":"string"},"LocationDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"LocationStatus":{"$ref":"#/components/schemas/StatusDTO"},"LocationType":{"type":"string","enum":["Continent","Country","State","District","Province","Town","City","Region"]},"LocationZoningType":{"type":"string"},"LocationNeighborhoodType":{"type":"string"},"LocationConstructionType":{"type":"string"},"LocationOccupancyType":{"type":"string"},"LocationValue":{"type":"string"},"LocationCapacity":{"type":"string"},"LocationIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"LocationAddress":{"type":"string"},"LocationName":{"$ref":"#/components/schemas/NameDTO"},"LocationTimeZone":{"type":"string"}},"example":{"LocationDescription":"PBXPPLY","LocationDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"LSCN","DateTimeType":"SigningDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"ILHDHIEGVK","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"PBKULECX","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04","TimeZoneCode":"UTC","DaylightSavingIndicator":"TUSEWSYXE","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ef2c71d2-6190-498d-a27a-5ca5e107265c","InvolvementReference":"beebe93f-ecdf-4e5b-a6d6-4c5620ead090"}},"LocationType":"Province","Locati
[...]
