{"openapi":"3.0.1","info":{"title":"Current Account","description":"Maintains and exposes the operational state, balances, restrictions, entitlements, and lifecycle attributes associated with a specific AccountInstanceReference and following the BIAN 'Current Account' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/v1/current-account/{current-account-id}/update":{"put":{"tags":["CR - CurrentAccountFacility - v14"],"summary":"UpCR Update details of a current account","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/update":{"put":{"tags":["CR - CurrentAccountFacility - stub"],"summary":"UpCR Update details of a current account","operationId":"Update_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/sweep/{sweep-id}/update":{"put":{"tags":["BQ - Sweep - stub"],"summary":"UpBQ Update details of an existing account sweep","operationId":"UpdateSweep","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"sweep-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/sweep/{sweep-id}/execute":{"put":{"tags":["BQ - Sweep - stub"],"summary":"ExBQ Trigger an account sweep transaction","operationId":"ExecuteSweep","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"sweep-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/payment/{payment-id}/update":{"put":{"tags":["BQ - Payment - stub"],"summary":"UpBQ Update a payment transaction configuration or specific transaction","operationId":"UpdatePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"payment-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/payment/{payment-id}/execute":{"put":{"tags":["BQ - Payment - stub"],"summary":"ExBQ Trigger a payment for a repeating payment set up","operationId":"ExecutePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"payment-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/payment/{payment-id}/exchange":{"put":{"tags":["BQ - Payment - stub"],"summary":"EcBQ Verify/approve a scheduled repeating payment","operationId":"ExchangePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"payment-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/issued-device/{issued-device-id}/update":{"put":{"tags":["BQ - IssuedDevice - stub"],"summary":"Update Details of Issued Device Allocated to This Account","operationId":"UpdateIssuedDevice","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"issued-device-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/interest/{interest-id}/execute":{"put":{"tags":["BQ - Interest - stub"],"summary":"ExBQ Execute Apply Interest","operationId":"ExecuteInterest","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"interest-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/deposit/{deposit-id}/update":{"put":{"tags":["BQ - Deposit - stub"],"summary":"UpBQ Update or correct a deposit transaction","operationId":"UpdateDeposit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"deposit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/deposit/{deposit-id}/execute":{"put":{"tags":["BQ - Deposit - stub"],"summary":"ExBQ Execute a deposit transaction","operationId":"ExecuteDeposit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"deposit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/debit-and-credit/{debit-and-credit-id}/update":{"put":{"tags":["BQ - DebitandCredit - stub"],"summary":"UpBQ Update or correct a withdrawal transaction","operationId":"UpdateDebitandCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"debit-and-credit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/debit-and-credit/{debit-and-credit-id}/execute":{"put":{"tags":["BQ - DebitandCredit - stub"],"summary":"ExBQ Execute a withdrawal transaction","operationId":"ExecuteDebitandCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"debit-and-credit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/control":{"put":{"tags":["CR - CurrentAccountFacility - stub"],"summary":"CoCR Control the processing of an current account","operationId":"Control","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/charge/{charge-id}/update":{"put":{"tags":["BQ - Charge - stub"],"summary":"Update details about an applied service fee","operationId":"UpdateCharge","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"charge-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/charge/{charge-id}/execute":{"put":{"tags":["BQ - Charge - stub"],"summary":"ExBQ Apply a service fee to the account","operationId":"ExecuteCharge","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"charge-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/booking/{booking-id}/execute":{"put":{"tags":["BQ - Booking - stub"],"summary":"Execute Authorization of Booking","operationId":"ExecuteBooking","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"booking-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/amount-block/{amount-block-id}/update":{"put":{"tags":["BQ - AmountBlock - stub"],"summary":"Update details of an amount block","operationId":"UpdateAmountBlock","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"amount-block-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/current-account-config/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/current-account/initiate":{"post":{"tags":["CR - CurrentAccountFacility - v14"],"summary":"InCR Initiate A new Current Account","operationId":"Initiate","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/sweep/initiate":{"post":{"tags":["BQ - Sweep - stub"],"summary":"InBQ Set up an account sweep","operationId":"InitiateSweep","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/payment/initiate":{"post":{"tags":["BQ - Payment - stub"],"summary":"InBQ Initialize a payment transaction","operationId":"InitiatePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/issued-device/initiate":{"post":{"tags":["BQ - IssuedDevice - stub"],"summary":"Initiate Provision of Issued Device","operationId":"InitiateIssuedDevice","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/deposit/initiate":{"post":{"tags":["BQ - Deposit - stub"],"summary":"InBQ Initialize deposit transaction","operationId":"InitiateDeposit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/debit-and-credit/initiate":{"post":{"tags":["BQ - DebitandCredit - stub"],"summary":"InBQ Initialize withdrawal transaction","operationId":"InitiateDebitandCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/charge/initiate":{"post":{"tags":["BQ - Charge - stub"],"summary":"InBQ Initiate service fees against an account","operationId":"InitiateCharge","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/amount-block/initiate":{"post":{"tags":["BQ - AmountBlock - stub"],"summary":"Initiate an amount block","operationId":"InitiateAmountBlock","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/initiate":{"post":{"tags":["CR - CurrentAccountFacility - stub"],"summary":"InCR Initiate A new Current Account","operationId":"Initiate_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/current-account/{current-account-id}/retrieve":{"get":{"tags":["CR - CurrentAccountFacility - v14"],"summary":"ReCR Retrieve information about a current account - either standard canned reports or selected instance attribute values","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/sweep/{sweep-id}/retrieve":{"get":{"tags":["BQ - Sweep - stub"],"summary":"ReBQ Retrieve details about a sweep facility or specific sweep transaction","operationId":"RetrieveSweep","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"sweep-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/retrieve":{"get":{"tags":["CR - CurrentAccountFacility - stub"],"summary":"ReCR Retrieve information about a current account - either standard canned reports or selected instance attribute values","operationId":"Retrieve_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/payment/{payment-id}/retrieve":{"get":{"tags":["BQ - Payment - stub"],"summary":"ReBQ Retrieve details about a payment transaction or arrangement","operationId":"RetrievePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"payment-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/issued-device/{issued-device-id}/retrieve":{"get":{"tags":["BQ - IssuedDevice - stub"],"summary":"Retrieve Details about Issued Device","operationId":"RetrieveIssuedDevice","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"issued-device-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/interest/{interest-id}/retrieve":{"get":{"tags":["BQ - Interest - stub"],"summary":"ReBQ Retrieve details about interest applied to the account","operationId":"RetrieveInterest","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"interest-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/deposit/{deposit-id}/retrieve":{"get":{"tags":["BQ - Deposit - stub"],"summary":"ReBQ Retrieve details about a deposit transaction","operationId":"RetrieveDeposit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"deposit-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/debit-and-credit/{debit-and-credit-id}/retrieve":{"get":{"tags":["BQ - DebitandCredit - stub"],"summary":"ReBQ Retrieve details about a withdrawal transaction","operationId":"RetrieveDebitandCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"debit-and-credit-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/charge/{charge-id}/retrieve":{"get":{"tags":["BQ - Charge - stub"],"summary":"ReBQ Retrieve information about a service fee applied to the account","operationId":"RetrieveCharge","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"charge-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/current-account/{current-account-id}/amount-block/{amount-block-id}/retrieve":{"get":{"tags":["BQ - AmountBlock - stub"],"summary":"Retrieve details about an amount block","operationId":"RetrieveAmountBlock","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"current-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"amount-block-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/current-account-config/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfigDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/current-account-config/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"AccountBalanceDTO":{"type":"object","properties":{"BalanceAmount":{"$ref":"#/components/schemas/AmountDTO"},"BalanceType":{"type":"string","enum":["OpeningBalance","ClosingBalance","CurrentBalance","AvailableBalance","LedgerBalance","ReserveBalance","FreeBalance","PrincipalBalance","ClosingAvailable","ClosingBooked","ForwardAvailable","Information","InterimAvailable","InterimBooked","OpeningAvailable","OpeningBooked","PreviouslyClosedBooked","Expected","ExpectedIncoming","ExpectedOutgoing"]},"BalanceValueDate":{"$ref":"#/components/schemas/DateTimeDTO"},"BalanceIndicator":{"type":"string","enum":["Debit","Credit"]},"BalanceCounterpartyType":{"type":"string","enum":["Bilateral","Multilateral"]},"BalanceCalculationDate":{"$ref":"#/components/schemas/DateTimeDTO"},"BalanceSubType":{"type":"string","enum":["Adjustment","Basecurrency","Blocked","Blockedfunds","Daylightoverdraft","Eligibleassets","Firmcollateralization","Amountsthathavebeenusedtoserveasfirmcollateral","Securitiesforecast","Netfunding","Intermediate","Localcurrency","Limitrelated","Reservedliquidity","Securitiespending","Payinpayout","Progressiveaverage","Reserve","Selfcollateralization","Amountsthathavebeenusedtoserveasselfcollateral","Threshold"]}},"example":{"BalanceAmount":{"AmountValue":"23761.89","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"DuePayable"},"BalanceType":"ExpectedIncoming","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.505433265Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"BalanceIndicator":"Debit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.505490017Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"BalanceSubType":"Adjustment"}},"AccountCurrencyDTO":{"type":"object","properties":{"AccountCurrencyType":{"type":"string","enum":["BaseCurrency","ReportingCurrency","SecondaryCurrency","TransferCurrency","SettlementCurrency"]},"AccountCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"}},"example":{"AccountCurrencyType":"SettlementCurrency","AccountCurrency":{"Currencycode":"USD"}}},"AccountDTO":{"type":"object","properties":{"AccountStatus":{"$ref":"#/components/schemas/AccountStatusDTO"},"AccountIdentification":{"$ref":"#/components/schemas/AccountIdentificationDTO"},"AccountDate":{"type":"array","items":{"$ref":"#/components/schemas/AccountDateTimeDTO"}},"AccountType":{"type":"string","enum":["DebitAccount","CreditAccount","VostroAccount","NostroAccount","PaymentAccount","SettlementAccount","SavingAccount","CurrentAccount","CashAccount","LoanAccount","IndividualAccount","JointAccount","LiquidationAccount","ProvisionAccount","PartnershipAccount","InvestmentAccount"]},"AccountPurpose":{"type":"string"},"AccountBalance":{"type":"array","items":{"$ref":"#/components/schemas/AccountBalanceDTO"}},"AccountCurrency":{"type":"array","items":{"$ref":"#/components/schemas/AccountCurrencyDTO"}},"AccountDescription":{"type":"string"},"AccountName":{"$ref":"#/components/schemas/NameDTO"},"LogType":{"type":"string"},"LogPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"LogDate":{"$ref":"#/components/schemas/DateTimeDTO"},"LogIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AccountStatus":{"AccountStatus":{"StatusReason":"TTETI","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.507030059Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.507058980Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.507080380Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"MKRXZHETVN","InvolvementReference":"WXEQCYCMD"}},"AccountStatusType":"Enabled"},"AccountIdentification":{"AccountIdentificationType":"AIIN","AccountIdentification":{"IdentifierValue":"93644736","IdentifierIssuerReference":{"PartyReference":"IFW","InvolvementReference":"ZUBJQM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.507172402Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.507191833Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}}},"AccountDate":[{"AccountDateType":"CreatingDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.507268854Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},{"AccountDateType":"LiveDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.507298765Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},{"AccountDateType":"LiveDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.507320085Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},{"AccountDateType":"LiveDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.507343096Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},{"AccountDateType":"LiveDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.507363956Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},{"AccountDateType":"OpeningDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.507383897Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}}],"AccountType":"JointAccount","AccountPurpose":"WIH","AccountBalance":[{"BalanceAmount":{"AmountValue":"1445.36","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"DuePayable"},"BalanceType":"PrincipalBalance","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.507523510Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.507551170Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"BalanceSubType":"Daylightoverdraft"},{"BalanceAmount":{"AmountValue":"26758.97","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Reserved"},"BalanceType":"FreeBalance","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.507613042Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.507642162Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"BalanceSubType":"Securitiespending"},{"BalanceAmount":{"AmountValue":"50701.43","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Maximum"},"BalanceType":"FreeBalance","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.507704793Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.507724164Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"BalanceSubType":"Payinpayout"},{"BalanceAmount":{"AmountValue":"48325.94","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Open"},"BalanceType":"InterimBooked","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.507782445Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.507801066Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"BalanceSubType":"Blocked"},{"BalanceAmount":{"AmountValue":"4287.97","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Reserved"},"BalanceType":"FreeBalance","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.507857417Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.507876097Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"BalanceSubType":"Amountsthathavebeenusedtoserveasselfcollateral"}],"AccountCurrency":[{"AccountCurrencyType":"SettlementCurrency","AccountCurrency":{"Currencycode":"USD"}},{"AccountCurrencyType":"ReportingCurrency","AccountCurrency":{"Currencycode":"USD"}}],"AccountDescription":"CZTPHK","AccountName":{"Name":"FWGX"},"LogType":"PJHUL","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.507972809Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.507989570Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"LogDate":{"DateTimeContent":"2026-05-04T13:08:18.508005810Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"LogIdentification":{"IdentifierValue":"96712956","IdentifierIssuerReference":{"PartyReference":"WEIYWXY","InvolvementReference":"PTPHYH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.508042181Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.508057991Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}}}},"AccountDateTimeDTO":{"type":"object","properties":{"AccountDateType":{"type":"string","enum":["OpeningDate","ClosingDate","BlockingDate","MaturityDate","LiveDate","RenewalDate","EffectiveDate","CreatingDate","ValueDate"]},"AccountDate":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"AccountDateType":"ClosingDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.508636013Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}}},"AccountIdentificationDTO":{"type":"object","properties":{"AccountIdentificationType":{"type":"string","enum":["BBAN","IBAN","UPIC","AccountNumber","PAN","PAYM","Wallet","SortCodeAndAccountNumber","AIIN","CUID"]},"AccountIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AccountIdentificationType":"AIIN","AccountIdentification":{"IdentifierValue":"99392404","IdentifierIssuerReference":{"PartyReference":"QBHW","InvolvementReference":"DWRKBZSUKS"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.509345288Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.509365819Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}}}},"AccountInvolvementDTO":{"type":"object","properties":{"AccountInvolvementType":{"type":"string","enum":["PartyIsOwnerOfAccount","PartyIsServicerOfAccount","PartyIsPrimaryOwnerOfAccount","PartyIsCo_OwnerOfAccount","PartyIsJointOwnerOfAccount"]},"AccountReference":{"$ref":"#/components/schemas/AccountDTO"},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"},"PartyRoleType":{"type":"string"},"PartyRoleName":{"$ref":"#/components/schemas/NameDTO"},"PartyRoleValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"PartyInvolvementType":{"type":"string","enum":["AgreementInvolvement","PartyInvolvement","ArrangementInvolvement","DesignSpecificationInvolvement","RelationshipInvolvement","LocationInvolvement","BankGuaranteeInvolvement"]}},"example":{"AccountInvolvementType":"PartyIsServicerOfAccount","AccountReference":{"AccountStatus":{"AccountStatus":{"StatusReason":"UVANXPX","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.510471642Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.510493772Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.510507813Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"StatusInvolvedPartyReference":{"PartyReference":"NLOJW","InvolvementReference":"GOIIMAMWY"}},"AccountStatusType":"Proforma"},"AccountIdentification":{"AccountIdentificationType":"UPIC","AccountIdentification":{"IdentifierValue":"67191959","IdentifierIssuerReference":{"PartyReference":"UKJLOYDV","InvolvementReference":"NOAFSNTO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.510573314Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.510589754Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}}},"AccountDate":[{"AccountDateType":"OpeningDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.510665866Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},{"AccountDateType":"ValueDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.510704227Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},{"AccountDateType":"CreatingDate","AccountDate":{"DateTimeContent":"2026-05-04T13:08:18.510725688Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}}],"AccountType":"LiquidationAccount","AccountPurpose":"DUHCYZLQH","AccountBalance":[{"BalanceAmount":{"AmountValue":"37050.31","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Default"},"BalanceType":"PrincipalBalance","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.510824470Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"BalanceIndicator":"Debit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.510851350Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"BalanceSubType":"Limitrelated"},{"BalanceAmount":{"AmountValue":"42117.12","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Available"},"BalanceType":"OpeningAvailable","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.510929822Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.510951612Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"BalanceSubType":"Reserve"},{"BalanceAmount":{"AmountValue":"3969.72","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Open"},"BalanceType":"ExpectedIncoming","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.511021054Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.511042914Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"BalanceSubType":"Intermediate"},{"BalanceAmount":{"AmountValue":"43852.68","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Minimum"},"BalanceType":"Information","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.511102616Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.511123216Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"BalanceSubType":"Eligibleassets"},{"BalanceAmount":{"AmountValue":"28691.00","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Available"},"BalanceType":"ForwardAvailable","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.511179697Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"BalanceIndicator":"Debit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.511201058Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"BalanceSubType":"Reservedliquidity"},{"BalanceAmount":{"AmountValue":"48556.64","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Minimum"},"BalanceType":"PrincipalBalance","BalanceValueDate":{"DateTimeContent":"2026-05-04T13:08:18.511255569Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T13:08:18.511276889Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"BalanceSubType":"Daylightoverdraft"}],"AccountCurrency":[{"AccountCurrencyType":"BaseCurrency","AccountCurrency":{"Currencycode":"USD"}},{"AccountCurrencyType":"TransferCurrency","AccountCurrency":{"Currencycode":"USD"}},{"AccountCurrencyType":"SettlementCurrency","AccountCurrency":{"Currencycode":"USD"}}],"AccountDescription":"GTJ","AccountName":{"Name":"RQOUODPR"},"LogType":"XQIQD","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.511382411Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.511400972Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"LogDate":{"DateTimeContent":"2026-05-04T13:08:18.511418792Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"LogIdentification":{"IdentifierValue":"99269727","IdentifierIssuerReference":{"PartyReference":"WAIHVUSGLO","InvolvementReference":"DRTYJFECCF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.511460273Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.511476413Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}}},"PartyReference":{"PartyName":{"Name":"PVIHNI"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-04T13:08:18.511509864Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"PartyIdentification":{"PartyIdentificationType":"Nationalregistrationnumber","PartyIdentification":{"IdentifierValue":"32754594","IdentifierIssuerReference":{"PartyReference":"MSNCPDF","InvolvementReference":"NFPHWETRID"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.511548555Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.511564035Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}}},"PartyLegalStructureType":"Co-Operative","PartyActivityIndicator":{"Industrycode":"KQHB"}},"PartyRoleType":"WLFZH","PartyRoleName":{"Name":"QFR"},"PartyRoleValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.511612046Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.511628547Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"PartyInvolvementType":"DesignSpecificationInvolvement"}},"AccountRestrictionDTO":{"type":"object","properties":{"AccountRestrictionIdentifier":{"$ref":"#/components/schemas/IdentifierDTO"},"AccountRestrictionType":{"type":"string"},"AccountRestrictionDescription":{"type":"string"},"AccountRestrictionValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"AccountRestrictionStatus":{"$ref":"#/components/schemas/AccountRestrictionStatusDTO"},"AccountRestrictionRegulator":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AccountRestrictionIdentifier":{"IdentifierValue":"44079187","IdentifierIssuerReference":{"PartyReference":"PRY","InvolvementReference":"RQOHVQJWT"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.597476036Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.597519687Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"AccountRestrictionType":"UIKSG","AccountRestrictionDescription":"HICKYR","AccountRestrictionValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597551038Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597566548Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"AccountRestrictionStatus":{"AccountRestrictionStatus":{"StatusReason":"PKYF","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597594589Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597611309Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597626609Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"QMLRKGVKGS","InvolvementReference":"IJJODLE"}},"AccountRestrictionStatusType":"Active"},"AccountRestrictionRegulator":{"PartyReference":"LZOJAEP","InvolvementReference":"FGROQDFFJ"},"ArrangementAction":{"ActionType":"Initiate","EventType":"GDRMT","EventDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597687601Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"EventDescription":"IGUNUQ","EventSource":"VLZNMLJ","EventLocation":{"LocationDescription":"MDE","LocationDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597717181Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"LocationStatus":{"StatusReason":"KONXWG","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597755152Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597772652Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597787333Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"JTEOI","InvolvementReference":"FUTZOICNJK"}},"LocationType":"Town","LocationZoningType":"LRG","LocationNeighborhoodType":"ZWZWO","LocationConstructionType":"RPXVETW","LocationOccupancyType":"XBWGGBAC","LocationValue":"HBA","LocationCapacity":"AEYNXR","LocationIdentification":{"IdentifierValue":"80575705","IdentifierIssuerReference":{"PartyReference":"OSUPT","InvolvementReference":"DCXBH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.597848364Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.597862544Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"LocationAddress":"GCXJNVG","LocationName":{"Name":"OUIYQKZLW"},"LocationTimeZone":"NUWQLNMFSQ"},"EventAction":"ONEOPB","EventStatus":{"StatusReason":"JLTKZ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597902505Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597923435Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597940646Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"VWUDVDYJME","InvolvementReference":"OVYLQHMCMB"}},"EventValue":"SXQCOETHH","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597971096Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.597985047Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"EventIdentification":{"IdentifierValue":"89243291","IdentifierIssuerReference":{"PartyReference":"BTGV","InvolvementReference":"IAFMTHPSDN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.598013708Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.598029788Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-04T13:08:18.598046918Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-04T13:08:18.598062049Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"DXXBHJ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.598086119Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.598102769Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.598116120Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"OHUW","InvolvementReference":"EOMVITE"}},"ArrangementStatusType":"Accepted"},"ArrangementSubjectMatter":{"Subject":"SNVIUCQU"},"Arrangementtype":"TerminationArrangement","ArrangementIdentification":{"IdentifierValue":"38947818","IdentifierIssuerReference":{"PartyReference":"EMNNSSCRK","InvolvementReference":"EEQLESAR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.598178651Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.598197051Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}}}},"AccountRestrictionStatusDTO":{"type":"object","properties":{"AccountRestrictionStatus":{"$ref":"#/components/schemas/StatusDTO"},"AccountRestrictionStatusType":{"type":"string","enum":["Active","Inactive"]}},"example":{"AccountRestrictionStatus":{"StatusReason":"OUWFDBTSV","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.599430667Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.599460758Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.599483208Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"WMGPFTKWU","InvolvementReference":"ICWYQQDKPV"}},"AccountRestrictionStatusType":"Inactive"}},"AccountStatusDTO":{"type":"object","properties":{"AccountStatus":{"$ref":"#/components/schemas/StatusDTO"},"AccountStatusType":{"type":"string","enum":["Enabled","Disabled","Deleted","Proforma","Pending"]}},"example":{"AccountStatus":{"StatusReason":"GXOH","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.600134542Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.600160513Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.600177573Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"FBHGRBJFJ","InvolvementReference":"KCX"}},"AccountStatusType":"Deleted"}},"ActionDTO":{"type":"object","properties":{"ActionType":{"type":"string","enum":["Initiate","Execute","Create","Transfer","Pay","Deliver","Apply","Calculate"]},"EventType":{"type":"string"},"EventDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"EventDescription":{"type":"string"},"EventSource":{"type":"string"},"EventLocation":{"$ref":"#/components/schemas/LocationDTO"},"EventAction":{"type":"string"},"EventStatus":{"$ref":"#/components/schemas/StatusDTO"},"EventValue":{"type":"string"},"EventValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"EventIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"ActionType":"Pay","EventType":"HAP","EventDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601569232Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"EventDescription":"TQIEXDJ","EventSource":"CQSXJ","EventLocation":{"LocationDescription":"SXDNENE","LocationDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601607133Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"LocationStatus":{"StatusReason":"AOKOVW","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601632493Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601654164Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601670754Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"OLGKLXSMO","InvolvementReference":"IPRPWWYDQU"}},"LocationType":"Continent","LocationZoningType":"AUOOMSJ","LocationNeighborhoodType":"BLNEJYZ","LocationConstructionType":"RFLIOJCF","LocationOccupancyType":"QEIZQ","LocationValue":"GLFMFW","LocationCapacity":"VSFJ","LocationIdentification":{"IdentifierValue":"51969700","IdentifierIssuerReference":{"PartyReference":"WAKG","InvolvementReference":"BIPEIRHSG"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.601767416Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.601784757Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"LocationAddress":"ECDL","LocationName":{"Name":"UUCOLUZA"},"LocationTimeZone":"ZQKS"},"EventAction":"TXAKU","EventStatus":{"StatusReason":"KIK","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601823557Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601841988Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601857118Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"DWUV","InvolvementReference":"NFNW"}},"EventValue":"AQQWAV","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601890859Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.601906009Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"EventIdentification":{"IdentifierValue":"63767640","IdentifierIssuerReference":{"PartyReference":"FDIKOJU","InvolvementReference":"QBJCNZC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.601938540Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.601953940Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}}}},"AddressDTO":{"type":"object","properties":{"AddressType":{"type":"string","enum":["PostalAddress","GeolocationAddress","LatitudeAddress","LongitudeAddress","ElectronicAddress"]},"AddressDescription":{"type":"string"}},"example":{"AddressType":"ElectronicAddress","AddressDescription":"TUURKE"}},"AgreementDTO":{"type":"object","properties":{"Agreement":{"type":"string"}},"example":{"Agreement":"PRWNH"}},"AgreementStatusDTO":{"type":"object","properties":{"AgreementStatus":{"$ref":"#/components/schemas/StatusDTO"},"AgreementStatusType":{"type":"string","enum":["Offered","Confirmed","Completed","Signed","Terminated","Rejected"]}},"example":{"AgreementStatus":{"StatusReason":"UPNGVI","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.603349010Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.603368330Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.603382410Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"WJZU","InvolvementReference":"IAUYMGSPPR"}},"AgreementStatusType":"Terminated"}},"AmountDTO":{"type":"object","properties":{"AmountValue":{"type":"string"},"AmountCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"},"DecimalPointPosition":{"type":"string"},"AmountType":{"type":"string","enum":["Principal","Actual","Estimated","Maximum","Default","Replacement","Incremental","Decremental","Reserved","Available","Used","DuePayable","Minimum","Open","Unknown","Fixed"]}},"example":{"AmountValue":"37399.23","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"2","AmountType":"Unknown"}},"ArrangementStatusDTO":{"type":"object","properties":{"ArrangementStatus":{"$ref":"#/components/schemas/StatusDTO"},"ArrangementStatusType":{"type":"string","enum":["Requested","Proposed","Offered","Accepted","Cancelled","Fulfilled","Terminated"]}},"example":{"ArrangementStatus":{"StatusReason":"AIVBM","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.604578176Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.604598646Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.604609336Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"DMORRVQ","InvolvementReference":"QRTEBGNJFZ"}},"ArrangementStatusType":"Requested"}},"AssetClassificationTypeValuesDTO":{"type":"object","properties":{"Assetclassificationtypevalues":{"type":"string"}},"example":{"Assetclassificationtypevalues":"BODOFIICM"}},"BranchDTO":{"type":"object","properties":{"BranchIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"BranchLegalEntityIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"BranchAddress":{"$ref":"#/components/schemas/AddressDTO"},"BranchName":{"$ref":"#/components/schemas/NameDTO"}},"example":{"BranchIdentification":{"IdentifierValue":"11646964","IdentifierIssuerReference":{"PartyReference":"VAQQZWN","InvolvementReference":"ZBEAO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.605409693Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.605424684Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"BranchLegalEntityIdentification":{"IdentifierValue":"99643530","IdentifierIssuerReference":{"PartyReference":"BXWXURW","InvolvementReference":"DHCQNVPHVT"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.605446474Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.605455774Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"BranchAddress":{"AddressType":"LongitudeAddress","AddressDescription":"VMAEIPCLW"},"BranchName":{"Name":"YILE"}}},"ContactPointDTO":{"type":"object","properties":{"ContactPointType":{"type":"string","enum":["ElectronicAddress","PostalAddress","PhoneNumber","Socialnetworkaddress"]},"PartyLocationType":{"type":"string","enum":["LocationIsResidentialAddressOfParty","LocationIsDomicileAddressOfParty","LocationIsPlaceOfBirthOfParty","LocationIsWorkAddressOfParty","LocationIsDeliveryPointAddressOfParty","PartyIsOwnerOfLocation","PartyIsOccupierOfLocation","PartyIsAlliancePartnerOfLocation","LocationIsContactPointAddressOfParty"]},"LocationReference":{"$ref":"#/components/schemas/LocationDTO"},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"}},"example":{"ContactPointType":"Socialnetworkaddress","PartyLocationType":"LocationIsPlaceOfBirthOfParty","LocationReference":{"LocationDescription":"ZLFIKLRY","LocationDateTime":{"DateTimeContent":"2026-05-04T13:08:18.605995246Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"LocationStatus":{"StatusReason":"AYVLB","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.606013486Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.606024637Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.606033667Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"CWDIGIV","InvolvementReference":"PFMJRSX"}},"LocationType":"Continent","LocationZoningType":"JBER","LocationNeighborhoodType":"XWDAT","LocationConstructionType":"KRFJ","LocationOccupancyType":"GBFTALVP","LocationValue":"BXXJZELVZV","LocationCapacity":"QEYICMFA","LocationIdentification":{"IdentifierValue":"13002359","IdentifierIssuerReference":{"PartyReference":"LOYFLCC","InvolvementReference":"ENDLXTSEKT"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.606079238Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.606090638Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"LocationAddress":"DAWOKP","LocationName":{"Name":"EPLR"},"LocationTimeZone":"EDR"},"PartyReference":{"PartyName":{"Name":"IROMKQI"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-04T13:08:18.606120808Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"PartyIdentification":{"PartyIdentificationType":"Passportnumber","PartyIdentification":{"IdentifierValue":"80375981","IdentifierIssuerReference":{"PartyReference":"ZPGLZYBU","InvolvementReference":"HKNUEAW"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.606148009Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.606157309Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}}},"PartyLegalStructureType":"LimitedLiabilityPartnership","PartyActivityIndicator":{"Industrycode":"TPCEKEAX"}}}},"CurrencyCodeDTO":{"type":"object","properties":{"Currencycode":{"type":"string"}},"example":{"Currencycode":"USD"}},"CurrentAccountAgreementDTO":{"type":"object","properties":{"CurrentAccountAgreementType":{"type":"string","enum":["BusinessCurrentAccount","PersonalCurrentAccount","StandardCurrentAccount","PremiumOrPackagedCurrentAccount","StudentCurrentAccount","YouthCurrentAccount","JointCurrentAccount","SalaryAccount","ForeignCurrencyCurrentAccount","IslamicCurrentAccount","BasicBankAccount","PrivateBankingCurrentAccount"]},"ProductAgreementType":{"type":"string","enum":["CurrentAccountAgreement","SavingsAccountAgreement","BrokeredProductAgreement","ConsumerLoanAgreement","MortgageLoanAgreement","DirectDebitServiceAgreement","TermDepositAgreement"]},"ProductAgreementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"AgreementSignedDate":{"$ref":"#/components/schemas/DateDTO"},"AgreementType":{"type":"string","enum":["CustomerAgreement","SupplierAgreement","BrokerAgreement","SalesAgreement","PurchaseAgreement","MaintenanceAgreement","ProductAgreement","ResourceAgreement","PartnerAgreement","MasterAgreement","BilateralAgreement","RepurchaseAgreement"]},"AgreementValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"AgreementVersion":{"type":"string"},"AgreementStatus":{"$ref":"#/components/schemas/AgreementStatusDTO"},"AgreementSubjectMatter":{"type":"string"},"AgreementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"AgreementDate":{"$ref":"#/components/schemas/DateTimeDTO"},"AgreementDescription":{"type":"string"},"InvolvedParty":{"$ref":"#/components/schemas/ProductSalesAgreementInvolvementDTO"},"ProductReference":{"$ref":"#/components/schemas/ProductDTO"}},"example":{"CurrentAccountAgreementType":"IslamicCurrentAccount","ProductAgreementType":"SavingsAccountAgreement","ProductAgreementIdentification":{"IdentifierValue":"47824483","IdentifierIssuerReference":{"PartyReference":"JOPO","InvolvementReference":"DDODN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.607289643Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.607303793Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"AgreementSignedDate":{"DateContent":"YOXYPVKNVT"},"AgreementType":"ProductAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607326294Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607335964Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"AgreementVersion":"HQLGNH","AgreementStatus":{"AgreementStatus":{"StatusReason":"QBVQHI","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607353185Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607364165Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607372865Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"QODQ","InvolvementReference":"HRKFL"}},"AgreementStatusType":"Confirmed"},"AgreementSubjectMatter":"QKROGALAR","AgreementIdentification":{"IdentifierValue":"50423880","IdentifierIssuerReference":{"PartyReference":"KJONPCEQ","InvolvementReference":"SXQ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.607401926Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.607411996Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:08:18.607422716Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"AgreementDescription":"SBVGZHOBN","InvolvedParty":{"InvolvementType":"Customer","PartyReference":{"PartyName":{"Name":"FSHDNACOK"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607448737Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"PartyIdentification":{"PartyIdentificationType":"Concat","PartyIdentification":{"IdentifierValue":"18549695","IdentifierIssuerReference":{"PartyReference":"MYYCA","InvolvementReference":"MMG"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.607471337Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.607480157Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}}},"PartyLegalStructureType":"PrivateLimitedCompany","PartyActivityIndicator":{"Industrycode":"HIMK"}},"AgreementReference":{"Agreement":"DNBWZKQD"},"PartyRoleType":"QPT","PartyRoleName":{"Name":"TANNJZQ"},"PartyRoleValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607509638Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607519698Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"PartyInvolvementType":"ArrangementInvolvement"},"ProductReference":{"ProductIdentification":{"ProductIdentification":{"IdentifierValue":"32373189","IdentifierIssuerReference":{"PartyReference":"HQQZWDGKEN","InvolvementReference":"QKR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.607546409Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.607555559Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"ProductIdentificationType":"ISINCode"},"ProductType":"LoanProduct","ProductLifecycleStatus":{"ProductStatus":{"StatusReason":"RBFHOGIKKP","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607578019Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607590030Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607598620Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"AIZWCBXD","InvolvementReference":"STD"}},"ProductStatusType":"Obsolete"},"ProductPriority":"CQQBA","ProductDescription":"PJDSZOTQ","ProductVersion":"IWBC","ProductName":{"Name":"FBOTSX"},"FinancialInstrumentType":"Share","FinancialInstrumentIdentification":{"FinancialInstrumentIdentification":{"IdentifierValue":"49848254","IdentifierIssuerReference":{"PartyReference":"HYDF","InvolvementReference":"VLGBJZWN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.607645561Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.607654821Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"FinancialInstrumentIdentificationType":"ISIN"},"FinancialInstrumentName":{"Name":"BKNYSNJWMG"},"FinancialInstrumentDate":{"FinancialInstrumentDate":{"DateTimeContent":"2026-05-04T13:08:18.607677972Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"FinancialInstrumentDateType":"MaturityDate"},"AssetTitle":"ZEO","AssetIdentification":{"IdentifierValue":"56770740","IdentifierIssuerReference":{"PartyReference":"QGIQES","InvolvementReference":"FRU"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.607701442Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.607710142Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"AssetType":"OperatingAsset","AssetDescription":"SAE","AssetStatus":{"StatusReason":"FIEC","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607727782Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607738233Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.607746703Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"CVB","InvolvementReference":"BTMMZOE"}},"AssetDate":{"DateTimeContent":"2026-05-04T13:08:18.607761563Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"AssetClassification":"MVXMDWC","AssetClassificationType":{"Assetclassificationtypevalues":"XODOFHWVQB"},"AssetSubClassificationType":"Underlyingindexidentification","AssetSubClassification":"HIS"}}},"CurrentAccountFacilityDTO":{"type":"object","properties":{"ProductInstanceReference":{"$ref":"#/components/schemas/CurrentAccountAgreementDTO"},"CurrentAccountNumber":{"$ref":"#/components/schemas/AccountIdentificationDTO"},"CustomerReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"BankBranchLocationReference":{"$ref":"#/components/schemas/BranchDTO"},"AccountType":{"type":"string","enum":["BusinessCurrentAccount","PersonalCurrentAccount","StandardCurrentAccount","PremiumOrPackagedCurrentAccount","StudentCurrentAccount","YouthCurrentAccount","JointCurrentAccount","SalaryAccount","ForeignCurrencyCurrentAccount","IslamicCurrentAccount","BasicBankAccount","PrivateBankingCurrentAccount"]},"AccountCurrency":{"$ref":"#/components/schemas/AccountCurrencyDTO"},"TaxReference":{"$ref":"#/components/schemas/IdentifierDTO"},"EntitlementOptionDefinition":{"type":"array","items":{"$ref":"#/components/schemas/PartyObligationOrEntitlementDTO"}},"EntitlementOptionSetting":{"type":"array","items":{"$ref":"#/components/schemas/PartyObligationOrEntitlementDTO"}},"RestrictionOptionDefinition":{"type":"array","items":{"$ref":"#/components/schemas/AccountRestrictionDTO"}},"RestrictionOptionSetting":{"type":"array","items":{"$ref":"#/components/schemas/AccountRestrictionDTO"}},"Associations":{"$ref":"#/components/schemas/AccountInvolvementDTO"},"AssociationType":{"type":"string","enum":["PartyIsOwnerOfAccount","PartyIsServicerOfAccount","PartyIsPrimaryOwnerOfAccount","PartyIsCo_OwnerOfAccount","PartyIsJointOwnerOfAccount"]},"AssociationObligationorEntitlement":{"$ref":"#/components/schemas/PartyObligationOrEntitlementDTO"},"AssociationReference":{"$ref":"#/components/schemas/PartyDTO"},"LinkedAccounts":{"$ref":"#/components/schemas/AccountDTO"},"LinkType":{"type":"string","enum":["AccountIsParentAccountForAccount","AccountIsSubAccountForAccount","AccountIsLinkedToAccount"]},"AccountDetails":{"$ref":"#/components/schemas/AccountDTO"},"LimitType":{"type":"string","enum":["Multilateral","Bilateral","Netbilateral","Indirectbilateral","Global","Mandatorybilateral","Discretionarybilateral","Directdebit","Singlecustomerdirectdebit","Singlefinancialinstitutiondirectdebit","Totaldailycustomerdirectdebit","Totaldailyfinancialinstitutiondirectdebit","Autocollateralisation","Unsecuredcredit","Externalguarantee"]},"LimitSettings":{"$ref":"#/components/schemas/LimitArrangementDTO"},"LimitValue":{"type":"string"},"AccountDateType":{"type":"string","enum":["OpeningDate","ClosingDate","BlockingDate","MaturityDate","LiveDate","RenewalDate","EffectiveDate","CreatingDate","ValueDate"]},"AccountDate":{"$ref":"#/components/schemas/DateTimeDTO"},"AccountBalance":{"$ref":"#/components/schemas/AccountBalanceDTO"},"AccountStatus":{"type":"string","enum":["Enabled","Disabled","Deleted","Proforma","Pending"]}},"example":{"ProductInstanceReference":{"CurrentAccountAgreementType":"StudentCurrentAccount","ProductAgreementType":"DirectDebitServiceAgreement","ProductAgreementIdentification":{"IdentifierValue":"91716961","IdentifierIssuerReference":{"PartyReference":"YJZHXZXJN","InvolvementReference":"CHSWAZAJHA"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.705729900Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.705772551Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"AgreementSignedDate":{"DateContent":"AHAGBW"},"AgreementType":"BrokerAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.705819462Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.705841662Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"AgreementVersion":"KGHAGORN","AgreementStatus":{"AgreementStatus":{"StatusReason":"VIP","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.705882893Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.705909104Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.705928694Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"PGJKVF","InvolvementReference":"MRJ"}},"AgreementStatusType":"Signed"},"AgreementSubjectMatter":"MIMWWVJHBO","AgreementIdentification":{"IdentifierValue":"38623790","IdentifierIssuerReference":{"PartyReference":"UHFSV","InvolvementReference":"FBI"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.706019086Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.706042566Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:08:18.706064947Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"AgreementDescription":"NOCFXE","InvolvedParty":{"InvolvementType":"Broker","PartyReference":{"PartyName":{"Name":"SFFJELZVLX"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04T13:08:18.706128718Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"PartyIdentification":{"PartyIdentificationType":"Identitycardnumber","PartyIdentification":{"IdentifierValue":"10565689","IdentifierIssuerReference":{"PartyReference":"LSAVJWT","InvolvementReference":"JFIZ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.706178979Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.706198420Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}}},"PartyLegalStructureType":"ScottishLimitedPartnership","PartyActivityIndicator":{"Industrycode":"FISREYLJO"}},"AgreementReference":{"Agreement":"GESTDLWFRU"},"PartyRoleType":"HAL","PartyRoleName":{"Name":"IFXDPTVG"},"PartyRoleValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.706264091Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.706285621Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"PartyInvolvementType":"ArrangementInvolvement"},"ProductReference":{"ProductIdentification":{"ProductIdentification":{"IdentifierValue":"23687519","IdentifierIssuerReference":{"PartyReference":"YHAZH","InvolvementReference":"VADR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:08:18.706340443Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:08:18.706360573Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"ProductIdentificationType":"Manufacturersitemnumber"},"ProductType":"SavingAccountProduct","ProductLifecycleStatus":{"ProductStatus":{"StatusReason":"AYHT","StatusDateTime":{"DateTimeContent":"2026-05-04T13:08:18.706402244Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:08:18.706422414Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:08:18.706440215Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"KSAU","InvolvementReference":"HCISMTJU"}},"ProductStatusType":"Sold"},"ProductPriority":"ZEHI","ProductDescription":"SCKKWIFQA","ProductVersion":"INLJEHRNDN","ProductName":{"Name":"MZMDSSJJGD"},"FinancialInstrumentType":"Deposit","FinancialInstrumentIdentification":{"FinancialInstrumentIdentification":{"IdentifierValue":"96576199","IdentifierIssuerReference":{"PartyReference":"OXBJVBYDCU","InvolvementReference":"EUQIM"},"IdentifierStartDa
[...]
