{"openapi":"3.0.1","info":{"title":"Customer Product And Service Directory","description":"Maintains a consolidated directory (catalog) of the most important details for the current products and services held by a specific customer and following the BIAN 'Customer Products and Services Directory' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/v1/customer-product-and-service-directory/{customer-product-and-service-directory-id}/update":{"put":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - v14"],"summary":"Update Customer Product And Service Directory Entry","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/{product-id}/update":{"put":{"tags":["BQ - Product - v14"],"summary":"Update In-force Product property","operationId":"UpdateProduct","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/update":{"put":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - stub"],"summary":"Update Customer Product And Service Directory Entry","operationId":"Update_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/service/{service-id}/update":{"put":{"tags":["BQ - Service - stub"],"summary":"Update In-force Service property","operationId":"UpdateService","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"service-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/service/{service-id}/request":{"put":{"tags":["BQ - Service - stub"],"summary":"Request In-force Service property","operationId":"RequestService","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"service-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/service/{service-id}/execute":{"put":{"tags":["BQ - Service - stub"],"summary":"Execute In-force Service property","operationId":"ExecuteService","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"service-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/request":{"put":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - stub"],"summary":"Request Customer Product And Service Directory Entry","operationId":"Request","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/{product-id}/update":{"put":{"tags":["BQ - Product - stub"],"summary":"Update In-force Product property","operationId":"UpdateProduct_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/{product-id}/request":{"put":{"tags":["BQ - Product - stub"],"summary":"Request In-force Product property","operationId":"RequestProduct","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/{product-id}/execute":{"put":{"tags":["BQ - Product - stub"],"summary":"Execute In-force Product property","operationId":"ExecuteProduct","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/execute":{"put":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - stub"],"summary":"Execute Customer Product And Service Directory Entry","operationId":"Execute","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/control":{"put":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - stub"],"summary":"Control Customer Product And Service Directory Entry","operationId":"Control","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-product-and-service-directory/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/register":{"post":{"tags":["BQ - Product - v14"],"summary":"Register In-force Product property","operationId":"RegisterProduct","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-product-and-service-directory/register":{"post":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - v14"],"summary":"Register Customer Product And Service Directory Entry","operationId":"Register","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/service/register":{"post":{"tags":["BQ - Service - stub"],"summary":"Register In-force Service property","operationId":"RegisterService","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/register":{"post":{"tags":["BQ - Product - stub"],"summary":"Register In-force Product property","operationId":"RegisterProduct_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/register":{"post":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - stub"],"summary":"Register Customer Product And Service Directory Entry","operationId":"Register_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-product-and-service-directory/{party-reference-data-directory-id}/customer-products-services/retrieve":{"get":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - v14"],"summary":"Retrieve Customer Product And Service Directory Entry","operationId":"RetrieveCustom","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"party-reference-data-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntryResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-product-and-service-directory/{customer-product-and-service-directory-id}/retrieve":{"get":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - v14"],"summary":"Retrieve Customer Product And Service Directory Entry","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/retrieve":{"get":{"tags":["BQ - Product - v14"],"summary":"Retrieve In-force Product property","operationId":"RetrieveProduct","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/service/{service-id}/retrieve":{"get":{"tags":["BQ - Service - stub"],"summary":"Retrieve In-force Service property","operationId":"RetrieveService","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"service-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/service/{service-id}/notify":{"get":{"tags":["BQ - Service - stub"],"summary":"Notify In-force Service property","operationId":"NotifyService","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"service-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/retrieve":{"get":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - stub"],"summary":"Retrieve Customer Product And Service Directory Entry","operationId":"Retrieve_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/{product-id}/retrieve":{"get":{"tags":["BQ - Product - stub"],"summary":"Retrieve In-force Product property","operationId":"RetrieveProduct_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/product/{product-id}/notify":{"get":{"tags":["BQ - Product - stub"],"summary":"Notify In-force Product property","operationId":"NotifyProduct","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-product-and-service-directory/{customer-product-and-service-directory-id}/notify":{"get":{"tags":["CR - CustomerProductAndServiceDirectoryEntry - stub"],"summary":"Notify Customer Product And Service Directory Entry","operationId":"Notify","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-product-and-service-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerProductAndServiceDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-product-and-service-directory/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfigDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-product-and-service-directory/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"Agreement":{"type":"object","properties":{"Agreement":{"type":"string"}},"example":{"Agreement":"LSG"}},"AgreementStatus":{"type":"object","properties":{"AgreementStatus":{"$ref":"#/components/schemas/Status"},"AgreementStatusType":{"type":"string","enum":["Offered","Confirmed","Completed","Signed","Terminated","Rejected"]}},"example":{"AgreementStatus":{"StatusReason":"BGQ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.038271952Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.040075459Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.040357206Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"QADNI","InvolvementReference":"PAHTPZP"}},"AgreementStatusType":"Signed"}},"CustomerProductAndServiceDirectoryEntry":{"type":"object","properties":{"CustomerProductAndServiceDirectoryEntryDescription":{"type":"string"},"CustomerProductAndServiceDirectoryEntrySchedule":{"$ref":"#/components/schemas/Schedule"},"CustomerProductAndServiceDirectoryEntryVersion":{"type":"string"},"CustomerProductAndServiceDirectoryEntryStatus":{"$ref":"#/components/schemas/Status"},"CustomerProductAndServiceDirectoryEntryUsageLog":{"$ref":"#/components/schemas/Log"},"CustomerProductAndServiceDirectoryEntryUpdateLog":{"$ref":"#/components/schemas/Log"},"CustomerProductAndServiceDirectoryEntryServiceConfiguration":{"type":"string"},"CustomerProductAndServiceDirectoryEntryInstanceReference":{"$ref":"#/components/schemas/Identifier"},"CustomerReference":{"$ref":"#/components/schemas/InvolvedParty"},"ProductAgreementReference":{"$ref":"#/components/schemas/ProductAgreement"},"ServicerReference":{"$ref":"#/components/schemas/InvolvedParty"},"ServiceAgreementReference":{"$ref":"#/components/schemas/ServiceAgreement"}},"example":{"CustomerProductAndServiceDirectoryEntryDescription":"POTL","CustomerProductAndServiceDirectoryEntrySchedule":{"ScheduleType":"KKMOJ"},"CustomerProductAndServiceDirectoryEntryVersion":"NIWHCP","CustomerProductAndServiceDirectoryEntryStatus":{"StatusReason":"HFFNN","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.143897126Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.144129822Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.144265466Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"StatusInvolvedPartyReference":{"PartyReference":"OVUCOUCWA","InvolvementReference":"QVGR"}},"CustomerProductAndServiceDirectoryEntryUsageLog":{"LogType":"GULOYFJYR","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.144698857Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.144878842Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"LogDate":{"DateTimeContent":"2026-05-04T13:52:09.145091257Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"LogIdentification":{"IdentifierValue":"42912770","IdentifierIssuerReference":{"PartyReference":"JSBV","InvolvementReference":"VMUGBAXGMF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.145800066Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.146006611Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}}},"CustomerProductAndServiceDirectoryEntryUpdateLog":{"LogType":"XBE","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.146346030Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.146494754Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"LogDate":{"DateTimeContent":"2026-05-04T13:52:09.146635238Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"LogIdentification":{"IdentifierValue":"81354283","IdentifierIssuerReference":{"PartyReference":"BKHQD","InvolvementReference":"FQBGZB"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.146929415Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.147064749Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}}},"CustomerProductAndServiceDirectoryEntryServiceConfiguration":"DCRIAHCYC","CustomerProductAndServiceDirectoryEntryInstanceReference":{"IdentifierValue":"90598250","IdentifierIssuerReference":{"PartyReference":"FQKFWSBTN","InvolvementReference":"GZMWH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.147438379Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.147579402Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"CustomerReference":{"PartyReference":"FWNG","InvolvementReference":"YNCOVND"},"ProductAgreementReference":{"ProductAgreementType":"MortgageLoanAgreement","ProductAgreementIdentification":{"IdentifierValue":"51498304","IdentifierIssuerReference":{"PartyReference":"ZRXLV","InvolvementReference":"LXCZIY"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.151154605Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.151535145Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"AgreementSignedDate":{"DateContent":"CRS"},"AgreementType":"SalesAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.237302622Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.237630491Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"AgreementVersion":"QUILSQCSB","AgreementStatus":{"AgreementStatus":{"StatusReason":"XWXYNKGR","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.238355209Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.238493983Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.238759400Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"WYP","InvolvementReference":"RZANS"}},"AgreementStatusType":"Terminated"},"AgreementSubjectMatter":"CNNHM","AgreementIdentification":{"IdentifierValue":"22311815","IdentifierIssuerReference":{"PartyReference":"JSUHKXCCKN","InvolvementReference":"ACTXHHV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.240601538Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.240745262Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:52:09.241066830Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"AgreementDescription":"XMCABYVAPD"},"ServicerReference":{"PartyReference":"JQSNMWL","InvolvementReference":"UCXYLWB"},"ServiceAgreementReference":{"Type":"ZWGV","ServiceReference":[{"ServiceInstanceReference":{"IdentifierValue":"87638164","IdentifierIssuerReference":{"PartyReference":"OQJBRHDWH","InvolvementReference":"OAMME"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.243053432Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.243161565Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"ServiceIdentification":{"IdentifierValue":"44468622","IdentifierIssuerReference":{"PartyReference":"ZXJYERWIY","InvolvementReference":"XIYXPIVR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.243416471Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.243525164Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"ServiceDescription":"IOQBY","ServiceType":"AdministrativeService","ServiceName":{"Name":"TBPEZLUXY"},"ServiceLifecycleStatus":{"StatusReason":"LSWDSZ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.243928505Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.244059658Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.244160981Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"MMESUL","InvolvementReference":"NGSZJGU"}},"ServiceFeature":{"FeatureType":"FeeFeature","FeatureIdentification":{"IdentifierValue":"49398556","IdentifierIssuerReference":{"PartyReference":"SRQHFJUB","InvolvementReference":"XSZNXFVFLC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.244584682Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.244683684Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"FeatureName":{"Name":"SACAMGEN"},"FeatureLifecycleStatus":{"StatusReason":"DZPGCHW","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.244918121Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.245029743Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.245122196Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"AFRHIX","InvolvementReference":"NXKWJXBFT"}},"FeatureDescription":"PVIKHQ"}},{"ServiceInstanceReference":{"IdentifierValue":"99202838","IdentifierIssuerReference":{"PartyReference":"RXIX","InvolvementReference":"EXE"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.245547427Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.245656140Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"ServiceIdentification":{"IdentifierValue":"84205359","IdentifierIssuerReference":{"PartyReference":"TFZYWPP","InvolvementReference":"PXKZCHHC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.245835945Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.245923997Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"ServiceDescription":"GWD","ServiceType":"FinancialService","ServiceName":{"Name":"KYLRKLL"},"ServiceLifecycleStatus":{"StatusReason":"XZVDGF","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.246119242Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.246249965Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.246361378Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"QGZJ","InvolvementReference":"PTCIO"}},"ServiceFeature":{"FeatureType":"LienFeature","FeatureIdentification":{"IdentifierValue":"56806753","IdentifierIssuerReference":{"PartyReference":"ZELKHKV","InvolvementReference":"RHVAQH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.246659176Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.246758389Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"FeatureName":{"Name":"YCCFFMK"},"FeatureLifecycleStatus":{"StatusReason":"ZZAIOB","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.246931083Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.247043886Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.247166309Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"StatusInvolvedPartyReference":{"PartyReference":"XQTFVWITMW","InvolvementReference":"USK"}},"FeatureDescription":"TKQU"}},{"ServiceInstanceReference":{"IdentifierValue":"86392047","IdentifierIssuerReference":{"PartyReference":"CDUJCTJFRM","InvolvementReference":"ROXNEPFC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.247446196Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.247534149Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"ServiceIdentification":{"IdentifierValue":"97403921","IdentifierIssuerReference":{"PartyReference":"ALEHCKKZYA","InvolvementReference":"JLZZAQC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.250696691Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.251043410Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"ServiceDescription":"SBESL","ServiceType":"FinancialService","ServiceName":{"Name":"VPAQPPH"},"ServiceLifecycleStatus":{"StatusReason":"ULWHS","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.251210054Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.251490502Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.251855591Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"GNZG","InvolvementReference":"SQRKUAXLWB"}},"ServiceFeature":{"FeatureType":"PaymentFeature","FeatureIdentification":{"IdentifierValue":"92202074","IdentifierIssuerReference":{"PartyReference":"UJWT","InvolvementReference":"ELPJET"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.252892589Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.253137525Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"FeatureName":{"Name":"CHUR"},"FeatureLifecycleStatus":{"StatusReason":"VTI","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.253252628Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.338918612Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.339977659Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EIU","InvolvementReference":"CHONYFJG"}},"FeatureDescription":"PTZXWGXW"}}],"AgreementReference":{"Agreement":"JKMYOZK"},"AgreementSignedDate":{"DateContent":"JKJUHEL"},"AgreementType":"RepurchaseAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.340661017Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.340745089Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"AgreementVersion":"TCPAREJJV","AgreementStatus":{"AgreementStatus":{"StatusReason":"VEHG","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.340942705Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.341046697Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.341130549Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"IFVZLI","InvolvementReference":"REE"}},"AgreementStatusType":"Signed"},"AgreementSubjectMatter":"IHQVC","AgreementIdentification":{"IdentifierValue":"70090551","IdentifierIssuerReference":{"PartyReference":"VIQZ","InvolvementReference":"WCH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.341412527Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.341487139Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:52:09.341638533Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"AgreementDescription":"QAIUA"}}},"Date":{"type":"object","properties":{"DateContent":{"type":"string"}},"example":{"DateContent":"KUF"}},"DateTime":{"type":"object","properties":{"DateTimeContent":{"type":"string"},"TimeZoneCode":{"type":"string"},"DaylightSavingIndicator":{"type":"string"},"DateTimeType":{"type":"string","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate","EntryDate"]}},"example":{"DateTimeContent":"2026-05-04T13:52:09.440632914Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"DateTimePeriod":{"type":"object","properties":{"FromDateTime":{"$ref":"#/components/schemas/DateTime"},"ToDateTime":{"$ref":"#/components/schemas/DateTime"}},"example":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.441766314Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.441853976Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}}},"Feature":{"type":"object","properties":{"FeatureType":{"type":"string","enum":["FeeFeature","InterestFeature","WithdrawalFeature","DepositFeature","SweepFeature","LienFeature","PaymentFeature","RepaymentFeature","LimitFeature","OverdraftFeature","StatementFeature","CurrencyExchangeFeature","PriceFeature"]},"FeatureIdentification":{"$ref":"#/components/schemas/Identifier"},"FeatureName":{"$ref":"#/components/schemas/Name"},"FeatureLifecycleStatus":{"$ref":"#/components/schemas/Status"},"FeatureDescription":{"type":"string"}},"example":{"FeatureType":"CurrencyExchangeFeature","FeatureIdentification":{"IdentifierValue":"59850557","IdentifierIssuerReference":{"PartyReference":"WRCIUXSHJ","InvolvementReference":"HHNLEAMY"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.443175030Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.443244612Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"FeatureName":{"Name":"ORIL"},"FeatureLifecycleStatus":{"StatusReason":"EKPTV","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.443363785Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.443444297Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.443527900Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"NQDD","InvolvementReference":"BMAA"}},"FeatureDescription":"XOBV"}},"Identifier":{"type":"object","properties":{"IdentifierValue":{"type":"string"},"IdentifierIssuerReference":{"$ref":"#/components/schemas/InvolvedParty"},"IdentifierStartDate":{"$ref":"#/components/schemas/DateTime"},"IdentifierEndDate":{"$ref":"#/components/schemas/DateTime"}},"example":{"IdentifierValue":"34831227","IdentifierIssuerReference":{"PartyReference":"WHERFYWE","InvolvementReference":"BJGF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.444598377Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.444677699Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}}},"InvolvedParty":{"type":"object","properties":{"PartyReference":{"type":"string"},"InvolvementReference":{"type":"string"}},"example":{"PartyReference":"KKFONY","InvolvementReference":"RGMOKF"}},"Log":{"type":"object","properties":{"LogType":{"type":"string"},"LogPeriod":{"$ref":"#/components/schemas/DateTimePeriod"},"LogDate":{"$ref":"#/components/schemas/DateTime"},"LogIdentification":{"$ref":"#/components/schemas/Identifier"}},"example":{"LogType":"BOTAWYCJGD","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.446420155Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.446503897Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"LogDate":{"DateTimeContent":"2026-05-04T13:52:09.446577439Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"LogIdentification":{"IdentifierValue":"67088854","IdentifierIssuerReference":{"PartyReference":"WUO","InvolvementReference":"FVYWWC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.446700982Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.446767484Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}}}},"Name":{"type":"object","properties":{"Name":{"type":"string"}},"example":{"Name":"MLWU"}},"ProductAgreement":{"type":"object","properties":{"ProductAgreementType":{"type":"string","enum":["CurrentAccountAgreement","SavingsAccountAgreement","BrokeredProductAgreement","ConsumerLoanAgreement","MortgageLoanAgreement","DirectDebitServiceAgreement","TermDepositAgreement"]},"ProductAgreementIdentification":{"$ref":"#/components/schemas/Identifier"},"AgreementSignedDate":{"$ref":"#/components/schemas/Date"},"AgreementType":{"type":"string","enum":["CustomerAgreement","SupplierAgreement","BrokerAgreement","SalesAgreement","PurchaseAgreement","MaintenanceAgreement","ProductAgreement","ResourceAgreement","PartnerAgreement","MasterAgreement","BilateralAgreement","RepurchaseAgreement"]},"AgreementValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriod"},"AgreementVersion":{"type":"string"},"AgreementStatus":{"$ref":"#/components/schemas/AgreementStatus"},"AgreementSubjectMatter":{"type":"string"},"AgreementIdentification":{"$ref":"#/components/schemas/Identifier"},"AgreementDate":{"$ref":"#/components/schemas/DateTime"},"AgreementDescription":{"type":"string"}},"example":{"ProductAgreementType":"ConsumerLoanAgreement","ProductAgreementIdentification":{"IdentifierValue":"34181468","IdentifierIssuerReference":{"PartyReference":"XHMQMZDY","InvolvementReference":"LMPHZLOTCH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.546586247Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.546666049Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"AgreementSignedDate":{"DateContent":"SVORACFUQC"},"AgreementType":"ResourceAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.546766241Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.546818793Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"AgreementVersion":"SXCSVWS","AgreementStatus":{"AgreementStatus":{"StatusReason":"PYLIWWWPQ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.546923886Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.547014138Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.547081620Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"VCXEOUOKOY","InvolvementReference":"BGVMN"}},"AgreementStatusType":"Confirmed"},"AgreementSubjectMatter":"FHRMIDDS","AgreementIdentification":{"IdentifierValue":"39430443","IdentifierIssuerReference":{"PartyReference":"ONKX","InvolvementReference":"IXDDWTU"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.547249764Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.547310146Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:52:09.547372837Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"AgreementDescription":"RJIOHGS"}},"Schedule":{"type":"object","properties":{"ScheduleType":{"type":"string"}},"example":{"ScheduleType":"GXVTCIY"}},"ServiceAgreement":{"type":"object","properties":{"Type":{"type":"string"},"ServiceReference":{"type":"array","items":{"$ref":"#/components/schemas/ServiceDto"}},"AgreementReference":{"$ref":"#/components/schemas/Agreement"},"AgreementSignedDate":{"$ref":"#/components/schemas/Date"},"AgreementType":{"type":"string","enum":["CustomerAgreement","SupplierAgreement","BrokerAgreement","SalesAgreement","PurchaseAgreement","MaintenanceAgreement","ProductAgreement","ResourceAgreement","PartnerAgreement","MasterAgreement","BilateralAgreement","RepurchaseAgreement"]},"AgreementValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriod"},"AgreementVersion":{"type":"string"},"AgreementStatus":{"$ref":"#/components/schemas/AgreementStatus"},"AgreementSubjectMatter":{"type":"string"},"AgreementIdentification":{"$ref":"#/components/schemas/Identifier"},"AgreementDate":{"$ref":"#/components/schemas/DateTime"},"AgreementDescription":{"type":"string"}},"example":{"Type":"DMT","ServiceReference":[{"ServiceInstanceReference":{"IdentifierValue":"97151147","IdentifierIssuerReference":{"PartyReference":"WEKRILBMUQ","InvolvementReference":"CAWAEEVYF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.643426391Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.643533753Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"ServiceIdentification":{"IdentifierValue":"11020054","IdentifierIssuerReference":{"PartyReference":"BYWIVARV","InvolvementReference":"APQOWYAL"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.643665167Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.643725668Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"ServiceDescription":"WLL","ServiceType":"ItService","ServiceName":{"Name":"VKNIKJPHDQ"},"ServiceLifecycleStatus":{"StatusReason":"RPLFKJW","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.643852182Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.643929964Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.644001515Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"BKNLC","InvolvementReference":"BKPQBPYJJQ"}},"ServiceFeature":{"FeatureType":"StatementFeature","FeatureIdentification":{"IdentifierValue":"51971618","IdentifierIssuerReference":{"PartyReference":"WXUNX","InvolvementReference":"NWVZYYCV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.644179240Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.644252472Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"FeatureName":{"Name":"BHI"},"FeatureLifecycleStatus":{"StatusReason":"CNIKJECO","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.644386816Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.644459167Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.644512379Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"XJL","InvolvementReference":"ZSCYUSU"}},"FeatureDescription":"JNXL"}},{"ServiceInstanceReference":{"IdentifierValue":"16014965","IdentifierIssuerReference":{"PartyReference":"ZPFGBPWUHL","InvolvementReference":"FXHLJ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.644685753Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.644743135Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"ServiceIdentification":{"IdentifierValue":"83468416","IdentifierIssuerReference":{"PartyReference":"FFSQLCNLU","InvolvementReference":"HRXMO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.644852808Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.644908059Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"ServiceDescription":"XNN","ServiceType":"BusinessService","ServiceName":{"Name":"WCXW"},"ServiceLifecycleStatus":{"StatusReason":"DTHWFB","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.645022572Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.645088144Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.645165496Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"FFN","InvolvementReference":"FJSTMLV"}},"ServiceFeature":{"FeatureType":"SweepFeature","FeatureIdentification":{"IdentifierValue":"31034342","IdentifierIssuerReference":{"PartyReference":"ENASSZEE","InvolvementReference":"CUN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.645339381Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.645396712Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"FeatureName":{"Name":"KEQJU"},"FeatureLifecycleStatus":{"StatusReason":"JBAYWQIGXO","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.645491054Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.645553346Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.645626188Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"FITZ","InvolvementReference":"RYEQHJP"}},"FeatureDescription":"UPJ"}},{"ServiceInstanceReference":{"IdentifierValue":"21485337","IdentifierIssuerReference":{"PartyReference":"ITGUCNW","InvolvementReference":"EVQHO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.645769962Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.645822323Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"ServiceIdentification":{"IdentifierValue":"51736994","IdentifierIssuerReference":{"PartyReference":"QBKGPBUYV","InvolvementReference":"GOBWQLJASN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.645917996Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.645975177Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"ServiceDescription":"LSPFGMG","ServiceType":"ItService","ServiceName":{"Name":"FBTEV"},"ServiceLifecycleStatus":{"StatusReason":"MQBBQYLG","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.646092110Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.646163272Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.646475740Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"GOGUWF","InvolvementReference":"EXRHRWTCIT"}},"ServiceFeature":{"FeatureType":"LimitFeature","FeatureIdentification":{"IdentifierValue":"61200137","IdentifierIssuerReference":{"PartyReference":"EMB","InvolvementReference":"ZZCCRCT"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.647203469Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.647265681Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"FeatureName":{"Name":"FTUH"},"FeatureLifecycleStatus":{"StatusReason":"NDSU","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.647365673Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.647432655Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.647490797Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"FAK","InvolvementReference":"MCIHST"}},"FeatureDescription":"QET"}},{"ServiceInstanceReference":{"IdentifierValue":"67708684","IdentifierIssuerReference":{"PartyReference":"JBGH","InvolvementReference":"WFQC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.647645010Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.647697482Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"ServiceIdentification":{"IdentifierValue":"93093922","IdentifierIssuerReference":{"PartyReference":"NXPIKVYJF","InvolvementReference":"ZVIY"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.741589080Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.741990681Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"ServiceDescription":"WEWQLRD","ServiceType":"InformationService","ServiceName":{"Name":"XKXIZ"},"ServiceLifecycleStatus":{"StatusReason":"JTGOMBRTR","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.742117694Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.742180446Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.742228927Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"JMZ","InvolvementReference":"OXMNIKFA"}},"ServiceFeature":{"FeatureType":"LienFeature","FeatureIdentification":{"IdentifierValue":"16657342","IdentifierIssuerReference":{"PartyReference":"CHZMQ","InvolvementReference":"VOXOYQQWJM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.742372391Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.742428692Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"FeatureName":{"Name":"DWGIHWXPCX"},"FeatureLifecycleStatus":{"StatusReason":"JYRCA","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.742521075Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.742583016Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.742632387Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EYQ","InvolvementReference":"SAM"}},"FeatureDescription":"KRBH"}},{"ServiceInstanceReference":{"IdentifierValue":"68193894","IdentifierIssuerReference":{"PartyReference":"NXVX","InvolvementReference":"OUJMWVRSO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.742770721Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.742825412Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"ServiceIdentification":{"IdentifierValue":"59289506","IdentifierIssuerReference":{"PartyReference":"KINAVMSUP","InvolvementReference":"SFJGTFRB"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.742919635Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.742970696Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"ServiceDescription":"WIKDRUDN","ServiceType":"AdministrativeService","ServiceName":{"Name":"UPBEV"},"ServiceLifecycleStatus":{"StatusReason":"HLK","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.743069059Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.743132371Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.743181412Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"IRVD","InvolvementReference":"UUPWEZU"}},"ServiceFeature":{"FeatureType":"CurrencyExchangeFeature","FeatureIdentification":{"IdentifierValue":"43441786","IdentifierIssuerReference":{"PartyReference":"LBAFERS","InvolvementReference":"JGLZXUNUVK"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.743313725Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.743358406Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"FeatureName":{"Name":"ZGXDMCPIBU"},"FeatureLifecycleStatus":{"StatusReason":"BJZLZJ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.743448999Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.743506460Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.743552291Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"BDBYP","InvolvementReference":"RIXWSGRT"}},"FeatureDescription":"ZXUGR"}},{"ServiceInstanceReference":{"IdentifierValue":"11316538","IdentifierIssuerReference":{"PartyReference":"UGVNPUC","InvolvementReference":"UNUCMV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.743678825Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.743730886Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"ServiceIdentification":{"IdentifierValue":"37618801","IdentifierIssuerReference":{"PartyReference":"DEHAD","InvolvementReference":"AHZD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.743867760Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.743942892Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"ServiceDescription":"QHHTO","ServiceType":"AdministrativeService","ServiceName":{"Name":"OCXQOMD"},"ServiceLifecycleStatus":{"StatusReason":"QQXYLZE","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744052415Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744114236Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744161447Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"DEKRB","InvolvementReference":"HQDW"}},"ServiceFeature":{"FeatureType":"SweepFeature","FeatureIdentification":{"IdentifierValue":"65738601","IdentifierIssuerReference":{"PartyReference":"RFTQ","InvolvementReference":"GID"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.744302451Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.744355222Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"FeatureName":{"Name":"FYEIKLTUHC"},"FeatureLifecycleStatus":{"StatusReason":"JLSG","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744434865Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744486876Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744528077Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"PFVSDSRFE","InvolvementReference":"MKDBBP"}},"FeatureDescription":"MQANBUUB"}}],"AgreementReference":{"Agreement":"JIPIQ"},"AgreementSignedDate":{"DateContent":"GSILJSCSO"},"AgreementType":"PartnerAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744703952Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744755093Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"AgreementVersion":"KVOPU","AgreementStatus":{"AgreementStatus":{"StatusReason":"RLJOS","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744843925Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744910967Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.744963668Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"KYVIWZY","InvolvementReference":"DRIFYSKFW"}},"AgreementStatusType":"Signed"},"AgreementSubjectMatter":"BPLPPRIKK","AgreementIdentification":{"IdentifierValue":"92184155","IdentifierIssuerReference":{"PartyReference":"BAWBHQQT","InvolvementReference":"HVJMIRV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.745107892Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.745195574Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:52:09.745259636Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"AgreementDescription":"OLWUS"}},"ServiceDto":{"type":"object","properties":{"ServiceInstanceReference":{"$ref":"#/components/schemas/Identifier"},"ServiceIdentification":{"$ref":"#/components/schemas/Identifier"},"ServiceDescription":{"type":"string"},"ServiceType":{"type":"string","enum":["ItService","AdministrativeService","SystemService","FinancialService","InformationService","BusinessService"]},"ServiceName":{"$ref":"#/components/schemas/Name"},"ServiceLifecycleStatus":{"$ref":"#/components/schemas/Status"},"ServiceFeature":{"$ref":"#/components/schemas/Feature"}},"example":{"ServiceInstanceReference":{"IdentifierValue":"92083001","IdentifierIssuerReference":{"PartyReference":"UYGYAIFAU","InvolvementReference":"HDFIOSIRBD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.751129759Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.751192771Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"ServiceIdentification":{"IdentifierValue":"85191592","IdentifierIssuerReference":{"PartyReference":"QUOFURVKJN","InvolvementReference":"NQLGCCUYU"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.751256232Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.836566267Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"ServiceDescription":"VDS","ServiceType":"FinancialService","ServiceName":{"Name":"KWETKHHN"},"ServiceLifecycleStatus":{"StatusReason":"MERNELSOMA","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.836723781Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.836788483Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.836837064Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"RYJXOEC","InvolvementReference":"MPNORARJG"}},"ServiceFeature":{"FeatureType":"OverdraftFeature","FeatureIdentification":{"IdentifierValue":"45617694","IdentifierIssuerReference":{"PartyReference":"OTVNFH","InvolvementReference":"MPBGEP"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.836975598Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.837022369Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"FeatureName":{"Name":"GPY"},"FeatureLifecycleStatus":{"StatusReason":"TAQLW","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.837722237Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.837811299Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.837859111Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"YVD","InvolvementReference":"OOGRQYWIKN"}},"FeatureDescription":"MLWNYP"}}},"Status":{"type":"object","properties":{"StatusReason":{"type":"string"},"StatusDateTime":{"$ref":"#/components/schemas/DateTime"},"StatusValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriod"},"StatusInvolvedPartyReference":{"$ref":"#/components/schemas/InvolvedParty"}},"example":{"StatusReason":"PKXVUEZK","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.839102703Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.839182515Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.839238087Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ETRGQIOV","InvolvementReference":"HTMJYUTG"}}},"CustomerProductAndServiceDirectoryEntryResponse":{"type":"object","properties":{"CustomerProductAndServiceDirectoryEntryDescription":{"type":"string"},"CustomerProductAndServiceDirectoryEntrySchedule":{"$ref":"#/components/schemas/Schedule"},"CustomerProductAndServiceDirectoryEntryVersion":{"type":"string"},"CustomerProductAndServiceDirectoryEntryStatus":{"$ref":"#/components/schemas/Status"},"CustomerProductAndServiceDirectoryEntryUsageLog":{"$ref":"#/components/schemas/Log"},"CustomerProductAndServiceDirectoryEntryUpdateLog":{"$ref":"#/components/schemas/Log"},"CustomerProductAndServiceDirectoryEntryServiceConfiguration":{"type":"string"},"CustomerProductAndServiceDirectoryEntryInstanceReference":{"$ref":"#/components/schemas/Identifier"},"CustomerReference":{"$ref":"#/components/schemas/InvolvedParty"},"ProductAgreementReference":{"$ref":"#/components/schemas/ProductAgreement"},"ServicerReference":{"$ref":"#/components/schemas/InvolvedParty"},"ServiceAgreementReference":{"$ref":"#/components/schemas/ServiceAgreement"}},"example":{"CustomerProductAndServiceDirectoryEntryDescription":"AFNBN","CustomerProductAndServiceDirectoryEntrySchedule":{"ScheduleType":"FMPJF"},"CustomerProductAndServiceDirectoryEntryVersion":"PCLTKB","CustomerProductAndServiceDirectoryEntryStatus":{"StatusReason":"TDRTWYWRN","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.841731252Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.841801653Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.841849585Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"KUPTERSJD","InvolvementReference":"XIGJVYEQMB"}},"CustomerProductAndServiceDirectoryEntryUsageLog":{"LogType":"OYRQS","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.841991198Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.842047070Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"LogDate":{"DateTimeContent":"2026-05-04T13:52:09.842098531Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"LogIdentification":{"IdentifierValue":"23700931","IdentifierIssuerReference":{"PartyReference":"NLMKCUKMAA","InvolvementReference":"FBTM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.842183974Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.842234845Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}}},"CustomerProductAndServiceDirectoryEntryUpdateLog":{"LogType":"TNKJBAZA","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.842330897Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.842387039Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"LogDate":{"DateTimeContent":"2026-05-04T13:52:09.842431240Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"LogIdentification":{"IdentifierValue":"37988061","IdentifierIssuerReference":{"PartyReference":"PFYSVLKLPD","InvolvementReference":"NBACCT"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.842503742Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.842543553Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}}},"CustomerProductAndServiceDirectoryEntryServiceConfiguration":"BSUIU","CustomerProductAndServiceDirectoryEntryInstanceReference":{"IdentifierValue":"28895503","IdentifierIssuerReference":{"PartyReference":"XPJIEKZZ","InvolvementReference":"BIZHRE"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.842680726Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.842727417Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"CustomerReference":{"PartyReference":"XJKQQWE","InvolvementReference":"TDLUAK"},"ProductAgreementReference":{"ProductAgreementType":"SavingsAccountAgreement","ProductAgreementIdentification":{"IdentifierValue":"16284346","IdentifierIssuerReference":{"PartyReference":"HFQPN","InvolvementReference":"LSCXN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.842914022Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.842967694Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"AgreementSignedDate":{"DateContent":"FKVWKQ"},"AgreementType":"RepurchaseAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.843105818Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.843162819Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"AgreementVersion":"YCASVQYGC","AgreementStatus":{"AgreementStatus":{"StatusReason":"VJNU","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.843242971Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.843296983Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.843343624Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"OSDM","InvolvementReference":"PZNPYM"}},"AgreementStatusType":"Offered"},"AgreementSubjectMatter":"NTGTWS","AgreementIdentification":{"IdentifierValue":"43578308","IdentifierIssuerReference":{"PartyReference":"LBTGZFZXC","InvolvementReference":"AKCH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.843475577Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.843526138Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:52:09.843577520Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"AgreementDescription":"EJATKFWEZW"},"ServicerReference":{"PartyReference":"JBNJGTM","InvolvementReference":"OQWJA"},"ServiceAgreementReference":{"Type":"HLRJC","ServiceReference":[{"ServiceInstanceReference":{"IdentifierValue":"53568420","IdentifierIssuerReference":{"PartyReference":"IRO","InvolvementReference":"AQEMTKTF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.843830666Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.843882908Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"ServiceIdentification":{"IdentifierValue":"98507923","IdentifierIssuerReference":{"PartyReference":"YALY","InvolvementReference":"TRSF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.843977530Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.844027691Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"ServiceDescription":"LDNJX","ServiceType":"FinancialService","ServiceName":{"Name":"LQY"},"ServiceLifecycleStatus":{"StatusReason":"XNKGURVF","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.844120824Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.844173945Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.844251127Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"AHYRFHLQ","InvolvementReference":"OCQ"}},"ServiceFeature":{"FeatureType":"StatementFeature","FeatureIdentification":{"IdentifierValue":"84483278","IdentifierIssuerReference":{"PartyReference":"PYWX","InvolvementReference":"PLWSLIDWO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.844394661Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.844443982Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"FeatureName":{"Name":"VAXWR"},"FeatureLifecycleStatus":{"StatusReason":"OCMGP","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.844515774Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.844566965Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.844609127Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EDVCTRWHA","InvolvementReference":"JBJUKYVG"}},"FeatureDescription":"LPRQ"}},{"ServiceInstanceReference":{"IdentifierValue":"38839108","IdentifierIssuerReference":{"PartyReference":"GKMTW","InvolvementReference":"KQDGPJGJK"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.844723300Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.844765161Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"ServiceIdentification":{"IdentifierValue":"52129191","IdentifierIssuerReference":{"PartyReference":"FSECHGWY","InvolvementReference":"MCVBHL"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.844834743Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.844874233Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"ServiceDescription":"OTLRC","ServiceType":"AdministrativeService","ServiceName":{"Name":"JRMBRJVDG"},"ServiceLifecycleStatus":{"StatusReason":"YMLPJBANU","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.844949475Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.844994647Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845034928Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"GRQ","InvolvementReference":"KFGDDXSU"}},"ServiceFeature":{"FeatureType":"OverdraftFeature","FeatureIdentification":{"IdentifierValue":"85973534","IdentifierIssuerReference":{"PartyReference":"VPJLHK","InvolvementReference":"TUXYA"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.845154011Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.845197982Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"FeatureName":{"Name":"WSGRG"},"FeatureLifecycleStatus":{"StatusReason":"FIWGNE","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845267564Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845314465Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845353996Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ZPJNAH","InvolvementReference":"IEAMFYZLLT"}},"FeatureDescription":"WGMYXSOET"}}],"AgreementReference":{"Agreement":"TSO"},"AgreementSignedDate":{"DateContent":"GROWMMRNVY"},"AgreementType":"PurchaseAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845475969Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845522141Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"AgreementVersion":"IQHINUVUVI","AgreementStatus":{"AgreementStatus":{"StatusReason":"FJZZZBHLBC","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845601143Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845653894Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.845696405Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"BMVKEDV","InvolvementReference":"QKTLIS"}},"AgreementStatusType":"Offered"},"AgreementSubjectMatter":"OSDCAPSOW","AgreementIdentification":{"IdentifierValue":"90090953","IdentifierIssuerReference":{"PartyReference":"LDZBUJYAC","InvolvementReference":"KRC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.845818598Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.845864069Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:52:09.845905980Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"AgreementDescription":"JCWNQQLYF"}}},"Product":{"type":"object","properties":{"ProductInstanceReference":{"$ref":"#/components/schemas/Identifier"},"ProductIdentification":{"$ref":"#/components/schemas/ProductIdentification"},"ProductName":{"$ref":"#/components/schemas/Name"},"ProductPriority":{"type":"string"},"ProductDescription":{"type":"string"},"ProductType":{"type":"string","enum":["LoanProduct","CurrentAccountProduct","SavingAccountProduct","BrokeredProduct","TermDepositProduct"]},"ProductLifecycleStatus":{"$ref":"#/components/schemas/ProductStatus"},"ProductVersion":{"type":"string"},"ProductFeature":{"$ref":"#/components/schemas/ProductFeature"}},"example":{"ProductInstanceReference":{"IdentifierValue":"11654862","IdentifierIssuerReference":{"PartyReference":"CEJG","InvolvementReference":"IEMXIWXR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.847080081Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.847136692Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"ProductIdentification":{"ProductIdentification":{"IdentifierValue":"27795739","IdentifierIssuerReference":{"PartyReference":"VPSD","InvolvementReference":"YOSTNCFFZ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.847269946Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:52:09.847314287Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"ProductIdentificationType":"CommercialDescriptionCodeName"},"ProductName":{"Name":"OJUL"},"ProductPriority":"SSOAPUL","ProductDescription":"JOOS","ProductType":"BrokeredProduct","ProductLifecycleStatus":{"ProductStatus":{"StatusReason":"YPI","StatusDateTime":{"DateTimeContent":"2026-05-04T13:52:09.847589914Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:52:09.847651356Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:52:09.847699327Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"SBCNGM","InvolvementReference":"KBFN"}},"ProductStatusType":"Initiated"},"ProductVersion":"GPCONDB","ProductFeature":{"ProductFeatureType":"BankingService","ProductFeatureSpecification":"TIENID","ProductFeatureIdentification":{"IdentifierValue":"47942760","IdentifierIssuerReference":{"PartyReference":"VHF","InvolvementReference":"LDF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:52:09.938282299Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"fa
[...]
