{"openapi":"3.0.1","info":{"title":"Customer Offer","description":"Manages the process of preparing and presenting a product or service offer to a customer, following BIAN 'Customer Offer' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/v1/customer-offer/{customer-offer-id}/update":{"put":{"tags":["CR - CustomerOfferProcedure - v14"],"summary":"UpCR Update details of an offer procedure","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-offer/{customer-offer-id}/product-initialization/{product-initialization-id}/update":{"put":{"tags":["BQ - ProductInitialization - v14"],"summary":"UpBQ Update details of the product initiation request","operationId":"UpdateProductInitialization","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-initialization-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInitializationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInitializationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-offer/{customer-offer-id}/agreement/{agreement-id}/update":{"put":{"tags":["BQ - Agreement - v14"],"summary":"UpBQ Update details of the customer agreement","operationId":"UpdateAgreement","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgreementDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgreementDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/update":{"put":{"tags":["CR - CustomerOfferProcedure - stub"],"summary":"UpCR Update details of an offer procedure","operationId":"Update_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/under-writing/{under-writing-id}/update":{"put":{"tags":["BQ - Underwriting - stub"],"summary":"UpBQ Update submitted materials for the underwriting decision","operationId":"UpdateUnderwriting","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"under-writing-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnderwritingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnderwritingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/request":{"put":{"tags":["CR - CustomerOfferProcedure - stub"],"summary":"RqCR Request manual intervention in an offer (e.g. request specialist support)","operationId":"Request","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/product-initialization/{product-initialization-id}/update":{"put":{"tags":["BQ - ProductInitialization - stub"],"summary":"UpBQ Update details of the product initiation request","operationId":"UpdateProductInitialization_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-initialization-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInitializationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInitializationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/facility-application/{facility-application-id}/update":{"put":{"tags":["BQ - FacilityApplication - stub"],"summary":"UpBQ Update product options and pricing terms","operationId":"UpdateFacilityApplication","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"facility-application-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacilityApplicationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacilityApplicationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/facility-application/{facility-application-id}/exchange":{"put":{"tags":["BQ - FacilityApplication - stub"],"summary":"EcBQ Accept, reject etc product options and pricing terms","operationId":"ExchangeFacilityApplication","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"facility-application-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacilityApplicationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacilityApplicationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/execute":{"put":{"tags":["CR - CustomerOfferProcedure - stub"],"summary":"ExCR Execute an automated task against an offer (e.g. submit data)","operationId":"Execute","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/exchange":{"put":{"tags":["CR - CustomerOfferProcedure - stub"],"summary":"EcCR Accept, reject, verify, etc an offer procedure","operationId":"Exchange","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/disclosures/{disclosures-id}/update":{"put":{"tags":["BQ - Disclosures - stub"],"summary":"UpBQ Update disclosure submission","operationId":"UpdateDisclosures","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"disclosures-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisclosuresDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisclosuresDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/disclosures/{disclosures-id}/exchange":{"put":{"tags":["BQ - Disclosures - stub"],"summary":"EcBQ Accept, reject etc. disclosures","operationId":"ExchangeDisclosures","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"disclosures-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisclosuresDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisclosuresDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/credit/{credit-id}/update":{"put":{"tags":["BQ - Credit - stub"],"summary":"UpBQ Update credit submission details","operationId":"UpdateCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"credit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/correspondence-and-documents/{correspondence-and-documents-id}/update":{"put":{"tags":["BQ - CorrespondenceandDocuments - stub"],"summary":"UpBQ Update details about the correspondence and documents accessed and created by the offer","operationId":"UpdateCorrespondenceandDocuments","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"correspondence-and-documents-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorrespondenceAndDocumentsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorrespondenceAndDocumentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/correspondence-and-documents/{correspondence-and-documents-id}/exchange":{"put":{"tags":["BQ - CorrespondenceandDocuments - stub"],"summary":"EcBQ Accept, verify, etc. correspondence and documents","operationId":"ExchangeCorrespondenceandDocuments","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"correspondence-and-documents-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorrespondenceAndDocumentsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorrespondenceAndDocumentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/control":{"put":{"tags":["CR - CustomerOfferProcedure - stub"],"summary":"CoCR Control the processing of an offer (e.g. terminate)","operationId":"Control","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/compliance/{compliance-id}/update":{"put":{"tags":["BQ - Compliance - stub"],"summary":"UpBQ Update details submitted for compliance checks","operationId":"UpdateCompliance","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"compliance-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/collateral-allocation/{collateral-allocation-id}/update":{"put":{"tags":["BQ - CollateralAllocation - stub"],"summary":"UpBQ Update details of the collateral allocation","operationId":"UpdateCollateralAllocation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"collateral-allocation-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollateralAllocationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollateralAllocationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/collateral-allocation/{collateral-allocation-id}/exchange":{"put":{"tags":["BQ - CollateralAllocation - stub"],"summary":"EcBQ Accept, reject etc. the collateral allocation","operationId":"ExchangeCollateralAllocation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"collateral-allocation-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollateralAllocationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollateralAllocationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/booking/{booking-id}/update":{"put":{"tags":["BQ - Booking - stub"],"summary":"UpBQ Update details of the offer asset and liability booking","operationId":"UpdateBooking","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"booking-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/audit/{audit-id}/update":{"put":{"tags":["BQ - Audit - stub"],"summary":"UpBQ Update details of submitted materials for audit checks","operationId":"UpdateAudit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"audit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/agreement/{agreement-id}/update":{"put":{"tags":["BQ - Agreement - stub"],"summary":"UpBQ Update details of the customer agreement","operationId":"UpdateAgreement_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgreementDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgreementDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/agreement/{agreement-id}/exchange":{"put":{"tags":["BQ - Agreement - stub"],"summary":"EcBQ Accept, verify, etc. actions against the customer and product agreements","operationId":"ExchangeAgreement","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgreementDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgreementDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-offer-config/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-offer/initiate":{"post":{"tags":["CR - CustomerOfferProcedure - v14"],"summary":"InCR Initiate the offer procedure","operationId":"Initiate","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/initiate":{"post":{"tags":["CR - CustomerOfferProcedure - stub"],"summary":"InCR Initiate the offer procedure","operationId":"Initiate_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-offer/{customer-offer-id}/retrieve":{"get":{"tags":["CR - CustomerOfferProcedure - v14"],"summary":"ReCR Retrieve details about a customer offer","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-offer/{customer-offer-id}/product-initialization/{product-initialization-id}/retrieve":{"get":{"tags":["BQ - ProductInitialization - v14"],"summary":"ReBQ Retrieve details about the product initiation request","operationId":"RetrieveProductInitialization","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-initialization-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInitializationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-offer/{customer-offer-id}/agreement/{agreement-id}/retrieve":{"get":{"tags":["BQ - Agreement - v14"],"summary":"ReBQ Retrieve details about the agreements impacted and created as part of the offer","operationId":"RetrieveAgreement","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgreementDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/under-writing/{under-writing-id}/retrieve":{"get":{"tags":["BQ - Underwriting - stub"],"summary":"ReBQ Retrieve details about the underwriting decision","operationId":"RetrieveUnderwriting","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"under-writing-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnderwritingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/retrieve":{"get":{"tags":["CR - CustomerOfferProcedure - stub"],"summary":"ReCR Retrieve details about a customer offer","operationId":"Retrieve_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOfferProcedureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/product-initialization/{product-initialization-id}/retrieve":{"get":{"tags":["BQ - ProductInitialization - stub"],"summary":"ReBQ Retrieve details about the product initiation request","operationId":"RetrieveProductInitialization_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"product-initialization-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInitializationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/facility-application/{facility-application-id}/retrieve":{"get":{"tags":["BQ - FacilityApplication - stub"],"summary":"ReBQ Retrieve details about product options and pricing terms","operationId":"RetrieveFacilityApplication","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"facility-application-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacilityApplicationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/disclosures/{disclosures-id}/retrieve":{"get":{"tags":["BQ - Disclosures - stub"],"summary":"ReBQ Retrieve details about disclosure submissions","operationId":"RetrieveDisclosures","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"disclosures-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisclosuresDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/credit/{credit-id}/retrieve":{"get":{"tags":["BQ - Credit - stub"],"summary":"ReBQ Retrieve details about the credit submission","operationId":"RetrieveCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"credit-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/correspondence-and-documents/{correspondence-and-documents-id}/retrieve":{"get":{"tags":["BQ - CorrespondenceandDocuments - stub"],"summary":"ReBQ Retrieve details about correspondence and documents from the customer offer procedure","operationId":"RetrieveCorrespondenceandDocuments","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"correspondence-and-documents-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorrespondenceAndDocumentsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/compliance/{compliance-id}/retrieve":{"get":{"tags":["BQ - Compliance - stub"],"summary":"ReBQ Retrieve details of the regulatory compliance assessment","operationId":"RetrieveCompliance","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"compliance-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/collateral-allocation/{collateral-allocation-id}/retrieve":{"get":{"tags":["BQ - CollateralAllocation - stub"],"summary":"ReBQ Retrieve details about the collateral allocation","operationId":"RetrieveCollateralAllocation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"collateral-allocation-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollateralAllocationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/booking/{booking-id}/retrieve":{"get":{"tags":["BQ - Booking - stub"],"summary":"ReBQ Retrieve details about the booking","operationId":"RetrieveBooking","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"booking-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/audit/{audit-id}/retrieve":{"get":{"tags":["BQ - Audit - stub"],"summary":"ReBQ Retrieve details of the compliance assessment","operationId":"RetrieveAudit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"audit-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-offer/{customer-offer-id}/agreement/{agreement-id}/retrieve":{"get":{"tags":["BQ - Agreement - stub"],"summary":"ReBQ Retrieve details about the agreements impacted and created as part of the offer","operationId":"RetrieveAgreement_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-offer-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgreementDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-offer-config/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfigDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-offer-config/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"AgreementStatusDTO":{"type":"object","properties":{"AgreementStatus":{"$ref":"#/components/schemas/StatusDTO"},"AgreementStatusType":{"type":"string","description":"Enum for Agreement Status Type Values","enum":["Offered","Confirmed","Completed","Signed","Terminated","Rejected"]}},"example":{"AgreementStatus":{"StatusReason":"LAAFTP","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.394441854Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.394586557Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.394626228Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"VEWUZQJ","InvolvementReference":"SPINZRIZ"}},"AgreementStatusType":"Rejected"}},"AssetClassificationTypeValuesDTO":{"type":"object","properties":{"Assetclassificationtypevalues":{"type":"string"}},"example":{"Assetclassificationtypevalues":"AUEMTLPY"}},"ConditionDTO":{"type":"object","properties":{"ConditionIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"ConditionName":{"$ref":"#/components/schemas/NameDTO"},"ConditionValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"ConditionDateAndTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ConditionStatus":{"type":"string","description":"Enum for Condition Status Type Values","enum":["Defined","Pending","Activated","Evaluated","Fulfilled","Violated","Expired","Archived"]},"ConditionDescription":{"type":"string"},"ConditionType":{"type":"string","description":"Enum for Term and Condition Type Values","enum":["CommissionTermAndCondition","LegalTermAndCondition","RegulatoryTermAndCondition","PolicyTermAndCondition","RestrictionTermAndCondition","PreferenceTermAndCondition","InvestmentTermAndCondition","MandateTermAndCondition","OperationalTermAndCondition","ProductTermAndCondition","AgreementTermAndCondition","RelationshipTermAndCondition","ConfidentialTermAndCondition"]},"FeatureType":{"type":"string","description":"Enum for Feature Type Values","enum":["FeeFeature","InterestFeature","WithdrawalFeature","DepositFeature","SweepFeature","LienFeature","PaymentFeature","RepaymentFeature","LimitFeature","OverdraftFeature","StatementFeature","CurrencyExchangeFeature","PriceFeature"]},"FeatureIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"FeatureName":{"$ref":"#/components/schemas/NameDTO"},"FeatureLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"},"FeatureDescription":{"type":"string"}},"example":{"ConditionIdentification":{"IdentifierValue":"PYWB","IdentifierIssuerReference":{"PartyReference":"YRJQJNJHXC","InvolvementReference":"OYTA"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.395696646Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.395730027Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"ConditionName":{"Name":"GCPUOU"},"ConditionValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.395803089Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.395821Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"ConditionDateAndTime":{"DateTimeContent":"2026-05-04T13:06:02.395869301Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ConditionStatus":"Activated","ConditionDescription":"SSWPOU","ConditionType":"PreferenceTermAndCondition","FeatureType":"WithdrawalFeature","FeatureIdentification":{"IdentifierValue":"RDWQCCIDGH","IdentifierIssuerReference":{"PartyReference":"UBHO","InvolvementReference":"RPE"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.395967194Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.395982334Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"FeatureName":{"Name":"EGZWBKHQMM"},"FeatureLifecycleStatus":{"StatusReason":"IMUDEAZ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.396029995Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.396048346Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.396062456Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"StatusInvolvedPartyReference":{"PartyReference":"AUMYDS","InvolvementReference":"WQKJZTQP"}},"FeatureDescription":"HEURYZFAZS"}},"CustomerOfferDTO":{"type":"object","properties":{"CustomerOffer":{"type":"string"}},"example":{"CustomerOffer":"DSUYELWVS"}},"CustomerOfferInvolvementDTO":{"type":"object","properties":{"InvolvementType":{"type":"string","description":"Enum for Customer Offer Involvement Type Values","enum":["Customer","ServiceProvider","SalesTeam","MarketingTeam","LegalAndComplianceTeam","AnalyticsAndReporting"]},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"},"CustomerOfferReference":{"$ref":"#/components/schemas/CustomerOfferDTO"}},"example":{"InvolvementType":"AnalyticsAndReporting","PartyReference":{"PartyName":{"Name":"WIZEE"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-04T13:06:02.396985900Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"PartyIdentification":{"PartyIdentificationType":"ForeignInvestmentIdentityNumber","PartyIdentification":{"IdentifierValue":"GCPKC","IdentifierIssuerReference":{"PartyReference":"VXMMX","InvolvementReference":"OHLRQARM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.397057482Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.397093163Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}}},"PartyLegalStructureType":"GeneralPartnership","PartyActivityIndicator":{"Industrycode":"BNYFI"}},"CustomerOfferReference":{"CustomerOffer":"GZNDEFRP"}}},"CustomerOfferProcedureDTO":{"type":"object","properties":{"CustomerReference":{"$ref":"#/components/schemas/CustomerRelationshipDTO"},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"},"ProductandServiceType":{"type":"string","description":"Enum for Product Agreement Type Values","enum":["CurrentAccountAgreement","SavingsAccountAgreement","BrokeredProductAgreement","ConsumerLoanAgreement","MortgageLoanAgreement","DirectDebitServiceAgreement","TermDepositAgreement"]},"CustomerOfferProcessingSchedule":{"$ref":"#/components/schemas/ScheduleDTO"},"CustomerOfferProcessingTask":{"$ref":"#/components/schemas/WorkStepDTO"},"CustomerOfferProcessingTaskType":{"$ref":"#/components/schemas/WorkStepTypeValuesDTO"},"EmployeeBusinessUnitReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"CustomerOfferProcessingTaskWorkProducts":{"$ref":"#/components/schemas/WorkProductDTO"},"CustomerOfferProcessingTaskResult":{"type":"string"},"CustomerOfferInvolvedParty":{"$ref":"#/components/schemas/CustomerOfferInvolvementDTO"},"CustomerOfferReference":{"type":"string"},"OfferTermAndCondition":{"type":"array","items":{"$ref":"#/components/schemas/ConditionDTO"}},"ProductAgreementReference":{"$ref":"#/components/schemas/ProductAgreementDTO"},"ProductandServiceReference":{"$ref":"#/components/schemas/ProductDTO"}},"example":{"CustomerReference":{"RelationshipType":"DCSS","RelationshipValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483080887Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483125758Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"RelationshipStartDate":{"DateTimeContent":"2026-05-04T13:06:02.483173539Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"RelationshipEndDate":{"DateTimeContent":"2026-05-04T13:06:02.483218311Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"RelationshipLifecycleStatus":{"StatusReason":"RJL","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483277162Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483313133Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483337474Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"DFTDO","InvolvementReference":"TCQBQYYCQZ"}},"RelationshipIdentification":{"IdentifierValue":"BYW","IdentifierIssuerReference":{"PartyReference":"LXCO","InvolvementReference":"KDJCFCQVA"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.483428966Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.483455617Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}}},"PartyReference":{"PartyName":{"Name":"WEPKVTNSEW"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483543179Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"PartyIdentification":{"PartyIdentificationType":"LEI_LegalEntityIdentifier","PartyIdentification":{"IdentifierValue":"QAURL","IdentifierIssuerReference":{"PartyReference":"DND","InvolvementReference":"RUGUFPWIKS"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.483608251Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.483633291Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}}},"PartyLegalStructureType":"PublicLimitedCompany","PartyActivityIndicator":{"Industrycode":"YPOQZVATXJ"}},"ProductandServiceType":"CurrentAccountAgreement","CustomerOfferProcessingSchedule":{"ScheduleType":"CUAMZ"},"CustomerOfferProcessingTask":{"WorkstepResult":"DIWETOER","WorkstepType":{"Worksteptypevalues":"WKEU"},"WorkstepDescription":"YXGLYIBAGJ","WorkstepDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483863128Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"WorkstepStatus":{"StatusReason":"FWOF","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483915459Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483944079Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.483967200Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"VAPYR","InvolvementReference":"QWOUZXXF"}},"WorkstepWorkproduct":{"WorkProductType":"MeetingSchedule","WorkProductIdentifoication":{"IdentifierValue":"FLXZDIYS","IdentifierIssuerReference":{"PartyReference":"NYA","InvolvementReference":"SPEITX"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.484084033Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.484110884Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}}}},"CustomerOfferProcessingTaskType":{"Worksteptypevalues":"WYLAQR"},"EmployeeBusinessUnitReference":{"PartyReference":"SWYVF","InvolvementReference":"TYQOB"},"CustomerOfferProcessingTaskWorkProducts":{"WorkProductType":"WorkingPaper","WorkProductIdentifoication":{"IdentifierValue":"YIH","IdentifierIssuerReference":{"PartyReference":"JOGHCGK","InvolvementReference":"KDIZCTGSXQ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.484287579Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.484317129Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}}},"CustomerOfferProcessingTaskResult":"XFCQKC","CustomerOfferInvolvedParty":{"InvolvementType":"LegalAndComplianceTeam","PartyReference":{"PartyName":{"Name":"FRCMGD"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04T13:06:02.484411242Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"PartyIdentification":{"PartyIdentificationType":"LEI_LegalEntityIdentifier","PartyIdentification":{"IdentifierValue":"HEAZII","IdentifierIssuerReference":{"PartyReference":"QHDVWXYYQ","InvolvementReference":"CUNWMD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.484477673Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.484500914Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}}},"PartyLegalStructureType":"ScottishLimitedPartnership","PartyActivityIndicator":{"Industrycode":"WUAJS"}},"CustomerOfferReference":{"CustomerOffer":"FDRZOADV"}},"CustomerOfferReference":"NMTV","OfferTermAndCondition":[{"ConditionIdentification":{"IdentifierValue":"JUEB","IdentifierIssuerReference":{"PartyReference":"KRKUDKSKC","InvolvementReference":"QJVXN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.484864943Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.484897174Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"ConditionName":{"Name":"HRQYY"},"ConditionValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.484964816Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.484995587Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"ConditionDateAndTime":{"DateTimeContent":"2026-05-04T13:06:02.485025238Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ConditionStatus":"Expired","ConditionDescription":"IAHQVNYIM","ConditionType":"ConfidentialTermAndCondition","FeatureType":"LienFeature","FeatureIdentification":{"IdentifierValue":"QICAMT","IdentifierIssuerReference":{"PartyReference":"JSRZIAYL","InvolvementReference":"MAEBPT"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.485615753Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.485652764Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"FeatureName":{"Name":"NKHGQDIKR"},"FeatureLifecycleStatus":{"StatusReason":"ODVDBBUDKZ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.485705976Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.485736556Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.485759697Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"DYCNNOC","InvolvementReference":"IGRJANEN"}},"FeatureDescription":"MVMCGFJY"},{"ConditionIdentification":{"IdentifierValue":"FMZPEGEAYM","IdentifierIssuerReference":{"PartyReference":"PMBNS","InvolvementReference":"BJPH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.485831249Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.485849549Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"ConditionName":{"Name":"AACY"},"ConditionValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.485880500Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.485897990Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"ConditionDateAndTime":{"DateTimeContent":"2026-05-04T13:06:02.485915681Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"ConditionStatus":"Fulfilled","ConditionDescription":"JTUUNWUSJ","ConditionType":"OperationalTermAndCondition","FeatureType":"InterestFeature","FeatureIdentification":{"IdentifierValue":"CHMRPDTGNE","IdentifierIssuerReference":{"PartyReference":"BJPOTHGZT","InvolvementReference":"HYEGFQ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.485975132Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.485995683Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"FeatureName":{"Name":"HFM"},"FeatureLifecycleStatus":{"StatusReason":"PDQDHHJ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.486048934Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.486075685Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.486093706Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"HNS","InvolvementReference":"XSSJDOPBEA"}},"FeatureDescription":"DYHKTQHC"},{"ConditionIdentification":{"IdentifierValue":"ABEBRE","IdentifierIssuerReference":{"PartyReference":"JQMGB","InvolvementReference":"SEGYGLLCC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.486159357Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.486178118Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"ConditionName":{"Name":"SNIJAIDSPH"},"ConditionValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.486209189Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.486227029Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"ConditionDateAndTime":{"DateTimeContent":"2026-05-04T13:06:02.486246690Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"ConditionStatus":"Fulfilled","ConditionDescription":"AET","ConditionType":"RegulatoryTermAndCondition","FeatureType":"CurrencyExchangeFeature","FeatureIdentification":{"IdentifierValue":"WIM","IdentifierIssuerReference":{"PartyReference":"BTSOQMZRM","InvolvementReference":"SKEXSEH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.487122493Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.487149963Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"FeatureName":{"Name":"NHTWOCKHU"},"FeatureLifecycleStatus":{"StatusReason":"YGF","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.487189544Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.487215255Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.487251626Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"KKIAUUZZO","InvolvementReference":"ENT"}},"FeatureDescription":"GLJV"}],"ProductAgreementReference":{"ProductAgreementType":"ConsumerLoanAgreement","ProductAgreementIdentification":{"IdentifierValue":"SROYWCC","IdentifierIssuerReference":{"PartyReference":"YONQPWYMW","InvolvementReference":"PEDNYANAJQ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.487448571Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.487483522Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"AgreementSignedDate":{"DateContent":"XXTLNQAJH"},"AgreementType":"BilateralAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.487620766Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.487660347Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"AgreementVersion":"DMLWC","AgreementStatus":{"AgreementStatus":{"StatusReason":"XSUEVDJASJ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.487742529Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.581673271Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.581759903Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"POCXWS","InvolvementReference":"BXEGBYQUR"}},"AgreementStatusType":"Completed"},"AgreementSubjectMatter":"ZKZIYYRJLS","AgreementIdentification":{"IdentifierValue":"VRXPGR","IdentifierIssuerReference":{"PartyReference":"SMHZ","InvolvementReference":"RSII"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.582106773Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.582172384Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:06:02.582222045Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"AgreementDescription":"TZGXPIQ"},"ProductandServiceReference":{"ProductIdentification":{"ProductIdentification":{"IdentifierValue":"NYPMFD","IdentifierIssuerReference":{"PartyReference":"CPWCP","InvolvementReference":"SWTQZOK"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.582463962Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.582493892Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"ProductIdentificationType":"HarmonizedTariffCodeName"},"ProductType":"CurrentAccountProduct","ProductLifecycleStatus":{"ProductStatus":{"StatusReason":"PUMT","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.582723418Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.582754229Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.582807081Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"StatusInvolvedPartyReference":{"PartyReference":"GCLOD","InvolvementReference":"WCNVUOHJ"}},"ProductStatusType":"Sold"},"ProductPriority":"QOLWTG","ProductDescription":"QJSWAC","ProductVersion":"PZDIYT","ProductName":{"Name":"MKUJRRQV"},"FinancialInstrumentType":"LetterOfCredit","FinancialInstrumentIdentification":{"FinancialInstrumentIdentification":{"IdentifierValue":"ELDWQXIVOG","IdentifierIssuerReference":{"PartyReference":"CKMAHPFA","InvolvementReference":"YLUP"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.583305764Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.583357675Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"FinancialInstrumentIdentificationType":"NASDAQ"},"FinancialInstrumentName":{"Name":"XGSGZMVTSM"},"FinancialInstrumentDate":{"FinancialInstrumentDate":{"DateTimeContent":"2026-05-04T13:06:02.583556550Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"FinancialInstrumentDateType":"ExpiryDate"},"AssetTitle":"GQK","AssetIdentification":{"IdentifierValue":"BPVOMU","IdentifierIssuerReference":{"PartyReference":"QDZVOE","InvolvementReference":"FRVI"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.584559306Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.584586667Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"AssetType":"PersonalAsset","AssetDescription":"YMF","AssetStatus":{"StatusReason":"TGRECAWD","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.584678980Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.584707170Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.584728381Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"YILK","InvolvementReference":"DPB"}},"AssetDate":{"DateTimeContent":"2026-05-04T13:06:02.584782572Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"AssetClassification":"DWZ","AssetClassificationType":{"Assetclassificationtypevalues":"APFBN"},"AssetSubClassificationType":"UnderlyingReferenceEntity","AssetSubClassification":"RXDDPDXRT"}}},"CustomerRelationshipDTO":{"type":"object","properties":{"RelationshipType":{"type":"string"},"RelationshipValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"RelationshipStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"RelationshipEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"RelationshipLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"},"RelationshipIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"RelationshipType":"OOVNDHUIU","RelationshipValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.586166368Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.586199729Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"RelationshipStartDate":{"DateTimeContent":"2026-05-04T13:06:02.586229490Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"RelationshipEndDate":{"DateTimeContent":"2026-05-04T13:06:02.586256711Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"RelationshipLifecycleStatus":{"StatusReason":"LQENYBXOOI","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.586290451Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.586318292Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.586340463Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"YGOAA","InvolvementReference":"HMYHWB"}},"RelationshipIdentification":{"IdentifierValue":"KZAXIIZKBB","IdentifierIssuerReference":{"PartyReference":"CCXECZAUQ","InvolvementReference":"OLYVJKUWOM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.586402174Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.586423355Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}}}},"DateDTO":{"type":"object","properties":{"DateContent":{"type":"string"}},"example":{"DateContent":"WANYZ"}},"DateTimeDTO":{"type":"object","properties":{"DateTimeContent":{"type":"string"},"TimeZoneCode":{"type":"string"},"DaylightSavingIndicator":{"type":"string"},"DateTimeType":{"type":"string","description":"Enum for Date Time Type Values","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate","EntryDate"]}},"example":{"DateTimeContent":"2026-05-04T13:06:02.587463632Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"DateTimePeriodDTO":{"type":"object","properties":{"FromDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ToDateTime":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.592364081Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.592400451Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}}},"FinancialInstrumentDateTimeDTO":{"type":"object","properties":{"FinancialInstrumentDate":{"$ref":"#/components/schemas/DateTimeDTO"},"FinancialInstrumentDateType":{"type":"string","description":"Enum for Financial Instrument Date Time Type Values","enum":["CouponDate","ExpiryDate","FloatingRateFixingDate","MaturityDate","IssueDate","NextCallableDate","PutableDate","DatedDate","FirstPaymentDate"]}},"example":{"FinancialInstrumentDate":{"DateTimeContent":"2026-05-04T13:06:02.592920375Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"FinancialInstrumentDateType":"FirstPaymentDate"}},"FinancialInstrumentIdentificationDTO":{"type":"object","properties":{"FinancialInstrumentIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"FinancialInstrumentIdentificationType":{"type":"string","description":"Enum for Financial Instrument Identification Type Values","enum":["NASDAQ","ISIN"]}},"example":{"FinancialInstrumentIdentification":{"IdentifierValue":"FBTPEIDURC","IdentifierIssuerReference":{"PartyReference":"PTDT","InvolvementReference":"CASPGTCRD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.593544862Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.593578482Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"FinancialInstrumentIdentificationType":"NASDAQ"}},"IdentifierDTO":{"type":"object","properties":{"IdentifierValue":{"type":"string"},"IdentifierIssuerReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"IdentifierStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"IdentifierEndDate":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"IdentifierValue":"ZFEHH","IdentifierIssuerReference":{"PartyReference":"SMXLTPM","InvolvementReference":"MFYIMNMVYR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.594224530Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.594257870Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}}},"IndustryCodeDTO":{"type":"object","properties":{"Industrycode":{"type":"string"}},"example":{"Industrycode":"LTVCJXG"}},"InvolvedPartyDTO":{"type":"object","properties":{"PartyReference":{"type":"string"},"InvolvementReference":{"type":"string"}},"example":{"PartyReference":"ASYXBD","InvolvementReference":"UOAGOEGH"}},"NameDTO":{"type":"object","properties":{"Name":{"type":"string"}},"example":{"Name":"JXGZPQSCGE"}},"PartyDTO":{"type":"object","properties":{"PartyName":{"$ref":"#/components/schemas/NameDTO"},"PartyType":{"type":"string","description":"Enum for Party Type Values","enum":["Person","Organisation"]},"PartyDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"PartyIdentification":{"$ref":"#/components/schemas/PartyIdentificationDTO"},"PartyLegalStructureType":{"type":"string","description":"Enum for Party Legal Structure Type Values","enum":["Individual","CommunityInterestCompany","CharitableIncorporatedOrganisation","Co_Operative","Charity","GeneralPartnership","LimitedLiabilityPartnership","ScottishLimitedPartnership","LimitedPartnership","PrivateLimitedCompany","PublicLimitedCompany","Sole_SoleTrader"]},"PartyActivityIndicator":{"$ref":"#/components/schemas/IndustryCodeDTO"}},"example":{"PartyName":{"Name":"APURQ"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-04T13:06:02.595876883Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"PartyIdentification":{"PartyIdentificationType":"DriverLicenseNumber","PartyIdentification":{"IdentifierValue":"HADGYWL","IdentifierIssuerReference":{"PartyReference":"SRQXWF","InvolvementReference":"UTYNQEFO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.595922994Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.595937344Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}}},"PartyLegalStructureType":"PrivateLimitedCompany","PartyActivityIndicator":{"Industrycode":"KVDWBU"}}},"PartyIdentificationDTO":{"type":"object","properties":{"PartyIdentificationType":{"type":"string","description":"Enum for Party Identification Type Values","enum":["TaxIdentificationNumber","NationalRegistrationNumber","RegistrationAuthorityIdentification","LEI_LegalEntityIdentifier","AlienRegistrationNumber","PassportNumber","TaxExemptIdentificationNumber","CorporateIdentification","DriverLicenseNumber","ForeignInvestmentIdentityNumber","SocialSecurityNumber","IdentityCardNumber","Concat","NationalRegistrationIdentificationNumber"]},"PartyIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"PartyIdentificationType":"TaxExemptIdentificationNumber","PartyIdentification":{"IdentifierValue":"LUQJYL","IdentifierIssuerReference":{"PartyReference":"NGXBRDALK","InvolvementReference":"FGFAE"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.596367306Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.596386576Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}}}},"ProductAgreementDTO":{"type":"object","properties":{"ProductAgreementType":{"type":"string","description":"Enum for Product Agreement Type Values","enum":["CurrentAccountAgreement","SavingsAccountAgreement","BrokeredProductAgreement","ConsumerLoanAgreement","MortgageLoanAgreement","DirectDebitServiceAgreement","TermDepositAgreement"]},"ProductAgreementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"AgreementSignedDate":{"$ref":"#/components/schemas/DateDTO"},"AgreementType":{"type":"string","description":"Enum for Agreement Type Values","enum":["CustomerAgreement","SupplierAgreement","BrokerAgreement","SalesAgreement","PurchaseAgreement","MaintenanceAgreement","ProductAgreement","ResourceAgreement","PartnerAgreement","MasterAgreement","BilateralAgreement","RepurchaseAgreement"]},"AgreementValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"AgreementVersion":{"type":"string"},"AgreementStatus":{"$ref":"#/components/schemas/AgreementStatusDTO"},"AgreementSubjectMatter":{"type":"string"},"AgreementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"AgreementDate":{"$ref":"#/components/schemas/DateTimeDTO"},"AgreementDescription":{"type":"string"}},"example":{"ProductAgreementType":"BrokeredProductAgreement","ProductAgreementIdentification":{"IdentifierValue":"IXJVSFDCM","IdentifierIssuerReference":{"PartyReference":"TII","InvolvementReference":"NVIITKT"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.596929430Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.596949491Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"AgreementSignedDate":{"DateContent":"KIGHD"},"AgreementType":"ResourceAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.596979572Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.596994922Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"AgreementVersion":"GUETK","AgreementStatus":{"AgreementStatus":{"StatusReason":"TCOBCTSSSW","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.597020783Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.597037073Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.597050764Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"BKH","InvolvementReference":"YSVXCB"}},"AgreementStatusType":"Signed"},"AgreementSubjectMatter":"OSM","AgreementIdentification":{"IdentifierValue":"HEWNGA","IdentifierIssuerReference":{"PartyReference":"BEHRPYR","InvolvementReference":"ICOOSGPVPE"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.681366574Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.681422915Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:06:02.681459296Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"AgreementDescription":"LZVJB"}},"ProductDTO":{"type":"object","properties":{"ProductIdentification":{"$ref":"#/components/schemas/ProductIdentificationDTO"},"ProductType":{"type":"string","description":"Enum for Banking Product Type Values","enum":["LoanProduct","CurrentAccountProduct","SavingAccountProduct","BrokeredProduct","TermDepositProduct"]},"ProductLifecycleStatus":{"$ref":"#/components/schemas/ProductStatusDTO"},"ProductPriority":{"type":"string"},"ProductDescription":{"type":"string"},"ProductVersion":{"type":"string"},"ProductName":{"$ref":"#/components/schemas/NameDTO"},"FinancialInstrumentType":{"type":"string","description":"Enum for Financial Instrument Type Values","enum":["Loan","Bond","Deposit","Stock","Option","Share","Debt","LetterOfCredit","Security","Derivative"]},"FinancialInstrumentIdentification":{"$ref":"#/components/schemas/FinancialInstrumentIdentificationDTO"},"FinancialInstrumentName":{"$ref":"#/components/schemas/NameDTO"},"FinancialInstrumentDate":{"$ref":"#/components/schemas/FinancialInstrumentDateTimeDTO"},"AssetTitle":{"type":"string"},"AssetIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"AssetType":{"type":"string","description":"Enum for Asset Type Values","enum":["TangibleAsset","IntangibleAsset","OperatingAsset","NonOperatingAsset","CurrentAsset","NonCurrentFixedAsset","PersonalAsset","BusinessAsset"]},"AssetDescription":{"type":"string"},"AssetStatus":{"$ref":"#/components/schemas/StatusDTO"},"AssetDate":{"$ref":"#/components/schemas/DateTimeDTO"},"AssetClassification":{"type":"string"},"AssetClassificationType":{"$ref":"#/components/schemas/AssetClassificationTypeValuesDTO"},"AssetSubClassificationType":{"type":"string","description":"Enum for Asset Sub Classification Type Values","enum":["SubAssetClass","TimeToMaturityBucket","OptionTimeToMaturityBucket","SwapTimeToMaturityBucket","UnderlyingInstrumentIdentification","UnderlyingBondIssuer","UnderlyingInterestRate","UnderlyingBondTerm","AssetClass","UnderlyingIndexIdentification","InterestRateTermOfContract","UnderlyingReferenceEntity","SovereignAndPublicTypeIssuer","IRDNotionalCurrency1","FEXNotionalCurrency1","CFDNotionalCurrency1","FEXNotionalCurrency2","IRDNotionalCurrency2","CFDNotionalCurrency2","SwaptionNotionalCurrency","CreditNotionalCurrency","CommodityNotionalCurrency","ContractType","BaseProduct","SubProduct","FurtherSubProduct","DeliveryCashLocation","DeliverySettlementType","SizeSpecificationRelatedToFreightSubType","SpecificRouteTimeCharterAverage","EquityUnderlyingType","Parameter","InflationIndexCodeName","ISIN","UnderlyingIndexCDSSubClassIdentification","UnderlyingType"]},"AssetSubClassification":{"type":"string"}},"example":{"ProductIdentification":{"ProductIdentification":{"IdentifierValue":"DEKDQFAAL","IdentifierIssuerReference":{"PartyReference":"UPCQ","InvolvementReference":"CNVLTCFZW"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.683004657Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.683053658Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"ProductIdentificationType":"EAN"},"ProductType":"SavingAccountProduct","ProductLifecycleStatus":{"ProductStatus":{"StatusReason":"XTCM","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.683380466Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.683832068Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.683865129Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ZOGYMGBZH","InvolvementReference":"JBZCXPE"}},"ProductStatusType":"Initiated"},"ProductPriority":"JDJA","ProductDescription":"YLOJSRJ","ProductVersion":"LPTMEIQY","ProductName":{"Name":"NJZTSILIS"},"FinancialInstrumentType":"Share","FinancialInstrumentIdentification":{"FinancialInstrumentIdentification":{"IdentifierValue":"QIDWOUHG","IdentifierIssuerReference":{"PartyReference":"SAHQA","InvolvementReference":"TMRIIP"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.683983042Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.684007233Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"FinancialInstrumentIdentificationType":"NASDAQ"},"FinancialInstrumentName":{"Name":"NTAJOP"},"FinancialInstrumentDate":{"FinancialInstrumentDate":{"DateTimeContent":"2026-05-04T13:06:02.684058964Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"FinancialInstrumentDateType":"DatedDate"},"AssetTitle":"ONISG","AssetIdentification":{"IdentifierValue":"JISUDWS","IdentifierIssuerReference":{"PartyReference":"OPCWOFY","InvolvementReference":"GZLRCSOZRM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.684125886Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.684153447Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"AssetType":"NonCurrentFixedAsset","AssetDescription":"GVSNI","AssetStatus":{"StatusReason":"YVTTAII","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.684198888Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.684227479Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.684250639Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"KFAEHI","InvolvementReference":"VFLOPA"}},"AssetDate":{"DateTimeContent":"2026-05-04T13:06:02.684293700Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"AssetClassification":"GWUSCD","AssetClassificationType":{"Assetclassificationtypevalues":"GPSAJHFW"},"AssetSubClassificationType":"OptionTimeToMaturityBucket","AssetSubClassification":"KNBGU"}},"ProductIdentificationDTO":{"type":"object","properties":{"ProductIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"ProductIdentificationType":{"type":"string","description":"Enum for Product Identification Type Values","enum":["ISINCode","PackageCode","BuyersItemNumber","CommercialDescriptionCodeName","EAN","HarmonizedTariffCodeName","ManufacturersItemNumber","ModelNumber","PartNumber","QuotaCategory","StyleNumber","SuppliersItemNumber","UniversalProductCode"]}},"example":{"ProductIdentification":{"IdentifierValue":"SLZOHZEO","IdentifierIssuerReference":{"PartyReference":"CJLZQXKEM","InvolvementReference":"RDVEKOFVX"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.685043050Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.685075401Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"ProductIdentificationType":"CommercialDescriptionCodeName"}},"ProductStatusDTO":{"type":"object","properties":{"ProductStatus":{"$ref":"#/components/schemas/StatusDTO"},"ProductStatusType":{"type":"string","description":"Enum for Product Status Type Values","enum":["Initiated","Announced","Sold","Obsolete","Active"]}},"example":{"ProductStatus":{"StatusReason":"JUQZRLPYV","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.685798780Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.685840801Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.685866741Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"MEIFDPYLF","InvolvementReference":"UXAKCI"}},"ProductStatusType":"Obsolete"}},"ScheduleDTO":{"type":"object","properties":{"ScheduleType":{"type":"string"}},"example":{"ScheduleType":"VAKDQLR"}},"StatusDTO":{"type":"object","properties":{"StatusReason":{"type":"string"},"StatusDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"StatusValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"StatusInvolvedPartyReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"}},"example":{"StatusReason":"USJ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.687008631Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.687048012Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.687075133Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"GOGU","InvolvementReference":"GDMCNN"}}},"WorkProductDTO":{"type":"object","properties":{"WorkProductType":{"type":"string","description":"Enum for Work Product Type Values","enum":["Document","WorkingPaper","ActivityLog","Form","File","MeetingSchedule","MeetingMinute"]},"WorkProductIdentifoication":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"WorkProductType":"Document","WorkProductIdentifoication":{"IdentifierValue":"OLKUPL","IdentifierIssuerReference":{"PartyReference":"XVSOLZOT","InvolvementReference":"TYXG"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.687821462Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.687857373Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}}}},"WorkStepDTO":{"type":"object","properties":{"WorkstepResult":{"type":"string"},"WorkstepType":{"$ref":"#/components/schemas/WorkStepTypeValuesDTO"},"WorkstepDescription":{"type":"string"},"WorkstepDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"WorkstepStatus":{"$ref":"#/components/schemas/StatusDTO"},"WorkstepWorkproduct":{"$ref":"#/components/schemas/WorkProductDTO"}},"example":{"WorkstepResult":"MLF","WorkstepType":{"Worksteptypevalues":"ZDFFQ"},"WorkstepDescription":"MFFWGQ","WorkstepDateTime":{"DateTimeContent":"2026-05-04T13:06:02.688618323Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"WorkstepStatus":{"StatusReason":"CKQI","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.688673275Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.688713456Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.688744546Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"KETZP","InvolvementReference":"JPCMC"}},"WorkstepWorkproduct":{"WorkProductType":"MeetingMinute","WorkProductIdentifoication":{"IdentifierValue":"XLWQE","IdentifierIssuerReference":{"PartyReference":"GAUE","InvolvementReference":"YSUYR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.688832579Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.688858149Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}}}}},"WorkStepTypeValuesDTO":{"type":"object","properties":{"Worksteptypevalues":{"type":"string"}},"example":{"Worksteptypevalues":"DPKYKEZL"}},"ProductInitializationDTO":{"type":"object","properties":{"ProductInstanceReference":{"$ref":"#/components/schemas/ProductAgreementDTO"}},"example":{"ProductInstanceReference":{"ProductAgreementType":"BrokeredProductAgreement","ProductAgreementIdentification":{"IdentifierValue":"UMJTFP","IdentifierIssuerReference":{"PartyReference":"YPTFRPFB","InvolvementReference":"EWNGWZA"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:06:02.690430981Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:06:02.690462102Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"AgreementSignedDate":{"DateContent":"AMFREK"},"AgreementType":"MasterAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.690510333Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:06:02.690534533Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"AgreementVersion":"IZZXLZZPGK","AgreementStatus":{"AgreementStatus":{"StatusReason":"LXODVVJ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:06:02.690579535Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:06:02.690606706Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"ToDateTime":{"DateTi
[...]
