{"openapi":"3.0.1","info":{"title":"Customer Agreement","description":"Maintains the master legal and regulatory agreements governing the overall relationship between the bank and a specific customer and following the BIAN 'Customer Agreement' standards..","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/v1/customer-agreement/{customer-agreement-id}/update":{"put":{"tags":["CR - CustomerAgreement - v14"],"summary":"UpCR Update details of an active customer master agreement","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/regulatory-term/{regulatory-term-id}/update":{"put":{"tags":["BQ - RegulatoryTerm - v14"],"summary":"UpBQ Update the regulatory terms for a customer master agreement","operationId":"UpdateRegulatoryTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"regulatory-term-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegulatoryTermsResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/policy-term/{policy-term-id}/update":{"put":{"tags":["BQ - PolicyTerm - v14"],"summary":"UpBQ Update the corporate policy terms for a customer master agreement","operationId":"UpdatePolicyTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"policy-term-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolicyTermsResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/legal-term/{legal-term-id}/update":{"put":{"tags":["BQ - LegalTerm - v14"],"summary":"UpBQ Update the legal terms for a customer master agreement","operationId":"UpdateLegalTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"legal-term-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/update":{"put":{"tags":["CR - CustomerAgreement - stub"],"summary":"UpCR Update details of an active customer master agreement","operationId":"Update_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/request":{"put":{"tags":["CR - CustomerAgreement - stub"],"summary":"RqCR Request check of a proposed activity is compatible","operationId":"Request","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/regulatory-terms/{regulatory-terms-id}/update":{"put":{"tags":["BQ - RegulatoryTerms - stub"],"summary":"UpBQ Update the regulatory terms for a customer master agreement","operationId":"UpdateRegulatoryTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"regulatory-terms-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/policy-terms/{policy-terms-id}/update":{"put":{"tags":["BQ - PolicyTerms - stub"],"summary":"UpBQ Update the corporate policy terms for a customer master agreement","operationId":"UpdatePolicyTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"policy-terms-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/legal-terms/{legal-terms-id}/update":{"put":{"tags":["BQ - LegalTerms - stub"],"summary":"UpBQ Update the legal terms for a customer master agreement","operationId":"UpdateLegalTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"legal-terms-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/grant":{"put":{"tags":["CR - CustomerAgreement - stub"],"summary":"GrCR Obtain grant authority to act under the terms of the agreement","operationId":"Grant","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/exchange":{"put":{"tags":["CR - CustomerAgreement - stub"],"summary":"EcCR Accept, reject etc an agreement","operationId":"Exchange","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/control":{"put":{"tags":["CR - CustomerAgreement - stub"],"summary":"CoCR Control the processing of an agreement","operationId":"Control","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-agreement-config/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/regulatory-term/evaluate":{"post":{"tags":["BQ - RegulatoryTerm - v14"],"summary":"EvBQ Establish the regulatory terms for a customer master agreement","operationId":"EvaluateRegulatoryTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegulatoryTerms"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegulatoryTermsResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/policy-term/evaluate":{"post":{"tags":["BQ - PolicyTerm - v14"],"summary":"EvBQ Establish the corporate policy terms for a customer master agreement","operationId":"EvaluatePolicyTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolicyTerms"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolicyTermsResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/legal-term/evaluate":{"post":{"tags":["BQ - LegalTerm - v14"],"summary":"EvBQ Establish the legal terms for a customer master agreement","operationId":"EvaluateLegalTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/evaluate":{"post":{"tags":["CR - CustomerAgreement - v14"],"summary":"EvCR Establish a customer master agreement (evaluate applicable rules)","operationId":"Evaluate","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/regulatory-terms/evaluate":{"post":{"tags":["BQ - RegulatoryTerms - stub"],"summary":"EvBQ Establish the regulatory terms for a customer master agreement","operationId":"EvaluateRegulatoryTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/policy-terms/evaluate":{"post":{"tags":["BQ - PolicyTerms - stub"],"summary":"EvBQ Establish the corporate policy terms for a customer master agreement","operationId":"EvaluatePolicyTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/legal-terms/evaluate":{"post":{"tags":["BQ - LegalTerms - stub"],"summary":"EvBQ Establish the legal terms for a customer master agreement","operationId":"EvaluateLegalTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTerms"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/evaluate":{"post":{"tags":["CR - CustomerAgreement - stub"],"summary":"EvCR Establish a customer master agreement (evaluate applicable rules)","operationId":"Evaluate_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreement"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/retrieve":{"get":{"tags":["CR - CustomerAgreement - v14"],"summary":"ReCR Retrieve details about a customer master agreement","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/regulatory-term/retrieve":{"get":{"tags":["BQ - RegulatoryTerm - v14"],"summary":"ReBQ Retrieve details about the regulatory terms of an agreement","operationId":"RetrieveRegulatoryTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegulatoryTermsResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/policy-term/retrieve":{"get":{"tags":["BQ - PolicyTerm - v14"],"summary":"ReBQ Retrieve details about the corporate policy terms of an agreement","operationId":"RetrievePolicyTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PolicyTermsResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/{customer-agreement-id}/legal-term/{legal-term-id}/retrieve":{"get":{"tags":["BQ - LegalTerm - v14"],"summary":"ReBQ Retrieve details about the legal terms of an agreement","operationId":"RetrieveLegalTerm","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"legal-term-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/customer-agreement/customer-information-profile/{customer-information-profile-id}/retrieve":{"get":{"tags":["CR - CustomerAgreement - v14"],"summary":"ReCR Retrieve details about a customer master agreement by Customer Information Profile ID","operationId":"RetrieveByCustomerInformationProfileId","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-information-profile-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/retrieve":{"get":{"tags":["CR - CustomerAgreement - stub"],"summary":"ReCR Retrieve details about a customer master agreement","operationId":"Retrieve_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAgreementResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/regulatory-terms/{regulatory-terms-id}/retrieve":{"get":{"tags":["BQ - RegulatoryTerms - stub"],"summary":"ReBQ Retrieve details about the regulatory terms of an agreement","operationId":"RetrieveRegulatoryTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"regulatory-terms-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegulatoryTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/policy-terms/{policy-terms-id}/retrieve":{"get":{"tags":["BQ - PolicyTerms - stub"],"summary":"ReBQ Retrieve details about the corporate policy terms of an agreement","operationId":"RetrievePolicyTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"policy-terms-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/customer-agreement/{customer-agreement-id}/legal-terms/{legal-terms-id}/retrieve":{"get":{"tags":["BQ - LegalTerms - stub"],"summary":"ReBQ Retrieve details about the legal terms of an agreement","operationId":"RetrieveLegalTerms","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"customer-agreement-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"legal-terms-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTermsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-agreement-config/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfigDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/customer-agreement-config/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"AgreementStatus":{"type":"object","properties":{"AgreementStatus":{"$ref":"#/components/schemas/Status"},"AgreementStatusType":{"type":"string","enum":["Offered","Confirmed","Completed","Signed","Terminated","Rejected"]}},"example":{"AgreementStatus":{"StatusReason":"JRUX","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.389301172Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.390585796Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.390858524Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EQYBPLV","InvolvementReference":"VNWPEED"}},"AgreementStatusType":"Signed"}},"CustomerAgreement":{"type":"object","properties":{"CustomerReference":{"$ref":"#/components/schemas/InvolvedParty"},"LegalEntityReference":{"$ref":"#/components/schemas/Organisation"},"AgreementType":{"type":"string","enum":["CustomerAgreement","SupplierAgreement","BrokerAgreement","SalesAgreement","PurchaseAgreement","MaintenanceAgreement","ProductAgreement","ResourceAgreement","PartnerAgreement","MasterAgreement","BilateralAgreement","RepurchaseAgreement"]},"AgreementJurisdiction":{"$ref":"#/components/schemas/Jurisdiction"},"AgreementValidFromToDate":{"$ref":"#/components/schemas/DateTimePeriod"},"AgreementSignatoriesResponsibleParties":{"type":"array","items":{"$ref":"#/components/schemas/InvolvedParty"}},"DocumentDirectoryEntryInstanceReference":{"$ref":"#/components/schemas/DocumentDirectoryEntry"},"SalesProductAgreementReference":{"type":"array","items":{"$ref":"#/components/schemas/ProductAgreement"}},"PartyLife-cycleManagementReference":{"$ref":"#/components/schemas/PartyRelationshipLifecyclePhase"}},"example":{"CustomerReference":{"PartyReference":"VVCLEHL","InvolvementReference":"EKSE"},"LegalEntityReference":{"OrganisationStructureHierarchy":"BZNQ","OrganisationIdentification":{"OrganisationIdentificationType":"ELF","OrganisationIdentification":{"IdentifierValue":"72017589","IdentifierIssuerReference":{"PartyReference":"KRGNXR","InvolvementReference":"JFSV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.397619014Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.397816809Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}}},"OrganisationSector":"CLRBD","LegalEntityIndicator":"ZMSPA","OrganisationDate":{"OrganisatioDate":{"DateTimeContent":"2026-05-13T11:18:19.398300122Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"OrganisatioDateType":"EstablishmentDate"},"OrganisationType":"OrganisationUnit","OrganisationName":{"Name":{"Name":"NQAIZLTH"},"NameType":"LegalName"},"OrganisationLegalStructure":"Province","PartyName":{"Name":"WKZBQT"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-13T11:18:19.399220897Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"PartyIdentification":{"PartyIdentificationType":"Nationalregistrationnumber","PartyIdentification":{"IdentifierValue":"73756643","IdentifierIssuerReference":{"PartyReference":"FBLSI","InvolvementReference":"QCYMWJEOLP"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.399528635Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.399626838Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}}},"PartyLegalStructureType":"ScottishLimitedPartnership","PartyActivityIndicator":{"Industrycode":"HZLIJ"}},"AgreementType":"ProductAgreement","AgreementJurisdiction":{"Jurisdiction":"TLYIU"},"AgreementValidFromToDate":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.400094360Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.400195953Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"AgreementSignatoriesResponsibleParties":[{"PartyReference":"TZLWYLFC","InvolvementReference":"YDJW"},{"PartyReference":"ZVLNUYRR","InvolvementReference":"ISZXJCW"}],"DocumentDirectoryEntryInstanceReference":{"DocumentDirectoryEntryIdentification":"GPZS","DirectoryEntryDateType":"RefreshDate","DirectoryEntryDate":{"DateContent":"NFUZBAF"},"DirectoryEntryStatus":{"StatusReason":"CWFNR","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.401851497Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.401973840Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.483697368Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"UNQLDTYC","InvolvementReference":"FBKVI"}}},"SalesProductAgreementReference":[{"ProductAgreementType":"SavingsAccountAgreement","ProductAgreementIdentification":{"IdentifierValue":"13712423","IdentifierIssuerReference":{"PartyReference":"SHNVBCECH","InvolvementReference":"DVL"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.484626883Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.484805277Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"AgreementSignedDate":{"DateContent":"UJYH"},"AgreementType":"CustomerAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.485170597Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.485301101Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"AgreementVersion":"POPMV","AgreementStatus":{"AgreementStatus":{"StatusReason":"EQUVPW","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.485632999Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.485807094Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.485941338Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"HMGW","InvolvementReference":"PQSSNV"}},"AgreementStatusType":"Signed"},"AgreementSubjectMatter":"XEXZIWQ","AgreementIdentification":{"IdentifierValue":"47563022","IdentifierIssuerReference":{"PartyReference":"RCJ","InvolvementReference":"EEZK"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.486454681Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.486610385Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13T11:18:19.486785380Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"AgreementDescription":"FTYUNCBP"},{"ProductAgreementType":"DirectDebitServiceAgreement","ProductAgreementIdentification":{"IdentifierValue":"19508244","IdentifierIssuerReference":{"PartyReference":"SSEUA","InvolvementReference":"MSJ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.487198921Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.487331464Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"AgreementSignedDate":{"DateContent":"FQDSZIBK"},"AgreementType":"PartnerAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.487557290Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.487678904Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"AgreementVersion":"QSGUP","AgreementStatus":{"AgreementStatus":{"StatusReason":"KFU","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.487926670Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.488064784Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.488211688Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"JIAEQLBW","InvolvementReference":"GTVUJIGKW"}},"AgreementStatusType":"Signed"},"AgreementSubjectMatter":"NIFUZTVKKK","AgreementIdentification":{"IdentifierValue":"55882308","IdentifierIssuerReference":{"PartyReference":"NXG","InvolvementReference":"RPYS"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.488667290Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.488820934Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13T11:18:19.488967108Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"AgreementDescription":"FCY"},{"ProductAgreementType":"DirectDebitServiceAgreement","ProductAgreementIdentification":{"IdentifierValue":"74264370","IdentifierIssuerReference":{"PartyReference":"HPHZO","InvolvementReference":"RIVUAK"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.489338118Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.489496772Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"AgreementSignedDate":{"DateContent":"JWQKHK"},"AgreementType":"SalesAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.489802750Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.489963484Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"AgreementVersion":"JPXRINCQJ","AgreementStatus":{"AgreementStatus":{"StatusReason":"UIG","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.490276902Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.490470808Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.490638262Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"FNLK","InvolvementReference":"AXGLU"}},"AgreementStatusType":"Terminated"},"AgreementSubjectMatter":"JSUDMYM","AgreementIdentification":{"IdentifierValue":"97557078","IdentifierIssuerReference":{"PartyReference":"XREVSZ","InvolvementReference":"EUUNXYUPO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.491173046Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.491340801Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13T11:18:19.491511095Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"AgreementDescription":"YDTPK"},{"ProductAgreementType":"TermDepositAgreement","ProductAgreementIdentification":{"IdentifierValue":"25577695","IdentifierIssuerReference":{"PartyReference":"SXGJ","InvolvementReference":"RNF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.491960247Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.583894428Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"AgreementSignedDate":{"DateContent":"EGN"},"AgreementType":"SupplierAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.584414871Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.584596056Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"AgreementVersion":"AVEA","AgreementStatus":{"AgreementStatus":{"StatusReason":"GTE","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.584936636Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.585194902Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.585340856Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"BLOKP","InvolvementReference":"TLPA"}},"AgreementStatusType":"Offered"},"AgreementSubjectMatter":"NAT","AgreementIdentification":{"IdentifierValue":"70584598","IdentifierIssuerReference":{"PartyReference":"LRSVQMUGKV","InvolvementReference":"ZHUYBBRFV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.585927912Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.586071786Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13T11:18:19.586219270Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"AgreementDescription":"XKODPD"},{"ProductAgreementType":"ConsumerLoanAgreement","ProductAgreementIdentification":{"IdentifierValue":"27203109","IdentifierIssuerReference":{"PartyReference":"LTGQVVN","InvolvementReference":"VQCHEY"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.586663631Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.586782934Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"AgreementSignedDate":{"DateContent":"PCATP"},"AgreementType":"SupplierAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.587073042Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.587273227Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"AgreementVersion":"JLUALBZDX","AgreementStatus":{"AgreementStatus":{"StatusReason":"KSHJ","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.587472933Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.587622797Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.587734340Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"BAFDIUYH","InvolvementReference":"GZLOOTI"}},"AgreementStatusType":"Rejected"},"AgreementSubjectMatter":"DRCZKMCE","AgreementIdentification":{"IdentifierValue":"22917954","IdentifierIssuerReference":{"PartyReference":"SQJVXTGE","InvolvementReference":"TFQSWAXXO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.588222293Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.588323715Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13T11:18:19.588433738Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"AgreementDescription":"ZOCTK"}],"PartyLife-cycleManagementReference":{"Description":"LKTJ","IsCurrentPhase":"DDQBJMLNOP","PhaseName":{"Name":"FDQXJGPTWJ"},"PhaseStatus":{"StatusReason":"YCYZNDR","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.589107116Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.589238820Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.589346302Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ZJDYA","InvolvementReference":"YBPOKEO"}},"PhasePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.589581689Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.589693002Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}}}}},"Date":{"type":"object","properties":{"DateContent":{"type":"string"}},"example":{"DateContent":"FLAMTABOY"}},"DateTime":{"type":"object","properties":{"DateTimeContent":{"type":"string"},"TimeZoneCode":{"type":"string"},"DaylightSavingIndicator":{"type":"string"},"DateTimeType":{"type":"string","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate","EntryDate"]}},"example":{"DateTimeContent":"2026-05-13T11:18:19.683870482Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"DateTimePeriod":{"type":"object","properties":{"FromDateTime":{"$ref":"#/components/schemas/DateTime"},"ToDateTime":{"$ref":"#/components/schemas/DateTime"}},"example":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.685864295Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.686101481Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}}},"DocumentDirectoryEntry":{"type":"object","properties":{"DocumentDirectoryEntryIdentification":{"type":"string"},"DirectoryEntryDateType":{"type":"string","enum":["OpenDate","RefreshDate"]},"DirectoryEntryDate":{"$ref":"#/components/schemas/Date"},"DirectoryEntryStatus":{"$ref":"#/components/schemas/Status"}},"example":{"DocumentDirectoryEntryIdentification":"TBSUI","DirectoryEntryDateType":"RefreshDate","DirectoryEntryDate":{"DateContent":"EFFYMFAVT"},"DirectoryEntryStatus":{"StatusReason":"BJS","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.687825637Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.687959340Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.688063433Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"VWOCMXXP","InvolvementReference":"AILGUU"}}}},"Identifier":{"type":"object","properties":{"IdentifierValue":{"type":"string"},"IdentifierIssuerReference":{"$ref":"#/components/schemas/InvolvedParty"},"IdentifierStartDate":{"$ref":"#/components/schemas/DateTime"},"IdentifierEndDate":{"$ref":"#/components/schemas/DateTime"}},"example":{"IdentifierValue":"97994510","IdentifierIssuerReference":{"PartyReference":"CHEOM","InvolvementReference":"TDQYVDTUH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.689303276Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.689412109Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}}},"IndustryCode":{"type":"object","properties":{"Industrycode":{"type":"string"}},"example":{"Industrycode":"PMXBCEGDL"}},"InvolvedParty":{"type":"object","properties":{"PartyReference":{"type":"string"},"InvolvementReference":{"type":"string"}},"example":{"PartyReference":"ZSPRTA","InvolvementReference":"BKC"}},"Jurisdiction":{"type":"object","properties":{"Jurisdiction":{"type":"string"}},"example":{"Jurisdiction":"ZMYQJTCWI"}},"Name":{"type":"object","properties":{"Name":{"type":"string"}},"example":{"Name":"OPMC"}},"Organisation":{"type":"object","properties":{"OrganisationStructureHierarchy":{"type":"string"},"OrganisationIdentification":{"$ref":"#/components/schemas/OrganisationIdentification"},"OrganisationSector":{"type":"string"},"LegalEntityIndicator":{"type":"string"},"OrganisationDate":{"$ref":"#/components/schemas/OrganisationDateTime"},"OrganisationType":{"type":"string","enum":["LegalEntity","Authority","OrganisationUnit","FinancialInstitution","Charity","GovernmentBody"]},"OrganisationName":{"$ref":"#/components/schemas/OrganisationName"},"OrganisationLegalStructure":{"type":"string","enum":["Corporation","Individual","Supranational","Sovereign","Municipal","Province","State","County","Partnership","Financialinstitution","National"]},"PartyName":{"$ref":"#/components/schemas/Name"},"PartyType":{"type":"string","enum":["Person","Organisation"]},"PartyDateTime":{"$ref":"#/components/schemas/DateTime"},"PartyIdentification":{"$ref":"#/components/schemas/PartyIdentification"},"PartyLegalStructureType":{"type":"string","enum":["Individual","CommunityInterestCompany","CharitableIncorporatedOrganisation","Co-Operative","Charity","GeneralPartnership","LimitedLiabilityPartnership","ScottishLimitedPartnership","LimitedPartnership","PrivateLimitedCompany","PublicLimitedCompany","Sole(SoleTrader)"]},"PartyActivityIndicator":{"$ref":"#/components/schemas/IndustryCode"}},"example":{"OrganisationStructureHierarchy":"UBSYZSVYY","OrganisationIdentification":{"OrganisationIdentificationType":"ELF","OrganisationIdentification":{"IdentifierValue":"36556603","IdentifierIssuerReference":{"PartyReference":"VBVWFMC","InvolvementReference":"LYEL"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.789477686Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.789605990Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}}},"OrganisationSector":"QEYDAZRUY","LegalEntityIndicator":"TWSHEAV","OrganisationDate":{"OrganisatioDate":{"DateTimeContent":"2026-05-13T11:18:19.789741193Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"OrganisatioDateType":"RegistrationDate"},"OrganisationType":"GovernmentBody","OrganisationName":{"Name":{"Name":"YHD"},"NameType":"ShortName"},"OrganisationLegalStructure":"Corporation","PartyName":{"Name":"POGVUAGJET"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-13T11:18:19.790004970Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"PartyIdentification":{"PartyIdentificationType":"Driverlicensenumber","PartyIdentification":{"IdentifierValue":"75688095","IdentifierIssuerReference":{"PartyReference":"ARWGCXPG","InvolvementReference":"KVMXKZM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.790216546Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.790296858Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}}},"PartyLegalStructureType":"ScottishLimitedPartnership","PartyActivityIndicator":{"Industrycode":"QWJ"}}},"OrganisationDateTime":{"type":"object","properties":{"OrganisatioDate":{"$ref":"#/components/schemas/DateTime"},"OrganisatioDateType":{"type":"string","enum":["RegistrationDate","EstablishmentDate","EntityExpirationDate"]}},"example":{"OrganisatioDate":{"DateTimeContent":"2026-05-13T11:18:19.791155461Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"OrganisatioDateType":"RegistrationDate"}},"OrganisationIdentification":{"type":"object","properties":{"OrganisationIdentificationType":{"type":"string","enum":["LEI","ELF","MIC","BICFI","Bankpartyidentification","Centralbankidentificationnumber","Clearingidentificationnumber","Certificateofincorporationnumber","Countryidentificationcode","Customernumber","Datauniversalnumberingsystem","Employeridentificationnumber","Gs1glnidentifier","SIREN","SIRET","Taxidentificationnumber","EANGLN"]},"OrganisationIdentification":{"$ref":"#/components/schemas/Identifier"}},"example":{"OrganisationIdentificationType":"SIREN","OrganisationIdentification":{"IdentifierValue":"72286414","IdentifierIssuerReference":{"PartyReference":"RQRJAAINI","InvolvementReference":"DOODARRYH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.883712847Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.884070957Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}}}},"OrganisationName":{"type":"object","properties":{"Name":{"$ref":"#/components/schemas/Name"},"NameType":{"type":"string","enum":["ShortName","TradingName","LegalName"]}},"example":{"Name":{"Name":"YQWFHQT"},"NameType":"LegalName"}},"PartyIdentification":{"type":"object","properties":{"PartyIdentificationType":{"type":"string","enum":["Taxidentificationnumber","Nationalregistrationnumber","Registrationauthorityidentification","LEI(LegalEntityIdentifier)","Alienregistrationnumber","Passportnumber","Taxexemptidentificationnumber","Corporateidentification","Driverlicensenumber","Foreigninvestmentidentitynumber","Socialsecuritynumber","Identitycardnumber","Concat","Nationalregistrationidentificationnumber"]},"PartyIdentification":{"$ref":"#/components/schemas/Identifier"}},"example":{"PartyIdentificationType":"Taxidentificationnumber","PartyIdentification":{"IdentifierValue":"54885115","IdentifierIssuerReference":{"PartyReference":"BXGTBDM","InvolvementReference":"UIZB"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.886401919Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.886474431Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}}}},"PartyRelationshipLifecyclePhase":{"type":"object","properties":{"Description":{"type":"string"},"IsCurrentPhase":{"type":"string"},"PhaseName":{"$ref":"#/components/schemas/Name"},"PhaseStatus":{"$ref":"#/components/schemas/Status"},"PhasePeriod":{"$ref":"#/components/schemas/DateTimePeriod"}},"example":{"Description":"JQLIADSKI","IsCurrentPhase":"ICKJSPSGXZ","PhaseName":{"Name":"BWPIFT"},"PhaseStatus":{"StatusReason":"DADOJXT","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.887810876Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.887913529Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.887997272Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"GPCCDSQYUT","InvolvementReference":"EKFPBUPFV"}},"PhasePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.888191477Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.888283589Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}}}},"ProductAgreement":{"type":"object","properties":{"ProductAgreementType":{"type":"string","enum":["CurrentAccountAgreement","SavingsAccountAgreement","BrokeredProductAgreement","ConsumerLoanAgreement","MortgageLoanAgreement","DirectDebitServiceAgreement","TermDepositAgreement"]},"ProductAgreementIdentification":{"$ref":"#/components/schemas/Identifier"},"AgreementSignedDate":{"$ref":"#/components/schemas/Date"},"AgreementType":{"type":"string","enum":["CustomerAgreement","SupplierAgreement","BrokerAgreement","SalesAgreement","PurchaseAgreement","MaintenanceAgreement","ProductAgreement","ResourceAgreement","PartnerAgreement","MasterAgreement","BilateralAgreement","RepurchaseAgreement"]},"AgreementValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriod"},"AgreementVersion":{"type":"string"},"AgreementStatus":{"$ref":"#/components/schemas/AgreementStatus"},"AgreementSubjectMatter":{"type":"string"},"AgreementIdentification":{"$ref":"#/components/schemas/Identifier"},"AgreementDate":{"$ref":"#/components/schemas/DateTime"},"AgreementDescription":{"type":"string"}},"example":{"ProductAgreementType":"CurrentAccountAgreement","ProductAgreementIdentification":{"IdentifierValue":"86872795","IdentifierIssuerReference":{"PartyReference":"KICFL","InvolvementReference":"ASXAFDGGU"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.890452167Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.890548880Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"AgreementSignedDate":{"DateContent":"BTNQDT"},"AgreementType":"SalesAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.890718744Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.890798916Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"AgreementVersion":"VARBY","AgreementStatus":{"AgreementStatus":{"StatusReason":"WBSIVI","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.890967901Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.891105255Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.891194767Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"IEZN","InvolvementReference":"PFGIHJO"}},"AgreementStatusType":"Rejected"},"AgreementSubjectMatter":"ATRWCW","AgreementIdentification":{"IdentifierValue":"81058886","IdentifierIssuerReference":{"PartyReference":"JCA","InvolvementReference":"UEASIY"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.893698173Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.893896419Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13T11:18:19.893971431Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"AgreementDescription":"AFEWXNE"}},"Status":{"type":"object","properties":{"StatusReason":{"type":"string"},"StatusDateTime":{"$ref":"#/components/schemas/DateTime"},"StatusValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriod"},"StatusInvolvedPartyReference":{"$ref":"#/components/schemas/InvolvedParty"}},"example":{"StatusReason":"ZUJFWVN","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.895202493Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.895301836Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.895370708Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"YGGTAKNTVR","InvolvementReference":"OOUFDHXPHW"}}},"CustomerAgreementResponse":{"type":"object","properties":{"CustomerAgreementId":{"type":"string"},"CustomerReference":{"$ref":"#/components/schemas/InvolvedParty"},"LegalEntityReference":{"$ref":"#/components/schemas/Organisation"},"AgreementType":{"type":"string","enum":["CustomerAgreement","SupplierAgreement","BrokerAgreement","SalesAgreement","PurchaseAgreement","MaintenanceAgreement","ProductAgreement","ResourceAgreement","PartnerAgreement","MasterAgreement","BilateralAgreement","RepurchaseAgreement"]},"AgreementJurisdiction":{"$ref":"#/components/schemas/Jurisdiction"},"AgreementValidFromToDate":{"$ref":"#/components/schemas/DateTimePeriod"},"AgreementSignatoriesResponsibleParties":{"type":"array","items":{"$ref":"#/components/schemas/InvolvedParty"}},"DocumentDirectoryEntryInstanceReference":{"$ref":"#/components/schemas/DocumentDirectoryEntry"},"SalesProductAgreementReference":{"type":"array","items":{"$ref":"#/components/schemas/ProductAgreement"}},"PartyLife-cycleManagementReference":{"$ref":"#/components/schemas/PartyRelationshipLifecyclePhase"}},"example":{"CustomerAgreementId":"554bb794-0274-4969-a069-cecdbd864354","CustomerReference":{"PartyReference":"BTWHMCO","InvolvementReference":"HVDH"},"LegalEntityReference":{"OrganisationStructureHierarchy":"TDQOZQMBO","OrganisationIdentification":{"OrganisationIdentificationType":"ELF","OrganisationIdentification":{"IdentifierValue":"50903218","IdentifierIssuerReference":{"PartyReference":"MZCGGGVTL","InvolvementReference":"PYLJSTFKRD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.899214090Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.899279422Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}}},"OrganisationSector":"NJLMTAWN","LegalEntityIndicator":"GYYULE","OrganisationDate":{"OrganisatioDate":{"DateTimeContent":"2026-05-13T11:18:19.899383924Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"OrganisatioDateType":"EstablishmentDate"},"OrganisationType":"Authority","OrganisationName":{"Name":{"Name":"TPB"},"NameType":"TradingName"},"OrganisationLegalStructure":"Province","PartyName":{"Name":"UFVXNIY"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-13T11:18:19.899607180Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"PartyIdentification":{"PartyIdentificationType":"Nationalregistrationidentificationnumber","PartyIdentification":{"IdentifierValue":"88570653","IdentifierIssuerReference":{"PartyReference":"NSKDWQZHOK","InvolvementReference":"TMME"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.899784615Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.899853287Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}}},"PartyLegalStructureType":"CharitableIncorporatedOrganisation","PartyActivityIndicator":{"Industrycode":"ZUWCLIXFZ"}},"AgreementType":"PartnerAgreement","AgreementJurisdiction":{"Jurisdiction":"KOMOGHICML"},"AgreementValidFromToDate":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.900152765Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.900226827Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"AgreementSignatoriesResponsibleParties":[{"PartyReference":"SHIFVQXZ","InvolvementReference":"TNYAYSWB"},{"PartyReference":"YYBAJKMJV","InvolvementReference":"LFNV"},{"PartyReference":"WZNCB","InvolvementReference":"OEIEDYJR"}],"DocumentDirectoryEntryInstanceReference":{"DocumentDirectoryEntryIdentification":"QBJVNJE","DirectoryEntryDateType":"OpenDate","DirectoryEntryDate":{"DateContent":"NCBOP"},"DirectoryEntryStatus":{"StatusReason":"MUQQPY","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.900687469Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.900773681Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.900836523Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"StatusInvolvedPartyReference":{"PartyReference":"HHNPWEPE","InvolvementReference":"HKIMO"}}},"SalesProductAgreementReference":[{"ProductAgreementType":"CurrentAccountAgreement","ProductAgreementIdentification":{"IdentifierValue":"31092131","IdentifierIssuerReference":{"PartyReference":"VANUT","InvolvementReference":"YCXS"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.901134241Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.901210453Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"AgreementSignedDate":{"DateContent":"RFINJVVXR"},"AgreementType":"SalesAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.901360307Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.901438509Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"AgreementVersion":"YJAVRQS","AgreementStatus":{"AgreementStatus":{"StatusReason":"ECARZCM","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.901578903Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.901649855Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.901711426Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"WVXL","InvolvementReference":"HGY"}},"AgreementStatusType":"Offered"},"AgreementSubjectMatter":"IQCKTYFV","AgreementIdentification":{"IdentifierValue":"99446548","IdentifierIssuerReference":{"PartyReference":"XSISYQV","InvolvementReference":"ESLWHKGL"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.901915872Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.901978803Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13T11:18:19.902038225Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"AgreementDescription":"AKORJDJ"},{"ProductAgreementType":"TermDepositAgreement","ProductAgreementIdentification":{"IdentifierValue":"26884034","IdentifierIssuerReference":{"PartyReference":"TGXJNBX","InvolvementReference":"DRTZFI"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.984561594Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.985241482Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"AgreementSignedDate":{"DateContent":"SRCXWBVLJ"},"AgreementType":"BilateralAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.985418067Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.985493359Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"AgreementVersion":"TVKW","AgreementStatus":{"AgreementStatus":{"StatusReason":"SFC","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.985617282Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.985685554Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.985745296Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"TOMHSZIVH","InvolvementReference":"ZINJKFLMP"}},"AgreementStatusType":"Rejected"},"AgreementSubjectMatter":"MKIJZBGB","AgreementIdentification":{"IdentifierValue":"70115984","IdentifierIssuerReference":{"PartyReference":"REGJYC","InvolvementReference":"AXJBIHE"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.985978152Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.986041014Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13T11:18:19.986104245Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"AgreementDescription":"OJBAZWXYPM"}],"PartyLife-cycleManagementReference":{"Description":"HSE","IsCurrentPhase":"JEQBJRK","PhaseName":{"Name":"ONM"},"PhaseStatus":{"StatusReason":"XYCIU","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.986421354Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.986490726Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.986542627Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"URYVPCXC","InvolvementReference":"GJDRXSQLS"}},"PhasePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.986638190Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.986698581Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}}}}},"Regulation":{"type":"object","properties":{"RegulationDefinition":{"type":"string"},"RuleSetDefinition":{"type":"string"},"RuleSetInterpretation":{"type":"string"},"RuleSetType":{"type":"string","enum":["Policy","Regulation","Law","Guideline","Criterion","Standard"]},"RuleSetName":{"$ref":"#/components/schemas/Name"},"RuleSetIdentification":{"$ref":"#/components/schemas/Identifier"},"RuleSetLifecycleStatus":{"$ref":"#/components/schemas/Status"}},"example":{"RegulationDefinition":"QGIFVEQVCI","RuleSetDefinition":"ICFEISM","RuleSetInterpretation":"SRQ","RuleSetType":"Standard","RuleSetName":{"Name":"NCRAZYOCRX"},"RuleSetIdentification":{"IdentifierValue":"85206834","IdentifierIssuerReference":{"PartyReference":"MIVSBH","InvolvementReference":"JNKMC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:19.988826408Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:19.988910480Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"RuleSetLifecycleStatus":{"StatusReason":"INJTHDLQS","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:19.989050344Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:19.989118756Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:19.989173777Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"YUQJRFRXAM","InvolvementReference":"DZTQFJAHU"}}}},"RegulatoryAuthority":{"type":"object","properties":{"RegulatoryAuthority":{"type":"string"}},"example":{"RegulatoryAuthority":"VWNTISP"}},"RegulatoryTerms":{"type":"object","properties":{"Id":{"type":"string"},"RegulatoryAuthority":{"$ref":"#/components/schemas/RegulatoryAuthority"},"ApplicableRegulationReference":{"type":"array","items":{"$ref":"#/components/schemas/Regulation"}},"ApplicableRegulationInterpretation":{"type":"string"}},"example":{"Id":"GMVI","RegulatoryAuthority":{"RegulatoryAuthority":"TMK"},"ApplicableRegulationReference":[{"RegulationDefinition":"CLLHNJOZJ","RuleSetDefinition":"LWGOH","RuleSetInterpretation":"HHR","RuleSetType":"Standard","RuleSetName":{"Name":"LHPA"},"RuleSetIdentification":{"IdentifierValue":"47168651","IdentifierIssuerReference":{"PartyReference":"WTAPGUF","InvolvementReference":"CCIYOQJWTQ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.084965522Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.085076604Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"RuleSetLifecycleStatus":{"StatusReason":"ZJY","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.085154996Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.085216718Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.085268230Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"KLOHITHJ","InvolvementReference":"BJPABUY"}}},{"RegulationDefinition":"OMC","RuleSetDefinition":"VGAQJJRAPJ","RuleSetInterpretation":"VNX","RuleSetType":"Policy","RuleSetName":{"Name":"OYTPY"},"RuleSetIdentification":{"IdentifierValue":"75732079","IdentifierIssuerReference":{"PartyReference":"IKRI","InvolvementReference":"SBXERH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.085515626Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.085580298Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"RuleSetLifecycleStatus":{"StatusReason":"OTVHXT","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.085667390Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.085732232Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.085787023Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"GPVV","InvolvementReference":"BFSR"}}}],"ApplicableRegulationInterpretation":"BUBTB"}},"RegulatoryTermsResponse":{"type":"object","properties":{"CustomerAgreementId":{"type":"string"},"RegulatoryTermsId":{"type":"string"},"RegulatoryAuthority":{"$ref":"#/components/schemas/RegulatoryAuthority"},"ApplicableRegulationReference":{"type":"array","items":{"$ref":"#/components/schemas/Regulation"}},"ApplicableRegulationInterpretation":{"type":"string"}},"example":{"CustomerAgreementId":"0b4a0937-e9f8-4b56-8bac-bf8adaf02abe","RegulatoryTermsId":"b83c9565-6561-47d1-ad8d-af462d0bcbef","RegulatoryAuthority":{"RegulatoryAuthority":"XJEPIJ"},"ApplicableRegulationReference":[{"RegulationDefinition":"ILLCNH","RuleSetDefinition":"LSQALIXRS","RuleSetInterpretation":"OHIMXQUFPL","RuleSetType":"Guideline","RuleSetName":{"Name":"CXSMBKA"},"RuleSetIdentification":{"IdentifierValue":"37337705","IdentifierIssuerReference":{"PartyReference":"BKAAACHVKK","InvolvementReference":"QHOTFJLQI"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.088411553Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.088471844Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"RuleSetLifecycleStatus":{"StatusReason":"UUBYNF","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.088579677Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.088700991Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.088779453Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ZZYARN","InvolvementReference":"SCQ"}}},{"RegulationDefinition":"ZAN","RuleSetDefinition":"OGQGXKM","RuleSetInterpretation":"MAPE","RuleSetType":"Standard","RuleSetName":{"Name":"NUVTPMKKIC"},"RuleSetIdentification":{"IdentifierValue":"29891285","IdentifierIssuerReference":{"PartyReference":"RMEIXPERDU","InvolvementReference":"CUBXWWFHPM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.089015739Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.089079541Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"RuleSetLifecycleStatus":{"StatusReason":"WGGINXV","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.089163183Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.089222935Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.089269086Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"CIXUS","InvolvementReference":"QKU"}}},{"RegulationDefinition":"PWZDU","RuleSetDefinition":"RXOBMGMJZD","RuleSetInterpretation":"MEIKIVUNV","RuleSetType":"Standard","RuleSetName":{"Name":"XKSDQCHAFW"},"RuleSetIdentification":{"IdentifierValue":"15901783","IdentifierIssuerReference":{"PartyReference":"RGIQ","InvolvementReference":"HNFJEMMH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.089502032Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.089566854Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"RuleSetLifecycleStatus":{"StatusReason":"PEHNV","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.089645176Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.089701087Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.089752489Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"MLARXVNNLU","InvolvementReference":"QXQFMUKHAO"}}},{"RegulationDefinition":"TQDKXJRU","RuleSetDefinition":"XTKBZTZNYM","RuleSetInterpretation":"OSE","RuleSetType":"Standard","RuleSetName":{"Name":"JOYOOYM"},"RuleSetIdentification":{"IdentifierValue":"81985202","IdentifierIssuerReference":{"PartyReference":"OLKG","InvolvementReference":"IJVE"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.090010365Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.090069327Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"RuleSetLifecycleStatus":{"StatusReason":"TMSHP","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.090179850Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.090248862Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.090305933Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ZEAQM","InvolvementReference":"NSL"}}}],"ApplicableRegulationInterpretation":"CMUZSKZSVL"}},"PolicyTerms":{"type":"object","properties":{"Id":{"type":"string"},"BankPolicy-RuleType":{"type":"string"},"ApplicableBankPolicy-RuleReference":{"$ref":"#/components/schemas/RuleSet"},"ApplicableBankPolicy-RuleInterpretation":{"type":"string"}},"example":{"Id":"IZQKECUT","BankPolicy-RuleType":"KQFCKJSY","ApplicableBankPolicy-RuleReference":{"RuleSetDefinition":"IKN","RuleSetInterpretation":"GFR","RuleSetType":"Criterion","RuleSetName":{"Name":"ZXMY"},"RuleSetIdentification":{"IdentifierValue":"36215340","IdentifierIssuerReference":{"PartyReference":"DHZOOFTO","InvolvementReference":"YZKHQFI"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.092162873Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.092226574Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"RuleSetLifecycleStatus":{"StatusReason":"DEVUYTXF","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.092336747Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.092395499Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.092445920Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"LWZYTRQI","InvolvementReference":"ALO"}}},"ApplicableBankPolicy-RuleInterpretation":"YWQTUASV"}},"RuleSet":{"type":"object","properties":{"RuleSetDefinition":{"type":"string"},"RuleSetInterpretation":{"type":"string"},"RuleSetType":{"type":"string","enum":["Policy","Regulation","Law","Guideline","Criterion","Standard"]},"RuleSetName":{"$ref":"#/components/schemas/Name"},"RuleSetIdentification":{"$ref":"#/components/schemas/Identifier"},"RuleSetLifecycleStatus":{"$ref":"#/components/schemas/Status"}},"example":{"RuleSetDefinition":"AWEKF","RuleSetInterpretation":"TGLLDIJTY","RuleSetType":"Guideline","RuleSetName":{"Name":"RDSOOALAQJ"},"RuleSetIdentification":{"IdentifierValue":"38218326","IdentifierIssuerReference":{"PartyReference":"QPQEQGF","InvolvementReference":"EFLFHNJ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.093646032Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.093705204Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"RuleSetLifecycleStatus":{"StatusReason":"YNFSCCLLAZ","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.093779436Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.093916049Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.093975631Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"VJAR","InvolvementReference":"IIFYAV"}}}},"PolicyTermsResponse":{"type":"object","properties":{"CustomerAgreementId":{"type":"string"},"PolicyTermsId":{"type":"string"},"BankPolicy-RuleType":{"type":"string"},"ApplicableBankPolicy-RuleReference":{"$ref":"#/components/schemas/RuleSet"},"ApplicableBankPolicy-RuleInterpretation":{"type":"string"}},"example":{"CustomerAgreementId":"15083cb7-a030-41c9-b01e-847093d0319f","PolicyTermsId":"579f57dd-8edf-455b-9473-766418720d26","BankPolicy-RuleType":"DNYQ","ApplicableBankPolicy-RuleReference":{"RuleSetDefinition":"IHLN","RuleSetInterpretation":"SIWAKVI","RuleSetType":"Regulation","RuleSetName":{"Name":"YWAIT"},"RuleSetIdentification":{"IdentifierValue":"28479080","IdentifierIssuerReference":{"PartyReference":"ABQOQSRAK","InvolvementReference":"XDV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.095345858Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.095405079Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"RuleSetLifecycleStatus":{"StatusReason":"QYR","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.095689787Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.095761759Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.095797580Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"StatusInvolvedPartyReference":{"PartyReference":"PTKHMOOPD","InvolvementReference":"FPWSRHF"}}},"ApplicableBankPolicy-RuleInterpretation":"RLPM"}},"Law":{"type":"object","properties":{"LawType":{"type":"string"},"LawDescription":{"type":"string"},"LegalPenalty":{"type":"string"},"LegalGuideline":{"type":"string"},"RuleSetDefinition":{"type":"string"},"RuleSetInterpretation":{"type":"string"},"RuleSetType":{"type":"string","enum":["Policy","Regulation","Law","Guideline","Criterion","Standard"]},"RuleSetName":{"$ref":"#/components/schemas/Name"},"RuleSetIdentification":{"$ref":"#/components/schemas/Identifier"},"RuleSetLifecycleStatus":{"$ref":"#/components/schemas/Status"}},"example":{"LawType":"TRG","LawDescription":"SZT","LegalPenalty":"TZHOND","LegalGuideline":"POPBEYLXBO","RuleSetDefinition":"MBS","RuleSetInterpretation":"NLNDKNSF","RuleSetType":"Guideline","RuleSetName":{"Name":"AUM"},"RuleSetIdentification":{"IdentifierValue":"16513423","IdentifierIssuerReference":{"PartyReference":"KFBRHUGRYJ","InvolvementReference":"JTUCLDZJ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.096796676Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.096838197Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"RuleSetLifecycleStatus":{"StatusReason":"RSUMM","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.096913900Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.096954421Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.096985901Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ZRBC","InvolvementReference":"SCVEVHFOLX"}}}},"LegalTerms":{"type":"object","properties":{"Id":{"type":"string"},"Jurisdiction":{"$ref":"#/components/schemas/Jurisdiction"},"ApplicableLawReference":{"type":"array","items":{"$ref":"#/components/schemas/Law"}},"ApplicableLawInterpretation":{"type":"string"}},"example":{"Id":"QDNNYOII","Jurisdiction":{"Jurisdiction":"BQMXZ"},"ApplicableLawReference":[{"LawType":"HWSPJ","LawDescription":"GDDBCEGHL","LegalPenalty":"UHSCYM","LegalGuideline":"ENUSMG","RuleSetDefinition":"UALR","RuleSetInterpretation":"XFTFILU","RuleSetType":"Law","RuleSetName":{"Name":"ZQUPYASO"},"RuleSetIdentification":{"IdentifierValue":"10659643","IdentifierIssuerReference":{"PartyReference":"MQVV","InvolvementReference":"UWNHEAYX"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.097910416Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.097955257Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"RuleSetLifecycleStatus":{"StatusReason":"GOZ","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098004218Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098042439Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098073340Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EGCGV","InvolvementReference":"YAQVOKW"}}},{"LawType":"BLUSZRMLS","LawDescription":"PTFUQIHHTQ","LegalPenalty":"HIMHWJ","LegalGuideline":"KIMV","RuleSetDefinition":"DOHL","RuleSetInterpretation":"UHVLQS","RuleSetType":"Criterion","RuleSetName":{"Name":"XNOGENA"},"RuleSetIdentification":{"IdentifierValue":"55035624","IdentifierIssuerReference":{"PartyReference":"YAG","InvolvementReference":"FGHFP"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.098209284Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.098241685Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"RuleSetLifecycleStatus":{"StatusReason":"CMBAUQ","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098285586Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098320927Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098349458Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"HXB","InvolvementReference":"HXM"}}},{"LawType":"VVKJLDTLD","LawDescription":"YSCGFCCRV","LegalPenalty":"DFFD","LegalGuideline":"HDIDLUPK","RuleSetDefinition":"IQJ","RuleSetInterpretation":"QTAAJIO","RuleSetType":"Policy","RuleSetName":{"Name":"PUYJCAB"},"RuleSetIdentification":{"IdentifierValue":"68826267","IdentifierIssuerReference":{"PartyReference":"NCFTDBCNV","InvolvementReference":"IYLTLX"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.098523443Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.098558243Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}},"RuleSetLifecycleStatus":{"StatusReason":"WTAJV","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098603054Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098639626Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098670926Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"MVBDNSZVW","InvolvementReference":"VGI"}}},{"LawType":"MOPYJRJLHC","LawDescription":"EENEEZN","LegalPenalty":"SHXVFEKFN","LegalGuideline":"JMWMCPH","RuleSetDefinition":"KTXIRRPA","RuleSetInterpretation":"ELVOOG","RuleSetType":"Guideline","RuleSetName":{"Name":"ISKAAPKXAT"},"RuleSetIdentification":{"IdentifierValue":"82914429","IdentifierIssuerReference":{"PartyReference":"NLVN","InvolvementReference":"DIITZPVPN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13T11:18:20.098802250Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13T11:18:20.098835461Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"RuleSetLifecycleStatus":{"StatusReason":"FEE","StatusDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098879182Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098914123Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13T11:18:20.098943664Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"GOUDISHHOO","InvolvementReference":"RAZ"}}},{"LawType":"KQK","LawDescription":"ATRDFI","LegalPenalty":"NNLIRB","LegalGuideline":"RRSLXSMYH","RuleSetDefinition":"GTAQDNY","RuleSetInterpretation":"WKFADFLY","RuleSetType":"Policy","RuleSetName":{"Name":"YNGGQ"},
[...]
