{"openapi":"3.0.1","info":{"title":"Document Directory","description":"Provides document management capabilities, including storage, retrieval, and classification of documents, and following the BIAN 'Document Services' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/v1/document-directory/{document-directory-id}/update":{"put":{"tags":["CR - DocumentDirectoryEntry - v13"],"summary":"Update Document Directory Entry","operationId":"update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/update":{"put":{"tags":["CR - DocumentDirectoryEntry - stub"],"summary":"Update Document Directory Entry","operationId":"update_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/request":{"put":{"tags":["CR - DocumentDirectoryEntry - stub"],"summary":"Request Document Directory Entry","operationId":"request","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/execute":{"put":{"tags":["CR - DocumentDirectoryEntry - stub"],"summary":"Execute Document Directory Entry","operationId":"execute","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-version-properties/{document-version-properties-id}/update":{"put":{"tags":["BQ - DocumentVersionProperties - stub"],"summary":"Update Document Version Properties","operationId":"update_2","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-version-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVersionPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-version-properties/{document-version-properties-id}/request":{"put":{"tags":["BQ - DocumentVersionProperties - stub"],"summary":"Request Document Version Properties","operationId":"request_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-version-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVersionPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-version-properties/{document-version-properties-id}/execute":{"put":{"tags":["BQ - DocumentVersionProperties - stub"],"summary":"Execute Document Version Properties","operationId":"execute_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-version-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVersionPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-verification-properties/{document-verification-properties-id}/update":{"put":{"tags":["BQ - DocumentVerificationProperties - stub"],"summary":"Update Document Verification Properties","operationId":"update_3","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-verification-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVerificationProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVerificationPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-verification-properties/{document-verification-properties-id}/request":{"put":{"tags":["BQ - DocumentVerificationProperties - stub"],"summary":"Request Document Verification Properties","operationId":"request_2","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-verification-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVerificationProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVerificationPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-verification-properties/{document-verification-properties-id}/execute":{"put":{"tags":["BQ - DocumentVerificationProperties - stub"],"summary":"Execute Document Verification Properties","operationId":"execute_2","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-verification-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVerificationProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVerificationPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-update-history-properties/{document-update-history-properties-id}/update":{"put":{"tags":["BQ - DocumentUpdateHistoryProperties - stub"],"summary":"Update Document Update History Properties","operationId":"update_4","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-update-history-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-update-history-properties/{document-update-history-properties-id}/request":{"put":{"tags":["BQ - DocumentUpdateHistoryProperties - stub"],"summary":"Request Document Update History Properties","operationId":"request_3","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-update-history-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-update-history-properties/{document-update-history-properties-id}/execute":{"put":{"tags":["BQ - DocumentUpdateHistoryProperties - stub"],"summary":"Execute Document Update History Properties","operationId":"execute_3","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-update-history-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-reference-properties/{document-reference-properties-id}/update":{"put":{"tags":["BQ - DocumentReferenceProperties - stub"],"summary":"Update Document Reference Properties","operationId":"update_5","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-reference-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentReferencePropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-reference-properties/{document-reference-properties-id}/request":{"put":{"tags":["BQ - DocumentReferenceProperties - stub"],"summary":"Request Document Reference Properties","operationId":"request_4","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-reference-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentReferencePropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-reference-properties/{document-reference-properties-id}/execute":{"put":{"tags":["BQ - DocumentReferenceProperties - stub"],"summary":"Execute Document Reference Properties","operationId":"execute_4","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-reference-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentReferencePropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-archiving-properties/{document-archiving-properties-id}/update":{"put":{"tags":["BQ - DocumentArchivingProperties - stub"],"summary":"Update Document Archiving Properties","operationId":"update_6","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-archiving-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentArchivingProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentArchivingPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-archiving-properties/{document-archiving-properties-id}/request":{"put":{"tags":["BQ - DocumentArchivingProperties - stub"],"summary":"Request Document Archiving Properties","operationId":"request_5","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-archiving-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentArchivingProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentArchivingPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-archiving-properties/{document-archiving-properties-id}/execute":{"put":{"tags":["BQ - DocumentArchivingProperties - stub"],"summary":"Execute Document Archiving Properties","operationId":"execute_5","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-archiving-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentArchivingProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentArchivingPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-amendment-properties/{document-amendment-properties-id}/update":{"put":{"tags":["BQ - DocumentAmendmentProperties - stub"],"summary":"Update Document Amendment Properties","operationId":"update_7","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-amendment-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-amendment-properties/{document-amendment-properties-id}/request":{"put":{"tags":["BQ - DocumentAmendmentProperties - stub"],"summary":"Request Document Amendment Properties","operationId":"request_6","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-amendment-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-amendment-properties/{document-amendment-properties-id}/execute":{"put":{"tags":["BQ - DocumentAmendmentProperties - stub"],"summary":"Execute Document Amendment Properties","operationId":"execute_6","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-amendment-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/document-directory/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/document-directory/register":{"post":{"tags":["CR - DocumentDirectoryEntry - v13"],"summary":"Register Document Directory Entry","operationId":"register","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-version-properties/register":{"post":{"tags":["BQ - DocumentVersionProperties - stub"],"summary":"Register Document Version Properties","operationId":"register_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVersionPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-verification-properties/register":{"post":{"tags":["BQ - DocumentVerificationProperties - stub"],"summary":"Register Document Verification Properties","operationId":"register_2","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVerificationProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVerificationPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-update-history-properties/register":{"post":{"tags":["BQ - DocumentUpdateHistoryProperties - stub"],"summary":"Register Document Update History Properties","operationId":"register_3","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-reference-properties/register":{"post":{"tags":["BQ - DocumentReferenceProperties - stub"],"summary":"Register Document Reference Properties","operationId":"register_4","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentReferencePropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-archiving-properties/register":{"post":{"tags":["BQ - DocumentArchivingProperties - stub"],"summary":"Register Document Archiving Properties","operationId":"register_5","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentArchivingProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentArchivingPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-amendment-properties/register":{"post":{"tags":["BQ - DocumentAmendmentProperties - stub"],"summary":"Register Document Amendment Properties","operationId":"register_6","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentProperties"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentPropertiesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/register":{"post":{"tags":["CR - DocumentDirectoryEntry - stub"],"summary":"Register Document Directory Entry","operationId":"register_7","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/document-directory/{document-directory-id}/retrieve":{"get":{"tags":["CR - DocumentDirectoryEntry - v13"],"summary":"Retrieve Document Directory Entry","operationId":"retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/retrieve":{"get":{"tags":["CR - DocumentDirectoryEntry - stub"],"summary":"Retrieve Document Directory Entry","operationId":"retrieve_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/notify":{"get":{"tags":["CR - DocumentDirectoryEntry - stub"],"summary":"Notify Document Directory Entry","operationId":"notify","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDirectoryEntry"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-version-properties/{document-version-properties-id}/retrieve":{"get":{"tags":["BQ - DocumentVersionProperties - stub"],"summary":"Retrieve Document Version Properties","operationId":"retrieve_2","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-version-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVersionProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-version-properties/{document-version-properties-id}/notify":{"get":{"tags":["BQ - DocumentVersionProperties - stub"],"summary":"Notify Document Version Properties","operationId":"notify_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-version-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVersionProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-verification-properties/{document-verification-properties-id}/retrieve":{"get":{"tags":["BQ - DocumentVerificationProperties - stub"],"summary":"Retrieve Document Verification Properties","operationId":"retrieve_3","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-verification-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVerificationProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-verification-properties/{document-verification-properties-id}/notify":{"get":{"tags":["BQ - DocumentVerificationProperties - stub"],"summary":"Notify Document Verification Properties","operationId":"notify_2","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-verification-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVerificationProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-update-history-properties/{document-update-history-properties-id}/retrieve":{"get":{"tags":["BQ - DocumentUpdateHistoryProperties - stub"],"summary":"Retrieve Document Update History Properties","operationId":"retrieve_4","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-update-history-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-update-history-properties/{document-update-history-properties-id}/notify":{"get":{"tags":["BQ - DocumentUpdateHistoryProperties - stub"],"summary":"Notify Document Update History Properties","operationId":"notify_3","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-update-history-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentUpdateHistoryProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-reference-properties/{document-reference-properties-id}/retrieve":{"get":{"tags":["BQ - DocumentReferenceProperties - stub"],"summary":"Retrieve Document Reference Properties","operationId":"retrieve_5","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-reference-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentReferenceProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-reference-properties/{document-reference-properties-id}/notify":{"get":{"tags":["BQ - DocumentReferenceProperties - stub"],"summary":"Notify Document Reference Properties","operationId":"notify_4","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-reference-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentReferenceProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-archiving-properties/{document-archiving-properties-id}/retrieve":{"get":{"tags":["BQ - DocumentArchivingProperties - stub"],"summary":"Retrieve Document Archiving Properties","operationId":"retrieve_6","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-archiving-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentArchivingProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-archiving-properties/{document-archiving-properties-id}/notify":{"get":{"tags":["BQ - DocumentArchivingProperties - stub"],"summary":"Notify Document Archiving Properties","operationId":"notify_5","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-archiving-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentArchivingProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-amendment-properties/{document-amendment-properties-id}/retrieve":{"get":{"tags":["BQ - DocumentAmendmentProperties - stub"],"summary":"Retrieve Document Amendment Properties","operationId":"retrieve_7","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-amendment-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/document-directory/{document-directory-id}/document-amendment-properties/{document-amendment-properties-id}/notify":{"get":{"tags":["BQ - DocumentAmendmentProperties - stub"],"summary":"Notify Document Amendment Properties","operationId":"notify_6","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"document-directory-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"document-amendment-properties-id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentAmendmentProperties"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/document-directory/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfig"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/document-directory/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"Action":{"type":"object","properties":{"actionType":{"type":"string","enum":["Initiate","Execute","Create","Transfer","Pay","Deliver","Apply","Calculate"]}},"example":{"actionType":"Pay"}},"Address":{"type":"object","properties":{"addressType":{"type":"string","enum":["PostalAddress","GeolocationAddress","LatitudeAddress","LongitudeAddress","ElectronicAddress"]},"locationReference":{"type":"string"}},"example":{"addressType":"PostalAddress","locationReference":"XPUKH"}},"Bankingproduct":{"type":"object","properties":{"productIdentification":{"$ref":"#/components/schemas/ProductIdentification"},"productType":{"type":"string","enum":["LoanProduct","CurrentAccountProduct","SavingAccountProduct","BrokeredProduct","TermDepositProduct"]},"productLifecycleStatus":{"$ref":"#/components/schemas/ProductStatus"},"productPriority":{"$ref":"#/components/schemas/Text"},"productDescription":{"$ref":"#/components/schemas/Text"},"productVersion":{"$ref":"#/components/schemas/Text"},"productName":{"$ref":"#/components/schemas/Name"}},"example":{"productIdentification":{"productIdentification":{"identifierValue":{"value":"ECSQHWNNR"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"RJCHHJVM"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.007613372Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExpiryDate"},"partyIdentification":{"partyIdentificationType":"LegalEntityIdentifier","partyIdentification":"FKHFYRMVHH"},"partyLegalStructureType":"PrivateLimitedCompany"},"partyInvolvement":{"partyRoleType":{"text":"HIDFQJS"},"partyRoleName":{"name":"BTU"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.007779756Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValueDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.007827167Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"RequestedDate"}},"partyInvolvementType":"BankGuaranteeInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.007867248Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"RequestedDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.007887658Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"EffectiveDate"}},"productIdentificationType":"SuppliersItemNumber"},"productType":"LoanProduct","productLifecycleStatus":{"productStatus":{"statusReason":{"text":"SSTBKRBFH"},"statusDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.007939510Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"statusValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.007959610Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.007977191Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ActivationDate"}},"statusInvolvedParty":{"partyReference":{"partyName":{"name":"OSOBYSNUR"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.008011512Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"partyIdentification":{"partyIdentificationType":"NationalRegistrationIdentificationNumber","partyIdentification":"JAYGOQD"},"partyLegalStructureType":"Individual"},"partyInvolvement":{"partyRoleType":{"text":"BROFEKS"},"partyRoleName":{"name":"YMAISCKFD"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.008069213Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.008087974Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"}},"partyInvolvementType":"BankGuaranteeInvolvement"}}},"productStatusType":"Obsolete"},"productPriority":{"text":"ECDQLQDM"},"productDescription":{"text":"RKLPWZ"},"productVersion":{"text":"RACUWA"},"productName":{"name":"OOFEFFS"}}},"DateTime":{"type":"object","properties":{"dateTimeContent":{"$ref":"#/components/schemas/Text"},"timeZoneCode":{"$ref":"#/components/schemas/Text"},"daylightSavingIndicator":{"$ref":"#/components/schemas/Text"},"dateTimeType":{"type":"string","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate"]}},"example":{"dateTimeContent":{"text":"2026-05-13T11:17:37.008727209Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ActivationDate"}},"DateTimePeriod":{"type":"object","properties":{"fromDateTime":{"$ref":"#/components/schemas/DateTime"},"toDateTime":{"$ref":"#/components/schemas/DateTime"}},"example":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.009308764Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SigningDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.009341604Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"}}},"Document":{"type":"object","properties":{"documentIdentification":{"$ref":"#/components/schemas/Identifier"},"documentVersion":{"type":"string"},"documentType":{"type":"string","enum":["Meteredserviceinvoice","Creditnoterelatedtofinancialadjustment","Debitnoterelatedtofinancialadjustment","Commercialinvoice","Creditnote","Debitnote","Hireinvoice","Selfbilledinvoice","Remittanceadvicemessage","Relatedpaymentinstruction","Commercialcontract","Foreignexchangedealreference","Statementofaccount","Dispatchadvice","Purchaseorder","Structuredcommunicationreference","Billoflading","Voucher","Accountreceivableopenitem","Tradeservicesutilitytransaction","Cashierreceipt","Customerreceipt","Journal","Salereceipt"]},"documentStatus":{"$ref":"#/components/schemas/Status"},"documentDateTime":{"$ref":"#/components/schemas/DateTime"},"documentName":{"$ref":"#/components/schemas/Name"},"documentDateTimeType":{"type":"string","enum":["CreationDate","CapturingDate","VersionDate","ValueDate","IssueDate"]},"documentPurpose":{"$ref":"#/components/schemas/Text"},"documentFormat":{"$ref":"#/components/schemas/Text"},"documentSubject":{"$ref":"#/components/schemas/Text"},"documentDescription":{"$ref":"#/components/schemas/Text"},"documentValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriod"}},"example":{"documentIdentification":{"identifierValue":{"value":"HLOLOIFGM"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"JPI"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.011968509Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"partyIdentification":{"partyIdentificationType":"CorporateIdentification","partyIdentification":"BJTGTDG"},"partyLegalStructureType":"LimitedPartnership"},"partyInvolvement":{"partyRoleType":{"text":"YCZLNO"},"partyRoleName":{"name":"IBIBPOO"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012037181Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidFromDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012062032Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValueDate"}},"partyInvolvementType":"AgreementInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012091252Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012112893Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CloseDate"}},"documentVersion":"OCZP","documentType":"Meteredserviceinvoice","documentStatus":{"statusReason":{"text":"YNUP"},"statusDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012154414Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValueDate"},"statusValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012178294Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012198935Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CloseDate"}},"statusInvolvedParty":{"partyReference":{"partyName":{"name":"MRMLRU"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012240966Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ActivationDate"},"partyIdentification":{"partyIdentificationType":"LegalEntityIdentifier","partyIdentification":"YDE"},"partyLegalStructureType":"GeneralPartnership"},"partyInvolvement":{"partyRoleType":{"text":"RUHYQRM"},"partyRoleName":{"name":"OTES"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012297297Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012318158Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"InitiatedDate"}},"partyInvolvementType":"LocationInvolvement"}}},"documentDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012347748Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExpiryDate"},"documentName":{"name":"SBEI"},"documentDateTimeType":"CapturingDate","documentPurpose":{"text":"ATERX"},"documentFormat":{"text":"YFUDINAC"},"documentSubject":{"text":"UWQAWXLMF"},"documentDescription":{"text":"AVRDZ"},"documentValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012410490Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SigningDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.012430490Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"InitiatedDate"}}}},"DocumentDirectoryEntry":{"type":"object","properties":{"DocumentName":{"$ref":"#/components/schemas/Name"},"LocationReference":{"$ref":"#/components/schemas/Location"},"BusinessUnitorEmployeeReference":{"$ref":"#/components/schemas/InvolvedParty"},"ProductandServiceReference":{"$ref":"#/components/schemas/Bankingproduct"},"ProductandServiceActionReference":{"$ref":"#/components/schemas/Action"},"DocumentCreationDate":{"$ref":"#/components/schemas/DateTime"},"DocumentCaptureDateandTime":{"$ref":"#/components/schemas/Text"},"DocumentTypeDescription":{"type":"string","enum":["FinancialDocument","CommercialDocument","BusinessDocument"]},"DocumentContent":{"$ref":"#/components/schemas/Text"},"DocumentProvisioningHistory":{"$ref":"#/components/schemas/DocumentService"},"DocumentProvisioningRequest":{"$ref":"#/components/schemas/Instruction"},"DocumentProvisioningSchedule":{"$ref":"#/components/schemas/Schedule"},"DocumentProvisioningResult":{"type":"string"},"DocumentVersionHistory":{"$ref":"#/components/schemas/DocumentService"},"DocumentVersion":{"$ref":"#/components/schemas/Text"},"DocumentVersionDate":{"$ref":"#/components/schemas/DateTime"},"DocumentVerificationHistory":{"$ref":"#/components/schemas/DocumentService"},"DocumentVerificationTaskDescription":{"$ref":"#/components/schemas/Text"},"DocumentVerificationServiceProviderReference":{"$ref":"#/components/schemas/InvolvedParty"},"DocumentVerificationTaskResult":{"$ref":"#/components/schemas/Task"},"DocumentAmendmentHistory":{"$ref":"#/components/schemas/DocumentService"},"DocumentAmendmentDescription":{"$ref":"#/components/schemas/Text"},"DocumentAmendmentResult":{"$ref":"#/components/schemas/Text"},"DocumentUpdateHistory":{"$ref":"#/components/schemas/Text"},"DocumentUpdateDescription":{"$ref":"#/components/schemas/Text"},"DocumentUpdateResult":{"$ref":"#/components/schemas/Text"},"DocumentArchivingHistory":{"$ref":"#/components/schemas/DocumentService"},"DocumentArchivingAction":{"$ref":"#/components/schemas/Action"},"DocumentArchiveReference":{"$ref":"#/components/schemas/Log"},"DocumentMediaFormat":{"$ref":"#/components/schemas/Document"},"DocumentSubjectReference":{"$ref":"#/components/schemas/Subject"},"DocumentLocation":{"$ref":"#/components/schemas/DocumentLocation"},"DocumentStatus":{"$ref":"#/components/schemas/Status"}},"example":{"DocumentName":{"name":"MRBKRUU"},"LocationReference":{"locationDescription":{"text":"EFOEE"},"locationDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019391852Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExpiryDate"},"locationStatus":{"statusReason":{"text":"UXMYIGL"},"statusDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019420043Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CloseDate"},"statusValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019434223Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SigningDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019447594Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidFromDate"}},"statusInvolvedParty":{"partyReference":{"partyName":{"name":"KYPWTK"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019472364Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValueDate"},"partyIdentification":{"partyIdentificationType":"DriverLicenseNumber","partyIdentification":"TJRXFCDD"},"partyLegalStructureType":"PrivateLimitedCompany"},"partyInvolvement":{"partyRoleType":{"text":"YYGGWNNC"},"partyRoleName":{"name":"QVZD"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019509595Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019520985Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExpiryDate"}},"partyInvolvementType":"LocationInvolvement"}}},"locationType":"Region","locationZoningType":{"text":"ADV"},"locationNeighborhoodType":{"text":"YVOAN"},"locationConstructionType":{"text":"GNCCMUVEF"},"locationOccupancyType":{"text":"MAGXKHJS"},"locationValue":{"value":"KEOWZKGL"},"locationCapacity":{"text":"MOTZFKLFSW"},"locationIdentification":{"identifierValue":{"value":"WOJWUL"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"YNVVNRIUV"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019584307Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"EffectiveDate"},"partyIdentification":{"partyIdentificationType":"IdentityCardNumber","partyIdentification":"ZYAB"},"partyLegalStructureType":"GeneralPartnership"},"partyInvolvement":{"partyRoleType":{"text":"QEVUAVL"},"partyRoleName":{"name":"MWZSRWABHS"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019617628Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019628758Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"RequestedDate"}},"partyInvolvementType":"BankGuaranteeInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019643778Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ReceivingDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019655669Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CreatingDate"}},"locationAddress":{"addressType":"ElectronicAddress","locationReference":"GSRYJ"},"locationName":{"name":"OMVHXSPPK"},"locationTimeZone":{"text":"KPHTBXAKEY"}},"BusinessUnitorEmployeeReference":{"partyReference":{"partyName":{"name":"BXWAMAROO"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019695170Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"partyIdentification":{"partyIdentificationType":"CorporateIdentification","partyIdentification":"TFCI"},"partyLegalStructureType":"Charity"},"partyInvolvement":{"partyRoleType":{"text":"FXHJJX"},"partyRoleName":{"name":"BYMPSYLXT"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019728290Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"MaturityDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019738931Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CreatingDate"}},"partyInvolvementType":"ArrangementInvolvement"}},"ProductandServiceReference":{"productIdentification":{"productIdentification":{"identifierValue":{"value":"JDEFIBDE"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"FAYQD"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019780292Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SendingDate"},"partyIdentification":{"partyIdentificationType":"CorporateIdentification","partyIdentification":"SODDMMS"},"partyLegalStructureType":"GeneralPartnership"},"partyInvolvement":{"partyRoleType":{"text":"PZUDSHMPU"},"partyRoleName":{"name":"FXKFVM"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019816493Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidFromDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019829553Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"}},"partyInvolvementType":"AgreementInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019845053Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExecutedDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019855634Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"}},"productIdentificationType":"PartNumber"},"productType":"TermDepositProduct","productLifecycleStatus":{"productStatus":{"statusReason":{"text":"UBI"},"statusDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019882974Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CreatingDate"},"statusValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019895615Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ReceivingDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019906765Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SendingDate"}},"statusInvolvedParty":{"partyReference":{"partyName":{"name":"BXMXAOK"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019929926Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CreatingDate"},"partyIdentification":{"partyIdentificationType":"Concat","partyIdentification":"GTIAWGCYUO"},"partyLegalStructureType":"PublicLimitedCompany"},"partyInvolvement":{"partyRoleType":{"text":"LNTYB"},"partyRoleName":{"name":"WHNJUVK"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019963526Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CloseDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.019974127Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ReceivingDate"}},"partyInvolvementType":"RelationshipInvolvement"}}},"productStatusType":"Sold"},"productPriority":{"text":"INHDZRGPFZ"},"productDescription":{"text":"SZHX"},"productVersion":{"text":"PET"},"productName":{"name":"JUNB"}},"ProductandServiceActionReference":{"actionType":"Execute"},"DocumentCreationDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020017678Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"MaturityDate"},"DocumentCaptureDateandTime":{"text":"YBC"},"DocumentTypeDescription":"CommercialDocument","DocumentContent":{"text":"KWSPTDBA"},"DocumentProvisioningHistory":{"DocumentServiceType":"DocumentArchiving","DocumentServiceSchedule":{"ScheduleType":{"text":"PUQ"}},"DocumentServiceProvider":{"partyName":{"name":"GIHHLBLU"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020064619Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"MaturityDate"},"partyIdentification":{"partyIdentificationType":"SocialSecurityNumber","partyIdentification":"KOTMPDQ"},"partyLegalStructureType":"PrivateLimitedCompany"},"DocumentServiceName":{"name":"VQUIRUOFSP"},"DocumentServiceDescription":{"text":"QLOTKW"},"DocumentServiceOutcome":{"text":"CKYX"},"DocumentServiceRequest":{"instructionDate":{"instructionDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020105550Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"InitiatedDate"},"instructionDateType":"ExecutionDate"},"instructionStatus":{"instructionStatusType":"Standinginstruction","instructionStatus":{"statusReason":{"text":"FEZDOL"},"statusDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020133240Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"statusValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020146141Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CreatingDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020157141Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CloseDate"}},"statusInvolvedParty":{"partyReference":{"partyName":{"name":"ICNDDPJ"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020178361Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SendingDate"},"partyIdentification":{"partyIdentificationType":"PassportNumber","partyIdentification":"GOLVARQQCI"},"partyLegalStructureType":"PublicLimitedCompany"},"partyInvolvement":{"partyRoleType":{"text":"OKUXKT"},"partyRoleName":{"name":"XAXSGWMLU"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020211172Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020221993Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"}},"partyInvolvementType":"DesignSpecificationInvolvement"}}}},"instructionIdentifier":{"instructionIdentification":{"identifierValue":{"value":"QKQMZTSTR"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"ULOMMG"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020257883Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExpiryDate"},"partyIdentification":{"partyIdentificationType":"ForeignInvestmentIdentityNumber","partyIdentification":"FBAVITZIFH"},"partyLegalStructureType":"CommunityInterestCompany"},"partyInvolvement":{"partyRoleType":{"text":"JTRK"},"partyRoleName":{"name":"WDG"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020291254Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ActivationDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020302975Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"}},"partyInvolvementType":"ArrangementInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020319485Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"MaturityDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020331095Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CreatingDate"}},"instructionIdentificationType":"OrderNumber"},"instructionType":"AllocationInstruction","instructionResult":{"text":"TDPEIFC"},"instructionDescription":{"text":"BIOJQD"},"instructionLog":{"logType":{"text":"GADT"},"logPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020365366Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ActivationDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020376477Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"MaturityDate"}},"logDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.020388417Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CreatingDate"},"logIdentification":{"identifierValue":{"value":"QLMXRSLJN"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"XRRHV"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102123229Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"MaturityDate"},"partyIdentification":{"partyIdentificationType":"TaxIdentificationNumber","partyIdentification":"RWVBK"},"partyLegalStructureType":"ScottishLimitedPartnership"},"partyInvolvement":{"partyRoleType":{"text":"SEQXHJXWGH"},"partyRoleName":{"name":"MLQWWNRDNB"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102244321Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102273742Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"}},"partyInvolvementType":"AgreementInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102314873Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExpiryDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102340474Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExpiryDate"}}},"instructionPurpose":{"text":"KVMPANW"}},"DocumentServiceFunction":{"function":"OSZ"}},"DocumentProvisioningRequest":{"instructionDate":{"instructionDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102417586Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"},"instructionDateType":"FulfillmentDate"},"instructionStatus":{"instructionStatusType":"Queued","instructionStatus":{"statusReason":{"text":"HWO"},"statusDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102483747Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"statusValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102516828Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102544509Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"}},"statusInvolvedParty":{"partyReference":{"partyName":{"name":"UXYUHF"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102597310Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"},"partyIdentification":{"partyIdentificationType":"SocialSecurityNumber","partyIdentification":"UVBSORBUVP"},"partyLegalStructureType":"GeneralPartnership"},"partyInvolvement":{"partyRoleType":{"text":"YXEYZYIXP"},"partyRoleName":{"name":"BEKSCND"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102674942Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102702683Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExpiryDate"}},"partyInvolvementType":"RelationshipInvolvement"}}}},"instructionIdentifier":{"instructionIdentification":{"identifierValue":{"value":"UHNJGPC"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"WFY"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102782595Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ReceivingDate"},"partyIdentification":{"partyIdentificationType":"TaxIdentificationNumber","partyIdentification":"XROIG"},"partyLegalStructureType":"GeneralPartnership"},"partyInvolvement":{"partyRoleType":{"text":"HBHD"},"partyRoleName":{"name":"ZTWURLKW"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102837526Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102857407Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SendingDate"}},"partyInvolvementType":"RelationshipInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102883617Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102901848Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CloseDate"}},"instructionIdentificationType":"OrderNumber"},"instructionType":"PaymentInstruction","instructionResult":{"text":"OENZGNMDS"},"instructionDescription":{"text":"ENDFGQC"},"instructionLog":{"logType":{"text":"VYMAUNWKGD"},"logPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102966089Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidFromDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.102989820Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"RequestedDate"}},"logDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103011980Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ReceivingDate"},"logIdentification":{"identifierValue":{"value":"ESPK"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"PGJNGWUP"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103058172Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"MaturityDate"},"partyIdentification":{"partyIdentificationType":"ForeignInvestmentIdentityNumber","partyIdentification":"SYIB"},"partyLegalStructureType":"CommunityInterestCompany"},"partyInvolvement":{"partyRoleType":{"text":"EYXS"},"partyRoleName":{"name":"CIRUPNLIE"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103115513Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103138923Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"}},"partyInvolvementType":"RelationshipInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103170744Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103193335Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"}}},"instructionPurpose":{"text":"FJYFJD"}},"DocumentProvisioningSchedule":{"ScheduleType":{"text":"SOUX"}},"DocumentProvisioningResult":"HKIOUXGOA","DocumentVersionHistory":{"DocumentServiceType":"DocumentArchiving","DocumentServiceSchedule":{"ScheduleType":{"text":"MQW"}},"DocumentServiceProvider":{"partyName":{"name":"CAERF"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103287087Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"FulfillmentDate"},"partyIdentification":{"partyIdentificationType":"PassportNumber","partyIdentification":"CBIHLGYM"},"partyLegalStructureType":"LimitedLiabilityPartnership"},"DocumentServiceName":{"name":"LEZXSWLT"},"DocumentServiceDescription":{"text":"COASETDZRQ"},"DocumentServiceOutcome":{"text":"NGCCEU"},"DocumentServiceRequest":{"instructionDate":{"instructionDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103364749Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"},"instructionDateType":"FulfillmentDate"},"instructionStatus":{"instructionStatusType":"Pending","instructionStatus":{"statusReason":{"text":"DIGHVLNNF"},"statusDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103420110Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"EffectiveDate"},"statusValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103448201Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103471302Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SigningDate"}},"statusInvolvedParty":{"partyReference":{"partyName":{"name":"IILLIK"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103514233Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"InitiatedDate"},"partyIdentification":{"partyIdentificationType":"LegalEntityIdentifier","partyIdentification":"WTRE"},"partyLegalStructureType":"LimitedPartnership"},"partyInvolvement":{"partyRoleType":{"text":"GVHSU"},"partyRoleName":{"name":"OFUQCSEQ"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103572234Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExecutedDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103594925Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"}},"partyInvolvementType":"LocationInvolvement"}}}},"instructionIdentifier":{"instructionIdentification":{"identifierValue":{"value":"TOL"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"CWMWOLWBHI"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103664516Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"},"partyIdentification":{"partyIdentificationType":"Concat","partyIdentification":"SYIYUVQVXB"},"partyLegalStructureType":"LimitedLiabilityPartnership"},"partyInvolvement":{"partyRoleType":{"text":"TDKGWS"},"partyRoleName":{"name":"XWL"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103730978Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103755729Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"EffectiveDate"}},"partyInvolvementType":"BankGuaranteeInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103787470Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103809590Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SigningDate"}},"instructionIdentificationType":"InstructionNumber"},"instructionType":"MaintenanceInstruction","instructionResult":{"text":"UKTKI"},"instructionDescription":{"text":"MUWWYP"},"instructionLog":{"logType":{"text":"HPPZICXT"},"logPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103870452Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103896862Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ReceivingDate"}},"logDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103921143Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"},"logIdentification":{"identifierValue":{"value":"LMLWBDBCVL"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"EIAIEE"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.103976604Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"partyIdentification":{"partyIdentificationType":"CorporateIdentification","partyIdentification":"ZXOXSVPS"},"partyLegalStructureType":"ScottishLimitedPartnership"},"partyInvolvement":{"partyRoleType":{"text":"NEYDZ"},"partyRoleName":{"name":"KCKGJMW"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104046976Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DeactivationDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104117588Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"CreatingDate"}},"partyInvolvementType":"BankGuaranteeInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104155149Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"MaturityDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104178679Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"DueDate"}}},"instructionPurpose":{"text":"AXRA"}},"DocumentServiceFunction":{"function":"DHSPXE"}},"DocumentVersion":{"text":"WMGZBK"},"DocumentVersionDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104250911Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidFromDate"},"DocumentVerificationHistory":{"DocumentServiceType":"DocumentAmendment","DocumentServiceSchedule":{"ScheduleType":{"text":"WUW"}},"DocumentServiceProvider":{"partyName":{"name":"FBTNGONV"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104315303Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"},"partyIdentification":{"partyIdentificationType":"LegalEntityIdentifier","partyIdentification":"NHKD"},"partyLegalStructureType":"CharitableIncorporatedOrganisation"},"DocumentServiceName":{"name":"FGPCBTM"},"DocumentServiceDescription":{"text":"BUXBHUB"},"DocumentServiceOutcome":{"text":"XYOBYFQP"},"DocumentServiceRequest":{"instructionDate":{"instructionDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104384104Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"InitiatedDate"},"instructionDateType":"DueDate"},"instructionStatus":{"instructionStatusType":"Cancelledbysubcustodian","instructionStatus":{"statusReason":{"text":"MRYS"},"statusDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104426425Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"InitiatedDate"},"statusValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104454206Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SendingDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104478687Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SendingDate"}},"statusInvolvedParty":{"partyReference":{"partyName":{"name":"VKRQXX"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104522048Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"RequestedDate"},"partyIdentification":{"partyIdentificationType":"LegalEntityIdentifier","partyIdentification":"SZPAXIZBZ"},"partyLegalStructureType":"GeneralPartnership"},"partyInvolvement":{"partyRoleType":{"text":"NMETHICGG"},"partyRoleName":{"name":"UXYIQFOHD"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104589569Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"RequestedDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104611270Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"RequestedDate"}},"partyInvolvementType":"PartyInvolvement"}}}},"instructionIdentifier":{"instructionIdentification":{"identifierValue":{"value":"URQTVIVQRQ"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"YWJNAHWEE"},"partyType":"Person","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104682552Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidFromDate"},"partyIdentification":{"partyIdentificationType":"RegistrationAuthorityIdentification","partyIdentification":"DZTPNUW"},"partyLegalStructureType":"PublicLimitedCompany"},"partyInvolvement":{"partyRoleType":{"text":"RUPN"},"partyRoleName":{"name":"IAKNSQJHI"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104742483Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SendingDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104762404Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"}},"partyInvolvementType":"AgreementInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104787154Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ActivationDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104808195Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ValidToDate"}},"instructionIdentificationType":"InstructionNumber"},"instructionType":"ExchangeInstruction","instructionResult":{"text":"OPR"},"instructionDescription":{"text":"MFV"},"instructionLog":{"logType":{"text":"AZYLDCFCWP"},"logPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104870866Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"BlockingDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104892387Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"OpenDate"}},"logDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104913267Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SigningDate"},"logIdentification":{"identifierValue":{"value":"OTIEV"},"identifierIssuingAuthority":{"partyReference":{"partyName":{"name":"KKOOLLSF"},"partyType":"Organisation","partyDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.104967969Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ReceivingDate"},"partyIdentification":{"partyIdentificationType":"ForeignInvestmentIdentityNumber","partyIdentification":"EMQHJLGMNW"},"partyLegalStructureType":"CharitableIncorporatedOrganisation"},"partyInvolvement":{"partyRoleType":{"text":"GNZDL"},"partyRoleName":{"name":"SNGXUEMZM"},"partyRoleValidityPeriod":{"fromDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.105035750Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"ExecutedDate"},"toDateTime":{"dateTimeContent":{"text":"2026-05-13T11:17:37.105058441Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"InitiatedDate"}},"partyInvolvementType":"DesignSpecificationInvolvement"}},"identifierStartDate":{"dateTimeContent":{"text":"2026-05-13T11:17:37.105090392Z"},"timeZoneCode":{"text":"UTC"},"daylightSavingIndicator":{"text":"false"},"dateTimeType":"SendingDate"},"identifierEndDate":{"dateTimeContent":{"text":"2026-05-13T11:1
[...]
