{"openapi":"3.0.1","info":{"title":"Party Reference Data Directory","description":"Maintains a consolidated master registry of Party profiles used across the enterprise and following the BIAN 'Party Reference Data Directory' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"tags":[{"name":"BQ - Demographics - stub","description":"Demographics operations"},{"name":"CR - PartyReferenceDataDirectoryEntry - v14","description":"Party Reference Data Directory Entry operations"},{"name":"BQ - Associations - v14","description":"Associations operations"},{"name":"BQ - Reference - stub","description":"Reference operations"},{"name":"BQ - CorePartyProfile - v14","description":"Operations related to Core Party management in Party Reference Data Directory."},{"name":"BQ - BankRelations - stub","description":"Bank Relations operations"},{"name":"BQ - BankRelations - v14","description":"Bank Relations operations"},{"name":"CR - PartyReferenceDataDirectoryEntry - stub","description":"Party Reference Data Directory Entry operations"},{"name":"BQ - Associations - stub","description":"Associations operations"},{"name":"BQ - Demographics - v14","description":"Demographics operations"},{"name":"BQ - Reference - v14","description":"Reference operations"}],"paths":{"/v2/party-reference-data-directory/{partyreferencedatadirectoryid}/update":{"put":{"tags":["CR - PartyReferenceDataDirectoryEntry - v14"],"summary":"UpCR Update details about the customer's directory entry","description":"UpCR Update details about the customer's directory entry","operationId":"update","parameters":[{"name":"partyreferencedatadirectoryid","in":"path","description":"Party Reference Data Directory ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.PartyReferenceDataDirectoryEntryDto"},"example":{"Id":"GDESRLPP","PartyReference":{"PartyName":{"FirstName":"UZULEOBSRJ","MiddleName":"XDJQNZCCT","FamilyName":"BHZYISCFO","GivenName":"GTAEG","NickName":"KYPGHDNW","FullName":"WMA","BirthName":"YFE","ShortName":"YWG","TradingName":"TRIE","LegalName":"CKIIHOVHS"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"VOEJLRSAL","TimeZoneCode":"FKPM","DaylightSavingIndicator":"TSEMUW","DateTimeType":"SigningDate"},"PartyIdentification":[{"PartyIdentificationType":"Passportnumber","PartyIdentification":{"IdentifierValue":"CTCQAWFEJZ","IdentifierIssuerReference":{"PartyReference":"JOYIBEWQKT","InvolvementReference":"PXTXW"},"IdentifierStartDate":{"DateTimeContent":"NTDM","TimeZoneCode":"CYMY","DaylightSavingIndicator":"ETLDPMQEFA","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"BAUSFLCAAB","TimeZoneCode":"HJCXOQ","DaylightSavingIndicator":"PXJAAWL","DateTimeType":"DeactivationDate"}}},{"PartyIdentificationType":"Nationalregistrationidentificationnumber","PartyIdentification":{"IdentifierValue":"KHB","IdentifierIssuerReference":{"PartyReference":"TDVDGGF","InvolvementReference":"NRTHHG"},"IdentifierStartDate":{"DateTimeContent":"XQSEQ","TimeZoneCode":"HONQTUD","DaylightSavingIndicator":"YJVC","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"RTFUZ","TimeZoneCode":"OLKIYKQ","DaylightSavingIndicator":"MZPOLW","DateTimeType":"RequestedDate"}}},{"PartyIdentificationType":"Identitycardnumber","PartyIdentification":{"IdentifierValue":"RPLTSHI","IdentifierIssuerReference":{"PartyReference":"NRI","InvolvementReference":"LPUKREVBMO"},"IdentifierStartDate":{"DateTimeContent":"XFDJLSCBCI","TimeZoneCode":"LNUU","DaylightSavingIndicator":"AMOSJJN","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"KDINBJ","TimeZoneCode":"KEUZS","DaylightSavingIndicator":"NUOG","DateTimeType":"ValueDate"}}}],"PartyLegalStructureType":"CommunityInterestCompany","PartyActivityIndicator":{"Industrycode":"OUK"}},"DirectoryEntryDateType":"RefreshDate","DirectoryEntryDate":{"DateTimeContent":"GQCEF","TimeZoneCode":"NCZRX","DaylightSavingIndicator":"HSKSMKK","DateTimeType":"OpenDate"},"PartyType":"Organisation"}}},"required":true},"responses":{"200":{"description":"PartyReferenceDataDirectoryEntry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.PartyReferenceDataDirectoryEntryDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v2/party-reference-data-directory/{partyreferencedatadirectoryid}/reference/{referenceid}/update":{"put":{"tags":["BQ - Reference - v14"],"summary":"UpBQ Update details about a reference entry for the customer","description":"UpBQ Update details about a reference entry for the customer","operationId":"update_1","parameters":[{"name":"partyreferencedatadirectoryid","in":"path","description":"Party Reference Data Directory ID","required":true,"schema":{"type":"string"}},{"name":"referenceid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.ReferenceDto"},"example":{"PartyLegalEntityReference":{"PartyName":{"FirstName":"TUQVE","MiddleName":"DFO","FamilyName":"EXGMFH","GivenName":"IEUPZP","NickName":"CFUDLSMU","FullName":"QYX","BirthName":"GLVMMT","ShortName":"KJKDIDRDY","TradingName":"BZRPLLODBU","LegalName":"FVDGWLWY"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"LCLBB","TimeZoneCode":"LYKFDV","DaylightSavingIndicator":"SCIW","DateTimeType":"ValueDate"},"PartyIdentification":[{"PartyIdentificationType":"Coreidentificationnumber","PartyIdentification":{"IdentifierValue":"NMTZUYFPA","IdentifierIssuerReference":{"PartyReference":"ITP","InvolvementReference":"AOVKRJ"},"IdentifierStartDate":{"DateTimeContent":"UIGLLEWB","TimeZoneCode":"JTEDFWGGF","DaylightSavingIndicator":"DXLCTJUHO","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"MMOZCHLPQ","TimeZoneCode":"EJNQY","DaylightSavingIndicator":"VJOCB","DateTimeType":"BlockingDate"}}},{"PartyIdentificationType":"Taxidentificationnumber","PartyIdentification":{"IdentifierValue":"WRRWD","IdentifierIssuerReference":{"PartyReference":"QWEBAHEI","InvolvementReference":"AMSVEFFG"},"IdentifierStartDate":{"DateTimeContent":"GIXQWAI","TimeZoneCode":"ZJPCLXY","DaylightSavingIndicator":"YNVESSVR","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"QXW","TimeZoneCode":"XZZV","DaylightSavingIndicator":"FNKRTHJZ","DateTimeType":"FulfillmentDate"}}}],"PartyLegalStructureType":"LimitedPartnership","PartyActivityIndicator":{"Industrycode":"WWEPXZJ"}},"PartyNameSalutation":"Mister","GovernmentIssuedIdentityReference":{"PartyIdentificationType":"Concat","PartyIdentification":{"IdentifierValue":"NGB","IdentifierIssuerReference":{"PartyReference":"UPNM","InvolvementReference":"LVQRVDXSDP"},"IdentifierStartDate":{"DateTimeContent":"STPITYIP","TimeZoneCode":"ARB","DaylightSavingIndicator":"CLCA","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"VSIN","TimeZoneCode":"FYRE","DaylightSavingIndicator":"ZRBXDW","DateTimeType":"SigningDate"}}},"GovernmentIssuedDocumentDetails":[{"PartyReference":{"PartyName":{"FirstName":"NWOBHU","MiddleName":"EHOHX","FamilyName":"GVIO","GivenName":"IZSSWMHHY","NickName":"DFXMDLZ","FullName":"YQNDTEWVHD","BirthName":"VDKNOG","ShortName":"LSRLNKAVHR","TradingName":"PTH","LegalName":"YFBZLWB"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"JFLP","TimeZoneCode":"FLPVUSJCS","DaylightSavingIndicator":"YGWXCPQM","DateTimeType":"ValueDate"},"PartyIdentification":[{"PartyIdentificationType":"Identitycardnumber","PartyIdentification":{"IdentifierValue":"MURVTVRU","IdentifierIssuerReference":{"PartyReference":"IKZ","InvolvementReference":"FPQ"},"IdentifierStartDate":{"DateTimeContent":"AYBRWWD","TimeZoneCode":"GZKSCIRL","DaylightSavingIndicator":"UGWQ","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"JDCNFOPW","TimeZoneCode":"ZTZCJOL","DaylightSavingIndicator":"CKKSQTZ","DateTimeType":"ReceivingDate"}}},{"PartyIdentificationType":"LEI(LegalEntityIdentifier)","PartyIdentification":{"IdentifierValue":"ZOYTY","IdentifierIssuerReference":{"PartyReference":"LIYZYZLQOL","InvolvementReference":"HTO"},"IdentifierStartDate":{"DateTimeContent":"GHM","TimeZoneCode":"AEH","DaylightSavingIndicator":"VGDPGTFTPB","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"SCSFMGEHD","TimeZoneCode":"VCPIFFDNT","DaylightSavingIndicator":"DSDNCPIL","DateTimeType":"CreatingDate"}}},{"PartyIdentificationType":"Driverlicensenumber","PartyIdentification":{"IdentifierValue":"IGKDVG","IdentifierIssuerReference":{"PartyReference":"QWOHQBXS","InvolvementReference":"ZZBEOUHMDQ"},"IdentifierStartDate":{"DateTimeContent":"OJA","TimeZoneCode":"OSFQB","DaylightSavingIndicator":"XIE","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"LEPOIYU","TimeZoneCode":"BYHNIR","DaylightSavingIndicator":"AUOEFUZSO","DateTimeType":"DeactivationDate"}}}],"PartyLegalStructureType":"GeneralPartnership","PartyActivityIndicator":{"Industrycode":"WGUWUFWFV"}},"DocumentReference":{"DocumentIdentification":{"IdentifierValue":"FDBCS","IdentifierIssuerReference":{"PartyReference":"PWI","InvolvementReference":"VFFQINVJB"},"IdentifierStartDate":{"DateTimeContent":"QFHFZ","TimeZoneCode":"ISMDPVYZZ","DaylightSavingIndicator":"TABNRNLDYR","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"LRUWKUOUO","TimeZoneCode":"KAV","DaylightSavingIndicator":"QHY","DateTimeType":"InitiatedDate"}},"DocumentVersion":"TVXZWECEQK","DocumentType":"Commercialcontract","DocumentStatus":{"StatusReason":"FNBCQWQS","StatusDateTime":{"DateTimeContent":"OKQNIURBYB","TimeZoneCode":"BTDLCPF","DaylightSavingIndicator":"WNSFOHUJQ","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"MQXOSZ","TimeZoneCode":"WTPDPFOTH","DaylightSavingIndicator":"GJHM","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"MNLLHFC","TimeZoneCode":"LPEAGHMUT","DaylightSavingIndicator":"SGTTQ","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"FACV","InvolvementReference":"KNGXEV"}},"DocumentDateTime":{"DateTimeContent":"BUDDL","TimeZoneCode":"NQODY","DaylightSavingIndicator":"KPPR","DateTimeType":"SendingDate"},"DocumentName":{"Name":"WFJPUSAXAW"},"DocumentDateTimeType":"ValueDate","DocumentPurpose":"KVHSRGP","DocumentFormat":"OVJ","DocumentSubject":"PTMTJFHMTE","DocumentDescription":"LRTGFFL","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"NCEDWU","TimeZoneCode":"AWZMA","DaylightSavingIndicator":"WBDAGPL","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"ZHHJXTVJA","TimeZoneCode":"GBBSFECKGU","DaylightSavingIndicator":"PICJS","DateTimeType":"DeactivationDate"}}},"PartyDocumentType":"WorkDocument"},{"PartyReference":{"PartyName":{"FirstName":"SVPO","MiddleName":"SBMVDGFBIT","FamilyName":"WXRLKDGI","GivenName":"KCQY","NickName":"MWKWKXYT","FullName":"WXEGSVGJS","BirthName":"XOF","ShortName":"OVX","TradingName":"PRDW","LegalName":"AZBXMUYXH"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"TLOLKFDPL","TimeZoneCode":"MGM","DaylightSavingIndicator":"NYG","DateTimeType":"EffectiveDate"},"PartyIdentification":[{"PartyIdentificationType":"Taxexemptidentificationnumber","PartyIdentification":{"IdentifierValue":"RILIAH","IdentifierIssuerReference":{"PartyReference":"KHR","InvolvementReference":"SBUUZFHWWA"},"IdentifierStartDate":{"DateTimeContent":"DSOPSTZIJK","TimeZoneCode":"FRQCQRXDS","DaylightSavingIndicator":"VDSDULLJEU","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"GOLIIGADZY","TimeZoneCode":"CFMGJYFY","DaylightSavingIndicator":"CFHWUJEDY","DateTimeType":"DeactivationDate"}}},{"PartyIdentificationType":"Passportnumber","PartyIdentification":{"IdentifierValue":"IQPEZDNH","IdentifierIssuerReference":{"PartyReference":"WJBMKW","InvolvementReference":"SJINTOK"},"IdentifierStartDate":{"DateTimeContent":"SAZEF","TimeZoneCode":"ZRLMRE","DaylightSavingIndicator":"VFGHKIATZQ","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"EIUSJHW","TimeZoneCode":"NBUDYV","DaylightSavingIndicator":"GSIFJO","DateTimeType":"MaturityDate"}}},{"PartyIdentificationType":"Taxexemptidentificationnumber","PartyIdentification":{"IdentifierValue":"DFA","IdentifierIssuerReference":{"PartyReference":"ICGJKGZFD","InvolvementReference":"IYQR"},"IdentifierStartDate":{"DateTimeContent":"CNEE","TimeZoneCode":"SDZKF","DaylightSavingIndicator":"KWLVK","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"SALRJTZJA","TimeZoneCode":"CQGJYZY","DaylightSavingIndicator":"GWE","DateTimeType":"MaturityDate"}}},{"PartyIdentificationType":"Corporateidentification","PartyIdentification":{"IdentifierValue":"MQMAM","IdentifierIssuerReference":{"PartyReference":"ASKKBSHO","InvolvementReference":"UYZSVYXV"},"IdentifierStartDate":{"DateTimeContent":"OVHGQRU","TimeZoneCode":"OGBCOMXMC","DaylightSavingIndicator":"KGY","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"UYHPSCUE","TimeZoneCode":"NJUCNW","DaylightSavingIndicator":"AOLGTDJA","DateTimeType":"EffectiveDate"}}},{"PartyIdentificationType":"Customeridentificationnumber","PartyIdentification":{"IdentifierValue":"VNCTSOZUGV","IdentifierIssuerReference":{"PartyReference":"FGAJWF","InvolvementReference":"TLVN"},"IdentifierStartDate":{"DateTimeContent":"HXAS","TimeZoneCode":"PMWIQKJ","DaylightSavingIndicator":"KZKTY","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"CPOXMGJXT","TimeZoneCode":"QULYH","DaylightSavingIndicator":"MTWFB","DateTimeType":"ValidFromDate"}}},{"PartyIdentificationType":"Nationalregistrationidentificationnumber","PartyIdentification":{"IdentifierValue":"XCNTCEPJH","IdentifierIssuerReference":{"PartyReference":"HYWSAXEFU","InvolvementReference":"OUSJGWHOTX"},"IdentifierStartDate":{"DateTimeContent":"OZCOIMCJUW","TimeZoneCode":"KIP","DaylightSavingIndicator":"XSEBS","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"KRCN","TimeZoneCode":"MIRZAIJXZ","DaylightSavingIndicator":"WVVFIJG","DateTimeType":"ReceivingDate"}}}],"PartyLegalStructureType":"Sole(SoleTrader)","PartyActivityIndicator":{"Industrycode":"YGQS"}},"DocumentReference":{"DocumentIdentification":{"IdentifierValue":"GUVORWGS","IdentifierIssuerReference":{"PartyReference":"LOVFUF","InvolvementReference":"EQHYYWUPS"},"IdentifierStartDate":{"DateTimeContent":"HHVCW","TimeZoneCode":"TZMIAQCSR","DaylightSavingIndicator":"LVLNIQ","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"SWS","TimeZoneCode":"IMMNPO","DaylightSavingIndicator":"MLZXNYPC","DateTimeType":"RequestedDate"}},"DocumentVersion":"VDFYWWVW","DocumentType":"Remittanceadvicemessage","DocumentStatus":{"StatusReason":"ELRPFPVP","StatusDateTime":{"DateTimeContent":"MNIHZJR","TimeZoneCode":"YFDO","DaylightSavingIndicator":"UOP","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"JSX","TimeZoneCode":"TWSXDQEOTT","DaylightSavingIndicator":"YLZKHIIC","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"GSZTEH","TimeZoneCode":"OBRFNZNU","DaylightSavingIndicator":"YRXVEXNFM","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EBBC","InvolvementReference":"SXBXL"}},"DocumentDateTime":{"DateTimeContent":"CETOQID","TimeZoneCode":"QGGOQMWD","DaylightSavingIndicator":"BHHQJGND","DateTimeType":"FulfillmentDate"},"DocumentName":{"Name":"GOQNYE"},"DocumentDateTimeType":"IssueDate","DocumentPurpose":"IMOJNGA","DocumentFormat":"FOCU","DocumentSubject":"MPYZMHDT","DocumentDescription":"LCM","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"OWCA","TimeZoneCode":"CRSVO","DaylightSavingIndicator":"YNYKXYTJKO","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"UKUXD","TimeZoneCode":"SBJKPYIH","DaylightSavingIndicator":"BHETF","DateTimeType":"CloseDate"}}},"PartyDocumentType":"WorkDocument"},{"PartyReference":{"PartyName":{"FirstName":"VCZSFN","MiddleName":"QKCQGW","FamilyName":"BVZMFS","GivenName":"EDJQYWR","NickName":"WLDWQHNH","FullName":"NNQ","BirthName":"MBW","ShortName":"QDBXMAYAE","TradingName":"NLV","LegalName":"NAU"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"EVMQV","TimeZoneCode":"LWTNZYMHUW","DaylightSavingIndicator":"FAFXEL","DateTimeType":"ValidToDate"},"PartyIdentification":[{"PartyIdentificationType":"Customeridentificationnumber","PartyIdentification":{"IdentifierValue":"VZMMQJN","IdentifierIssuerReference":{"PartyReference":"XPGR","InvolvementReference":"ZBL"},"IdentifierStartDate":{"DateTimeContent":"MOR","TimeZoneCode":"JUNTFFUUFP","DaylightSavingIndicator":"ELYENRHSD","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"ZRBKW","TimeZoneCode":"XTEH","DaylightSavingIndicator":"WOGEQONPH","DateTimeType":"ExpiryDate"}}},{"PartyIdentificationType":"Taxexemptidentificationnumber","PartyIdentification":{"IdentifierValue":"SGLXHVE","IdentifierIssuerReference":{"PartyReference":"VBBJ","InvolvementReference":"ZCPWTZEMZB"},"IdentifierStartDate":{"DateTimeContent":"YNMMF","TimeZoneCode":"COYIQKFYP","DaylightSavingIndicator":"HBTAB","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"YKDJDADJPZ","TimeZoneCode":"HYN","DaylightSavingIndicator":"TDLDD","DateTimeType":"ReceivingDate"}}},{"PartyIdentificationType":"Driverlicensenumber","PartyIdentification":{"IdentifierValue":"ECZFMD","IdentifierIssuerReference":{"PartyReference":"AEHRKHQCUZ","InvolvementReference":"JFB"},"IdentifierStartDate":{"DateTimeContent":"CWZPVZ","TimeZoneCode":"VGVCIJ","DaylightSavingIndicator":"ZOZUJCHIU","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"VYZHUZSSJ","TimeZoneCode":"MHPKAJQ","DaylightSavingIndicator":"DCZEGNK","DateTimeType":"RequestedDate"}}},{"PartyIdentificationType":"Foreigninvestmentidentitynumber","PartyIdentification":{"IdentifierValue":"CUC","IdentifierIssuerReference":{"PartyReference":"VLSLN","InvolvementReference":"YLD"},"IdentifierStartDate":{"DateTimeContent":"PLTZBFN","TimeZoneCode":"RFQDUQPPA","DaylightSavingIndicator":"OQHSU","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"WRFZHE","TimeZoneCode":"KBX","DaylightSavingIndicator":"RWVQUUNW","DateTimeType":"InitiatedDate"}}},{"PartyIdentificationType":"Registrationauthorityidentification","PartyIdentification":{"IdentifierValue":"JWPWMVTDMX","IdentifierIssuerReference":{"PartyReference":"GDOARQRYO","InvolvementReference":"FISOBR"},"IdentifierStartDate":{"DateTimeContent":"FEWWWYDRK","TimeZoneCode":"SVVOVCV","DaylightSavingIndicator":"UNLLQTF","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"IVSB","TimeZoneCode":"EUCJVZ","DaylightSavingIndicator":"LOUFTO","DateTimeType":"InitiatedDate"}}}],"PartyLegalStructureType":"Sole(SoleTrader)","PartyActivityIndicator":{"Industrycode":"RKMDHYM"}},"DocumentReference":{"DocumentIdentification":{"IdentifierValue":"BSYLGBAXP","IdentifierIssuerReference":{"PartyReference":"IQVXXKUFSZ","InvolvementReference":"PIUBTTNTIF"},"IdentifierStartDate":{"DateTimeContent":"CMKRKKAI","TimeZoneCode":"GGY","DaylightSavingIndicator":"UOCA","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"IZNRW","TimeZoneCode":"IXQMFNK","DaylightSavingIndicator":"NON","DateTimeType":"OpenDate"}},"DocumentVersion":"BURTCVBIED","DocumentType":"Cashierreceipt","DocumentStatus":{"StatusReason":"SLKAPWHQW","StatusDateTime":{"DateTimeContent":"DXAFFGOELC","TimeZoneCode":"QXI","DaylightSavingIndicator":"FMB","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"WNDG","TimeZoneCode":"KFPGVQ","DaylightSavingIndicator":"VGO","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"OWH","TimeZoneCode":"LVGULI","DaylightSavingIndicator":"BZW","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"MXKQAHUGU","InvolvementReference":"IHSMR"}},"DocumentDateTime":{"DateTimeContent":"LOAWDO","TimeZoneCode":"NBNRXTNR","DaylightSavingIndicator":"PHMYSK","DateTimeType":"CreatingDate"},"DocumentName":{"Name":"CVRBU"},"DocumentDateTimeType":"VersionDate","DocumentPurpose":"WMECLQVJ","DocumentFormat":"TYBFHYVKKJ","DocumentSubject":"DWOHMLHAEG","DocumentDescription":"IQGIYB","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"PHOUIL","TimeZoneCode":"DQMWJXR","DaylightSavingIndicator":"UXVZLJYYS","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"VAD","TimeZoneCode":"XGSALV","DaylightSavingIndicator":"DFBQH","DateTimeType":"ActivationDate"}}},"PartyDocumentType":"WorkDocument"},{"PartyReference":{"PartyName":{"FirstName":"IFV","MiddleName":"GZBCE","FamilyName":"WBA","GivenName":"FRRXAEN","NickName":"LMDJHAKHED","FullName":"GBANCZZTG","BirthName":"WDHSNAIA","ShortName":"ORHPVXQOF","TradingName":"LDRQVLRAK","LegalName":"FZPPD"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"WEX","TimeZoneCode":"IDZVKJMI","DaylightSavingIndicator":"PABWNJORRT","DateTimeType":"DueDate"},"PartyIdentification":[{"PartyIdentificationType":"Concat","PartyIdentification":{"IdentifierValue":"ZCI","IdentifierIssuerReference":{"PartyReference":"XQOMKOJCI","InvolvementReference":"AFZAEYIUK"},"IdentifierStartDate":{"DateTimeContent":"TRLR","TimeZoneCode":"SRD","DaylightSavingIndicator":"XAOYCMCYPI","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"WCJLFU","TimeZoneCode":"ZUFFZ","DaylightSavingIndicator":"ZMUOYTMPZ","DateTimeType":"CreatingDate"}}},{"PartyIdentificationType":"Nationalregistrationidentificationnumber","PartyIdentification":{"IdentifierValue":"OLU","IdentifierIssuerReference":{"PartyReference":"ELXUNVYOT","InvolvementReference":"KRY"},"IdentifierStartDate":{"DateTimeContent":"GRJYY","TimeZoneCode":"RCU","DaylightSavingIndicator":"VCHZHOFKGB","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"YXAWWRXVP","TimeZoneCode":"HWAJJNMPS","DaylightSavingIndicator":"ZWSEGAHSK","DateTimeType":"ExecutedDate"}}},{"PartyIdentificationType":"Registrationauthorityidentification","PartyIdentification":{"IdentifierValue":"GGGFJK","IdentifierIssuerReference":{"PartyReference":"MHNCNSNK","InvolvementReference":"EDZFA"},"IdentifierStartDate":{"DateTimeContent":"RLVOENSRM","TimeZoneCode":"ZGWNOSBTF","DaylightSavingIndicator":"VAFWYJ","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"IABYGV","TimeZoneCode":"FMZO","DaylightSavingIndicator":"FMGCIFWT","DateTimeType":"BlockingDate"}}},{"PartyIdentificationType":"Taxexemptidentificationnumber","PartyIdentification":{"IdentifierValue":"VHD","IdentifierIssuerReference":{"PartyReference":"QQORGTNJK","InvolvementReference":"SLU"},"IdentifierStartDate":{"DateTimeContent":"DYG","TimeZoneCode":"RAEQ","DaylightSavingIndicator":"LTKZQFEBHN","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"RFSZRUUOG","TimeZoneCode":"URBLR","DaylightSavingIndicator":"UXIUT","DateTimeType":"ValueDate"}}}],"PartyLegalStructureType":"PrivateLimitedCompany","PartyActivityIndicator":{"Industrycode":"ACHUE"}},"DocumentReference":{"DocumentIdentification":{"IdentifierValue":"JAD","IdentifierIssuerReference":{"PartyReference":"AEUUSMBB","InvolvementReference":"ZINPM"},"IdentifierStartDate":{"DateTimeContent":"MZDFIBTX","TimeZoneCode":"LCVRCJKM","DaylightSavingIndicator":"YHDHRAMWQ","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"SOF","TimeZoneCode":"VJS","DaylightSavingIndicator":"ZOJDMM","DateTimeType":"ExecutedDate"}},"DocumentVersion":"NBIJ","DocumentType":"Relatedpaymentinstruction","DocumentStatus":{"StatusReason":"OTUPMTHK","StatusDateTime":{"DateTimeContent":"VRUOIIFZ","TimeZoneCode":"YJVXI","DaylightSavingIndicator":"UTP","DateTimeType":"DeactivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"GIED","TimeZoneCode":"WXH","DaylightSavingIndicator":"CLN","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"BTBMAANUK","TimeZoneCode":"MYXUTYN","DaylightSavingIndicator":"JOIBF","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EKSGIVHKRG","InvolvementReference":"AKXAXXH"}},"DocumentDateTime":{"DateTimeContent":"QSICLBXX","TimeZoneCode":"APTM","DaylightSavingIndicator":"BPKMSS","DateTimeType":"ActivationDate"},"DocumentName":{"Name":"QYBJQVCGVK"},"DocumentDateTimeType":"CreationDate","DocumentPurpose":"LQXBSM","DocumentFormat":"KKFVHKX","DocumentSubject":"GFBACQ","DocumentDescription":"YGXUV","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"LEKTWB","TimeZoneCode":"AXNGAGDM","DaylightSavingIndicator":"MKPMSIUCT","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"HAECHA","TimeZoneCode":"ULJR","DaylightSavingIndicator":"WSYRCQYKI","DateTimeType":"DueDate"}}},"PartyDocumentType":"PersonalDocument"}],"DocumentDirectoryEntryInstanceReference":[{"DocumentDirectoryEntryIdentification":"XSIDMZZUV","DirectoryEntryDateType":"OpenDate","DirectoryEntryDate":{"DateContent":"CWOVQKQX"},"DirectoryEntryStatus":{"StatusReason":"ABFIHNXII","StatusDateTime":{"DateTimeContent":"WKOACOVOB","TimeZoneCode":"YWWI","DaylightSavingIndicator":"WDIHAADAK","DateTimeType":"ExpiryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"JLEMYUO","TimeZoneCode":"VYRKGYYL","DaylightSavingIndicator":"WGRGXVXUWT","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"KDBMMMZ","TimeZoneCode":"UPFGVJCYT","DaylightSavingIndicator":"TDWE","DateTimeType":"ValueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"VIE","InvolvementReference":"JTNQXAC"}}},{"DocumentDirectoryEntryIdentification":"VHILOW","DirectoryEntryDateType":"RefreshDate","DirectoryEntryDate":{"DateContent":"YER"},"DirectoryEntryStatus":{"StatusReason":"ZXG","StatusDateTime":{"DateTimeContent":"PWSTUQMR","TimeZoneCode":"NQWHPBHBN","DaylightSavingIndicator":"GAJSBM","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"AKWRA","TimeZoneCode":"EUZDTBHYHX","DaylightSavingIndicator":"WYWR","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"RGQKZZKRJI","TimeZoneCode":"GAFJO","DaylightSavingIndicator":"PCMGJSPV","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"XTAAIHEBS","InvolvementReference":"RNDSZZC"}}}],"ResidencyStatus":{"StatusReason":"WCVDAJLU","StatusDateTime":{"DateTimeContent":"SDO","TimeZoneCode":"KOZPDCZB","DaylightSavingIndicator":"KBOOQOEV","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"JHKEYAR","TimeZoneCode":"PDMQPSZQJA","DaylightSavingIndicator":"IFS","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"FJGO","TimeZoneCode":"PCK","DaylightSavingIndicator":"XRSILMSK","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"WBUJM","InvolvementReference":"MHLFSYQ"}},"DateofBirth":{"DateTimeContent":"RTHNPOCR","TimeZoneCode":"CVDWYIKQ","DaylightSavingIndicator":"ZUKN","DateTimeType":"InitiatedDate"},"Nationality":{"NationalRegulatoryAuthority":{"PartyReference":"GRY","InvolvementReference":"BSS"},"CountryName":{"Name":"FKLT"},"CountryCode":{"Countrycode":"WOCG"}},"ResidentialAddress":[{"AddressType":"Statement","AddressLine":"ZEIDF","StreetName":{"Name":"KDGYMHV"},"BuildingNumber":"COMHKBR","PostCode":{"IdentifierValue":"ZOS","IdentifierIssuerReference":{"PartyReference":"AAUAKQ","InvolvementReference":"FLNCYU"},"IdentifierStartDate":{"DateTimeContent":"PJGOCNOY","TimeZoneCode":"SGJMLK","DaylightSavingIndicator":"EYG","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"VGYWT","TimeZoneCode":"CSHRUWH","DaylightSavingIndicator":"LRVIE","DateTimeType":"ExpiryDate"}},"TownName":{"Name":"CEMRCSNIZI"},"CountrySubDivision":"City","Country":{"NationalRegulatoryAuthority":{"PartyReference":"HFMCW","InvolvementReference":"OJDT"},"CountryName":{"Name":"WEID"},"CountryCode":{"Countrycode":"BFFAXQIDOB"}},"Department":"YVK","SubDepartment":"EJLXV","AddressDescription":"VYUDCZNJ"},{"AddressType":"Pobox","AddressLine":"IMMWKBB","StreetName":{"Name":"RDNSE"},"BuildingNumber":"FTLRI","PostCode":{"IdentifierValue":"EEPXXRL","IdentifierIssuerReference":{"PartyReference":"YUHQEYJHQM","InvolvementReference":"IWRS"},"IdentifierStartDate":{"DateTimeContent":"GOWYTX","TimeZoneCode":"XBCUQCD","DaylightSavingIndicator":"PZJOVJT","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"OREJD","TimeZoneCode":"SXVKAJWDMX","DaylightSavingIndicator":"HCQ","DateTimeType":"CreatingDate"}},"TownName":{"Name":"DIBYXTR"},"CountrySubDivision":"Province","Country":{"NationalRegulatoryAuthority":{"PartyReference":"QYSUX","InvolvementReference":"AIY"},"CountryName":{"Name":"DJJ"},"CountryCode":{"Countrycode":"WXRPBDKKMG"}},"Department":"GDQCT","SubDepartment":"AGQJPBOX","AddressDescription":"RYIVFMN"},{"AddressType":"Business","AddressLine":"JENLIFBQL","StreetName":{"Name":"VRUXTR"},"BuildingNumber":"WZX","PostCode":{"IdentifierValue":"EXWDLAS","IdentifierIssuerReference":{"PartyReference":"PWTNKKAJD","InvolvementReference":"FQIE"},"IdentifierStartDate":{"DateTimeContent":"WKGLMDC","TimeZoneCode":"GELH","DaylightSavingIndicator":"TCE","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"ZDVKUN","TimeZoneCode":"EDOFHHE","DaylightSavingIndicator":"WNH","DateTimeType":"CloseDate"}},"TownName":{"Name":"XCMEWA"},"CountrySubDivision":"State","Country":{"NationalRegulatoryAuthority":{"PartyReference":"SALNV","InvolvementReference":"UOIDTX"},"CountryName":{"Name":"XZKJJMB"},"CountryCode":{"Countrycode":"ZMR"}},"Department":"GJG","SubDepartment":"OKL","AddressDescription":"RQXRY"},{"AddressType":"Deliveryto","AddressLine":"QHOXIDDPW","StreetName":{"Name":"ACIFINAIIB"},"BuildingNumber":"ZFNZ","PostCode":{"IdentifierValue":"IYUNGTL","IdentifierIssuerReference":{"PartyReference":"BYIKTQ","InvolvementReference":"DUYAHQBG"},"IdentifierStartDate":{"DateTimeContent":"JHXR","TimeZoneCode":"VHGOPXG","DaylightSavingIndicator":"QOIJDIO","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"SHEDXOEH","TimeZoneCode":"NRNDOSFAH","DaylightSavingIndicator":"BFAZRLSSR","DateTimeType":"DeactivationDate"}},"TownName":{"Name":"UPBBUCTMEV"},"CountrySubDivision":"State","Country":{"NationalRegulatoryAuthority":{"PartyReference":"RHJWD","InvolvementReference":"YUO"},"CountryName":{"Name":"JPPANBC"},"CountryCode":{"Countrycode":"VUCVVRLC"}},"Department":"ACWALXN","SubDepartment":"KTHGUEP","AddressDescription":"IPPTYJZR"},{"AddressType":"Statement","AddressLine":"AQTQCWVH","StreetName":{"Name":"VVPPP"},"BuildingNumber":"NAIGQGRD","PostCode":{"IdentifierValue":"SBOWLPCY","IdentifierIssuerReference":{"PartyReference":"DHKG","InvolvementReference":"LIZIDUCI"},"IdentifierStartDate":{"DateTimeContent":"KZDDGCXY","TimeZoneCode":"VTH","DaylightSavingIndicator":"SDZ","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"LQP","TimeZoneCode":"UQRDVULZ","DaylightSavingIndicator":"UGYHF","DateTimeType":"ValidFromDate"}},"TownName":{"Name":"BOIL"},"CountrySubDivision":"Region","Country":{"NationalRegulatoryAuthority":{"PartyReference":"HRAGBXE","InvolvementReference":"VSNBMWSH"},"CountryName":{"Name":"HHQX"},"CountryCode":{"Countrycode":"VPIFWBDL"}},"Department":"WHBZ","SubDepartment":"OVLSURP","AddressDescription":"JBLDLKCPH"},{"AddressType":"Mailto","AddressLine":"ULLQDYHHRF","StreetName":{"Name":"XCRINZHUJN"},"BuildingNumber":"ACXDUT","PostCode":{"IdentifierValue":"FKJJYGAYO","IdentifierIssuerReference":{"PartyReference":"XNVT","InvolvementReference":"IWOAEZEY"},"IdentifierStartDate":{"DateTimeContent":"TCFPRIXRYI","TimeZoneCode":"BDWQAXNOO","DaylightSavingIndicator":"JKLAE","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"HZHBREMCO","TimeZoneCode":"YFYI","DaylightSavingIndicator":"YSJBFVP","DateTimeType":"EffectiveDate"}},"TownName":{"Name":"DDLFXISE"},"CountrySubDivision":"District","Country":{"NationalRegulatoryAuthority":{"PartyReference":"RMGG","InvolvementReference":"NSKHBDHTD"},"CountryName":{"Name":"LFXDI"},"CountryCode":{"Countrycode":"VAOJFAQNW"}},"Department":"OPQUYQY","SubDepartment":"ICBGGBRR","AddressDescription":"ZPFXSKSM"}],"eMailAddress":[{"ContactPointType":"Socialnetworkaddress","PartyLocationType":"PartyIsOwnerOfLocation","LocationReference":{"LocationDescription":"RADSFV","LocationDateTime":{"DateTimeContent":"UOKEMOW","TimeZoneCode":"LQJJEYV","DaylightSavingIndicator":"RMU","DateTimeType":"FulfillmentDate"},"LocationStatus":{"StatusReason":"VCCRE","StatusDateTime":{"DateTimeContent":"LXVHIVJJ","TimeZoneCode":"QMDEXYMVZ","DaylightSavingIndicator":"FKU","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"OUOT","TimeZoneCode":"QMNFT","DaylightSavingIndicator":"UVDN","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"YVEXFYWTF","TimeZoneCode":"JHSTZEYW","DaylightSavingIndicator":"BOMTQOUAPU","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"YGANOLWG","InvolvementReference":"ALGQDXV"}},"LocationType":"Province","LocationZoningType":"MZUS","LocationNeighborhoodType":"SZLUYK","LocationConstructionType":"ZUY","LocationOccupancyType":"ONZXIAFAE","LocationValue":"FGWNEBI","LocationCapacity":"UQFESU","LocationIdentification":{"IdentifierValue":"ISQQ","IdentifierIssuerReference":{"PartyReference":"CEKZ","InvolvementReference":"ZHULUBZFKW"},"IdentifierStartDate":{"DateTimeContent":"XPFA","TimeZoneCode":"OLUTVTSON","DaylightSavingIndicator":"IXYRR","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"HSEE","TimeZoneCode":"BHSPHGSL","DaylightSavingIndicator":"PNFS","DateTimeType":"DueDate"}},"LocationAddress":"HQXUD","LocationName":{"Name":"FCQGGWHUWI"},"LocationTimeZone":"CLENQWVOTI"},"PartyReference":{"PartyName":{"FirstName":"TGLBBKX","MiddleName":"LEAQSSB","FamilyName":"AJMTCBZQC","GivenName":"OJBJDCF","NickName":"ELE","FullName":"GUAIAUUGC","BirthName":"MFVU","ShortName":"BPAA","TradingName":"DZK","LegalName":"RZJECAZ"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"YECWBIEEWF","TimeZoneCode":"DPSMAOHFL","DaylightSavingIndicator":"RFGMBJFL","DateTimeType":"ExecutedDate"},"PartyIdentification":[{"PartyIdentificationType":"Concat","PartyIdentification":{"IdentifierValue":"JGYFLBV","IdentifierIssuerReference":{"PartyReference":"DYYHST","InvolvementReference":"BHECA"},"IdentifierStartDate":{"DateTimeContent":"CAVRVQV","TimeZoneCode":"GGYUPFQV","DaylightSavingIndicator":"JROFLHTK","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"SAV","TimeZoneCode":"BKVH","DaylightSavingIndicator":"VAPSV","DateTimeType":"ValidFromDate"}}},{"PartyIdentificationType":"Alienregistrationnumber","PartyIdentification":{"IdentifierValue":"QRD","IdentifierIssuerReference":{"PartyReference":"RRJ","InvolvementReference":"RFEP"},"IdentifierStartDate":{"DateTimeContent":"ZHMC","TimeZoneCode":"NHW","DaylightSavingIndicator":"SFYZDF","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"WTEHRJ","TimeZoneCode":"YQTMBDPJK","DaylightSavingIndicator":"VCDXZXSKRR","DateTimeType":"DueDate"}}},{"PartyIdentificationType":"Foreigninvestmentidentitynumber","PartyIdentification":{"IdentifierValue":"CFDCSOAG","IdentifierIssuerReference":{"PartyReference":"IWLP","InvolvementReference":"AYA"},"IdentifierStartDate":{"DateTimeContent":"ZUHVJOPZYZ","TimeZoneCode":"DCL","DaylightSavingIndicator":"UUIUQNVB","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"GHZH","TimeZoneCode":"EGCZIVM","DaylightSavingIndicator":"GHMJ","DateTimeType":"ValueDate"}}},{"PartyIdentificationType":"Customeridentificationnumber","PartyIdentification":{"IdentifierValue":"OYCHETIDV","IdentifierIssuerReference":{"PartyReference":"MOVG","InvolvementReference":"FGG"},"IdentifierStartDate":{"DateTimeContent":"ELFCKVMHG","TimeZoneCode":"ZARORHOMN","DaylightSavingIndicator":"TPYT","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"TFLNZ","TimeZoneCode":"BFVF","DaylightSavingIndicator":"IJSYZJ","DateTimeType":"OpenDate"}}},{"PartyIdentificationType":"Registrationauthorityidentification","PartyIdentification":{"IdentifierValue":"RCFTGEUK","IdentifierIssuerReference":{"PartyReference":"EXSYME","InvolvementReference":"VZTNYM"},"IdentifierStartDate":{"DateTimeContent":"PTGMWQXPGC","TimeZoneCode":"KIQF","DaylightSavingIndicator":"FZSBDM","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"FFGXUAPVVG","TimeZoneCode":"YEDBTNJ","DaylightSavingIndicator":"SDHOFRTA","DateTimeType":"ValueDate"}}}],"PartyLegalStructureType":"LimitedLiabilityPartnership","PartyActivityIndicator":{"Industrycode":"GOJZRPVM"}}},{"ContactPointType":"PhoneNumber","PartyLocationType":"LocationIsDeliveryPointAddressOfParty","LocationReference":{"LocationDescription":"YXMMAW","LocationDateTime":{"DateTimeContent":"PPWA","TimeZoneCode":"GYGZH","DaylightSavingIndicator":"UYPHQ","DateTimeType":"CloseDate"},"LocationStatus":{"StatusReason":"KUUFJSF","StatusDateTime":{"DateTimeContent":"LXECBWZKM","TimeZoneCode":"FXZZ","DaylightSavingIndicator":"VSAPZAGAD","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"FXP","TimeZoneCode":"EQOAV","DaylightSavingIndicator":"RPAKKXDZX","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"JLSEDKADLB","TimeZoneCode":"SGMAUGYE","DaylightSavingIndicator":"HWDHWGAR","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"LEKXOXEG","InvolvementReference":"LKPVBQZB"}},"LocationType":"Town","LocationZoningType":"TXSWNXNOX","LocationNeighborhoodType":"MNIR","LocationConstructionType":"HOTYKSVIU","LocationOccupancyType":"QSWEZJLK","LocationValue":"KZRKPW","LocationCapacity":"SVU","LocationIdentification":{"IdentifierValue":"XZWHDPXQHZ","IdentifierIssuerReference":{"PartyReference":"RDNXHVMSC","InvolvementReference":"PIWNKCUNWN"},"IdentifierStartDate":{"DateTimeContent":"EYSB","TimeZoneCode":"IGQUYTOO","DaylightSavingIndicator":"LHWK","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"URKMEVYAET","TimeZoneCode":"NKXXUVT","DaylightSavingIndicator":"KMGEZGD","DateTimeType":"DeactivationDate"}},"LocationAddress":"VUPF","LocationName":{"Name":"CUIGTKX"},"LocationTimeZone":"MDBML"},"PartyReference":{"PartyName":{"FirstName":"UXUDGTD","MiddleName":"YRL","FamilyName":"DWDL","GivenName":"JYPF","NickName":"LVPCGMFDEB","FullName":"CNWXPOUTL","BirthName":"CCOWKD","ShortName":"JNXI","TradingName":"FSTNTZNGX","LegalName":"DABIEGTURL"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"UJZPRO","TimeZoneCode":"HLTE","DaylightSavingIndicator":"XEUEFM","DateTimeType":"ExecutedDate"},"PartyIdentification":[{"PartyIdentificationType":"Taxidentificationnumber","PartyIdentification":{"IdentifierValue":"RZQAKCT","IdentifierIssuerReference":{"PartyReference":"NOUTSEOU","InvolvementReference":"AGFQRQHOM"},"IdentifierStartDate":{"DateTimeContent":"XNUTJWQC","TimeZoneCode":"XEDYSBRWXU","DaylightSavingIndicator":"XLASC","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"ENAL","TimeZoneCode":"GTUCUBKQQ","DaylightSavingIndicator":"QFBV","DateTimeType":"ValidFromDate"}}},{"PartyIdentificationType":"Concat","PartyIdentification":{"IdentifierValue":"IORETNPFG","IdentifierIssuerReference":{"PartyReference":"ESHZGMV","InvolvementReference":"DLPW"},"IdentifierStartDate":{"DateTimeContent":"IKSAPQTF","TimeZoneCode":"VYZE","DaylightSavingIndicator":"QHXJVAKG","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"WFNQEFV","TimeZoneCode":"WNXC","DaylightSavingIndicator":"CJZMBIO","DateTimeType":"ActivationDate"}}},{"PartyIdentificationType":"Foreigninvestmentidentitynumber","PartyIdentification":{"IdentifierValue":"EXA","IdentifierIssuerReference":{"PartyReference":"OJDSNVCT","InvolvementReference":"IST"},"IdentifierStartDate":{"DateTimeContent":"DBTT","TimeZoneCode":"YWDBUD","DaylightSavingIndicator":"AARMZLTGLX","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"FYKT","TimeZoneCode":"ZGNKSISBO","DaylightSavingIndicator":"RVKORDULA","DateTimeType":"DeactivationDate"}}}],"PartyLegalStructureType":"Individual","PartyActivityIndicator":{"Industrycode":"TAZ"}}},{"ContactPointType":"PhoneNumber","PartyLocationType":"LocationIsDomicileAddressOfParty","LocationReference":{"LocationDescription":"LOJGZBTGI","LocationDateTime":{"DateTimeContent":"NFLOG","TimeZoneCode":"NHV","DaylightSavingIndicator":"HXLMWVYMVF","DateTimeType":"ExpiryDate"},"LocationStatus":{"StatusReason":"YSV","StatusDateTime":{"DateTimeContent":"QVDFWXVWQ","TimeZoneCode":"BZWCIHLSB","DaylightSavingIndicator":"NXQHSCYFFT","DateTimeType":"ExpiryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"HGUQW","TimeZoneCode":"QCIF","DaylightSavingIndicator":"FBWVCPNL","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"HNJICJXHH","TimeZoneCode":"LTSMJMA","DaylightSavingIndicator":"BQPMMPPR","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EJCCLPY","InvolvementReference":"TJXZVHMUM"}},"LocationType":"Town","LocationZoningType":"SMR","LocationNeighborhoodType":"BXDTTMAOP","LocationConstructionType":"CUYE","LocationOccupancyType":"ACNHQB","LocationValue":"IMFPFEE","LocationCapacity":"JSWDJWLG","LocationIdentification":{"IdentifierValue":"XBPJEDFZ","IdentifierIssuerReference":{"PartyReference":"VBMJ","InvolvementReference":"TGJWI"},"IdentifierStartDate":{"DateTimeContent":"JVDNMV","TimeZoneCode":"YZHHJGRT","DaylightSavingIndicator":"DBCPCKQL","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"UVJR","TimeZoneCode":"HGTATWF","DaylightSavingIndicator":"XXM","DateTimeType":"ExecutedDate"}},"LocationAddress":"DGLH","LocationName":{"Name":"VZJZLQ"},"LocationTimeZone":"GQUAN"},"PartyReference":{"PartyName":{"FirstName":"UYTAHSK","MiddleName":"AFCACJKA","FamilyName":"FHZZLB","GivenName":"FKISWBWVEK","NickName":"EECJ","FullName":"WYODNN","BirthName":"KRFF","ShortName":"GLWJTA","TradingName":"VYUMTQQHD","LegalName":"RZKATMRC"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"FNYWCWDT","TimeZoneCode":"MOTMYE","DaylightSavingIndicator":"BEFQUXWF","DateTimeType":"ValidToDate"},"PartyIdentification":[{"PartyIdentificationType":"Corporateidentification","PartyIdentification":{"IdentifierValue":"EJCUKBQKQR","IdentifierIssuerReference":{"PartyReference":"QVM","InvolvementReference":"OERJBVGN"},"IdentifierStartDate":{"DateTimeContent":"CDN","TimeZoneCode":"OVMD","DaylightSavingIndicator":"IEHEGFGQBU","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"WKAFWLFUW","TimeZoneCode":"PRJKVOPP","DaylightSavingIndicator":"SLCS","DateTimeType":"DueDate"}}},{"PartyIdentificationType":"Coreidentificationnumber","PartyIdentification":{"IdentifierValue":"MFSFEAHS","IdentifierIssuerReference":{"PartyReference":"SBY","InvolvementReference":"RGMFYLTBQ"},"IdentifierStartDate":{"DateTimeContent":"NCKMEEADVJ","TimeZoneCode":"CDSSDL","DaylightSavingIndicator":"PWXDOM","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"KVSTZKENK","TimeZoneCode":"MVEOOJSR","DaylightSavingIndicator":"UHUFHUSXX","DateTimeType":"ActivationDate"}}},{"PartyIdentificationType":"Nationalregistrationnumber","PartyIdentification":{"IdentifierValue":"JFA","IdentifierIssuerReference":{"PartyReference":"HVFDUCLEYI","InvolvementReference":"BZL"},"IdentifierStartDate":{"DateTimeContent":"SUSLPMFFX","TimeZoneCode":"IGISEVGTCV","DaylightSavingIndicator":"BWPSI","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"KAEALOOHP","TimeZoneCode":"SENHSH","DaylightSavingIndicator":"HSAC","DateTimeType":"InitiatedDate"}}},{"PartyIdentificationType":"Taxexemptidentificationnumber","PartyIdentification":{"IdentifierValue":"GHBMVRT","IdentifierIssuerReference":{"PartyReference":"UBXGWRCH","InvolvementReference":"YQXTJYGY"},"IdentifierStartDate":{"DateTimeContent":"XNCTNWLH","TimeZoneCode":"FADFO","DaylightSavingIndicator":"PEG","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"MLNOHYJTA","TimeZoneCode":"XCXTEXC","DaylightSavingIndicator":"NOCNLKU","DateTimeType":"SigningDate"}}}],"PartyLegalStructureType":"Individual","PartyActivityIndicator":{"Industrycode":"TUSTXZEFX"}}}],"CellPhoneNumber":[{"ContactPointType":"PostalAddress","PartyLocationType":"LocationIsDomicileAddressOfParty","LocationReference":{"LocationDescription":"QOFP","LocationDateTime":{"DateTimeContent":"YREXN","TimeZoneCode":"YSSUVIBUM","DaylightSavingIndicator":"SLMMV","DateTimeType":"ExpiryDate"},"LocationStatus":{"StatusReason":"BZVBLHLOVT","StatusDateTime":{"DateTimeContent":"MPRO","TimeZoneCode":"XLL","DaylightSavingIndicator":"COV","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"WFBBLVXQ","TimeZoneCode":"LVJ","DaylightSavingIndicator":"DOJYMIAGV","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"GBE","TimeZoneCode":"DZR","DaylightSavingIndicator":"SNRW","DateTimeType":"ExpiryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"CIAN","InvolvementReference":"ZFNSN"}},"LocationType":"State","LocationZoningType":"OCXXRB","LocationNeighborhoodType":"XZOBQ","LocationConstructionType":"ZHEAFHZ","LocationOccupancyType":"BMRKJBDKO","LocationValue":"UTWMYUD","LocationCapacity":"GAQRTMYNYI","LocationIdentification":{"IdentifierValue":"TCIHDDU","IdentifierIssuerReference":{"PartyReference":"WKLVFBDNAO","InvolvementReference":"NAINBTW"},"IdentifierStartDate":{"DateTimeContent":"CYAMFOZ","TimeZoneCode":"CBQC","DaylightSavingIndicator":"XLPWONDJKC","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"VKYGOAOLP","TimeZoneCode":"TXJXSBHWHL","DaylightSavingIndicator":"ZTVV","DateTimeType":"CreatingDate"}},"LocationAddress":"CWUGREQX","LocationName":{"Name":"TPKDEVH"},"LocationTimeZone":"ZDJR"},"PartyReference":{"PartyName":{"FirstName":"KEHI","MiddleName":"UHRUQZ","FamilyName":"ZUKHVNOSES","GivenName":"VLZT","NickName":"QPQYGSKUT","FullName":"GXHLNGOEQ","BirthName":"HAEOUUMM","ShortName":"MEFN","TradingName":"EHFOA","LegalName":"ZDMPBG"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"KLDRDFYI","TimeZoneCode":"CSUGFK","DaylightSavingIndicator":"IEM","DateTimeType":"ExecutedDate"},"PartyIdentification":[{"PartyIdentificationType":"Taxidentificationnumber","PartyIdentification":{"IdentifierValue":"JUW","IdentifierIssuerReference":{"PartyReference":"LOA","InvolvementReference":"ZXSUG"},"IdentifierStartDate":{"DateTimeContent":"HXL","TimeZoneCode":"ZBYDLT","DaylightSavingIndicator":"YBE","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"BRULZ","TimeZoneCode":"FSKNJRDCEF","DaylightSavingIndicator":"BHUROPTTTD","DateTimeType":"FulfillmentDate"}}},{"PartyIdentificationType":"Registrationauthorityidentification","PartyIdentification":{"IdentifierValue":"RCYXSRD","IdentifierIssuerReference":{"PartyReference":"NVNUYXRJGF","InvolvementReference":"SZH"},"IdentifierStartDate":{"DateTimeContent":"NBIPIB","TimeZoneCode":"RHYKMQQ","DaylightSavingIndicator":"PCURYFUQFX","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"GPAIAZ","TimeZoneCode":"GOUTRY","DaylightSavingIndicator":"JHABIDA","DateTimeType":"BlockingDate"}}},{"PartyIdentificationType":"LEI(LegalEntityIdentifier)","PartyIdentification":{"IdentifierValue":"ISA","IdentifierIssuerReference":{"PartyReference":"DDQDBHUE","InvolvementReference":"EUEDHC"},"IdentifierStartDate":{"DateTimeContent":"PNPDSXI","TimeZoneCode":"XJWGWHL","DaylightSavingIndicator":"DFBXRKG","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"AMY","TimeZoneCode":"GAM","DaylightSavingIndicator":"IQC","DateTimeType":"FulfillmentDate"}}},{"PartyIdentificationType":"Nationalregistrationnumber","PartyIdentification":{"IdentifierValue":"BMQDRWD","IdentifierIssuerReference":{"PartyReference":"IRVSXDUVIK","InvolvementReference":"XFJVTHS"},"IdentifierStartDate":{"DateTimeContent":"MHQDGRU","TimeZoneCode":"SKLDIQDUXZ","DaylightSavingIndicator":"OHMJOA","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"XUOQBSFMFA","TimeZoneCode":"NEDRUK","DaylightSavingIndicator":"OSVB","DateTimeType":"ValidFromDate"}}}],"PartyLegalStructureType":"CharitableIncorporatedOrganisation","PartyActivityIndicator":{"Industrycode":"JTML"}}},{"ContactPointType":"Socialnetworkaddress","PartyLocationType":"LocationIsResidentialAddressOfParty","LocationReference":{"LocationDescription":"BGKGAIKU","LocationDateTime":{"DateTimeContent":"SOTGBBLOE","TimeZoneCode":"KCXUZHKAOO","DaylightSavingIndicator":"ZYFE","DateTimeType":"ValueDate"},"LocationStatus":{"StatusReason":"FONHNWAYEA","StatusDateTime":{"DateTimeContent":"LTRIFLS","TimeZoneCode":"DBU","DaylightSavingIndicator":"HLHY","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"XHL","TimeZoneCode":"VPFSCLOD","DaylightSavingIndicator":"FKOUXPDY","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"GOXGSWLXRX","TimeZoneCode":"TYPYZFPAG","DaylightSavingIndicator":"CSLSLHNI","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"SMLSARWUES","InvolvementReference":"KPO"}},"LocationType":"Country","LocationZoningType":"KUIEAPQFM","LocationNeighborhoodType":"RINZPFEBGY","LocationConstructionType":"LUELBBQS","LocationOccupancyType":"NOBZGHSO","LocationValue":"GZWOWPS","LocationCapacity":"JYILMLPPQS","LocationIdentification":{"IdentifierValue":"JTJIQXDU","IdentifierIssuerReference":{"PartyReference":"LKXPMHMCMX","InvolvementReference":"FTL"},"IdentifierStartDate":{"DateTimeContent":"BOURZ","TimeZoneCode":"GJBMNRJB","DaylightSavingIndicator":"UGNYDY","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"OSQHR","TimeZoneCode":"OCFEECR","DaylightSavingIndicator":"OSBKNVP","DateTimeType":"CloseDate"}},"LocationAddress":"BWFPBD","LocationName":{"Name":"TEV"},"LocationTimeZone":"KQRGYCSL"},"PartyReference":{"PartyName":{"FirstName":"EOSOUQA","MiddleName":"VVSFDO","FamilyName":"TBJXKCWR","GivenName":"XVUD","NickName":"YZDAMCUPW","FullName":"AUXKEF","BirthName":"PWWFINP","ShortName":"RAOXTLE","TradingName":"CKKZHPJXB","LegalName":"YNN"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"KRA","TimeZoneCode":"WDW","DaylightSavingIndicator":"ISQEAQCJX","DateTimeType":"SendingDate"},"PartyIdentification":[{"PartyIdentificationType":"Identitycardnumber","PartyIdentification":{"IdentifierValue":"KOCPFIXE","IdentifierIssuerReference":{"PartyReference":"SOCLCDNVNE","InvolvementReference":"GUNGRA"},"IdentifierStartDate":{"DateTimeContent":"DJFZ","TimeZoneCode":"DDMICQFD","DaylightSavingIndicator":"LSAZL","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"ALXCMMQNO","TimeZoneCode":"HYXEVZGNF","DaylightSavingIndicator":"TKWY","DateTimeType":"DeactivationDate"}}},{"PartyIdentificationType":"Socialsecuritynumber","PartyIdentification":{"IdentifierValue":"FCGHLILUE","IdentifierIssuerReference":{"PartyReference":"OLAUHWIQTN","InvolvementReference":"PZS"},"IdentifierStartDate":{"DateTimeContent":"OBZDM","TimeZoneCode":"QCTTA","DaylightSavingIndicator":"QXFVQ","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"CPAW","TimeZoneCode":"CIGX","DaylightSavingIndicator":"HNNLNWL","DateTimeType":"CloseDate"}}},{"PartyIdentificationType":"LEI(LegalEntityIdentifier)","PartyIdentification":{"IdentifierValue":"NSI","IdentifierIssuerReference":{"PartyReference":"YYQVMORDN","InvolvementReference":"RLJFML"},"IdentifierStartDate":{"DateTimeContent":"GOFKII","TimeZoneCode":"CBS","DaylightSavingIndicator":"KGUIYUKAEB","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"FIXOJJRBQ","TimeZoneCode":"UZX","DaylightSavingIndicator":"VGYXJFKSU","DateTimeType":"ExecutedDate"}}},{"PartyIdentificationType":"Registrationauthorityidentification","PartyIdentification":{"IdentifierValue":"NDTLJZHT","IdentifierIssuerReference":{"PartyReference":"UUXMCFGFIU","InvolvementReference":"PVMDCL"},"IdentifierStartDate":{"DateTimeContent":"UFB","TimeZoneCode":"DPC","DaylightSavingIndicator":"FCOBMVT","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"VVXCP","TimeZoneCode":"YDAHL","DaylightSavingIndicator":"GFFRYQ","DateTimeType":"DeactivationDate"}}},{"PartyIdentificationType":"Alienregistrationnumber","PartyIdentification":{"IdentifierValue":"KMKMOVP","IdentifierIssuerReference":{"PartyReference":"YNJN","InvolvementReference":"ZCGAEMCI"},"IdentifierStartDate":{"DateTimeContent":"UBOJGU","TimeZoneCode":"TEDAUVGFH","DaylightSavingIndicator":"QMCSGBAGY","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"SOWQGI","TimeZoneCode":"AKUCI","DaylightSavingIndicator":"KOPP","DateTimeType":"ActivationDate"}}},{"PartyIdentificationType":"Foreigninvestmentidentitynumber","PartyIdentification":{"IdentifierValue":"QRMIXVSP","IdentifierIssuerReference":{"PartyReference":"XGA","InvolvementReference":"FNDHSE"},"IdentifierStartDate":{"DateTimeContent":"LYDPYUJ","TimeZoneCode":"INMBTUB","DaylightSavingIndicator":"KDIRC","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"ZPSJS","TimeZoneCode":"DQXT","DaylightSavingIndicator":"DXHKJXFE","DateTimeType":"OpenDate"}}}],"PartyLegalStructureType":"CommunityInterestCompany","PartyActivityIndicator":{"Industrycode":"NSDETX"}}}],"SocialNetworkContacts":{"ContactPointType":"Socialnetworkaddress","PartyLocationType":"LocationIsPlaceOfBirthOfParty","LocationReference":{"LocationDescription":"ASNBOBD","LocationDateTime":{"DateTimeContent":"AGSVJE","TimeZoneCode":"GKPTBAN","DaylightSavingIndicator":"WICGCDBN","DateTimeType":"CreatingDate"},"LocationStatus":{"StatusReason":"VYVPJXKUKH","StatusDateTime":{"DateTimeContent":"VGSVK","TimeZoneCode":"AJALULLLTR","DaylightSavingIndicator":"ILDR","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"AUH","TimeZoneCode":"ACQSP","DaylightSavingIndicator":"GGHVTMFY","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"SMQIJU","TimeZoneCode":"ITZFI","DaylightSavingIndicator":"BVQ","DateTimeType":"ActivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"LJNRYAKOY","InvolvementReference":"YEXJ"}},"LocationType":"Town","LocationZoningType":"KBPAXXSG","LocationNeighborhoodType":"ZUFLIJZA","LocationConstructionType":"OQNMSLHW","LocationOccupancyType":"AKKUDYEMNH","LocationValue":"EBLQENC","LocationCapacity":"CTBFM","LocationIdentification":{"IdentifierValue":"WUNXWMXJW","IdentifierIssuerReference":{"PartyReference":"POAQN","InvolvementReference":"ETQEETU"},"IdentifierStartDate":{"DateTimeContent":"GCY","TimeZoneCode":"SCEZNT","DaylightSavingIndicator":"ZHOMVTOD","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"KNXVLGO","TimeZoneCode":"ZJWCGSJSXT","DaylightSavingIndicator":"CNN","DateTimeType":"CreatingDate"}},"LocationAddress":"AOSWXU","LocationName":{"Name":"YJKURJTC"},"LocationTimeZone":"VFWROLZSYY"},"PartyReference":{"PartyName":{"FirstName":"NCHUWI","MiddleName":"AKTTYGY","FamilyName":"OFFSXIFGV","GivenName":"QVOS","NickName":"CVFDJIHG","FullName":"RPQEK","BirthName":"TQMJBJGOQ","ShortName":"IYVDFWPE","TradingName":"IIRSPA","LegalName":"LTQ"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"FQSB","TimeZoneCode":"YDLGNHPM","DaylightSavingIndicator":"LZCQZVQ","DateTimeType":"ReceivingDate"},"PartyIdentification":[{"PartyIdentificationType":"Foreigninvestmentidentitynumber","PartyIdentification":{"IdentifierValue":"EMMYXD","IdentifierIssuerReference":{"PartyReference":"KUJF","InvolvementReference":"NHTWLUL"},"IdentifierStartDate":{"DateTimeContent":"FOXIMCYLM","TimeZoneCode":"OZAIRBEY","DaylightSavingIndicator":"SDOGTDTMTA","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"OFCEMBOZ","TimeZoneCode":"RCTESLAZHD","DaylightSavingIndicator":"VLWCYAN","DateTimeType":"CreatingDate"}}},{"PartyIdentificationType":"Nationalregistrationnumber","PartyIdentification":{"IdentifierValue":"UFAHWO","IdentifierIssuerReference":{"PartyReference":"MFA","InvolvementReference":"DDXQRILS"},"IdentifierStartDate":{"DateTimeContent":"JOJ","TimeZoneCode":"UJVOPRJ","DaylightSavingIndicator":"ZBXWCOGWG","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"THBANP","TimeZoneCode":"YSKJ","DaylightSavingIndicator":"XJAVFTFWZS","DateTimeType":"OpenDate"}}},{"PartyIdentificationType":"Concat","PartyIdentification":{"IdentifierValue":"EHHMZ","IdentifierIssuerReference":{"PartyReference":"CLZNQEPCA","InvolvementReference":"QIJLEPFOYJ"},"IdentifierStartDate":{"DateTimeContent":"WZQJN","TimeZoneCode":"QAUZ","DaylightSavingIndicator":"DTX","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"THQGH","TimeZoneCode":"WNFGKTALHM","DaylightSavingIndicator":"JJY","DateTimeType":"ActivationDate"}}},{"PartyIdentificationType":"Identitycardnumber","PartyIdentification":{"IdentifierValue":"RXOOVTRQV","IdentifierIssuerReference":{"PartyReference":"URSE","InvolvementReference":"RRJ"},"IdentifierStartDate":{"DateTimeContent":"TNUQS","TimeZoneCode":"JYXANE","DaylightSavingIndicator":"OAFQSH","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"ACLRC","TimeZoneCode":"KKKOBLVWJ","DaylightSavingIndicator":"ZWCAIBSG","DateTimeType":"InitiatedDate"}}},{"PartyIdentificationType":"Registrationauthorityidentification","PartyIdentification":{"IdentifierValue":"UMGYQTVA","IdentifierIssuerReference":{"PartyReference":"MXMM","InvolvementReference":"NAMCM"},"IdentifierStartDate":{"DateTimeContent":"ISQWIQNC","TimeZoneCode":"RVWFVRFMRJ","DaylightSavingIndicator":"SGM","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"VWKHDKQ","TimeZoneCode":"RTQ","DaylightSavingIndicator":"AIY","DateTimeType":"DeactivationDate"}}},{"PartyIdentificationType":"Registrationauthorityidentification","PartyIdentification":{"IdentifierValue":"BBXD","IdentifierIssuerReference":{"PartyReference":"MNP","InvolvementReference":"GTOXQ"},"IdentifierStartDate":{"DateTimeContent":"ACJIJNHVA","TimeZoneCode":"GZY","DaylightSavingIndicator":"HFLYCUMS","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"YUIX","TimeZoneCode":"FORUJH","DaylightSavingIndicator":"PRBH","DateTimeType":"ExpiryDate"}}}],"PartyLegalStructureType":"PrivateLimitedCompany","PartyActivityIndicator":{"Industrycode":"XJPMZ"}}},"PoliticalExposureType":"Nopoliticalexposure","PoliticalExposureDescriptionRecord":"WGYNFD","CorporateCustomerReference":{"PartyReference":"UKYBZGOOF","InvolvementReference":"EGRRHD"},"CorporateCustomerLegalEntityReference":{"PartyReference":"GIQJLS","InvolvementReference":"OSWJPJMD"},"CorporateAddress":[{"AddressType":"Mailto","AddressLine":"HSTHFBQ","StreetName":{"Name":"LHEZKQ"},"BuildingNumber":"BTFJRUFUH","PostCode":{"IdentifierValue":"GNZOAMO","IdentifierIssuerReference":{"PartyReference":"QTYG","InvolvementReference":"GUAEGWMOZX"},"IdentifierStartDate":{"DateTimeContent":"FBHSGXUQDC","TimeZoneCode":"SVZNJIXRY","DaylightSavingIndicator":"EWL","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"AJFLAIA","TimeZoneCode":"AGIV","DaylightSavingIndicator":"YIZREQHXKE","DateTimeType":"InitiatedDate"}},"TownName":{"Name":"TIW"},"CountrySubDivision":"Province","Country":{"NationalRegulatoryAuthority":{"PartyReference":"ZFAUEWABCD","InvolvementReference":"VZSKWKQHRY"},"CountryName":{"Name":"BWWTPKG"},"CountryCode":{"Countrycode":"DQV"}},"Department":"NINESTW","SubDepartment":"YFCLKC","AddressDescription":"EVNYSZD"},{"AddressType":"Mailto","AddressLine":"GID","StreetName":{"Name":"OWUKRLDVUF"},"BuildingNumber":"QXLV","PostCode":{"IdentifierValue":"ZKRTIDRK","IdentifierIssuerReference":{"PartyReference":"SLHM","InvolvementReference":"CVPXGKZGG"},"IdentifierStartDate":{"DateTimeContent":"UTVE","TimeZoneCode":"GXHJWBX","DaylightSavingIndicator":"UNOIFPCHSY","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"BNY","TimeZoneCode":"GNRAJA","DaylightSavingIndicator":"AGQC","DateTimeType":"CreatingDate"}},"TownName":{"Name":"DOZQ"},"CountrySubDivision":"State","Country":{"NationalRegulatoryAuthority":{"PartyReference":"UUT","InvolvementReference":"OXYSZIDN"},"CountryName":{"Name":"MKF"},"CountryCode":{"Countrycode":"JYM"}},"Department":"UTDRQQUV","SubDepartment":"EEUEH","AddressDescription":"SRX"},{"AddressType":"Deliveryto","AddressLine":"STBYY","StreetName":{"Name":"PVZ"},"BuildingNumber":"ORM","PostCode":{"IdentifierValue":"MUJWWQWVFE","IdentifierIssuerReference":{"PartyReference":"NXVJOKF","InvolvementReference":"NYG"},"IdentifierStartDate":{"DateTimeContent":"VTC","TimeZoneCode":"RXRZEX","DaylightSavingIndicator":"ODYIDMSOP","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"LEYB","TimeZoneCode":"VUCBWUPW","DaylightSavingIndicator":"CQNQFBYF","DateTimeType":"ValidFromDate"}},"TownName":{"Name":"COA"},"CountrySubDivision":"Town","Country":{"NationalRegulatoryAuthority":{"PartyReference":"OME","InvolvementReference":"LFCXYWRND"},"CountryName":{"Name":"KMCP"},"CountryCode":{"Countrycode":"XUYA"}},"Department":"ETQ","SubDepartment":"HWLMHUTO","AddressDescription":"MXCFR"},{"AddressType":"Postal","AddressLine":"NTUIPFW","StreetName":{"Name":"WQOWKBMJOL"},"BuildingNumber":"HJKOQP","PostCode":{"IdentifierValue":"SGWEVNORNW","IdentifierIssuerReference":{"PartyReference":"MRJWIWSZ","InvolvementReference":"OADU"},"IdentifierStartDate":{"DateTimeContent":"UPQGMLBPNP","TimeZoneCode":"MNFKDVPLB","DaylightSavingIndicator":"PDTWBTULS","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"KHMWTBUYXY","TimeZoneCode":"ACQBWJ","DaylightSavingIndicator":"BZV","DateTimeType":"InitiatedDate"}},"TownName":{"Name":"DRXGPALRXT"},"CountrySubDivision":"Town","Country":{"NationalRegulatoryAuthority":{"PartyReference":"FJIH","InvolvementReference":"OOHHVHJNI"},"CountryName":{"Name":"SKETGFAJE"},"CountryCode":{"Countrycode":"KSZKY"}},"Department":"ZTU","SubDepartment":"MTUUJ","AddressDescription":"PKNIFPVOFC"}],"CompanyOfficerReference":{"PartyReference":"FWVYXK","InvolvementReference":"SXUERTN"},"CompanyOfficerRole":{"PartyRoleType":"ENHVJTSSV","PartyRoleName":{"Name":"SDKEIE"},"PartyRoleValidityPeriod":{"FromDateTime":{"DateTimeContent":"FHSE","TimeZoneCode":"YUAWQZUW","DaylightSavingIndicator":"ELLGDNNMU","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"VDJQQ","TimeZoneCode":"TAN","DaylightSavingIndicator":"OYXJDNAN","DateTimeType":"DeactivationDate"}},"PartyInvolvementType":"Relationshipinvolvement"},"CustomerSinceDate":{"DateTimeContent":"EWY","TimeZoneCode":"UBTPXSDEDY","DaylightSavingIndicator":"MTA","DateTimeType":"OpenDate"},"PartyFullLegalName":{"Name":"NYFWF"},"PartyLegalStructure":"LimitedLiabilityPartnership","PartyAddress":[{"AddressType":"Postal","AddressLine":"UFJMSOEI","StreetName":{"Name":"XVPGZ"},"BuildingNumber":"QPZK","PostCode":{"IdentifierValue":"VUPOW","IdentifierIssuerReference":{"PartyReference":"DRJGOWNSRR","InvolvementReference":"OBOTQKWPAQ"},"IdentifierStartDate":{"DateTimeContent":"QNGJMZVHJD","TimeZoneCode":"JUZI","DaylightSavingIndicator":"LVIQJ","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"HIUR","TimeZoneCode":"GKRIJGIPZ","DaylightSavingIndicator":"KIOZKYJP","DateTimeType":"InitiatedDate"}},"TownName":{"Name":"AHWNCEJUP"},"CountrySubDivision":"Country","Country":{"NationalRegulatoryAuthority":{"PartyReference":"QBBFMGWGNA","InvolvementReference":"WGJ"},"CountryName":{"Name":"MQIGPPOXWL"},"CountryCode":{"Countrycode":"TERI"}},"Department":"EHJ","SubDepartment":"FQTCOZIZ","AddressDescription":"JND"},{"AddressType":"Residential","AddressLine":"QQXNN","StreetName":{"Name":"DVENMGGKQ"},"BuildingNumber":"HAIOKJJ","PostCode":{"IdentifierValue":"BIOHV","IdentifierIssuerReference":{"PartyReference":"TBRGLFA","InvolvementReference":"VTRSUNEZS"},"IdentifierStartDate":{"DateTimeContent":"OWVO","TimeZoneCode":"KAPVNYPR","DaylightSavingIndicator":"IKZYJO","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"PQJO","TimeZoneCode":"DEGHETONH","DaylightSavingIndicator":"ILEVYV","DateTimeType":"FulfillmentDate"}},"TownName":{"Name":"OLY"},"CountrySubDivision":"District","Country":{"NationalRegulatoryAuthority":{"PartyReference":"CAHP","InvolvementReference":"DRVIQZGJRL"},"CountryName":{"Name":"UGRPGAAV"},"CountryCode":{"Countrycode":"VEUOLESF"}},"Department":"AMSKNF","SubDepartment":"EXUMQLQHL","AddressDescription":"CMSD"},{"AddressType":"Mailto","AddressLine":"ZJNO","StreetName":{"Name":"IGSOA"},"BuildingNumber":"VGQUTWY","PostCode":{"IdentifierValue":"YPGVAMMV","IdentifierIssuerReference":{"PartyReference":"TTSW","InvolvementReference":"NWSJAZV"},"IdentifierStartDate":{"DateTimeContent":"TSGGKJ","TimeZoneCode":"KSGHW","DaylightSavingIndicator":"TJLJWNF","DateTimeType":"CloseDate"},"IdentifierEndDate":{"DateTimeContent":"WKNWWY","TimeZoneCode":"QVXQZSYIK","DaylightSavingIndicator":"EVB","DateTimeType":"ReceivingDate"}},"TownName":{"Name":"LMHWQX"},"CountrySubDivision":"Province","Country":{"NationalRegulatoryAuthority":{"PartyReference":"IZVVF","InvolvementReference":"HRKVCHBNJP"},"CountryName":{"Name":"DXYMVXABU"},"CountryCode":{"Countrycode":"CQQMSXFQWE"}},"Department":"CBFTEOCLVI","SubDepartment":"RWBHDKTKH","AddressDescription":"DJY"},{"AddressType":"Pobox","AddressLine":"ZQHB","StreetName":{"Name":"JXSYJOGPC"},"BuildingNumber":"SDSY","PostCode":{"IdentifierValue":"UYRWPVBOPR","IdentifierIssuerReference":{"PartyReference":"KSWMAZJWYO","InvolvementReference":"LFYWKNKLYE"},"IdentifierStartDate":{"DateTimeContent":"HESI","TimeZoneCode":"NHAKOCJOG","DaylightSavingIndicator":"NKUKAS","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"JCZEGZW","TimeZoneCode":"JMDFKPKACE","DaylightSavingIndicator":"HUUELRIAK","DateTimeType":"EffectiveDate"}},"TownName":{"Name":"UCUG"},"CountrySubDivision":"Province","Country":{"NationalRegulatoryAuthority":{"PartyReference":"KCRR","InvolvementReference":"SQF"},"CountryName":{"Name":"KPSNYASK"},"CountryCode":{"Countrycode":"MZVRWEG"}},"Department":"KFD","SubDepartment":"VTTMZEMAI","AddressDescription":"QNQPPUJAHP"},{"AddressType":"Correspondence","AddressLine":"MWKAS","StreetName":{"Name":"AFSS"},"BuildingNumber":"CYOK","PostCode":{"IdentifierValue":"XZKEDILXWL","IdentifierIssuerReference":{"PartyReference":"TIZJLUFFEG","InvolvementReference":"VSHADNFC"},"IdentifierStartDate":{"DateTimeContent":"PFOJQVXS","TimeZoneCode":"SFRGOTRLBH","DaylightSavingIndicator":"ANNLGK","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"VWWVZDZ","TimeZoneCode":"EPD","DaylightSavingIndicator":"VJC","DateTimeType":"ValidToDate"}},"TownName":{"Name":"IIQCKVH"},"CountrySubDivision":"Region","Country":{"NationalRegulatoryAuthority":{"PartyReference":"PYOZLGWMME","InvolvementReference":"FXGT"},"CountryName":{"Name":"IGOX"},"CountryCode":{"Countrycode":"ARLCXUBA"}},"Department":"DTCPIUTXOI","SubDepartment":"GXSNOGVSF","AddressDescription":"DGWCW"},{"AddressType":"Deliveryto","AddressLine":"HVZXATMRCV","StreetName":{"Name":"HPNMGLFIT"},"BuildingNumber":"PJPBKEQ","PostCode":{"IdentifierValue":"OQGMTS","IdentifierIssuerReference":{"PartyReference":"KQFY","InvolvementReference":"BXL"},"IdentifierStartDate":{"DateTimeContent":"TQCFWXLX","TimeZoneCode":"JYAQEAKOH","DaylightSavingIndicator":"ZPSWQFAMNY","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"ALF","TimeZoneCode":"GSG","DaylightSavingIndicator":"FORASYXOQN","DateTimeType":"MaturityDate"}},"TownName":{"Name":"IUOMQQBX"},"CountrySubDivision":"City","Country":{"NationalRegulatoryAuthority":{"PartyReference":"ERIIRXWI","InvolvementReference":"IRBZMBOMA"},"CountryName":{"Name":"MFAL"},"CountryCode":{"Countrycode":"UTMIY"}},"Department":"XGPJW","SubDepartment":"GMXUNOBZYS","AddressDescription":"QHKRSMHUW"}],"PartyCountryOfResidence":{"NationalRegulatoryAuthority":{"PartyReference":"PKDZ","InvolvementReference":"ROT"},"CountryName":{"Name":"CYVPKSX"},"CountryCode":{"Countrycode":"RVFEOCSP"}}}}},"required":true},"responses":{"200":{"description":"Reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.ReferenceDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v2/party-reference-data-directory/{partyreferencedatadirectoryid}/demographics/{demographicsid}/update":{"put":{"tags":["BQ - Demographics - v14"],"summary":"UpBQ Update details about a customer's demographic entry","description":"UpBQ Update details about a customer's demographic entry","operationId":"update_2","parameters":[{"name":"partyreferencedatadirectoryid","in":"path","description":"Party Reference Data Directory ID","required":true,"schema":{"type":"string"}},{"name":"demographicsid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.DemographicsDto"},"example":{"Socio-EconomicClassification":"GCRKKZ","Ethnicity":"ONFLTRA","Religion":"GSZ","Employment":{"PartyReference":"HQRGCCWPX","InvolvementReference":"DKJELLWGC"},"EmploymentHistory":"TPR","EducationHistory":"SHYVD","ServicingConstraints":"IZDUCK"}}},"required":true},"responses":{"200":{"description":"Demographics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.DemographicsDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v2/party-reference-data-directory/{partyreferencedatadirectoryid}/bank-relations/{bankrelationsid}/update":{"put":{"tags":["BQ - BankRelations - v14"],"summary":"UpBQ Update details about a customer's bank relations entry for the customer","description":"UpBQ Update details about a customer's bank relations entry for the customer","operationId":"update_3","parameters":[{"name":"partyreferencedatadirectoryid","in":"path","description":"Party Reference Data Directory ID","required":true,"schema":{"type":"string"}},{"name":"bankrelationsid","in":"path","description":"Bank Relations ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.BankRelationsDto"}}}},"required":true},"responses":{"200":{"description":"BankRelations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.BankRelationsDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.exception.ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v2/party-reference-data-directory/{partyreferencedatadirectoryid}/associations/{associationsid}/update":{"put":{"tags":["BQ - Associations - v14"],"summary":"UpBQ Update details about an association entry for the customer","description":"UpBQ Update details about an association entry for the customer","operationId":"update_4","parameters":[{"name":"partyreferencedatadirectoryid","in":"path","description":"Party Reference Data Directory ID","required":true,"schema":{"type":"string"}},{"name":"associationsid","in":"path","description":"Associations ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.bian.partyreferencedatadirectory.dto.v2.AssociationsDto"},"example":{"Id":"UCKNTJTY","EmployeeReference":{"PartyReference":"DZSRKOUY","InvolvementReference":"DQRUEZ"},"AssociateReference":{"PartyReference":"WMRH","InvolvementReference":"MBUWM"},"AssociateType":"PartyIsContactPointForParty","AssociateObligationorDependencyDescription":[{"ObligationOrEntitlementSubject":{"Subject":"SDSBLBQK"},"ObligationOrEntitlementType":"InterestArrangement","ObligationOrEntitlementModality":{"ServiceArrangementModalityType":"DeliveryModality"},"ObligationOrEntitlementDefinition":"BIJMBZPX","ArrangementAction":{"ActionType":"Calculate","EventType":"RVKXCNDHG","EventDateTime":{"DateTimeContent":"FPGZMTRLWY","TimeZoneCode":"HQFQNXZ","DaylightSavingIndicator":"GVJ","DateTimeType":"DeactivationDate"},"EventDescription":"NGC","EventSource":"XKOFAWDI","EventLocation":{"LocationDescription":"DMS","LocationDateTime":{"DateTimeContent":"BONDGNYM","TimeZoneCode":"XQJBDNBA","DaylightSavingIndicator":"ZVDTKY","DateTimeType":"DeactivationDate"},"LocationStatus":{"StatusReason":"XNUBFOPUGB","StatusDateTime":{"DateTimeContent":"QGTG","TimeZoneCode":"IBW","DaylightSavingIndicator":"WHJD","DateTimeType":"DeactivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"PQTPXJBXZ","TimeZoneCode":"LWMOLMLOJT","DaylightSavingIndicator":"RRU","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"WCRYCHCQUL","TimeZoneCode":"BLNRM","DaylightSavingIndicator":"SBILMFL","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"RCIC","InvolvementReference":"UZUPW"}},"LocationType":"District","LocationZoningType":"NQLZB","LocationNeighborhoodType":"EPQ","LocationConstructionType":"KJOWYXOANA","LocationOccupancyType":"NHTQLF","LocationValue":"JPHK","LocationCapacity":"PJGFLBKPER","LocationIdentification":{"IdentifierValue":"DUVQQ","IdentifierIssuerReference":{"PartyReference":"MOKEXFTJQ","InvolvementReference":"XPVAKMUO"},"IdentifierStartDate":{"DateTimeContent":"CFPNP","TimeZoneCode":"UYSD","DaylightSavingIndicator":"LCAIEQHU","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"FLOW","TimeZoneCode":"TOKDZ","DaylightSavingIndicator":"HDG","DateTimeType":"DeactivationDate"}},"LocationAddress":"TCBMHMREI","LocationName":{"Name":"JTMKTFE"},"LocationTimeZone":"QWGZS"},"EventAction":"DWBYVT","EventStatus":{"StatusReason":"RBFWGYWSY","StatusDateTime":{"DateTimeContent":"JIENW","TimeZoneCode":"WFAN","DaylightSavingIndicator":"OZQOR","DateTimeType":"CloseDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"GKLZUP","TimeZoneCode":"BFRM","DaylightSavingIndicator":"VBWH","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"BYQGDJ","TimeZoneCode":"SCWBSJ","DaylightSavingIndicator":"HZVMROL","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"AKSWPJBFA","InvolvementReference":"RMJSBDNR"}},"EventValue":"DMRS","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"TOTHFFXXW","TimeZoneCode":"VALLGEB","DaylightSavingIndicator":"OIJBJLBS","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"KVRWBGPTK","TimeZoneCode":"PBCOZWY","DaylightSavingIndicator":"YGTIKB","DateTimeType":"ValidFromDate"}},"EventIdentification":{"IdentifierValue":"DDBZHHQ","IdentifierIssuerReference":{"PartyReference":"EMBZIEWCFY","InvolvementReference":"BZBMALJKHW"},"IdentifierStartDate":{"DateTimeContent":"NOWJNPDCYZ","TimeZoneCode":"QSET","DaylightSavingIndicator":"ZAOM","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"NCZONTOP","TimeZoneCode":"CNWII","DaylightSavingIndicator":"RRZI","DateTimeType":"RequestedDate"}}},"ArrangementStartDate":{"DateTimeContent":"OLURPLOGOF","TimeZoneCode":"AJI","DaylightSavingIndicator":"JWYDH","DateTimeType":"ActivationDate"},"ArrangementEndDate":{"DateTimeContent":"YEOJUBRFW","TimeZoneCode":"ACTUVSH","DaylightSavingIndicator":"DJM","DateTimeType":"ActivationDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"XYUKSXHC","StatusDateTime":{"DateTimeContent":"ACKFSAEF","TimeZoneCode":"MOQFLT","DaylightSavingIndicator":"DWZLACC","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"YXHCQZO","TimeZoneCode":"HEGTXQE","DaylightSavingIndicator":"GVVYVOGCE","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"GOVJYFZOD","TimeZoneCode":"PAXIIE","DaylightSavingIndicator":"ZQKG","DateTimeType":"ExpiryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"QKDG","InvolvementReference":"YXULEWEQB"}},"ArrangementStatusType":"Requested"},"ArrangementSubjectMatter":{"Subject":"RCTJOP"},"Arrangementtype":"TerminationArrangement","ArrangementIdentification":{"IdentifierValue":"CWXDRWX","IdentifierIssuerReference":{"PartyReference":"HXHAYCHPRQ","InvolvementReference":"PRUUWBWSZ"},"IdentifierStartDate":{"DateTimeContent":"YTKPV","TimeZoneCode":"NKBDUTKG","DaylightSavingIndicator":"PCIRYWE","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"PTEGP","TimeZoneCode":"TJCDAU","DaylightSavingIndicator":"PYG","DateTimeType":"ValidToDate"}},"SavingsAccountArrangementType":"MaturityArrangement","SavingsAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"Bankingservice"},"TermDepositArrangementType":"StandingOrderArrangement","TermDepositArrangementProductFeatureType":{"ProductFeatureTypeValues":"Bankingservice"},"TermDepositMaturityDate":{"DateTimeContent":"XLQA","TimeZoneCode":"NSBEKX","DaylightSavingIndicator":"WMBSKE","DateTimeType":"InitiatedDate"},"TermDepositOpenDate":{"DateTimeContent":"XEBMN","TimeZoneCode":"ESYRZKGBAK","DaylightSavingIndicator":"ZIY","DateTimeType":"ValidFromDate"},"TermDepositAmount":{"AmountValue":"RYFJKZSJ","AmountCurrency":{"Currencycode":"BRB"},"DecimalPointPosition":"BIGWRNWJKY","AmountType":"Principal"},"TermDepositDuration":{"Duration":"WZWHSD"},"DepositTerm":"XZBFQIXDTV"},{"ObligationOrEntitlementSubject":{"Subject":"MGF"},"ObligationOrEntitlementType":"OverdraftArrangement","ObligationOrEntitlementModality":{"ServiceArrangementModalityType":"ApplicationModality"},"ObligationOrEntitlementDefinition":"KXXUVCK","ArrangementAction":{"ActionType":"Execute","EventType":"GLKRNYKN","EventDateTime":{"DateTimeContent":"PBTIWPCJ","TimeZoneCode":"URDRC","DaylightSavingIndicator":"HNOWPZL","DateTimeType":"ValidFromDate"},"EventDescription":"GMJAWI","EventSource":"TTK","EventLocation":{"LocationDescription":"PDHAX","LocationDateTime":{"DateTimeContent":"ZDAYT","TimeZoneCode":"TPFKY","DaylightSavingIndicator":"BTFWTGLEN","DateTimeType":"ExecutedDate"},"LocationStatus":{"StatusReason":"WGJBMTVA","StatusDateTime":{"DateTimeContent":"HWR","TimeZoneCode":"LLSRG","DaylightSavingIndicator":"QEEQCHJDX","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"NNF","TimeZoneCode":"AQG","DaylightSavingIndicator":"VCT","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"INS","TimeZoneCode":"PIB","DaylightSavingIndicator":"WRVURFQ","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"APVOXUZ","InvolvementReference":"YPF"}},"LocationType":"Continent","LocationZoningType":"HGH","LocationNeighborhoodType":"ECULZZR","LocationConstructionType":"UOCRXF","LocationOccupancyType":"YVAZZW","LocationValue":"WSCXFGZRD","LocationCapacity":"CSD","LocationIdentification":{"IdentifierValue":"FPYWNPZH","IdentifierIssuerReference":{"PartyReference":"ZQH","InvolvementReference":"YSDFLAUQ"},"IdentifierStartDate":{"DateTimeContent":"NNUVA","TimeZoneCode":"GUOHXCVE","DaylightSavingIndicator":"WSSJA","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"UTXKJNCZXI","TimeZoneCode":"NTKEKTHJO","DaylightSavingIndicator":"GTMRFFY","DateTimeType":"CreatingDate"}},"LocationAddress":"SLWUWJN","LocationName":{"Name":"ZMWAA"},"LocationTimeZone":"VOOWULODGD"},"EventAction":"NAUYL","EventStatus":{"StatusReason":"EDYBPBDC","StatusDateTime":{"DateTimeContent":"IXXZGZY","TimeZoneCode":"ZQXARIQSB","DaylightSavingIndicator":"KZHH","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"NCVMHTIC","TimeZoneCode":"VQJFHEGC","DaylightSavingIndicator":"WVZKJDAQX","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"BVZRH","TimeZoneCode":"GVFOU","DaylightSavingIndicator":"AKXZFKYA","DateTimeType":"BlockingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ATI","InvolvementReference":"WUCNBLX"}},"EventValue":"AFCDV","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"YQK","TimeZoneCode":"TKMYWTOLN","DaylightSavingIndicator":"RTAMFLFPKE","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"VIF","TimeZoneCode":"FGBVTUYA","DaylightSavingIndicator":"NOXW","DateTimeType":"SendingDate"}},"EventIdentification":{"IdentifierValue":"BSQBXW","IdentifierIssuerReference":{"PartyReference":"WTWR","InvolvementReference":"VQCKGRAPBO"},"IdentifierStartDate":{"DateTimeContent":"CKTVMVHTI","TimeZoneCode":"PITLVJHNL","DaylightSavingIndicator":"HGJ","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"PXYZOUNMFJ","TimeZoneCode":"BCWJH","DaylightSavingIndicator":"PYOYUMOSN","DateTimeType":"EffectiveDate"}}},"ArrangementStartDate":{"DateTimeContent":"HDVC","TimeZoneCode":"VMT","DaylightSavingIndicator":"JQMCWP","DateTimeType":"SendingDate"},"ArrangementEndDate":{"DateTimeContent":"EJVZV","TimeZoneCode":"RRV","DaylightSavingIndicator":"JFIJJ","DateTimeType":"SigningDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ARVF","StatusDateTime":{"DateTimeContent":"MWFXW","TimeZoneCode":"XTOTRISA","DaylightSavingIndicator":"FPEIDKEPS","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"LQH","TimeZoneCode":"YZEAPODASI","DaylightSavingIndicator":"OHKDN","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"YSRVETF","TimeZoneCode":"XGGQ","DaylightSavingIndicator":"IYQT","DateTimeType":"ExpiryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"CHIHHDIIG","InvolvementReference":"YXY"}},"ArrangementStatusType":"Accepted"},"ArrangementSubjectMatter":{"Subject":"SIRXAKK"},"Arrangementtype":"InterestArrangement","ArrangementIdentification":{"IdentifierValue":"DQLXMZOLH","IdentifierIssuerReference":{"PartyReference":"TFQJL","InvolvementReference":"HTZX"},"IdentifierStartDate":{"DateTimeContent":"DSFKDVW","TimeZoneCode":"LLWR","DaylightSavingIndicator":"CYPWLTB","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"ILRZOGYT","TimeZoneCode":"BHUGVSLLBH","DaylightSavingIndicator":"MXJ","DateTimeType":"ReceivingDate"}},"SavingsAccountArrangementType":"EntitlementArrangement","SavingsAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"Administrationservice"},"TermDepositArrangementType":"InformationArrangement","TermDepositArrangementProductFeatureType":{"ProductFeatureTypeValues":"Accessservice"},"TermDepositMaturityDate":{"DateTimeContent":"VLN","TimeZoneCode":"EIX","DaylightSavingIndicator":"OKZWRGZF","DateTimeType":"ExpiryDate"},"TermDepositOpenDate":{"DateTimeContent":"VJZAYWBBKS","TimeZoneCode":"AYSRNAUDS","DaylightSavingIndicator":"XIRJZAJS","DateTimeType":"BlockingDate"},"TermDepositAmount":{"AmountValue":"WYRQ","AmountCurrency":{"Currencycode":"DNUXIYW"},"DecimalPointPosition":"ZGTJKSDKN","AmountType":"Maximum"},"TermDepositDuration":{"Duration":"ZZMUGPGU"},"DepositTerm":"ELHF"},{"ObligationOrEntitlementSubject":{"Subject":"LCPCVJSNU"},"ObligationOrEntitlementType":"UnderwritingArrangement","ObligationOrEntitlementModality":{"ServiceArrangementModalityType":"ApplicationModality"},"ObligationOrEntitlementDefinition":"OODGJAQJX","ArrangementAction":{"ActionType":"Pay","EventType":"FOSP","EventDateTime":{"DateTimeContent":"FFUTLGVY","TimeZoneCode":"ZWFM","DaylightSavingIndicator":"VMJN","DateTimeType":"SigningDate"},"EventDescription":"WAEQV","EventSource":"GDM","EventLocation":{"LocationDescription":"CCKJBUC","LocationDateTime":{"DateTimeContent":"BOHEP","TimeZoneCode":"ION","DaylightSavingIndicator":"XDQVR","DateTimeType":"RequestedDate"},"LocationStatus":{"StatusReason":"RSDNNXGO","StatusDateTime":{"DateTimeContent":"QIWHO","TimeZoneCode":"YIBFND","DaylightSavingIndicator":"RRAOEKP","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"DUU","TimeZoneCode":"YTNIMLDMPW","DaylightSavingIndicator":"HMZLIU","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"JWS","TimeZoneCode":"FHAJOVRD","DaylightSavingIndicator":"IAHHWNONNV","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"LGB","InvolvementReference":"UJWWMEOGVC"}},"LocationType":"Region","LocationZoningType":"ADPY","LocationNeighborhoodType":"LKVVUTNPZ","LocationConstructionType":"UVRQBDHHG","LocationOccupancyType":"UBFRN","LocationValue":"NSTHQYQXR","LocationCapacity":"PCPHHLXYMY","LocationIdentification":{"IdentifierValue":"AJI","IdentifierIssuerReference":{"PartyReference":"DICYMPIMAC","InvolvementReference":"KGWFIQXCW"},"IdentifierStartDate":{"DateTimeContent":"WIPPST","TimeZoneCode":"VPSCOTNYR","DaylightSavingIndicator":"MZMTIXH","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"HVOVERE","TimeZoneCode":"HUWIVJR","DaylightSavingIndicator":"JWNONX","DateTimeType":"ReceivingDate"}},"LocationAddress":"FPFRKLU","LocationName":{"Name":"LWMHOUPEKR"},"LocationTimeZone":"PXHKO"},"EventAction":"XBPE","EventStatus":{"StatusReason":"DVETYVD","StatusDateTime":{"DateTimeContent":"AMBKO","TimeZoneCode":"SDJPFQM","DaylightSavingIndicator":"ZEFSXCN","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"LFRHEJWOD","TimeZoneCode":"QWARF","DaylightSavingIndicator":"CZOVZJKN","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"UVY","TimeZoneCode":"NJXCMDCA","DaylightSavingIndicator":"LKSYIMNL","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"IJAQDMDS","InvolvementReference":"MGCEEWJGL"}},"EventValue":"LVWCVP","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"XQUYVON","TimeZoneCode":"ELYFREQ","DaylightSavingIndicator":"PMROESSIBQ","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"JIA","TimeZoneCode":"YBEABWHDI","DaylightSavingIndicator":"TZLK","DateTimeType":"DeactivationDate"}},"EventIdentification":{"IdentifierValue":"RNIXNMSKT","IdentifierIssuerReference":{"PartyReference":"EXMAMQBV","InvolvementReference":"TBUYLC"},"IdentifierStartDate":{"DateTimeContent":"CVFXYVJZN","TimeZoneCode":"DYPICSGT","DaylightSavingIndicator":"LAY","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"XHPW","TimeZoneCode":"MVCSKKY","DaylightSavingIndicator":"FGEDG","DateTimeType":"ValueDate"}}},"ArrangementStartDate":{"DateTimeContent":"OWVXI","TimeZoneCode":"QXHJUMJ","DaylightSavingIndicator":"BMXRSQYE","DateTimeType":"FulfillmentDate"},"ArrangementEndDate":{"DateTimeContent":"QKTUQ","TimeZoneCode":"AMFLQB","DaylightSavingIndicator":"NIEDQXDYFD","DateTimeType":"InitiatedDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"SRSQLYLXHY","StatusDateTime":{"DateTimeContent":"OKXQLADOF","TimeZoneCode":"NWEUMHFJKX","DaylightSavingIndicator":"YFIGHQV","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"JFAJ","TimeZoneCode":"IEDPHWLSMH","DaylightSavingIndicator":"GHC","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"VWEOECAVU","TimeZoneCode":"VVJHNYYY","DaylightSavingIndicator":"NTNZ","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"BOG","InvolvementReference":"XEEYCYLWFJ"}},"ArrangementStatusType":"Requested"},"ArrangementSubjectMatter":{"Subject":"HNADZEYJA"},"Arrangementtype":"UnderwritingArrangement","ArrangementIdentification":{"IdentifierValue":"TYWTPTI","IdentifierIssuerReference":{"PartyReference":"LHPGGSHN","InvolvementReference":"EMHCT"},"IdentifierStartDate":{"DateTimeContent":"SLAJYYRJ","TimeZoneCode":"AQFO","DaylightSavingIndicator":"PXUDVGCU","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"PIVMFIYTW","TimeZoneCode":"LUGZMIKC","DaylightSavingIndicator":"AEQF","DateTimeType":"MaturityDate"}},"SavingsAccountArrangementType":"AccessArrangement","SavingsAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"Administrationservice"},"TermDepositArrangementType":"EntitlementArrangement","TermDepositArrangementProductFeatureType":{"ProductFeatureTypeValues":"Accessservice"},"TermDepositMaturityDate":{"DateTimeContent":"VCLOU","TimeZoneCode":"DQN","DaylightSavingIndicator":"GGLH","DateTimeType":"BlockingDate"},"TermDepositOpenDate":{"DateTimeContent":"ILNKCZNKQ","TimeZoneCode":"GSCLYB","DaylightSavingIndicator":"APZDOR","DateTimeType":"ExpiryDate"},"TermDepositAmount":{"AmountValue":"EYNG","AmountCurrency":{"Currencycode":"BPAAAX"},"DecimalPointPosition":"PUOOJTT","AmountType":"Estimated"},"TermDepositDuration":{"Duration":"CJCHTZL"},"DepositTerm":"URAUCO"},{"ObligationOrEntitlementSubject":{"Subject":"MSHBCK"},"ObligationOrEntitlementType":"CollectionArrangement","ObligationOrEntitlementModality":{"ServiceArrangementModalityType":"ProcessingModality"},"ObligationOrEntitlementDefinition":"PXZC","ArrangementAction":{"ActionType":"Apply","EventType":"DVJBWPNKID","EventDateTime":{"DateTimeContent":"TKHP","TimeZoneCode":"BTILOW","DaylightSavingIndicator":"LTABDEREVB","DateTimeType":"DeactivationDate"},"EventDescription":"EGH","EventSource":"QDI","EventLocation":{"LocationDescription":"ISFPXVUX","LocationDateTime":{"DateTimeContent":"CPHSDZIGWH","TimeZoneCode":"DSNGQNYX","DaylightSavingIndicator":"YGDQQOMP","DateTimeType":"EffectiveDate"},"LocationStatus":{"StatusReason":"VRV","StatusDateTime":{"DateTimeContent":"AHTWMIUB","TimeZoneCode":"UWVPNZONS","DaylightSavingIndicator":"ZFBPEXHR","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"JEUFPAVYG","TimeZoneCode":"LKNUCALW","DaylightSavingIndicator":"XEWNMRMF","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"OFSLPDOVY","TimeZoneCode":"GUTEBQASL","DaylightSavingIndicator":"UWNBXYOWXX","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"BOQRLFKE","InvolvementReference":"YPVSTCCMI"}},"LocationType":"City","LocationZoningType":"UEHFQET","LocationNeighborhoodType":"VMITILDDW","LocationConstructionType":"IFKGLN","LocationOccupancyType":"EIZKD","LocationValue":"ZGYQB","LocationCapacity":"JQGO","LocationIdentification":{"IdentifierValue":"OWDVDTMINB","IdentifierIssuerReference":{"PartyReference":"WGEWVSGG","InvolvementReference":"JZMOBWZVF"},"IdentifierStartDate":{"DateTimeContent":"SEEEHYMT","TimeZoneCode":"EPPCDK","DaylightSavingIndicator":"UTTB","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"GCC","TimeZoneCode":"NJUDFJPY","DaylightSavingIndicator":"AAYRL","DateTimeType":"SigningDate"}},"LocationAddress":"XSXLRMLR","LocationName":{"Name":"TLYBFK"},"LocationTimeZone":"HPWTWN"},"EventAction":"BBJEKAV","EventStatus":{"StatusReason":"PUIK","StatusDateTime":{"DateTimeContent":"QCS","TimeZoneCode":"YFKSUXVS","DaylightSavingIndicator":"TAXIVXM","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"LVDJGZEO","TimeZoneCode":"JARSKLUAL","DaylightSavingIndicator":"OBIPAROAXB","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"ZFV","TimeZoneCode":"QGQGM","DaylightSavingIndicator":"SJEWAHN","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"LRBP","InvolvementReference":"BLDIKSA"}},"EventValue":"VGMGMN","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"BVIFBRQ","TimeZoneCode":"TBKAMGQV","DaylightSavingIndicator":"TRMUPROU","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"WZUXHA","TimeZoneCode":"FHEM","DaylightSavingIndicator":"XCBHFVQZS","DateTimeType":"FulfillmentDate"}},"EventIdentification":{"IdentifierValue":"HLAAPQZUA","IdentifierIssuerReference":{"PartyReference":"MLPAJHLPEP","InvolvementReference":"TYISFCFJXL"},"IdentifierStartDate":{"DateTimeContent":"TUFZVIQG","TimeZoneCode":"NBLUS","DaylightSavingIndicator":"KLT","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"OSDN","TimeZoneCode":"WZYAZP","DaylightSavingIndicator":"AYLITLRS","DateTimeType":"DeactivationDate"}}},"ArrangementStartDate":{"DateTimeContent":"GBTBNT","TimeZoneCode":"NQRULMU","DaylightSavingIndicator":"SNXRRWL","DateTimeType":"ValidToDate"},"ArrangementEndDate":{"DateTimeContent":"EXMOKIRKDU","TimeZoneCode":"SVNSMTSLH","DaylightSavingIndicator":"MIJOCVIJC","DateTimeType":"RequestedDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"NSNXRDJ","StatusDateTime":{"DateTimeContent":"ZAD","TimeZoneCode":"TBQ","DaylightSavingIndicator":"NTA","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"HDWADRAYR","TimeZoneCode":"OYRRT","DaylightSavingIndicator":"KKFNZT","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"OSNSC","TimeZoneCode":"NTYN","DaylightSavingIndicator":"TIUTE","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"DTVHMMC","InvolvementReference":"DFZOBIBKFP"}},"ArrangementStatusType":"Requested"},"ArrangementSubjectMatter":{"Subject":"MLLEFCPFDW"},"Arrangementtype":"EntitlementArrangement","ArrangementIdentification":{"IdentifierValue":"QSZTEYS","IdentifierIssuerReference":{"PartyReference":"EAIR","InvolvementReference":"LJF"},"IdentifierStartDate":{"DateTimeContent":"FAHABTG","TimeZoneCode":"LESHA","DaylightSavingIndicator":"BNC","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"EGEDZZKQ","TimeZoneCode":"LLVLZWNS","DaylightSavingIndicator":"TLHOJAC","DateTimeType":"DueDate"}},"SavingsAccountArrangementType":"PeriodArrangement","SavingsAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"Bankingservice"},"TermDepositArrangementType":"CollateralArrangement","TermDepositArrangementProductFeatureType":{"ProductFeatureTypeValues":"Bankingservice"},"TermDepositMaturityDate":{"DateTimeContent":"ZZTAFA","TimeZoneCode":"HFU","DaylightSavingIndicator":"YGXOHCEI","DateTimeType":"CreatingDate"},"TermDepositOpenDate":{"DateTimeContent":"DCU","TimeZoneCode":"XEAFJA","DaylightSavingIndicator":"TQJD","DateTimeType":"DueDate"},"TermDepositAmount":{"AmountValue":"IMXAE","AmountCurrency":{"Currencycode":"EFHDUTSM"},"DecimalPointPosition":"FZMOMLCYT","AmountType":"Minimum"},"TermDepositDuration":{"Duration":"LBJ"},"DepositTerm":"ZBA"}],"AssociationValidFromToDate":{"FromDateTime":{"DateTimeContent":"MROY","TimeZoneCode":"MLFPLLPP","DaylightSavingIndicator":"LDKNNRZXMQ","DateTimeType":"FulfillmentDate"},"ToDateTime":{"DateTimeContent":"KKRDJPJ","TimeZoneCode":"TSCSFFWQJA","DaylightSavingIndicator":"JHYJCXWBX","DateTimeType":"ValueDate"}},"ProductInstanceReference":{"ProductAgreementType":"BrokeredProductAgreement","ProductAgreementIdentification":{"IdentifierValue":"QNJZ","IdentifierIssuerReference":{"PartyReference":"YKRYPZKXC","InvolvementReference":"KADWO"},"IdentifierStartDate":{"DateTimeContent":"DXLRJ","TimeZoneCode":"SFQVOMB","DaylightSavingIndicator":"ELMFET","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"FWPGRLET","TimeZoneCode":"VHOFQQ","DaylightSavingIndicator":"UWJSVUEILP","DateTimeType":"CreatingDate"}},"AgreementSignedDate":{"DateContent":"JVLTYN"},"AgreementType":"MasterAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"VDEVRC","TimeZoneCode":"EYWP","DaylightSavingIndicator":"NMUKBZJAGQ","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"BMYVNYP","TimeZoneCode":"YHOZRPORMV","DaylightSavingIndicator":"SLLXRKG","DateTimeType":"DeactivationDate"}},"AgreementVersion":"DNT","AgreementStatus":{"AgreementStatus":{"StatusReason":"LIBSRS","StatusDateTime":{"DateTimeContent":"EXUXAO","TimeZoneCode":"LVK","DaylightSavingIndicator":"OMKWYNL","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"LYWOACGC","TimeZoneCode":"KBS","DaylightSavingIndicator":"DNIPOFXO","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"WPWCNEAS","TimeZoneCode":"YEDVV","DaylightSavingIndicator":"ZQQ","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"PTEMFMHQ","InvolvementReference":"PWZXEU"}},"AgreementStatusType":"Confirmed"},"AgreementSubjectMatter":"MMSSRFFMON","AgreementIdentification":{"IdentifierValue":"IXDMCNY","IdentifierIssuerReference":{"PartyReference":"UKAUQB","InvolvementReference":"UWRKFGZ"},"IdentifierStartDate":{"DateTimeContent":"ERDQOLXG","TimeZoneCode":"ZCEUBMBUZL","DaylightSavingIndicator":"RPCYRDPON","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"KGYJJFWAJO","TimeZoneCode":"KQPFSKMH","DaylightSavingIndicator":"KAAC","DateTimeType":"EffectiveDate"}},"AgreementDate":{"DateTimeContent":"WGRQEK","TimeZoneCode":"KGEQKETT","DaylightSavingIndicator":"NFWIGTYO","DateTimeType":"CreatingDate"},"AgreementDescription":"NILLNFYV"},"PreferredBeneficiary":{"PartyReference":"YUYX","InvolvementReference":"PKIFK"},"ProxyRepresentativePowerofAttorneyReference":{"RelationshipType":"PartyIsCertifiedByParty","FromParty":{"PartyName":{"FirstName":"WAR","MiddleName":"NIYPREJOR","FamilyName":"DZYCPFF","GivenName":"WQE","NickName":"LQUIF","FullName":"RITWYZVD","BirthName":"YHOVSR","ShortName":"BVVU","TradingName":"IWVEO","LegalName":"CFVCMJMTW"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"DGRZSFGWW","TimeZoneCode":"HAVIJXDXVX","DaylightSavingIndicator":"RBUBAAV","DateTimeType":"ReceivingDate"},"PartyIdentification":[{"PartyIdentificationType":"Concat","PartyIdentification":{"IdentifierValue":"NVISQLTPS","IdentifierIssuerReference":{"PartyReference":"DHR","InvolvementReference":"KBCMLKQ"},"IdentifierStartDate":{"DateTimeContent":"DYZVPQCYTS","TimeZoneCode":"FTGZAR","DaylightSavingIndicator":"OSCNEIU","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"NFCANILGDG","TimeZoneCode":"AQBOOA","DaylightSavingIndicator":"XOESX","DateTimeType":"OpenDate"}}},{"PartyIdentificationType":"Driverlicensenumber","PartyIdentification":{"IdentifierValue":"AVXUNHPE","IdentifierIssuerReference":{"PartyReference":"PTW","InvolvementReference":"PVQ"},"IdentifierStartDate":{"DateTimeContent":"UHUDFEPZIC","TimeZoneCode":"WRD","DaylightSavingIndicator":"ZIKQKXPAW","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"KCU","TimeZoneCode":"QAGXC","DaylightSavingIndicator":"OESHVCCJVH","DateTimeType":"DueDate"}}},{"PartyIdentificationType":"LEI(LegalEntityIdentifier)","PartyIdentification":{"IdentifierValue":"ROUXAX","IdentifierIssuerReference":{"PartyReference":"CJDNCKGNF","InvolvementReference":"ZGH"},"IdentifierStartDate":{"DateTimeContent":"QOFMJUFMTG","TimeZoneCode":"QQFFFTDXGG","DaylightSavingIndicator":"JIVBPZ","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"GTNRRAXVB","TimeZoneCode":"KDRLNLFKKO","DaylightSavingIndicator":"XIFFXD","DateTimeType":"ValueDate"}}},{"PartyIdentificationType":"Taxidentificationnumber","PartyIdentification":{"IdentifierValue":"ACTO","IdentifierIssuerRefe
[...]
