{"openapi":"3.0.1","info":{"title":"Payment Order Initiation","description":"This service domain provides a customer payment service. It captures the\n    payer and payee details and other key properties of the payment and\n    initiates the orchestration of the transaction. It provides support for\n    repeating/scheduled payment","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/stub/payment-order-initiation/{payment-order-initiation-id}/update":{"put":{"tags":["CR - PaymentOrderInitiationTransaction - stub"],"summary":"UpCR Update details of a payment transaction instruction","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"payment-order-initiation-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOrderInitiationTransactionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOrderInitiationTransactionDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/payment-order-initiation/{payment-order-initiation-id}/order-initiation/{order-initiation-id}/exchange":{"put":{"tags":["BQ - OrderInitiation - stub"],"summary":"EcBQ Verify or accept the payment transaction (results in a payment order)","operationId":"ExchangeOrderInitiation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"payment-order-initiation-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"order-initiation-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderInitiationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderInitiationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/payment-order-initiation-config/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/payment-order-initiation/initiate":{"post":{"tags":["CR - PaymentOrderInitiationTransaction - stub"],"summary":"InCR Initiate a payment transaction","operationId":"Initiate","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOrderInitiationTransactionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOrderInitiationTransactionDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/payment-order-initiation/{payment-order-initiation-id}/retrieve":{"get":{"tags":["CR - PaymentOrderInitiationTransaction - stub"],"summary":"ReCR Retrieve details about a payment transaction","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"payment-order-initiation-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOrderInitiationTransactionDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/payment-order-initiation/{payment-order-initiation-id}/order-initiation/{order-initiation-id}/retrieve":{"get":{"tags":["BQ - OrderInitiation - stub"],"summary":"ReBQ Retrieve details about the payment order initiation","operationId":"RetrieveOrderInitiation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"payment-order-initiation-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"order-initiation-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderInitiationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/payment-order-initiation/{payment-order-initiation-id}/confirmation/{confirmation-id}/retrieve":{"get":{"tags":["BQ - Confirmation - stub"],"summary":"ReBQ Retrieve details about a payment transaction funds available","operationId":"RetrieveConfirmation","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"payment-order-initiation-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"confirmation-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmationDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/payment-order-initiation/{payment-order-initiation-id}/compliance/{compliance-id}/retrieve":{"get":{"tags":["BQ - Compliance - stub"],"summary":"ReBQ Retrieve details about a payment transaction compliance check","operationId":"RetrieveCompliance","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"payment-order-initiation-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"compliance-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/payment-order-initiation-config/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfigDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/payment-order-initiation-config/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"AccountBalanceDTO":{"type":"object","properties":{"BalanceAmount":{"$ref":"#/components/schemas/AmountDTO"},"BalanceType":{"type":"string","enum":["OpeningBalance","ClosingBalance","CurrentBalance","AvailableBalance","LedgerBalance","ReserveBalance","FreeBalance","PrincipalBalance","ClosingAvailable","ClosingBooked","ForwardAvailable","Information","InterimAvailable","InterimBooked","OpeningAvailable","OpeningBooked","PreviouslyClosedBooked","Expected"]},"BalanceValueDate":{"$ref":"#/components/schemas/DateTimeDTO"},"BalanceIndicator":{"type":"string","enum":["Debit","Credit"]},"BalanceCounterpartyType":{"type":"string","enum":["Bilateral","Multilateral"]},"BalanceCalculationDate":{"$ref":"#/components/schemas/DateTimeDTO"},"BalanceSubType":{"type":"string","enum":["Adjustment","BaseCurrency","Blocked","BlockedFunds","DaylightOverdraft","EligibleAssets","FirmCollateralIzAtion","AmountsThatHaveBeenUsedToServeAsFirmCollateral","SecuritiesForecast","NetFunding","Intermediate","LocalCurrency","LimitRelated","ReservedLiquidity","SecuritiesPending","PayInPayOut","ProgressiveAverage","Reserve","SelfCollateralIzAtion","AmountsThatHaveBeenUsedToServeAsSelfCollateral","Threshold"]}},"example":{"BalanceAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"SBOD","AmountType":"Estimated"},"BalanceType":"ClosingAvailable","BalanceValueDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"OXSS","DateTimeType":"SendingDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"OJUIFLFUF","DateTimeType":"ValidToDate"},"BalanceSubType":"FirmCollateralIzAtion"}},"AccountCurrencyDTO":{"type":"object","properties":{"AccountCurrencyType":{"type":"string","enum":["BaseCurrency","ReportingCurrency","SecondaryCurrency","TransferCurrency","SettlementCurrency"]},"AccountCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"}},"example":{"AccountCurrencyType":"SecondaryCurrency","AccountCurrency":{"Currencycode":"USD"}}},"AccountDTO":{"type":"object","properties":{"AccountStatus":{"$ref":"#/components/schemas/AccountStatusDTO"},"AccountIdentification":{"$ref":"#/components/schemas/AccountIdentificationDTO"},"AccountDate":{"$ref":"#/components/schemas/AccountDateTimeDTO"},"AccountType":{"type":"string","enum":["DebitAccount","CreditAccount","VosTroACount","NosTroAccount","PaymentAccount","SettlementAccount","SavingAccount","CurrentAccount","CashAccount","LoanAccount","IndividualAccount","JointAccount","LiquidationAccount","ProvisionAccount","PartnershipAccount","InvestmentAccount"]},"AccountPurpose":{"type":"string"},"AccountBalance":{"$ref":"#/components/schemas/AccountBalanceDTO"},"AccountCurrency":{"$ref":"#/components/schemas/AccountCurrencyDTO"},"AccountDescription":{"type":"string"},"AccountName":{"$ref":"#/components/schemas/NameDTO"},"LogType":{"type":"string"},"LogPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"LogDate":{"$ref":"#/components/schemas/DateTimeDTO"},"LogIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AccountStatus":{"AccountStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GLTE","DateTimeType":"DeactivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IEDZ","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FNLT","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"a70475da-58f3-4922-9446-917e3df0aa9e","InvolvementReference":"6a8e0414-051b-4997-9c99-587758ff575a"}},"AccountStatusType":"Proforma"},"AccountIdentification":{"AccountIdentificationType":"Pan","AccountIdentification":{"IdentifierValue":"b773a6b4-e746-4bdd-ad41-568a30e04e06","IdentifierIssuerReference":{"PartyReference":"65b98a59-1f66-4c4d-aacf-5215d031105f","InvolvementReference":"76af1251-95f9-4878-96b6-ab5804faf92a"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QQWXSVAWQ","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FJNHWIBVZZ","DateTimeType":"ExecutedDate"}}},"AccountDate":{"AccountDateType":"ClosingDate","AccountDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WOB","DateTimeType":"EffectiveDate"}},"AccountType":"VosTroACount","AccountPurpose":"123456789012","AccountBalance":{"BalanceAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"HREML","AmountType":"Maximum"},"BalanceType":"ReserveBalance","BalanceValueDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EKCGDRM","DateTimeType":"FulfillmentDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EEGDFCZD","DateTimeType":"CloseDate"},"BalanceSubType":"BlockedFunds"},"AccountCurrency":{"AccountCurrencyType":"SecondaryCurrency","AccountCurrency":{"Currencycode":"USD"}},"AccountDescription":"123456789012","AccountName":{"Name":"BRBO"},"LogType":"DEFAULT","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EMIDSETVWN","DateTimeType":"EntryDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FTWFGH","DateTimeType":"DeactivationDate"}},"LogDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"NEQBLRK","DateTimeType":"SigningDate"},"LogIdentification":{"IdentifierValue":"86f6f2dc-1313-494e-9228-9ebf8c30e698","IdentifierIssuerReference":{"PartyReference":"061e0969-1dee-44fa-88ad-6b01dd9f5268","InvolvementReference":"699d4236-abeb-41fd-bd95-61d32ed32d73"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YDNNPFGAL","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SNVNVHYCOS","DateTimeType":"ValueDate"}}}},"AccountDateTimeDTO":{"type":"object","properties":{"AccountDateType":{"type":"string","enum":["OpeningDate","ClosingDate","BlockingDate","MaturityDate","LiveDate","RenewalDate"]},"AccountDate":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"AccountDateType":"ClosingDate","AccountDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YHQNT","DateTimeType":"CloseDate"}}},"AccountIdentificationDTO":{"type":"object","properties":{"AccountIdentificationType":{"type":"string","enum":["BbAn","IBan","UpIc","AccountNumber","Pan","PayM","Wallet","SortCodeAndAccountNumber","AIIn","CuiD"]},"AccountIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AccountIdentificationType":"BbAn","AccountIdentification":{"IdentifierValue":"660fe7eb-c155-43c6-b36a-2eaae162a74a","IdentifierIssuerReference":{"PartyReference":"1195122b-bc86-4df7-8e8f-7281476dd118","InvolvementReference":"7bd17112-3314-49b1-8c77-102c9cb635cf"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GJHAHZPQOJ","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"UOMZHG","DateTimeType":"ExecutedDate"}}}},"AccountStatusDTO":{"type":"object","properties":{"AccountStatus":{"$ref":"#/components/schemas/StatusDTO"},"AccountStatusType":{"type":"string","enum":["Enabled","Disabled","Deleted","Proforma","Pending"]}},"example":{"AccountStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WBGY","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ECFJFBR","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MFR","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"de4932fa-2024-4bf4-b34e-a2bf75377e73","InvolvementReference":"37a9759b-d093-4bcc-a00a-6f173b91caa7"}},"AccountStatusType":"Pending"}},"ActionDTO":{"type":"object","properties":{"ActionType":{"type":"string","enum":["Initiate","Execute","Create","Transfer","Pay","Deliver","Apply","Calculate"]},"EventType":{"type":"string"},"EventDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"EventDescription":{"type":"string"},"EventSource":{"type":"string"},"EventLocation":{"$ref":"#/components/schemas/LocationDTO"},"EventAction":{"$ref":"#/components/schemas/ActionDTO"},"EventStatus":{"$ref":"#/components/schemas/StatusDTO"},"EventValue":{"type":"string"},"EventValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"EventIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"ActionType":"Transfer","EventType":"DEFAULT","EventDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SST","DateTimeType":"ValidFromDate"},"EventDescription":"AONCIXFTRU","EventSource":"GBMFJ","EventLocation":{"LocationDescription":"QYAGHDKMX","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IBWCB","DateTimeType":"RequestedDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IXISNUKCW","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"PSEW","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WACNRYWRTO","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ae34ff84-6576-4913-b05c-57aac5573833","InvolvementReference":"1c2efae5-98e4-4273-9488-bb83ad0e7ccf"}},"LocationType":"State","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"IYW","LocationCapacity":"VTAKCAZGG","LocationIdentification":{"IdentifierValue":"06b2a7d0-6c02-448a-91ae-64aa0cde15f8","IdentifierIssuerReference":{"PartyReference":"d3557b61-feb2-4410-8f27-f0a040a12eae","InvolvementReference":"847691e5-f693-45ff-8c8b-de68810b3b73"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IVCWQ","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"UVKJECMPG","DateTimeType":"OpenDate"}},"LocationAddress":"PJWQHCDKH","LocationName":{"Name":"ONHPR"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QUUKKAJ","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XJYHLRURK","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XQG","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"c6586a82-8a01-422e-b76d-fb6a7ee6df06","InvolvementReference":"a104043e-73ba-4c46-97a8-0fe478c0f908"}},"EventValue":"WIGTF","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QILZLC","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"PFVLQGCG","DateTimeType":"BlockingDate"}},"EventIdentification":{"IdentifierValue":"3d91187c-88e1-4ed2-9900-49c56e64b47d","IdentifierIssuerReference":{"PartyReference":"b221b563-a638-4e3f-a2fc-fecef107fad2","InvolvementReference":"c46978d4-b033-477c-8735-c5d72989b0e8"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"HRNXVOJRW","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KAQGMURGM","DateTimeType":"OpenDate"}}}},"AgreementStatusDTO":{"type":"object","properties":{"AgreementStatus":{"$ref":"#/components/schemas/StatusDTO"},"AgreementStatusType":{"type":"string","enum":["Offered","Confirmed","Completed","Signed","Terminated","Rejected"]}},"example":{"AgreementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SWSRXMOUY","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GTAEUXKE","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GRXDO","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"13f02dba-9f2f-492e-91c6-b9778d8b2d96","InvolvementReference":"3831e59c-5e3c-405f-b0c2-a4234962efcd"}},"AgreementStatusType":"Terminated"}},"AmountDTO":{"type":"object","properties":{"AmountValue":{"type":"string"},"AmountCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"},"DecimalPointPosition":{"type":"string"},"AmountType":{"type":"string","enum":["Principal","Actual","Estimated","Maximum","Default","Replacement","Incremental","DecReMental","Reserved","Available","Used","DuePayable","Minimum","Open","Unknown","Fixed"]}},"example":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"VFPARJP","AmountType":"Estimated"}},"ArrangementStatusDTO":{"type":"object","properties":{"ArrangementStatus":{"$ref":"#/components/schemas/StatusDTO"},"ArrangementStatusType":{"type":"string","enum":["Requested","Proposed","Offered","Accepted","Cancelled","Fulfilled","Terminated"]}},"example":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VZM","DateTimeType":"ValidToDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"HOBAKD","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EAZDT","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"463fef65-5362-4ea0-9ddd-394ef4fe0264","InvolvementReference":"1b2a42e0-8d35-4bcb-9210-4af7fa068c2b"}},"ArrangementStatusType":"Offered"}},"BudgetArrangementDTO":{"type":"object","properties":{"BudgetType":{"$ref":"#/components/schemas/BudgetTypeDTO"},"BudgetAmount":{"$ref":"#/components/schemas/AmountDTO"},"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"BudgetType":{"BudgetTypeName":{"Name":"BAEP"},"BudgetType":"FinancialBudget"},"BudgetAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"YNSQJPMB","AmountType":"Fixed"},"ArrangementAction":{"ActionType":"Apply","EventType":"DEFAULT","EventDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EZTA","DateTimeType":"MaturityDate"},"EventDescription":"DZRTRURBUL","EventSource":"YDUZLB","EventLocation":{"LocationDescription":"YFDUFGZV","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"OIFEWHBU","DateTimeType":"SendingDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VLUOPX","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DJMFI","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZBUHPVAYYL","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"163b2621-5119-46af-b71c-f2df5f7cf2c0","InvolvementReference":"6bb35fcb-dc3e-42a0-a7be-0eec1f7aa078"}},"LocationType":"Country","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"OXZCWFCRJ","LocationCapacity":"XEQGY","LocationIdentification":{"IdentifierValue":"f222bb05-320c-4337-9206-5fd0616df864","IdentifierIssuerReference":{"PartyReference":"f823efae-20c9-4d95-a907-69f3ac5c99cb","InvolvementReference":"3512c7d6-5e5e-495e-9441-46ad692db399"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"RPMWOKI","DateTimeType":"BlockingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KBEFZ","DateTimeType":"FulfillmentDate"}},"LocationAddress":"TMYFLTOB","LocationName":{"Name":"ZAFX"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FCWYRDNLNN","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BTFCM","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LLAI","DateTimeType":"SigningDate"}},"StatusInvolvedPartyReference":{"PartyReference":"3fbcb582-e687-47cc-a3a1-81960b2284d8","InvolvementReference":"92b33c84-5fe8-481f-8de3-fe6b3b647b10"}},"EventValue":"CKC","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GZC","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"OBNEYJNR","DateTimeType":"SendingDate"}},"EventIdentification":{"IdentifierValue":"6aac3c25-6233-42ec-9e7a-a0ccb9ef4548","IdentifierIssuerReference":{"PartyReference":"83a1846c-097b-497b-9fde-9fe7bd01122f","InvolvementReference":"984350c8-23f6-499e-b216-d7e1a88362c4"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YPPWYHXD","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MREKLSPY","DateTimeType":"CreatingDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"HXG","DateTimeType":"FulfillmentDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MRFGJYA","DateTimeType":"CreatingDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IXY","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"OXWCB","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EVJZO","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"b5e0124b-dcf2-4bbe-bea4-bc873d6281e5","InvolvementReference":"346d1a8d-8e20-44c1-92c3-2c7151766982"}},"ArrangementStatusType":"Cancelled"},"ArrangementSubjectMatter":{"Subject":"VVU"},"Arrangementtype":"ProductAndServiceArrangement","ArrangementIdentification":{"IdentifierValue":"070e72f5-7005-473c-9db6-7628abee5855","IdentifierIssuerReference":{"PartyReference":"67a84087-359f-4027-81d4-1d06f06cd3df","InvolvementReference":"4fb0c766-1866-47e3-884a-cf69398b0309"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BCSIA","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VWBGYZ","DateTimeType":"ReceivingDate"}}}},"BudgetTypeDTO":{"type":"object","properties":{"BudgetTypeName":{"$ref":"#/components/schemas/NameDTO"},"BudgetType":{"type":"string","enum":["OperatingBudget","FinancialBudget","ResourceBudget"]}},"example":{"BudgetTypeName":{"Name":"OSHAO"},"BudgetType":"ResourceBudget"}},"ContactPointDTO":{"type":"object","properties":{"ContactPointType":{"type":"string","enum":["ElectronicAddress","PostalAddress","PhoneNumber","SocialNetworkAddress"]},"PartyLocationType":{"type":"string","enum":["LocationIsResidentialAddressOfParty","LocationIsDomicileAddressOfParty","LocationIsPlaceOfBirthOfParty","LocationIsWorkAddressOfParty","LocationIsDeliveryPointAddressOfParty","PartyIsOwnerOfLocation","PartyIsOccUPierOfLocation","PartyIsAlliancePartnerOfLocation","LocationIsContactPointAddressOfParty"]},"LocationReference":{"$ref":"#/components/schemas/LocationDTO"},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"}},"example":{"ContactPointType":"ElectronicAddress","PartyLocationType":"LocationIsResidentialAddressOfParty","LocationReference":{"LocationDescription":"JLUQVWQ","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QXIMTUMJ","DateTimeType":"RequestedDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VEICC","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DPDQ","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KXYIKLJQ","DateTimeType":"CloseDate"}},"StatusInvolvedPartyReference":{"PartyReference":"3d0ad2ef-1bfd-4978-b221-b9e1d3e086b5","InvolvementReference":"651eaa02-5d11-426c-91c9-c974053908c0"}},"LocationType":"Province","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"JUPA","LocationCapacity":"ZYYYVOML","LocationIdentification":{"IdentifierValue":"77fea8be-f449-4533-9da5-702404d616bd","IdentifierIssuerReference":{"PartyReference":"4eb047a8-00a3-4154-b2bd-432ae7b03a4a","InvolvementReference":"d9c4ee8d-16b4-4e70-ba5f-a46e5b138652"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KFYYKUXTE","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XDYIHM","DateTimeType":"MaturityDate"}},"LocationAddress":"QZBG","LocationName":{"Name":"VPUIEWRZ"},"LocationTimeZone":"UTC"},"PartyReference":{"PartyName":{"Name":"GHFB"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QRV","DateTimeType":"ValidFromDate"},"PartyIdentification":{"PartyIdentificationType":"IdentityCardNumber","PartyIdentification":{"IdentifierValue":"f5a8b870-a5bc-4987-a60f-b6cdd3c039f4","IdentifierIssuerReference":{"PartyReference":"09aa7e50-0a5f-417f-81c7-10b222ab9d76","InvolvementReference":"0bac0bee-8325-46ee-a720-b337ec3cd29c"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QAJBX","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZHKZ","DateTimeType":"BlockingDate"}}},"PartyLegalStructureType":"SoleSoleTrader","PartyActivityIndicator":{"Industrycode":"IYROZNK"}}}},"CurrencyCodeDTO":{"type":"object","properties":{"Currencycode":{"type":"string"}},"example":{"Currencycode":"USD"}},"DateDTO":{"type":"object","properties":{"DateContent":{"type":"string"}},"example":{"DateContent":"2026-05-13"}},"DateTimeDTO":{"type":"object","properties":{"DateTimeContent":{"type":"string"},"TimeZoneCode":{"type":"string"},"DaylightSavingIndicator":{"type":"string"},"DateTimeType":{"type":"string","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate","EntryDate"]}},"example":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"PATHRNWB","DateTimeType":"ExpiryDate"}},"DateTimePeriodDTO":{"type":"object","properties":{"FromDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ToDateTime":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GPNRYHZH","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SNTO","DateTimeType":"DueDate"}}},"DocumentDirectoryEntryDTO":{"type":"object","properties":{"DocumentDirectoryEntryIdentification":{"type":"string"},"DirectoryEntryDateType":{"type":"string","enum":["OpenDate","RefreshDate"]},"DirectoryEntryDate":{"$ref":"#/components/schemas/DateDTO"},"DirectoryEntryStatus":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"DocumentDirectoryEntryIdentification":"AENSN","DirectoryEntryDateType":"OpenDate","DirectoryEntryDate":{"DateContent":"2026-05-13"},"DirectoryEntryStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DMBLHG","DateTimeType":"ValidToDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"AGYVCIMU","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KEKSARQBBN","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"4677cac2-49c9-46bd-b479-b851ae85e6f4","InvolvementReference":"ded11ed1-0c1d-4865-9473-45f1835bd8d1"}}}},"DurationDTO":{"type":"object","properties":{"Duration":{"type":"string"}},"example":{"Duration":"JRYDTGGBMX"}},"FeeArrangementDTO":{"type":"object","properties":{"FeeType":{"type":"string","enum":["AccountingFee","AdrFee","AdvisoryFee","AirwayBillFee","BackendLoad","BrokerageFee","ClearanceAndHandlingAtDestination","ClearanceAndHandlingAtOrigin","CollectFreight","Commission","ContingencyDeferredSalesCharge","CorrespondentBankCharge","CustodyFee","DangerousGoodsFee","DilutionLevy","Discount","EqualIsAtion","FrontendLoad","Initial","InsurancePremium","IssuanceCancellationFee","IssuanceFee","ManagementFee","MatchingFees","MiscellaneousFee","Other","Packaging","PartAcQuis","Penalty","Pickup","PostageCharge","Premium","PublicationFee","RegulatoryFee","SecurityCharge","ServiceProvisionFee","ShippingCharge","SignatureService","SpecialConcessions","SpeciallyAgreedFrontendLoad","StorageAtDestination","StorageAtOrigin","Switch","TransferFee","TransportCharges","UcItsCommission","ChequeRelatedFee"]},"FeeAmount":{"$ref":"#/components/schemas/AmountDTO"},"FeeRate":{"$ref":"#/components/schemas/RateDTO"},"FeeEffectivePeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"FeeDueDate":{"$ref":"#/components/schemas/DateTimeDTO"},"FeePlan":{"$ref":"#/components/schemas/FeePlanDTO"},"FeeCreditDebitIndicator":{"type":"string","enum":["Debit","Credit"]},"FeeReason":{"type":"string"},"FeeDirection":{"type":"string","enum":["Added","SubstRActed"]},"FeeBearerType":{"type":"string","enum":["BorneByDebtor","BorneByCreditor","Shared","FollowingServiceLevel"]},"FeeChargingFrequency":{"$ref":"#/components/schemas/FrequencyDTO"},"FeePaymentMethodType":{"type":"string","enum":["Cash","Unit"]},"LoanOriginationDate":{"$ref":"#/components/schemas/DateDTO"},"LoanMaturityDate":{"$ref":"#/components/schemas/DateDTO"},"LoanEndDate":{"$ref":"#/components/schemas/DateDTO"},"LoanAmount":{"$ref":"#/components/schemas/AmountDTO"},"LoanArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"PaymentCardArrangementIdentifier":{"$ref":"#/components/schemas/IdentifierDTO"},"CardPaymentArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"FinancialAdvisoryServiceArrangementType":{"type":"string","enum":["FeeArrangement","FinancialPlanningArrangement","TaxOptimizationArrangement","StrategicFundingArrangement","TacticalFundingArrangement","CapitalStructuringArrangement","ProductGuidanceArrangement"]},"SavingsAccountArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"SavingsAccountArrangementProductFeatureType":{"$ref":"#/components/schemas/ProductFeatureTypeDTO"},"CurrentAccountArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"CurrentAccountArrangementProductFeatureType":{"$ref":"#/components/schemas/ProductFeatureTypeDTO"},"ArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"TermDepositArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"TermDepositArrangementProductFeatureType":{"$ref":"#/components/schemas/ProductFeatureTypeDTO"},"TermDepositMaturityDate":{"$ref":"#/components/schemas/DateTimeDTO"},"TermDepositOpenDate":{"$ref":"#/components/schemas/DateTimeDTO"},"TermDepositAmount":{"$ref":"#/components/schemas/AmountDTO"},"TermDepositDuration":{"$ref":"#/components/schemas/DurationDTO"},"DepositTerm":{"type":"string"},"VirtualAccountArrangementType":{"type":"string"},"BankPlanArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"CreditFacilityDataTime":{"$ref":"#/components/schemas/DateTimeDTO"},"CreditFacilityType":{"type":"string","enum":["Revolving","FixedAmount","Decreasing"]},"CreditFacilityRateType":{"type":"string","enum":["AvailabilityCommission"]},"CreditFacilityNumber":{"$ref":"#/components/schemas/IdentifierDTO"},"CreditFacilityAmount":{"$ref":"#/components/schemas/AmountDTO"},"StandingOrderFrequency":{"$ref":"#/components/schemas/FrequencyDTO"},"StandingOrderPurpose":{"type":"string"},"StandingOrderAmount":{"$ref":"#/components/schemas/AmountDTO"},"StandingOrderCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"},"StandingOrderTargetAccountOwner":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"StandingOrderTargetAccountIdentification":{"$ref":"#/components/schemas/AccountIdentificationDTO"},"StandingOrderTargetAccountBank":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"StandingOrderSourceAccount":{"$ref":"#/components/schemas/AccountDTO"},"StandingOrderValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"StandingOrderDay":{"$ref":"#/components/schemas/DateTimeDTO"},"StandingOrderType":{"type":"string","enum":["UserDefinedStandingOrder","PredefinedStandingOrder"]},"StandingOrderIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"StandingOrderArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RollOverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"StandingOrderDateType":{"type":"string","enum":["FirstPaymentDateTime","NextPaymentDateTime","LastPaymentDateTime","FinalPaymentDateTime"]},"StandingOrderNumberOfPayments":{"type":"string"},"StandingOrderDate":{"$ref":"#/components/schemas/DateTimeDTO"},"StandingOrderStatus":{"$ref":"#/components/schemas/StatusDTO"},"StandingOrderSchedule":{"$ref":"#/components/schemas/ScheduleDTO"},"ServiceType":{"type":"string","enum":["CreditTransferService","StandingOrderService","DirectDebitService","CardPaymentService","WithdrawService","DepositService","OverdraftService","MoneyRemittanceService","StatementService"]},"PaymentDate":{"$ref":"#/components/schemas/PaymentDateTimeDTO"},"PaymentPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"PaymentPurpose":{"type":"string","enum":["SalaryPayment","TreasuryPayment","AdvancePayment","AgriculturalTransfer","AlimonyPayment","ChildBenefit","UnemploymentDisabilityBenefit","BonusPayment","CashManagementTransfer","CapitalBuilding","CharityPayment","CollectionPayment","CommodityTransfer","CommercialPayment","Commission","Costs","Copyright","Dividend","ForeignExchange","PurchaseSaleOfGoods","GovernmentPayment","InstalmentHirePurchaseAgreement","IntraCompanyPayment","InsurancePremium","Interest","LicenseFee","Loan","LoanRepayment","Netting","Payroll","PensionPayment","Refund","Rent","Royalties","PurchaseSaleOfServices","Securities","SocialSecurityBenefit","Subscription","TaxPayment","ValueAddedTaxPayment","ConsumerThirdPartyConsolidatedPayment","DebitCollectionPayment","SupplierPayment","Hedging","MultipleServiceTypes","NotOtherwiseSpecified","CardPayment","CreditCardBill","Ferry","Air","Bus","Railway","ConvalescentCareFacility","DentalServices","AnesthesiaServices","HomeHealthcare","HospitalCare","IntermediateCareFacility","LongTermCareFacility","MedicalServices","VisionCare","DurableMedicalEEquipment","CableTvBill","ElectricityBill","GasBill","TelephoneBill","OtherTelecomRelatedBill","WaterBill","Study","PricePayment","Installment","RecurringInstallmentPayment","OpeningFee","CancellationFee","GovernmentInsurance","InsurancePremiumCar","LaborInsurance","LifeInsurance","PropertyInsurance","HealthInsurance","CarloAnPrincipalRepayment","HousingLoanRepayment","CompanySocialLoanPaymentToBank","EstateTax","HousingTax","IncomeTax","NetIncomeTax","BusinessExpenses","TrustFund","NetworkCharge","NetworkCommunication","ReceiptPayment","PaymentTerms","Other","Withholding"]},"PaymentAmountAndCurrency":{"$ref":"#/components/schemas/PaymentAmountAndCurrencyDTO"},"PaymentMethod":{"type":"string","enum":["Cheque","CreditTransfer","DirectDebit","TransferAdvice","Direct","Classical"]},"PaymentType":{"type":"string","enum":["CashTransaction","DomesticPayment","DomesticHighValuePayment","DomesticPriorityPayment","CrossBorderPayment","CrossBorderPriorityPayment","CrossBorderHighValuePayment","ThirdCurrencyPayment","ThirdCurrencyHighValuePayment","ThirdCurrencyPriorityPayment","TradeSettlementPayment","ForeignExchange","EquivalentAmount","Loan","LoanRepayment","Securities","LockBox","Dividend","CrossedCheque","OpenCheque","OrderCheque","CircularCheque","TravellersCheques","BankDraft","DocumentaryCredit","BillOfExchange","Collection","CashManagementTransfer","TopAccount","ZeroBalanceAccount","StandingFacilities","StandardServiceLevelCredit","LiquidityTransfer","AdvancePayment","ValueDateAdjustment","DvpGross","DvpNet","Netting","LimitPayment","Backup","ExpressPayment","CentralBankOperation","ClsPayment","EuroDomesticPayment","AgriculturalTransfer","AlimonyPayment","BalanceRetail","BonusPayment","BrokerageFee","CapitalBuilding","CharityPayment","ChildBenefit","CommercialCredit","Commission","CommodityTransfer","Costs","Copyright","GovernmentPayment","InstalmentHirePurchaseAgreement","InsurancePremium","IntraCompanyPayment","Interest","LicenseFee","Metals","PensionPayment","PurchaseSaleOfGoods","Refund","Rent","Royalties","PurchaseSaleOfServices","SalaryPayment","SocialSecurityBenefit","StandingOrder","Subscription","TreasuryStatePayment","UnemploymentDisabilityBenefit","ValueAddedTaxPayment","TaxPayment","OvernightDeposit","MarginalLending","Other","Upfront","Unwind","PrincipalExchange"]},"PaymentTime":{"type":"string","enum":["PaymentOnDelivery","EndOfMonthOfDelivery","EndOfPeriodAfterDelivery","EndOfPeriodAfterEndOfDeliveryMonth","PaymentOnReceiptOfInVoice","EndOfPeriodAfterEndOfReceiptMonth","EndOfPeriodAfterReceipt","EndOfMonthOfReceipt","EndOfPeriodAfterMatch","EndOfPeriodAfterShipmentDate","EndOfPeriodAfterPurchaseOrderDate","EndOfPeriodAfterBaselineEstablishment","EndOfPeriodAfterInVoiceDate"]},"RemittanceDeliveryMethod":{"type":"string","enum":["Fax","ElectronicDataInterchange","UniformResourceIdentifier","Email","Post","Sms"]},"RemittanceLocation":{"$ref":"#/components/schemas/ContactPointDTO"},"PaymentIdentification":{"$ref":"#/components/schemas/PaymentIdentificationDTO"},"PaymentSchedule":{"$ref":"#/components/schemas/ScheduleDTO"},"PaymentFrequency":{"$ref":"#/components/schemas/FrequencyDTO"},"PaymentDescription":{"type":"string"}},"example":{"FeeType":"SecurityCharge","FeeAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"NWRDALXE","AmountType":"Unknown"},"FeeRate":{"RateValue":"5.5","RateUnit":"5.5","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DJJBBGTC","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FJW","DateTimeType":"CreatingDate"}},"RateCapitalUnit":"5.5"},"FeeEffectivePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"JMJKQGJK","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FEVMDH","DateTimeType":"ValidToDate"}},"FeeDueDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"UUFMPJEOF","DateTimeType":"ReceivingDate"},"FeePlan":{"FeePlanName":{"Name":"ZVF"},"FeePlanType":"FinalFeePlan","FeePlan":{"PlanGoal":{"GoalType":"PerformanceGoal","GoalDefinition":"PPFJ","GoalName":{"Name":"AIZFNYKQ"},"GoalDateAndTime":{"GoalDateAndTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZUM","DateTimeType":"CreatingDate"},"GoalDateAndTimeType":"PlanningDate"},"GoalStatus":{"GoalStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SXNUMDFJ","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KRL","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WGSSXLOWD","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"f4a821a0-576d-42fe-ad98-154026e3ab51","InvolvementReference":"98f22a08-c41b-4055-aea3-2076cc6f6b44"}},"GoalStatusType":"ClosureOrRenewal"}},"PlanBudget":{"BudgetType":{"BudgetTypeName":{"Name":"EHHRC"},"BudgetType":"ResourceBudget"},"BudgetAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"FYYGXYPBTE","AmountType":"Principal"},"ArrangementAction":{"ActionType":"Initiate","EventType":"DEFAULT","EventDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QKV","DateTimeType":"ReceivingDate"},"EventDescription":"HKGDCTTGR","EventSource":"UAMZC","EventLocation":{"LocationDescription":"OEDNRINULG","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DKTOILNAA","DateTimeType":"ValidToDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XGYRLVK","DateTimeType":"InitiatedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"UFNJFW","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WNSTR","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"0a1ed63e-5daf-4e45-a76e-dc55d84f4204","InvolvementReference":"de7ec193-c006-4e2c-9056-b2991b2d9129"}},"LocationType":"Province","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"HLKJPSX","LocationCapacity":"CMEJFKZCN","LocationIdentification":{"IdentifierValue":"3ddd3ea7-2a24-422c-8424-71b89917cf8a","IdentifierIssuerReference":{"PartyReference":"e1c57540-327e-4289-bc85-6d1cee81acd7","InvolvementReference":"c6d667b0-5472-4b8a-9da2-8d26992273ec"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WGDHYYC","DateTimeType":"ReceivingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VWZ","DateTimeType":"DeactivationDate"}},"LocationAddress":"AXRLRSVL","LocationName":{"Name":"YBKPFF"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EEOYK","DateTimeType":"ValidToDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MRYYXBX","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VZWG","DateTimeType":"ExpiryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"5fea0b7b-8279-4618-a6d2-c969054364e5","InvolvementReference":"dd076044-a3ad-4748-82c8-a24fec82be94"}},"EventValue":"DLVD","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SVOTZSMFNY","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WREFRYGG","DateTimeType":"EntryDate"}},"EventIdentification":{"IdentifierValue":"3a889fd2-ad44-49dc-b248-cb3906eb69a3","IdentifierIssuerReference":{"PartyReference":"e61d5ff3-0e9c-4f91-a4d9-53acce7b8d08","InvolvementReference":"f9a74303-e0c3-4952-bc68-0900fc8bbb3a"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KYW","DateTimeType":"InitiatedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"UVCVNFK","DateTimeType":"RequestedDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XPM","DateTimeType":"SendingDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"NTDLXJK","DateTimeType":"BlockingDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"APAKW","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"UVSRKWVXM","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SFVAF","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"f245e355-47cd-4bdc-bb95-ec22adf78512","InvolvementReference":"e4ad9956-68ff-46ab-8593-f428d2988c80"}},"ArrangementStatusType":"Offered"},"ArrangementSubjectMatter":{"Subject":"VWVRS"},"Arrangementtype":"OverdraftArrangement","ArrangementIdentification":{"IdentifierValue":"03c62aee-1e4e-4413-b347-5263a5835b2d","IdentifierIssuerReference":{"PartyReference":"fa502996-6a17-40c0-a2cc-88673699a60b","InvolvementReference":"9186741c-6b1c-4440-ba53-919d79e8ea60"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZDMBS","DateTimeType":"SigningDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"NRCDSDJ","DateTimeType":"FulfillmentDate"}}},"PlannedAction":{"ArrangementAction":{"ActionType":"Deliver","EventType":"DEFAULT","EventDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VXTZKNR","DateTimeType":"ExecutedDate"},"EventDescription":"BEMMEMNW","EventSource":"TIIMQJMUU","EventLocation":{"LocationDescription":"WOEUFIOHGK","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GMV","DateTimeType":"InitiatedDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LBTPUOMNL","DateTimeType":"CreatingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XGDQNWXZOM","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EBMHAUXWWC","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"8c7de5e1-4582-4c66-86d7-44933a3caff4","InvolvementReference":"c1b27379-66e7-4d32-8df6-a6280e21485d"}},"LocationType":"Country","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"PZEZ","LocationCapacity":"TXFBF","LocationIdentification":{"IdentifierValue":"63fa7cd4-c31c-4c91-8fbe-7c4218a5f724","IdentifierIssuerReference":{"PartyReference":"1bb63c8f-7dd2-4e4f-80ba-62d26f77e28a","InvolvementReference":"1503d4dd-fea8-48fb-9a95-fd93cfc9aa35"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"RBOT","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VWWZEAN","DateTimeType":"DueDate"}},"LocationAddress":"JCNBDAK","LocationName":{"Name":"FBPC"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DXWDMVP","DateTimeType":"CreatingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MHEGPGVVZ","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GTDY","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"e17ced7d-25ef-4215-ac33-48f20d87ddbb","InvolvementReference":"60dc2b32-9f14-464c-b4f8-7da7f2c63e5b"}},"EventValue":"LCHBHPRDT","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XEEJ","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GAFJUO","DateTimeType":"ExecutedDate"}},"EventIdentification":{"IdentifierValue":"f69370b2-fd89-4a69-a1d8-9aeca0cdcdd5","IdentifierIssuerReference":{"PartyReference":"750a55b1-3f31-43ed-afb6-5a9362a79ba5","InvolvementReference":"1cecca86-be66-45dd-8e2d-ebdcae8d2338"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VZTQHLUYFM","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TBGWXWO","DateTimeType":"RequestedDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IOIQ","DateTimeType":"InitiatedDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"JPNAVWWF","DateTimeType":"RequestedDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ESO","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MKSXIJTX","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"CVDAFUU","DateTimeType":"ActivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"59936c49-c8e5-4d45-bdec-dae01bda6fb9","InvolvementReference":"981b9a8b-311e-4d9f-869f-46f8823659d4"}},"ArrangementStatusType":"Proposed"},"ArrangementSubjectMatter":{"Subject":"NZA"},"Arrangementtype":"RepaymentArrangement","ArrangementIdentification":{"IdentifierValue":"153253f5-8770-489f-969f-51d242303ade","IdentifierIssuerReference":{"PartyReference":"94302e72-1e34-4790-bed5-ce76c663dfb9","InvolvementReference":"fa603fdd-692b-432d-b56c-3971071d49bc"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LBMIETOT","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ISMBYYGTO","DateTimeType":"RequestedDate"}}},"PlanType":"AdministrativePlan","PlanValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"RAARGDL","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FTHAGOH","DateTimeType":"FulfillmentDate"}},"PlanDescription":"DZGA","AgreementSignedDate":{"DateContent":"2026-05-13"},"AgreementType":"PartnerAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VSDYUM","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BCF","DateTimeType":"InitiatedDate"}},"AgreementVersion":"ITMYWNJH","AgreementStatus":{"AgreementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LPJV","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WHYASGPBH","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LGB","DateTimeType":"ExecutedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"4d5e7a96-fdc9-4290-9430-c75894da2b43","InvolvementReference":"bef030aa-0d8d-440b-a818-b4ae58cc6f3e"}},"AgreementStatusType":"Rejected"},"AgreementSubjectMatter":"IONUOKMEV","AgreementIdentification":{"IdentifierValue":"cbe8b305-5a1e-4ec9-aae5-cf36768d641f","IdentifierIssuerReference":{"PartyReference":"8bde1843-308e-4b48-a6e0-be2aff22adaf","InvolvementReference":"87d9968c-c40a-4311-9b19-8c797a7cce20"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"CWPQI","DateTimeType":"CreatingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IFNE","DateTimeType":"CloseDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VFN","DateTimeType":"CreatingDate"},"AgreementDescription":"THH"}},"FeeCreditDebitIndicator":"Debit","FeeReason":"HWA","FeeDirection":"Added","FeeBearerType":"FollowingServiceLevel","FeeChargingFrequency":{"FrequencyCode":"Semiannual","FrequencyName":{"Name":"CEJWKB"},"FrequencyDefinition":"GBTU"},"FeePaymentMethodType":"Unit","LoanOriginationDate":{"DateContent":"2026-05-13"},"LoanMaturityDate":{"DateContent":"2026-05-13"},"LoanEndDate":{"DateContent":"2026-05-13"},"LoanAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"FAAPQBZGF","AmountType":"DecReMental"},"LoanArrangementType":"RestructuringArrangement","ArrangementAction":{"ActionType":"Deliver","EventType":"DEFAULT","EventDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XAKBC","DateTimeType":"FulfillmentDate"},"EventDescription":"HWFAGR","EventSource":"JKVENFZM","EventLocation":{"LocationDescription":"IIFB","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"CJCMZ","DateTimeType":"ExecutedDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"NQNNPXXMTT","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"PZLKJSAXFM","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YADYKMO","DateTimeType":"CreatingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"6782a191-880b-4cf5-8d5d-de4a42e3ad71","InvolvementReference":"fc233e24-227c-4301-999a-5cfa6b359c11"}},"LocationType":"Country","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"KFXZVVJ","LocationCapacity":"YEZ","LocationIdentification":{"IdentifierValue":"3a65f34b-342e-46a2-9516-6acc29d61be7","IdentifierIssuerReference":{"PartyReference":"5e8b56b2-a079-463b-bbb7-cedc003de357","InvolvementReference":"498b26e0-8422-4e3e-970b-673ebfe7a527"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LFVZGH","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TJSICMG","DateTimeType":"ActivationDate"}},"LocationAddress":"PDUVZJYV","LocationName":{"Name":"USRGXA"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ASXVLOBXBZ","DateTimeType":"CreatingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"OPTYMYHYT","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TOVMORR","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"f26f8a86-a917-4390-a3a9-1153dde8105a","InvolvementReference":"36d9ea35-ee3a-4cbf-bdd7-0cf4f87860c3"}},"EventValue":"ENU","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DLWJDWEK","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"PWXSDM","DateTimeType":"SendingDate"}},"EventIdentification":{"IdentifierValue":"881ec490-86bf-4140-8b9a-7b2328a629c0","IdentifierIssuerReference":{"PartyReference":"13cbdfd5-b251-40a6-b0aa-572739ca8855","InvolvementReference":"56a293f1-ccdd-42c0-8b2d-ebfaf8473108"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WMDYCNUMYG","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EWTAWRIFK","DateTimeType":"RequestedDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LOIUDAF","DateTimeType":"MaturityDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"AFFTD","DateTimeType":"CloseDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ROUPNGOOEK","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QRIADPPI","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"HCEHADBZ","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"3fa48a7a-ef8f-4156-942e-3fdd9d63989b","InvolvementReference":"889faf78-4f61-4274-ad37-99be632d0bfb"}},"ArrangementStatusType":"Accepted"},"ArrangementSubjectMatter":{"Subject":"TWPQW"},"Arrangementtype":"DepositArrangement","ArrangementIdentification":{"IdentifierValue":"34328260-f03d-4af6-9af9-0c96a7325610","IdentifierIssuerReference":{"PartyReference":"f2a4aa20-1673-4cde-8743-439fda28935b","InvolvementReference":"59125c09-6902-4197-817e-f39a3d2f7f53"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZPGGIHC","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"NZT","DateTimeType":"BlockingDate"}},"PaymentCardArrangementIdentifier":{"IdentifierValue":"bed00065-e914-4e37-99c4-c6170fef3582","IdentifierIssuerReference":{"PartyReference":"046cb1be-461d-4bf7-b5f8-b785f07cbe56","InvolvementReference":"412001c3-7a08-4979-aa80-b7c8879d5d62"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MQGAAKWRDE","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IUHHPCIE","DateTimeType":"ValidFromDate"}},"CardPaymentArrangementType":"InterestArrangement","FinancialAdvisoryServiceArrangementType":"TaxOptimizationArrangement","SavingsAccountArrangementType":"CreditTransferArrangement","SavingsAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"AdministrationService"},"CurrentAccountArrangementType":"RepaymentArrangement","CurrentAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"AdministrationService"},"ArrangementType":"DepositArrangement","TermDepositArrangementType":"WithdrawalArrangement","TermDepositArrangementProductFeatureType":{"ProductFeatureTypeValues":"AccessService"},"TermDepositMaturityDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"HGTBWBJQB","DateTimeType":"EffectiveDate"},"TermDepositOpenDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GTZWHDC","DateTimeType":"ExpiryDate"},"TermDepositAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"ZBWNYGTK","AmountType":"Maximum"},"TermDepositDuration":{"Duration":"MUM"},"DepositTerm":"JRJ","VirtualAccountArrangementType":"DEFAULT","BankPlanArrangementType":"AdministrativeArrangement","CreditFacilityDataTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LZKXR","DateTimeType":"CloseDate"},"CreditFacilityType":"FixedAmount","CreditFacilityRateType":"AvailabilityCommission","CreditFacilityNumber":{"IdentifierValue":"18775e5b-f06e-4c9f-9206-42e13037eccf","IdentifierIssuerReference":{"PartyReference":"a68c8261-6030-4d0b-b803-7f04b016075e","InvolvementReference":"b6b76be8-4588-45a2-b6e8-27fd94add496"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WELLDCJGY","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"HUSKVIAI","DateTimeType":"CreatingDate"}},"CreditFacilityAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"JPB","AmountType":"Replacement"},"StandingOrderFrequency":{"FrequencyCode":"Semiannual","FrequencyName":{"Name":"QVJCOECFOS"},"FrequencyDefinition":"XBBNOV"},"StandingOrderPurpose":"VLXHTMVDBW","StandingOrderAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"HSOXV","AmountType":"Used"},"StandingOrderCurrency":{"Currencycode":"USD"},"StandingOrderTargetAccountOwner":{"PartyReference":"7aa03d0c-0bdf-4f7c-bc98-965cbd12863f","InvolvementReference":"c2aae184-817a-4fa0-92e8-002fc49d9d60"},"StandingOrderTargetAccountIdentification":{"AccountIdentificationType":"IBan","AccountIdentification":{"IdentifierValue":"4ef771ee-0323-4639-93e9-f7833756f334","IdentifierIssuerReference":{"PartyReference":"a4d3b977-ea59-4159-824f-266c7da9f848","InvolvementReference":"26014d1c-328d-4df8-b970-9b8029cf78a6"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QGXO","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"AQPYSVGA","DateTimeType":"ValidToDate"}}},"StandingOrderTargetAccountBank":{"PartyReference":"1fe0bcdb-4d5e-4787-a5c0-e2f4364badb8","InvolvementReference":"8e469769-0b58-4c05-856b-35d202b6b59f"},"StandingOrderSourceAccount":{"AccountStatus":{"AccountStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DMDGGUFODZ","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XKREKRGDW","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TQAM","DateTimeType":"InitiatedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"1f1a43fc-d296-4a30-8069-dafc0d474af1","InvolvementReference":"4047af04-3d8b-4506-afe4-0dc320fcc17b"}},"AccountStatusType":"Proforma"},"AccountIdentification":{"AccountIdentificationType":"PayM","AccountIdentification":{"IdentifierValue":"98d1340d-455d-4c61-b600-b52b4a8f77ab","IdentifierIssuerReference":{"PartyReference":"f5d4a25d-32c9-4360-9c4b-e2f0354c4f05","InvolvementReference":"19b1bd6a-8a15-4ec0-bb71-39cf2b9ec05d"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IWJ","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZRQMP","DateTimeType":"ExpiryDate"}}},"AccountDate":{"AccountDateType":"ClosingDate","AccountDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QXU","DateTimeType":"SigningDate"}},"AccountType":"NosTroAccount","AccountPurpose":"123456789012","AccountBalance":{"BalanceAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"TWOWSBS","AmountType":"Maximum"},"BalanceType":"ClosingAvailable","BalanceValueDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FMKZEXKS","DateTimeType":"DeactivationDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"JIQSTWO","DateTimeType":"EffectiveDate"},"BalanceSubType":"BaseCurrency"},"AccountCurrency":{"AccountCurrencyType":"BaseCurrency","AccountCurrency":{"Currencycode":"USD"}},"AccountDescription":"123456789012","AccountName":{"Name":"YHCLWTI"},"LogType":"DEFAULT","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"CLJRYGI","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WHZJNW","DateTimeType":"ExecutedDate"}},"LogDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LVQYGENOYI","DateTimeType":"CreatingDate"},"LogIdentification":{"IdentifierValue":"19f864ea-3d1e-4669-96d4-1854a7b42c36","IdentifierIssuerReference":{"PartyReference":"ed0f78d0-198a-4006-b5da-aac6d105d9a5","InvolvementReference":"27e703ec-2dc3-4088-adda-e73e4bd1e4e0"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BAKNGRR","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KUCAREOP","DateTimeType":"EffectiveDate"}}},"StandingOrderValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TDYNUEYNDB","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"UUS","DateTimeType":"ExecutedDate"}},"StandingOrderDay":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LMLFRZITAM","DateTimeType":"BlockingDate"},"StandingOrderType":"PredefinedStandingOrder","StandingOrderIdentification":{"IdentifierValue":"adf67a7d-2ab0-4c30-b80c-8d24ce301050","IdentifierIssuerReference":{"PartyReference":"154448da-c02b-46d2-a346-b9f0bfd7a169","InvolvementReference":"29ad797f-8231-4e74-ab1c-9a4c45221d55"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IDNI","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LCRZ","DateTimeType":"ValueDate"}},"StandingOrderArrangementType":"RestructuringArrangement","StandingOrderDateType":"FirstPaymentDateTime","StandingOrderNumberOfPayments":"BDQ","StandingOrderDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"NHQL","DateTimeType":"SendingDate"},"StandingOrderStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FZNV","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WRWPUY","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WGCHG","DateTimeType":"ValueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ca43629e-b15b-4326-8155-26b50fc89b50","InvolvementReference":"d9fece23-f5d5-424f-a3ff-dab4e173fbcc"}},"StandingOrderSchedule":{"ScheduleType":"DEFAULT"},"ServiceType":"CardPaymentService","PaymentDate":{"PaymentDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"EXNCDVYVUN","DateTimeType":"DeactivationDate"},"PaymentDateType":"ExpectedDate"},"PaymentPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"CJB","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WRUGHHQREK","DateTimeType":"EffectiveDate"}},"PaymentPurpose":"ReceiptPayment","PaymentAmountAndCurrency":{"PaymentAmountAndCurrencyType":"CreditorAccountAmountAndCurrency","PaymentAmountAndCurrency":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"HITYBURA","AmountType":"Reserved"}},"PaymentMethod":"Classical","PaymentType":"Metals","PaymentTime":"EndOfPeriodAfterMatch","RemittanceDeliveryMethod":"Fax","RemittanceLocation":{"ContactPointType":"ElectronicAddress","PartyLocationType":"LocationIsDomicileAddressOfParty","LocationReference":{"LocationDescription":"XEWIMWY","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DKSSRPTR","DateTimeType":"ExpiryDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"FLYBHBQI","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GBOAQQF","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BAPZVU","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"5691bf34-7055-4e4c-b349-b1370e8d26da","InvolvementReference":"61d8e0af-9b85-4af5-8787-0f90672cabf2"}},"LocationType":"Region","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"WIKGQLIVF","LocationCapacity":"WVD","LocationIdentification":{"IdentifierValue":"d886c46f-e957-457a-bfad-9dff49905306","IdentifierIssuerReference":{"PartyReference":"fd5af502-d7b6-4389-bb59-a80a3b59c971","InvolvementReference":"e6436095-48d5-4eb0-96d8-0c0f72ffbbf6"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"CKRQ","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BNKDPX","DateTimeType":"EffectiveDate"}},"LocationAddress":"DFK","LocationName":{"Name":"XXZSPKN"},"LocationTimeZone":"UTC"},"PartyReference":{"PartyName":{"Name":"VJGWFWR"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YMJZCXDRDM","DateTimeType":"ReceivingDate"},"PartyIdentification":{"PartyIdentificationType":"LeiLegalEntityIdentifier","PartyIdentification":{"IdentifierValue":"21f10cdf-5aa4-4bb2-864e-d498f4e7b6f0","IdentifierIssuerReference":{"PartyReference":"08ff712a-e0d5-4a87-bad2-2c91ed40c546","InvolvementReference":"c62b1cf2-a014-4266-a8bd-fed95cf0481c"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"AQAN","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DRJC","DateTimeType":"ValidToDate"}}},"PartyLegalStructureType":"PublicLimitedCompany","PartyActivityIndicator":{"Industrycode":"HFW"}}},"PaymentIdentification":{"PaymentIdentification":{"IdentifierValue":"c5ffa175-3188-4251-ae93-b7e56cfa4bb0","IdentifierIssuerReference":{"PartyReference":"45e90e09-d81f-4641-b768-aba88b0ca3c4","InvolvementReference":"4725923a-b26a-46fd-9419-14677b32ce70"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IPTVV","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BOTZGKQC","DateTimeType":"ReceivingDate"}},"PaymentIdentificationType":"CreditorReference"},"PaymentSchedule":{"ScheduleType":"DEFAULT"},"PaymentFrequency":{"FrequencyCode":"Semiannual","FrequencyName":{"Name":"HIAFFZAQF"},"FrequencyDefinition":"VJRQKL"},"PaymentDescription":"HFXPTULAN"}},"FeePlanDTO":{"type":"object","properties":{"FeePlanName":{"$ref":"#/components/schemas/NameDTO"},"FeePlanType":{"type":"string","enum":["StandardFeePlan","FinalFeePlan"]},"FeePlan":{"$ref":"#/components/schemas/PlanDTO"}},"example":{"FeePlanName":{"Name":"UFMLNT"},"FeePlanType":"FinalFeePlan","FeePlan":{"PlanGoal":{"GoalType":"SmartGoal","GoalDefinition":"UMKWABJ","GoalName":{"Name":"IXPKEDGQC"},"GoalDateAndTime":{"GoalDateAndTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VREWOUL","DateTimeType":"SendingDate"},"GoalDateAndTimeType":"StartDate"},"GoalStatus":{"GoalStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LTEDYSEAA","DateTimeType":"OpenDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YKUDBGDRRI","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"RNQPWU","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"5656918c-8a32-4435-a932-d419d5d2d2c9","InvolvementReference":"577643e1-43a2-428e-a75d-180f04fe5c5f"}},"GoalStatusType":"ClosureOrRenewal"}},"PlanBudget":{"BudgetType":{"BudgetTypeName":{"Name":"RPPAOYGH"},"BudgetType":"OperatingBudget"},"BudgetAmount":{"AmountValue":"1000.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"CDLIOEGV","AmountType":"Open"},"ArrangementAction":{"ActionType":"Initiate","EventType":"DEFAULT","EventDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"AJDWFVYTC","DateTimeType":"ExecutedDate"},"EventDescription":"LQCLZJI","EventSource":"XQXCL","EventLocation":{"LocationDescription":"TPSWURJWZ","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YDBTX","DateTimeType":"SendingDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"NZSPTL","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"RMY","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VLMWWUM","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"5ab1d62a-0e1e-4d7f-adf9-1c84e15c11c8","InvolvementReference":"6448d612-0deb-4fec-b45a-cecbd86ffccb"}},"LocationType":"District","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"IWAP","LocationCapacity":"DAPLMQR","LocationIdentification":{"IdentifierValue":"1b4a0546-5f29-41ea-b26a-13b7f27f76ec","IdentifierIssuerReference":{"PartyReference":"a86f13fc-9a96-4162-8200-e3dcb56132f2","InvolvementReference":"322264e5-1d71-41d0-9449-2dc796879844"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"JZYLTFVK","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ACZ","DateTimeType":"ValidToDate"}},"LocationAddress":"DBBU","LocationName":{"Name":"GRUAYD"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ABAPBOH","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TOXFN","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"AHZUDGW","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"8472756a-fb00-487c-b108-b8527cfd5a31","InvolvementReference":"722b891d-37c0-4441-b2ab-8f74a71af974"}},"EventValue":"TGKER","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"RHHTJXKZ","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XQXIJNLNO","DateTimeType":"ValidFromDate"}},"EventIdentification":{"IdentifierValue":"82687694-92aa-4e66-a681-1eabadb43ae0","IdentifierIssuerReference":{"PartyReference":"a250e25d-3fd0-48e9-b7ed-61a37e7be4b5","InvolvementReference":"7bdbaf09-78cb-426d-a9ba-a71da530d422"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"LVENXNPYG","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DMWYAK","DateTimeType":"CloseDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WBVHV","DateTimeType":"ExecutedDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"RVYQLOMRMA","DateTimeType":"CreatingDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YFWY","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MEFXHFHJ","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"JJLTWHU","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"c38072a6-d733-40dc-8cd8-9a6d32efa73e","InvolvementReference":"f065701f-05af-4c4e-b4a3-f19d082c4703"}},"ArrangementStatusType":"Fulfilled"},"ArrangementSubjectMatter":{"Subject":"WSSMYZCSR"},"Arrangementtype":"FactoringArrangement","ArrangementIdentification":{"IdentifierValue":"ea67abee-3f73-41f7-a953-81e1ad7830d9","IdentifierIssuerReference":{"PartyReference":"7ad891e2-026b-493f-9db0-06f4bf65aa5c","InvolvementReference":"0b36681e-4aa1-4ce0-9802-87ef823ec3a0"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"VHRKSMPRCF","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ODLA","DateTimeType":"ExpiryDate"}}},"PlannedAction":{"ArrangementAction":{"ActionType":"Pay","EventType":"DEFAULT","EventDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"CDC","DateTimeType":"CloseDate"},"EventDescription":"OAUIV","EventSource":"LSHAS","EventLocation":{"LocationDescription":"LHPE","LocationDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"XQKWZG","DateTimeType":"CloseDate"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TLRFEJKO","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"GINVJRT","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"WHJBKYUXFA","DateTimeType":"ExpiryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"de47a097-9fe0-4b53-aee7-9ed38038af2d","InvolvementReference":"07e2be90-55ee-4b83-80d4-0b079e399ddd"}},"LocationType":"Continent","LocationZoningType":"DEFAULT","LocationNeighborhoodType":"DEFAULT","LocationConstructionType":"DEFAULT","LocationOccupancyType":"DEFAULT","LocationValue":"GTSZHVSNUE","LocationCapacity":"LGISNVKJG","LocationIdentification":{"IdentifierValue":"5ad33b21-9c9f-4d4b-9171-d90b6d7064d3","IdentifierIssuerReference":{"PartyReference":"9ea697cf-f828-4b14-a874-02c54eda8dfd","InvolvementReference":"e1fc5339-a15f-4ac5-a1f6-58696d9aed0e"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QFUL","DateTimeType":"ValidToDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"CDYBIYMNNN","DateTimeType":"CreatingDate"}},"LocationAddress":"ECPSNZJYTT","LocationName":{"Name":"LWJYQDWMOF"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BAOGVXLLY","DateTimeType":"ValueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"AWPIOCFOI","DateTimeType":"SigningDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"DXNUAXKCQJ","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"175bc6b2-dfd2-408e-88d7-c42f0e9c7307","InvolvementReference":"97df1283-ab73-4550-95e3-fe78486d6511"}},"EventValue":"GYXEMHS","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YFMOWHSXM","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"IPMELBRR","DateTimeType":"ValueDate"}},"EventIdentification":{"IdentifierValue":"f1d87d94-291e-4fdb-9867-896bf657f1e5","IdentifierIssuerReference":{"PartyReference":"bbdf7ff9-f885-4541-9147-587506e02cac","InvolvementReference":"091ee3b9-c6cf-4cfb-aa6f-cc361444825e"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"INJH","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"PUHNP","DateTimeType":"CreatingDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TVMOSFT","DateTimeType":"EffectiveDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SCONIN","DateTimeType":"ValidToDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"NTXD","DateTimeType":"EntryDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BXSBNU","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"JFEGX","DateTimeType":"CloseDate"}},"StatusInvolvedPartyReference":{"PartyReference":"4034dfb7-f073-4c04-9b28-6cfbe871bac3","InvolvementReference":"11e422ab-2a76-4324-9b09-6b46362048b2"}},"ArrangementStatusType":"Terminated"},"ArrangementSubjectMatter":{"Subject":"MCKSNT"},"Arrangementtype":"PaymentArrangement","ArrangementIdentification":{"IdentifierValue":"adfffab4-8081-47ff-a487-cbf3a1913e4a","IdentifierIssuerReference":{"PartyReference":"d647ae37-1f3a-4caf-89f4-46b98a82172d","InvolvementReference":"7767194c-c219-45de-bf09-bed421c31067"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YDTQX","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YVC","DateTimeType":"FulfillmentDate"}}},"PlanType":"AdministrativePlan","PlanValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"SRVPSGQQUI","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"BYRXQYDV","DateTimeType":"ActivationDate"}},"PlanDescription":"KZSRDFCV","AgreementSignedDate":{"DateContent":"2026-05-13"},"AgreementType":"RepurchaseAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"ZAGNMY","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"TVXXB","DateTimeType":"ExecutedDate"}},"AgreementVersion":"KVY","AgreementStatus":{"AgreementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"KGBEFZGUE","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"PNKLYMO","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"YZPUHZEL","DateTimeType":"FulfillmentDate"}},"StatusInvolvedPartyReference":{"PartyReference":"c2157783-6850-4e5d-b88f-6146ad738f26","InvolvementReference":"d488477e-77d2-4fbf-84f3-80d628e7d420"}},"AgreementStatusType":"Rejected"},"AgreementSubjectMatter":"VRBGUIN","AgreementIdentification":{"IdentifierValue":"60c2915c-d1f5-4959-b383-953ab7bf7fe2","IdentifierIssuerReference":{"PartyReference":"c3b4a4c5-cc8e-4782-a219-6dcc9d857516","InvolvementReference":"4451bff5-d5a1-44e4-882d-9b3e81ae20e5"},"IdentifierStartDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"MQWDDZLDZI","DateTimeType":"DueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"OGPSC","DateTimeType":"ValueDate"}},"AgreementDate":{"DateTimeContent":"2026-05-13","TimeZoneCode":"UTC","DaylightSavingIndicator":"QIOKOIXTP","DateTimeType":"ValueDate"},"AgreementDescription":"VKB"}}},"FrequencyDTO":{"typ
[...]
