{"openapi":"3.0.1","info":{"title":"Position Keeping","description":"Maintains and exposes the financial position and transaction ledger entries associated with a specific Account Instance and following the BIAN 'Position Keeping' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/stub/position-keeping/{position-keeping-id}/update":{"put":{"tags":["CR - FinancialPositionLog - stub"],"summary":"Update details for an active financial transaction log, including reflecting an account block","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"position-keeping-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialPositionLogDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialPositionLogDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/position-keeping/{position-keeping-id}/financial-transaction-capture/{financial-transaction-capture-id}/update":{"put":{"tags":["BQ - FinancialTransactionCapture - stub"],"summary":"Update details of a captured financial transaction","operationId":"UpdateFinancialTransactionCapture","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"position-keeping-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"financial-transaction-capture-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialTransactionCaptureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialTransactionCaptureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/position-keeping/{position-keeping-id}/financial-transaction-capture/{financial-transaction-capture-id}/capture":{"put":{"tags":["BQ - FinancialTransactionCapture - stub"],"summary":"Capture details of a financial transaction in the log","operationId":"CaptureFinancialTransactionCapture","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"position-keeping-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"financial-transaction-capture-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialTransactionCaptureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialTransactionCaptureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/position-keeping/{position-keeping-id}/control":{"put":{"tags":["CR - FinancialPositionLog - stub"],"summary":"Control the processing of the log","operationId":"Control","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"position-keeping-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialPositionLogDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialPositionLogDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/position-keeping/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/position-keeping/initiate":{"post":{"tags":["CR - FinancialPositionLog - stub"],"summary":"Initiate a position keeping transaction log","operationId":"Initiate","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialPositionLogDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialPositionLogDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/position-keeping/{position-keeping-id}/financial-transaction-capture/{financial-transaction-capture-id}/retrieve":{"get":{"tags":["BQ - FinancialTransactionCapture - v14"],"summary":"Retrieve details of financial transactions captured in the log","operationId":"RetrieveFinancialTransactionCapture","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"position-keeping-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"financial-transaction-capture-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"from-date","in":"query","required":false,"schema":{"type":"string"}},{"name":"to-date","in":"query","required":false,"schema":{"type":"string"}},{"name":"page-size","in":"query","required":true,"schema":{"type":"string"}},{"name":"previous-page-token","in":"query","required":false,"schema":{"type":"string"}},{"name":"next-page-token","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedFinancialTransactionCaptureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/position-keeping/{position-keeping-id}/retrieve":{"get":{"tags":["CR - FinancialPositionLog - stub"],"summary":"Retrieve information about the log","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"position-keeping-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialPositionLogDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/position-keeping/{position-keeping-id}/financial-transaction-capture/{financial-transaction-capture-id}/retrieve":{"get":{"tags":["BQ - FinancialTransactionCapture - stub"],"summary":"Retrieve details of financial transactions captured in the log","operationId":"RetrieveFinancialTransactionCapture_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"position-keeping-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"financial-transaction-capture-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"from-date","in":"query","required":false,"schema":{"type":"string"}},{"name":"to-date","in":"query","required":false,"schema":{"type":"string"}},{"name":"page-size","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialTransactionCaptureDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/position-keeping/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfigDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/position-keeping/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"ActionDTO":{"type":"object","properties":{"Action":{"type":"string"}},"example":{"Action":"CDHXAKSBU"}},"AgreementStatusDTO":{"type":"object","properties":{"AgreementStatus":{"$ref":"#/components/schemas/StatusDTO"},"AgreementStatusType":{"type":"string","enum":["Offered","Confirmed","Completed","Signed","Terminated","Rejected"]}},"example":{"AgreementStatus":{"StatusReason":"UZWMD","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.039379063Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.039725100Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.039839742Z","DateTimeType":"ValueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"DTDNWIFIP","InvolvementReference":"JOATVV"}},"AgreementStatusType":"Completed"}},"AmountDTO":{"type":"object","properties":{"AmountValue":{"type":"string"},"AmountCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"},"DecimalPointPosition":{"type":"string"},"AmountType":{"type":"string","enum":["Principal","Actual","Estimated","Maximum","Default","Replacement","Incremental","Decremental","Reserved","Available","Used","DuePayable","Minimum","Open","Unknown","Fixed"]}},"example":{"AmountValue":"14.88","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"RWSULFMPYC","AmountType":"Available"}},"ArrangementStatusDTO":{"type":"object","properties":{"ArrangementStatus":{"$ref":"#/components/schemas/StatusDTO"},"ArrangementStatusType":{"type":"string","enum":["Requested","Proposed","Offered","Accepted","Cancelled","Fulfilled","Terminated"]}},"example":{"ArrangementStatus":{"StatusReason":"KJI","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.042219342Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.042299233Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.042360775Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"UUCPY","InvolvementReference":"KCQ"}},"ArrangementStatusType":"Offered"}},"ContactPointDTO":{"type":"object","properties":{"ContactPointType":{"type":"string","enum":["ElectronicAddress","PostalAddress","PhoneNumber","SocialNetworkAddress"]},"PartyLocationType":{"type":"string","enum":["LocationIsResidentialAddressOfParty","LocationIsDomicileAddressOfParty","LocationIsPlaceOfBirthOfParty","LocationIsWorkAddressOfParty","LocationIsDeliveryPointAddressOfParty","PartyIsOwnerOfLocation","PartyIsOccupierOfLocation","PartyIsAlliancePartnerOfLocation","LocationIsContactPointAddressOfParty"]},"LocationReference":{"$ref":"#/components/schemas/LocationDTO"},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"}},"example":{"ContactPointType":"PhoneNumber","PartyLocationType":"LocationIsDomicileAddressOfParty","LocationReference":{"LocationDescription":"JIB","LocationDateTime":{"DateTimeContent":"2026-05-04T13:56:15.045264745Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LocationStatus":{"StatusReason":"AQPXHGMF","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.045384937Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.045456329Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.045501280Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"ASHLZ","InvolvementReference":"SFDDDYFONC"}},"LocationType":"Country","LocationZoningType":"DTHG","LocationNeighborhoodType":"DXLQEESX","LocationConstructionType":"PUFIUC","LocationOccupancyType":"RZJZBPWF","LocationValue":"OHLHIRVU","LocationCapacity":"IHW","LocationIdentification":{"IdentifierValue":"MFTKCV","IdentifierIssuerReference":{"PartyReference":"VMXJAOGFBR","InvolvementReference":"PICKIJEYJQ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.045881258Z","DateTimeType":"ExpiryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.045963029Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LocationAddress":"VGWGMERVJ","LocationName":{"Name":"QXNOUZLMZ"},"LocationTimeZone":"WYQSZPG"},"PartyReference":{"PartyName":{"Name":"BKMRFGPNVY"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04T13:56:15.046306736Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PartyIdentification":{"PartyIdentificationType":"DriverLicenseNumber","PartyIdentification":{"IdentifierValue":"WQCW","IdentifierIssuerReference":{"PartyReference":"JXKWZ","InvolvementReference":"ORJRD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.046561562Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.046618193Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}}},"PartyLegalStructureType":"ScottishLimitedPartnership","PartyActivityIndicator":{"Industrycode":"ISOJHU"}}}},"CurrencyCodeDTO":{"type":"object","properties":{"Currencycode":{"type":"string"}},"example":{"Currencycode":"USD"}},"DateDTO":{"type":"object","properties":{"DateContent":{"type":"string"}},"example":{"DateContent":"ZYRFZSMLKN"}},"DateTimeDTO":{"type":"object","properties":{"DateTimeContent":{"type":"string"},"DateTimeType":{"type":"string","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate","EntryDate"]},"DaylightSavingIndicator":{"type":"string"},"TimeZoneCode":{"type":"string"}},"example":{"DateTimeContent":"2026-05-04T13:56:15.048966382Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"DateTimePeriodDTO":{"type":"object","properties":{"FromDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ToDateTime":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.049720917Z","DateTimeType":"SigningDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.049785679Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}}},"DurationDTO":{"type":"object","properties":{"Duration":{"type":"string"}},"example":{"Duration":"MIBNHS"}},"FinancialPositionLogDTO":{"type":"object","properties":{"TransactionLogType":{"type":"string","enum":["FinancialTransaction","BusinessTransaction","BankingTransaction","AccountingTransaction","BookingTransaction","AllocationTransaction","DeliveryTransaction","ProductionTransaction"]},"ProductInstanceReference":{"$ref":"#/components/schemas/ProductAgreementDTO"},"CustomerReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"CounterpartyReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"BaseCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"},"InterestApplicationRecord":{"$ref":"#/components/schemas/InterestArrangementDTO"},"InterestTransaction":{"$ref":"#/components/schemas/InterestTransactionDTO"},"TransactionDescription":{"type":"string"},"TransactionRateType":{"type":"string","enum":["Fixed","Forfeit","Variable","Open","Unknown","NilPayment","AdditionalTax","Charges","CashInLieuOfSecurities","Gross","CashIncentive","Net","Sollcitation","StampDuty","StockExchangeTax","WithholdingTax","TransferTax","TransactionTax","TaxDeferred","TaxFeeAmount","WithholdingOfForeignTax","WithholdingOfLocalTax","Imputed","Precompte","OneTierTax","LocalTax","Scheduled","Unscheduled","AnyAndAll"]},"TransactionInterestCharge":{"$ref":"#/components/schemas/AmountDTO"},"ManagedPositionLimits":{"$ref":"#/components/schemas/LimitArrangementDTO"},"PositionLimitType":{"type":"string","enum":["Multilateral","Bilateral","NetBilateral","IndirectBilateral","Global","MandatoryBilateral","DiscretionaryBilateral","DirectDebit","SingleCustomerDirectDebit","SingleFinancialInstitutionDirectDebit","TotalDailyCustomerDirectDebit","TotalDailyFinancialInstitutionDirectDebit","AutoCollateralisation","UnsecuredCredit","ExternalGuarantee"]},"PositionLimitSettings":{"$ref":"#/components/schemas/LimitArrangementDTO"},"PositionLimitValue":{"type":"string"},"AmountBlock":{"$ref":"#/components/schemas/AmountDTO"},"AmountBlockType":{"type":"string","enum":["Principal","Actual","Estimated","Maximum","Default","Replacement","Incremental","Decremental","Reserved","Available","Used","DuePayable","Minimum","Open","Unknown","Fixed"]},"Priority":{"type":"string","enum":["Urgent","High","Normal","Low"]},"Amount":{"$ref":"#/components/schemas/AmountDTO"},"DateType":{"type":"string","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate","EntryDate"]},"Date":{"$ref":"#/components/schemas/DateTimeDTO"},"InitiationDate":{"$ref":"#/components/schemas/DateDTO"},"Status":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"TransactionLogType":"AllocationTransaction","ProductInstanceReference":{"ProductAgreementType":"MortgageLoanAgreement","ProductAgreementIdentification":{"IdentifierValue":"OBKCLH","IdentifierIssuerReference":{"PartyReference":"VZVASV","InvolvementReference":"VMYGEBZ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.239518278Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.239588969Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"AgreementSignedDate":{"DateContent":"PVDKCNBKKK"},"AgreementType":"BrokerAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.239795813Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.239862865Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"AgreementVersion":"SAOM","AgreementStatus":{"AgreementStatus":{"StatusReason":"COLSVR","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.239996097Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.240052369Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.240098059Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"PTUYN","InvolvementReference":"AIXOAZTHW"}},"AgreementStatusType":"Signed"},"AgreementSubjectMatter":"PZQZA","AgreementIdentification":{"IdentifierValue":"CIHPSMJKS","IdentifierIssuerReference":{"PartyReference":"DSVIT","InvolvementReference":"HKDWOKJO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.240281263Z","DateTimeType":"SigningDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.240330724Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:56:15.240404266Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"AgreementDescription":"UMZXZOIM"},"CustomerReference":{"PartyReference":"CKFBUF","InvolvementReference":"STX"},"CounterpartyReference":{"PartyReference":"BABW","InvolvementReference":"IIWGN"},"BaseCurrency":{"Currencycode":"USD"},"InterestApplicationRecord":{"InterestArrangement":"KAYDTRQ"},"InterestTransaction":{"InterestTransactionAmount":{"AmountValue":"40.80","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"IVO","AmountType":"Incremental"},"InterestTransactionDescription":"KXQQSGRK","InterestTransactionType":"InterestAdjustmentTransaction","AppliedInterestRate":{"RateValue":"YTMLUWCR","RateUnit":"FJJWSXJ","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.240985608Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.241030489Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"QLACMKVXQJ"},"AppliedInteretType":"ExInterest","InterestCreditDebitIndicator":"Debit","TransactionIdentification":{"IdentifierValue":"CLBEZGHCUK","IdentifierIssuerReference":{"PartyReference":"PFBP","InvolvementReference":"UVOUOPKRR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.241230793Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.241272964Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"TransactionDate":{"TransactionDate":{"DateTimeContent":"2026-05-04T13:56:15.241360306Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TransactionDateType":"FulfillmentDate"},"TransactionType":"ProductionTransaction","TransactionDescription":"TVVUS","TransactionStatus":{"TransactionStatus":{"StatusReason":"RNDP","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.241575050Z","DateTimeType":"ReceivingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.241636802Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.241681622Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"AJY","InvolvementReference":"TIFWWBINCT"}},"TransactionStatusType":"Notified"},"TransactionName":{"Name":"TTVTTGLUIP"}},"TransactionDescription":"ALHRD","TransactionRateType":"Charges","TransactionInterestCharge":{"AmountValue":"67.67","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"ROXJBDMD","AmountType":"Open"},"ManagedPositionLimits":{"LimitType":"IndirectBilateral","LimitCurrency":{"Currencycode":"USD"},"LimitValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.242179383Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.242233244Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LimitAmount":{"AmountValue":"71.30","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"TUFHRT","AmountType":"Available"},"LimitStatus":{"LimitStatus":{"StatusReason":"EKPHKK","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.242411238Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.242458619Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.242494559Z","DateTimeType":"ExpiryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"TKJO","InvolvementReference":"LATZEHYQS"}},"LimitStatusType":"Requested"},"LimitRate":{"RateValue":"IJGOMUUGO","RateUnit":"ZIOJOEEL","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.242663953Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.242703353Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"AJSZOJI"},"LimitFrequency":{"FrequencyCode":"Daily","FrequencyName":{"Name":"LFI"},"FrequencyDefinition":"CAYNMS"},"LimitIdentification":{"IdentifierValue":"SHRTCBBUXF","IdentifierIssuerReference":{"PartyReference":"JCJZ","InvolvementReference":"KWDTA"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.242971089Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.243016440Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LimitStartDatetime":{"DateTimeContent":"2026-05-04T13:56:15.243098282Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LimitCreditDebitIndicator":"Credit","LimitAmountType":"Used","LoanOriginationDate":{"DateContent":"HLEKJOV"},"LoanMaturityDate":{"DateContent":"MAQ"},"LoanEndDate":{"DateContent":"NLOCRKFSLZ"},"LoanAmount":{"AmountValue":"22.80","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"DBE","AmountType":"Open"},"LoanArrangementType":"PaymentArrangement","ArrangementAction":{"Action":"GLV"},"ArrangementStartDate":{"DateTimeContent":"2026-05-04T13:56:15.243533181Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ArrangementEndDate":{"DateTimeContent":"2026-05-04T13:56:15.243597182Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"DUMZQA","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.243684974Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.243740455Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.243781006Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"JNEICTOCQX","InvolvementReference":"UUPWAHED"}},"ArrangementStatusType":"Cancelled"},"ArrangementSubjectMatter":{"Subject":"QQTRUQ"},"Arrangementtype":"RestructuringArrangement","ArrangementIdentification":{"IdentifierValue":"CCQZ","IdentifierIssuerReference":{"PartyReference":"MRLY","InvolvementReference":"WVRU"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.244053101Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.244100622Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"SavingsAccountArrangementType":"PaymentArrangement","SavingsAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"AdministrationService"},"ProductArrangementType":"RepaymentArrangement","CurrentAccountArrangementType":"InterestArrangement","CurrentAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"AccessService"},"TermDepositArrangementType":"UnderwritingArrangement","TermDepositArrangementProductFeatureType":{"ProductFeatureTypeValues":"AccessService"},"TermDepositMaturityDate":{"DateTimeContent":"2026-05-04T13:56:15.244508151Z","DateTimeType":"ExpiryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TermDepositOpenDate":{"DateTimeContent":"2026-05-04T13:56:15.244595213Z","DateTimeType":"SigningDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TermDepositAmount":{"AmountValue":"86.50","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"OJYTLRRTFM","AmountType":"Actual"},"TermDepositDuration":{"Duration":"YKTVNAXWL"},"DepositTerm":"UUYAGM","DepositType":"DemandDeposit","DepositLimitType":"JPRMX","DepositAmount":{"AmountValue":"82.97","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"ESDLKSMMCO","AmountType":"Minimum"},"DepositDatetime":{"DateTimeContent":"2026-05-04T13:56:15.245088353Z","DateTimeType":"SigningDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"DepositDatetimeType":"ZFUPYTJ","DepositAmountType":"Open","DepositInterest":{"InterestArrangement":"VJOI"},"DepositDuration":{"Duration":"OSJ"},"DepositRate":{"RateValue":"UIBVNLGF","RateUnit":"KCZKSH","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.245362588Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.245415400Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"DEHKUXTMI"},"ServiceType":"DepositService","PaymentDate":{"PaymentDate":{"DateTimeContent":"2026-05-04T13:56:15.245548143Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PaymentDateType":"CreationDate"},"PaymentPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.245692975Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.245742347Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"PaymentPurpose":"Subscription","PaymentAmountAndCurrency":{"PaymentAmountAndCurrencyType":"CreditorAccountAmountAndCurrency","PaymentAmountAndCurrency":{"AmountValue":"55.03","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"GKQNM","AmountType":"DuePayable"}},"PaymentMethod":"TransferAdvice","PaymentType":"ToPAccount","PaymentTime":"PaymentOnReceiptOfInvoice","RemittanceDeliveryMethod":"UniformResourceIdentifier","RemittanceLocation":{"ContactPointType":"SocialNetworkAddress","PartyLocationType":"LocationIsDomicileAddressOfParty","LocationReference":{"LocationDescription":"RGYEJ","LocationDateTime":{"DateTimeContent":"2026-05-04T13:56:15.246349369Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LocationStatus":{"StatusReason":"OAHPFAQ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.246406420Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.246451461Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.246486572Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"RSTJ","InvolvementReference":"TOIGVCPF"}},"LocationType":"City","LocationZoningType":"CENQMQEUOO","LocationNeighborhoodType":"QIQM","LocationConstructionType":"BJEZDUCG","LocationOccupancyType":"UUCO","LocationValue":"PUF","LocationCapacity":"KSZQWB","LocationIdentification":{"IdentifierValue":"KHZ","IdentifierIssuerReference":{"PartyReference":"AALEDDNIK","InvolvementReference":"IZJVDTGO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.246626615Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.246674966Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LocationAddress":"ABV","LocationName":{"Name":"GWUHNNFUHN"},"LocationTimeZone":"IXLMAIWKHL"},"PartyReference":{"PartyName":{"Name":"TRHUH"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04T13:56:15.246787938Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PartyIdentification":{"PartyIdentificationType":"Concat","PartyIdentification":{"IdentifierValue":"QSIZURNKGX","IdentifierIssuerReference":{"PartyReference":"COPY","InvolvementReference":"YVCWJB"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.246896260Z","DateTimeType":"ReceivingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.246946581Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}}},"PartyLegalStructureType":"CharitableIncorporatedOrganisation","PartyActivityIndicator":{"Industrycode":"FMSTW"}}},"PaymentIdentification":{"PaymentIdentification":{"IdentifierValue":"ZHVNJA","IdentifierIssuerReference":{"PartyReference":"UNVRA","InvolvementReference":"GGJEVFW"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.247141016Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.247185956Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"PaymentIdentificationType":"CounterpartyReference"},"PaymentSchedule":{"ScheduleType":"XASFNXSJ"},"PaymentFrequency":{"FrequencyCode":"Rate","FrequencyName":{"Name":"ORIVNAJZCH"},"FrequencyDefinition":"QAIOQ"},"PaymentDescription":"PYIAHOJ","CreditFacilityDataTime":{"DateTimeContent":"2026-05-04T13:56:15.247505353Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"CreditFacilityType":"Revolving","CreditFacilityRateType":"AvailabilityCommission","CreditFacilityNumber":{"IdentifierValue":"PCK","IdentifierIssuerReference":{"PartyReference":"NOTS","InvolvementReference":"ECDRKNOUVY"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.247709207Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.247752338Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"CreditFacilityAmount":{"AmountValue":"18.33","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"RKEWKZ","AmountType":"DuePayable"},"FuneralPolicyArrangementType":"BenefitArrangement"},"PositionLimitType":"TotalDailyCustomerDirectDebit","PositionLimitSettings":{"LimitType":"Global","LimitCurrency":{"Currencycode":"USD"},"LimitValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.248078375Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.248133616Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LimitAmount":{"AmountValue":"30.87","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"FPL","AmountType":"Available"},"LimitStatus":{"LimitStatus":{"StatusReason":"ISYZEBTJ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.248290079Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.248342610Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.248392411Z","DateTimeType":"ValueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"SPKYYGAP","InvolvementReference":"JXQSCYKAVT"}},"LimitStatusType":"Enabled"},"LimitRate":{"RateValue":"QTZVDRBKT","RateUnit":"YKMKXWXIH","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.248505904Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.248543234Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"JTVBR"},"LimitFrequency":{"FrequencyCode":"TriggeredByMovement","FrequencyName":{"Name":"HAQVL"},"FrequencyDefinition":"OQMBGCJIE"},"LimitIdentification":{"IdentifierValue":"JHJBULP","IdentifierIssuerReference":{"PartyReference":"RONII","InvolvementReference":"OFHZQHHXV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.248685147Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.248734858Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LimitStartDatetime":{"DateTimeContent":"2026-05-04T13:56:15.248776909Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LimitCreditDebitIndicator":"Credit","LimitAmountType":"Replacement","LoanOriginationDate":{"DateContent":"JNH"},"LoanMaturityDate":{"DateContent":"BVZUDKJK"},"LoanEndDate":{"DateContent":"RKRUFZBSQP"},"LoanAmount":{"AmountValue":"95.84","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"AISIYDPPH","AmountType":"Unknown"},"LoanArrangementType":"FactoringArrangement","ArrangementAction":{"Action":"UJJDQVIJO"},"ArrangementStartDate":{"DateTimeContent":"2026-05-04T13:56:15.249021874Z","DateTimeType":"ValueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ArrangementEndDate":{"DateTimeContent":"2026-05-04T13:56:15.249090276Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"WQLFVN","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.249170547Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.249229939Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.249271669Z","DateTimeType":"ReceivingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"ZPAMSGK","InvolvementReference":"JLTEVCDE"}},"ArrangementStatusType":"Cancelled"},"ArrangementSubjectMatter":{"Subject":"ZMHINTS"},"Arrangementtype":"SweepArrangement","ArrangementIdentification":{"IdentifierValue":"LFUILH","IdentifierIssuerReference":{"PartyReference":"DWO","InvolvementReference":"VORVOUHD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.249442023Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.249482344Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"SavingsAccountArrangementType":"CollectionArrangement","SavingsAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"PriceFeature"},"ProductArrangementType":"InsuranceArrangement","CurrentAccountArrangementType":"ProductAndServiceArrangement","CurrentAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"AdministrationService"},"TermDepositArrangementType":"RolloverArrangement","TermDepositArrangementProductFeatureType":{"ProductFeatureTypeValues":"BankingService"},"TermDepositMaturityDate":{"DateTimeContent":"2026-05-04T13:56:15.249607456Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TermDepositOpenDate":{"DateTimeContent":"2026-05-04T13:56:15.249650847Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TermDepositAmount":{"AmountValue":"2.96","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"SFJCPHQ","AmountType":"Open"},"TermDepositDuration":{"Duration":"KDN"},"DepositTerm":"PDNI","DepositType":"CallNoticeDeposit","DepositLimitType":"HYWFBNQ","DepositAmount":{"AmountValue":"97.99","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"PPPYRXLC","AmountType":"Decremental"},"DepositDatetime":{"DateTimeContent":"2026-05-04T13:56:15.249865152Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"DepositDatetimeType":"ZHWN","DepositAmountType":"Actual","DepositInterest":{"InterestArrangement":"VBKK"},"DepositDuration":{"Duration":"UKUZCSPW"},"DepositRate":{"RateValue":"BHWCNI","RateUnit":"DXJT","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.250000315Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.250049186Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"XQPDDKCIWV"},"ServiceType":"OverdraftService","PaymentDate":{"PaymentDate":{"DateTimeContent":"2026-05-04T13:56:15.250123757Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PaymentDateType":"RequestedExecutionDate"},"PaymentPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.250180368Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.250216429Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"PaymentPurpose":"PurchaseSaleOfServices","PaymentAmountAndCurrency":{"PaymentAmountAndCurrencyType":"CreditorAccountAmountAndCurrency","PaymentAmountAndCurrency":{"AmountValue":"80.58","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"VZGTAC","AmountType":"Minimum"}},"PaymentMethod":"Direct","PaymentType":"CrossBorderHighValuePayment","PaymentTime":"PaymentOnDelivery","RemittanceDeliveryMethod":"UniformResourceIdentifier","RemittanceLocation":{"ContactPointType":"SocialNetworkAddress","PartyLocationType":"PartyIsOccupierOfLocation","LocationReference":{"LocationDescription":"HGZ","LocationDateTime":{"DateTimeContent":"2026-05-04T13:56:15.250513125Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LocationStatus":{"StatusReason":"BGGTKJU","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.250576836Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.250653988Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.250706879Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"SATRRC","InvolvementReference":"YGS"}},"LocationType":"State","LocationZoningType":"SOACB","LocationNeighborhoodType":"QWUJSSQKK","LocationConstructionType":"CHAKRALY","LocationOccupancyType":"OHDM","LocationValue":"IWPS","LocationCapacity":"DWOXPBWMK","LocationIdentification":{"IdentifierValue":"TIPJ","IdentifierIssuerReference":{"PartyReference":"ERBGFLJ","InvolvementReference":"YNGC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.250867662Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.250911874Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LocationAddress":"BVVLRVMO","LocationName":{"Name":"GMPMZR"},"LocationTimeZone":"AFKP"},"PartyReference":{"PartyName":{"Name":"OKDYJL"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-04T13:56:15.251021446Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PartyIdentification":{"PartyIdentificationType":"NationalRegistrationNumber","PartyIdentification":{"IdentifierValue":"FBA","IdentifierIssuerReference":{"PartyReference":"WXM","InvolvementReference":"NOQJRRY"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.251137918Z","DateTimeType":"ReceivingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.251189319Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}}},"PartyLegalStructureType":"Individual","PartyActivityIndicator":{"Industrycode":"MACUVTLKY"}}},"PaymentIdentification":{"PaymentIdentification":{"IdentifierValue":"XQIWMWHMP","IdentifierIssuerReference":{"PartyReference":"JKURUU","InvolvementReference":"FSSDHGECAN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.251317572Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.251363743Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"PaymentIdentificationType":"TransactionIdentification"},"PaymentSchedule":{"ScheduleType":"SLWLZUIKE"},"PaymentFrequency":{"FrequencyCode":"TriggeredByMovement","FrequencyName":{"Name":"SSLJ"},"FrequencyDefinition":"ISQNYJ"},"PaymentDescription":"ESYZBEME","CreditFacilityDataTime":{"DateTimeContent":"2026-05-04T13:56:15.251475405Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"CreditFacilityType":"FixedAmount","CreditFacilityRateType":"AvailabilityCommission","CreditFacilityNumber":{"IdentifierValue":"SMDSGSCIAJ","IdentifierIssuerReference":{"PartyReference":"VKWH","InvolvementReference":"SAMZLBW"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.251577387Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.251663599Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"CreditFacilityAmount":{"AmountValue":"25.90","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"LCKFDLB","AmountType":"Unknown"},"FuneralPolicyArrangementType":"ServiceArrangement"},"PositionLimitValue":"FFZYSKH","AmountBlock":{"AmountValue":"28.17","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"EVJBMRYWLL","AmountType":"Minimum"},"AmountBlockType":"Default","Priority":"High","Amount":{"AmountValue":"31.27","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"JVKTPB","AmountType":"Reserved"},"DateType":"FulfillmentDate","Date":{"DateTimeContent":"2026-05-04T13:56:15.252157639Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"InitiationDate":{"DateContent":"NOJKFPGQ"},"Status":{"StatusReason":"FJKQKBPQB","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.252312712Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.252369994Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.252430965Z","DateTimeType":"ExpiryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"ASHYET","InvolvementReference":"ZKCGKTXFC"}}}},"FrequencyDTO":{"type":"object","properties":{"FrequencyCode":{"type":"string","enum":["Annual","Monthly","Quarterly","SemiAnnual","Weekly","Daily","Adhoc","Intraday","Overnight","TenDays","Fortnightly","TriggeredByMovement","Never","Rate","OnCreditEvent","Upfront","OnExpiry","Hourly"]},"FrequencyName":{"$ref":"#/components/schemas/NameDTO"},"FrequencyDefinition":{"type":"string"}},"example":{"FrequencyCode":"Intraday","FrequencyName":{"Name":"KSGK"},"FrequencyDefinition":"FUNKXLIJB"}},"IdentifierDTO":{"type":"object","properties":{"IdentifierValue":{"type":"string"},"IdentifierIssuerReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"IdentifierStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"IdentifierEndDate":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"IdentifierValue":"LBQBJV","IdentifierIssuerReference":{"PartyReference":"ERF","InvolvementReference":"EUAAPJD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.338816628Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.338892300Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}}},"IndustryCodeDTO":{"type":"object","properties":{"Industrycode":{"type":"string"}},"example":{"Industrycode":"UJTAOGHXI"}},"InterestArrangementDTO":{"type":"object","properties":{"InterestArrangement":{"type":"string"}},"example":{"InterestArrangement":"HPWGD"}},"InterestTransactionDTO":{"type":"object","properties":{"InterestTransactionAmount":{"$ref":"#/components/schemas/AmountDTO"},"InterestTransactionDescription":{"type":"string"},"InterestTransactionType":{"type":"string","enum":["InterestAllocationTransaction","InterestPaymentTransaction","InterestAdjustmentTransaction"]},"AppliedInterestRate":{"$ref":"#/components/schemas/RateDTO"},"AppliedInteretType":{"type":"string","enum":["Fixed","FloatingRateNote","DualBasis","Index","Discounted","ZeroCoupon","ExInterest","CumInterest"]},"InterestCreditDebitIndicator":{"type":"string","enum":["Debit","Credit"]},"TransactionIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"TransactionDate":{"$ref":"#/components/schemas/TransactionDateTimeDTO"},"TransactionType":{"type":"string","enum":["FinancialTransaction","BusinessTransaction","BankingTransaction","AccountingTransaction","BookingTransaction","AllocationTransaction","DeliveryTransaction","ProductionTransaction"]},"TransactionDescription":{"type":"string"},"TransactionStatus":{"$ref":"#/components/schemas/TransactionStatusDTO"},"TransactionName":{"$ref":"#/components/schemas/NameDTO"}},"example":{"InterestTransactionAmount":{"AmountValue":"61.15","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"OTKH","AmountType":"Estimated"},"InterestTransactionDescription":"VCQMMGT","InterestTransactionType":"InterestAllocationTransaction","AppliedInterestRate":{"RateValue":"UMMYBGLK","RateUnit":"EPWCS","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.341316860Z","DateTimeType":"ReceivingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.341359161Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"KEPJOBBV"},"AppliedInteretType":"CumInterest","InterestCreditDebitIndicator":"Debit","TransactionIdentification":{"IdentifierValue":"BSSC","IdentifierIssuerReference":{"PartyReference":"PXV","InvolvementReference":"FNXGROBF"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.341463683Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.341500764Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"TransactionDate":{"TransactionDate":{"DateTimeContent":"2026-05-04T13:56:15.341544265Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TransactionDateType":"ExecutedDate"},"TransactionType":"DeliveryTransaction","TransactionDescription":"BEMR","TransactionStatus":{"TransactionStatus":{"StatusReason":"IHSNRHKFD","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.341637967Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.341688958Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.341990214Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"PBJU","InvolvementReference":"FETWPVKMN"}},"TransactionStatusType":"Completed"},"TransactionName":{"Name":"JVLXRK"}}},"InvolvedPartyDTO":{"type":"object","properties":{"PartyReference":{"type":"string"},"InvolvementReference":{"type":"string"}},"example":{"PartyReference":"ZRZZFXZWSX","InvolvementReference":"GUMJLBCEP"}},"LimitArrangementDTO":{"type":"object","properties":{"LimitType":{"type":"string","enum":["Multilateral","Bilateral","NetBilateral","IndirectBilateral","Global","MandatoryBilateral","DiscretionaryBilateral","DirectDebit","SingleCustomerDirectDebit","SingleFinancialInstitutionDirectDebit","TotalDailyCustomerDirectDebit","TotalDailyFinancialInstitutionDirectDebit","AutoCollateralisation","UnsecuredCredit","ExternalGuarantee"]},"LimitCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"},"LimitValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"LimitAmount":{"$ref":"#/components/schemas/AmountDTO"},"LimitStatus":{"$ref":"#/components/schemas/LimitStatusDTO"},"LimitRate":{"$ref":"#/components/schemas/RateDTO"},"LimitFrequency":{"$ref":"#/components/schemas/FrequencyDTO"},"LimitIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"LimitStartDatetime":{"$ref":"#/components/schemas/DateTimeDTO"},"LimitCreditDebitIndicator":{"type":"string","enum":["Debit","Credit"]},"LimitAmountType":{"type":"string","enum":["Principal","Actual","Estimated","Maximum","Default","Replacement","Incremental","Decremental","Reserved","Available","Used","DuePayable","Minimum","Open","Unknown","Fixed"]},"LoanOriginationDate":{"$ref":"#/components/schemas/DateDTO"},"LoanMaturityDate":{"$ref":"#/components/schemas/DateDTO"},"LoanEndDate":{"$ref":"#/components/schemas/DateDTO"},"LoanAmount":{"$ref":"#/components/schemas/AmountDTO"},"LoanArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"SavingsAccountArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"SavingsAccountArrangementProductFeatureType":{"$ref":"#/components/schemas/ProductFeatureTypeDTO"},"ProductArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"CurrentAccountArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"CurrentAccountArrangementProductFeatureType":{"$ref":"#/components/schemas/ProductFeatureTypeDTO"},"TermDepositArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"TermDepositArrangementProductFeatureType":{"$ref":"#/components/schemas/ProductFeatureTypeDTO"},"TermDepositMaturityDate":{"$ref":"#/components/schemas/DateTimeDTO"},"TermDepositOpenDate":{"$ref":"#/components/schemas/DateTimeDTO"},"TermDepositAmount":{"$ref":"#/components/schemas/AmountDTO"},"TermDepositDuration":{"$ref":"#/components/schemas/DurationDTO"},"DepositTerm":{"type":"string"},"DepositType":{"type":"string","enum":["CashDeposit","SecurityDeposit","PawnDeposit","CallNoticeDeposit","FixedTermDeposit","DemandDeposit","TimeDeposit","CardDeposit"]},"DepositLimit":{"$ref":"#/components/schemas/LimitArrangementDTO"},"DepositLimitType":{"type":"string"},"DepositAmount":{"$ref":"#/components/schemas/AmountDTO"},"DepositDatetime":{"$ref":"#/components/schemas/DateTimeDTO"},"DepositDatetimeType":{"type":"string"},"DepositAmountType":{"type":"string","enum":["Principal","Actual","Estimated","Maximum","Default","Replacement","Incremental","Decremental","Reserved","Available","Used","DuePayable","Minimum","Open","Unknown","Fixed"]},"DepositInterest":{"$ref":"#/components/schemas/InterestArrangementDTO"},"DepositDuration":{"$ref":"#/components/schemas/DurationDTO"},"DepositRate":{"$ref":"#/components/schemas/RateDTO"},"ServiceType":{"type":"string","enum":["CreditTransferService","StandingOrderService","DirectDebitService","CardPaymentService","WithdrawService","DepositService","OverdraftService","MoneyRemittanceService","StatementService"]},"PaymentDate":{"$ref":"#/components/schemas/PaymentDateTimeDTO"},"PaymentPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"PaymentPurpose":{"type":"string","enum":["SalaryPayment","TreasuryPayment","AdvancePayment","AgriculturalTransfer","AlimonyPayment","ChildBenefit","UnemploymentDisabilityBenefit","BonusPayment","CashManagementTransfer","CapitalBuilding","CharityPayment","CollectionPayment","CommodityTransfer","CommercialPayment","Commission","Costs","Copyright","Dividend","ForeignExchange","PurchaseSaleOfGoods","GovernmentPayment","InstalmentHirePurchaseAgreement","IntracompanyPayment","InsurancePremium","Interest","LicenseFee","Loan","LoanRepayment","Netting","Payroll","PensionPayment","Refund","Rent","Royalties","PurchaseSaleOfServices","Securities","SocialSecurityBenefit","Subscription","TaxPayment","ValueAddedTaxPayment","ConsumerThirdPartyConsolidatedPayment","DebitCollectionPayment","SupplierPayment","Hedging","MultipleServiceTypes","NotOtherwiseSpecified","CardPayment","CreditCardBill","Ferry","Air","Bus","Railway","ConvalescentCareFacility","DentalServices","AnesthesiaServices","HomeHealthcare","HospitalCare","IntermediateCareFacility","LongTermCareFacility","MedicalServices","VisionCare","DurableMedicalEquipment","CableTvBill","ElectricityBill","GasBill","TelephoneBill","OtherTelecomRelatedBill","WaterBill","Study","PricePayment","Installment","RecurringInstallmentPayment","OpeningFee","CancellationFee","GovernmentInsurance","InsurancePremiumCar","LaborInsurance","LifeInsurance","PropertyInsurance","HealthInsurance","CarLoanPrincipalRepayment","HousingLoanRepayment","CompanySocialLoanPaymentToBank","EstateTax","HousingTax","IncomeTax","NetIncomeTax","BusinessExpenses","TrustFund","NetworkCharge","NetworkCommunication","ReceiptPayment","PaymentTerms","Other","Withholding"]},"PaymentAmountAndCurrency":{"$ref":"#/components/schemas/PaymentAmountAndCurrencyDTO"},"PaymentMethod":{"type":"string","enum":["Cheque","CreditTransfer","DirectDebit","TransferAdvice","Direct","Classical"]},"PaymentType":{"type":"string","enum":["CashTransaction","DomesticPayment","DomesticHighValuePayment","DomesticPriorityPayment","CrossBorderPayment","CrossBorderPriorityPayment","CrossBorderHighValuePayment","ThirdCurrencyPayment","ThirdCurrencyHighValuePayment","ThirdCurrencyPriorityPayment","TradeSettlementPayment","ForeignExchange","EquivalentAmount","Loan","LoanRepayment","Securities","Lockbox","Dividend","CrossedCheque","OpenCheque","OrderCheque","CircularCheque","TravellersCheques","BankDraft","DocumentaryCredit","BillOfExchange","Collection","CashManagementTransfer","ToPAccount","ZeroBalanceAccount","StandingFacilities","StandardServiceLevelCredit","LiquidityTransfer","AdvancePayment","ValueDateAdjustment","DvpGross","DvpNet","Netting","LimitPayment","Backup","ExpressPayment","CentralBankOperation","ClsPayment","EuroDomesticPayment","AgriculturalTransfer","AlimonyPayment","BalanceRetail","BonusPayment","BrokerageFee","CapitalBuilding","CharityPayment","ChildBenefit","CommercialCredit","Commission","CommodityTransfer","Costs","Copyright","GovernmentPayment","InstalmentHirePurchaseAgreement","InsurancePremium","IntracompanyPayment","Interest","LicenseFee","Metals","PensionPayment","PurchaseSaleOfGoods","Refund","Rent","Royalties","PurchaseSaleOfServices","SalaryPayment","SocialSecurityBenefit","StandingOrder","Subscription","TreasuryStatePayment","UnemploymentDisabilityBenefit","ValueAddedTaxPayment","TaxPayment","OvernightDeposit","MarginalLending","Other","Upfront","Unwind","PrincipalExchange"]},"PaymentTime":{"type":"string","enum":["PaymentOnDelivery","EndOfMonthOfDelivery","EndOfPeriodAfterDelivery","EndOfPeriodAfterEndOfDeliveryMonth","PaymentOnReceiptOfInvoice","EndOfPeriodAfterEndOfReceiptMonth","EndOfPeriodAfterReceipt","EndOfMonthOfReceipt","EndOfPeriodAfterMatch","EndOfPeriodAfterShipmentDate","EndOfPeriodAfterPurchaseOrderDate","EndOfPeriodAfterBaselineEstablishment","EndOfPeriodAfterInvoiceDate"]},"RemittanceDeliveryMethod":{"type":"string","enum":["Fax","ElectronicDataInterchange","UniformResourceIdentifier","Email","Post","Sms"]},"RemittanceLocation":{"$ref":"#/components/schemas/ContactPointDTO"},"PaymentIdentification":{"$ref":"#/components/schemas/PaymentIdentificationDTO"},"PaymentSchedule":{"$ref":"#/components/schemas/ScheduleDTO"},"PaymentFrequency":{"$ref":"#/components/schemas/FrequencyDTO"},"PaymentDescription":{"type":"string"},"CreditFacilityDataTime":{"$ref":"#/components/schemas/DateTimeDTO"},"CreditFacilityType":{"type":"string","enum":["Revolving","FixedAmount","Decreasing"]},"CreditFacilityRateType":{"type":"string","enum":["AvailabilityCommission"]},"CreditFacilityNumber":{"$ref":"#/components/schemas/IdentifierDTO"},"CreditFacilityAmount":{"$ref":"#/components/schemas/AmountDTO"},"FuneralPolicyArrangementType":{"type":"string","enum":["PremiumArrangement","CoverageArrangement","ExclusionArrangement","ClaimArrangement","TerminationArrangement","RenewalArrangement","BenefitArrangement","LegalRegulatoryArrangement","PaymentArrangement","ServiceArrangement"]}},"example":{"LimitType":"Multilateral","LimitCurrency":{"Currencycode":"USD"},"LimitValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440074440Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440148382Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LimitAmount":{"AmountValue":"47.80","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"UYI","AmountType":"Available"},"LimitStatus":{"LimitStatus":{"StatusReason":"QVQPOCGSK","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440298585Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440336226Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440361846Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"NJPNJ","InvolvementReference":"XDQ"}},"LimitStatusType":"Enabled"},"LimitRate":{"RateValue":"ZWDYU","RateUnit":"TKB","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440438097Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440463978Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"VPGUQJ"},"LimitFrequency":{"FrequencyCode":"Hourly","FrequencyName":{"Name":"PTOUSAJ"},"FrequencyDefinition":"UYNHDI"},"LimitIdentification":{"IdentifierValue":"YQSRLB","IdentifierIssuerReference":{"PartyReference":"JUELA","InvolvementReference":"KHPZC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.440551740Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.440585220Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LimitStartDatetime":{"DateTimeContent":"2026-05-04T13:56:15.440618171Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LimitCreditDebitIndicator":"Credit","LimitAmountType":"Principal","LoanOriginationDate":{"DateContent":"PURHKH"},"LoanMaturityDate":{"DateContent":"SRSVE"},"LoanEndDate":{"DateContent":"TBHQWDNVAC"},"LoanAmount":{"AmountValue":"78.04","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"ZAUN","AmountType":"Unknown"},"LoanArrangementType":"WithdrawalArrangement","ArrangementAction":{"Action":"PSDPJVPGNJ"},"ArrangementStartDate":{"DateTimeContent":"2026-05-04T13:56:15.440787685Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ArrangementEndDate":{"DateTimeContent":"2026-05-04T13:56:15.440823425Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"MUENJCVAXM","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440875617Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440912047Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.440939628Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"QYB","InvolvementReference":"THME"}},"ArrangementStatusType":"Cancelled"},"ArrangementSubjectMatter":{"Subject":"WUYFXCGF"},"Arrangementtype":"OverdraftArrangement","ArrangementIdentification":{"IdentifierValue":"DIYJVT","IdentifierIssuerReference":{"PartyReference":"NENOIY","InvolvementReference":"SGYQNP"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.441051810Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.441085211Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"SavingsAccountArrangementType":"PeriodArrangement","SavingsAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"BankingService"},"ProductArrangementType":"LimitArrangement","CurrentAccountArrangementType":"ProductAndServiceArrangement","CurrentAccountArrangementProductFeatureType":{"ProductFeatureTypeValues":"PriceFeature"},"TermDepositArrangementType":"CardPaymentArrangement","TermDepositArrangementProductFeatureType":{"ProductFeatureTypeValues":"BankingService"},"TermDepositMaturityDate":{"DateTimeContent":"2026-05-04T13:56:15.441188693Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TermDepositOpenDate":{"DateTimeContent":"2026-05-04T13:56:15.441213464Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TermDepositAmount":{"AmountValue":"11.53","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"NFTM","AmountType":"Replacement"},"TermDepositDuration":{"Duration":"VCLBGZX"},"DepositTerm":"PNUHH","DepositType":"DemandDeposit","DepositLimitType":"JSYCJJEB","DepositAmount":{"AmountValue":"70.13","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"TXHGPQSFXF","AmountType":"Replacement"},"DepositDatetime":{"DateTimeContent":"2026-05-04T13:56:15.441389267Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"DepositDatetimeType":"HST","DepositAmountType":"Unknown","DepositInterest":{"InterestArrangement":"ODAQE"},"DepositDuration":{"Duration":"WWTF"},"DepositRate":{"RateValue":"UBF","RateUnit":"AAFPU","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.441492909Z","DateTimeType":"ExpiryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.441525750Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"VQKB"},"ServiceType":"DirectDebitService","PaymentDate":{"PaymentDate":{"DateTimeContent":"2026-05-04T13:56:15.441575831Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PaymentDateType":"AcceptanceDate"},"PaymentPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.441618712Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.441652423Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"PaymentPurpose":"Refund","PaymentAmountAndCurrency":{"PaymentAmountAndCurrencyType":"InstructedAmountAndCurrency","PaymentAmountAndCurrency":{"AmountValue":"12.03","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"NDDUUUBYJ","AmountType":"Incremental"}},"PaymentMethod":"Direct","PaymentType":"LiquidityTransfer","PaymentTime":"EndOfPeriodAfterPurchaseOrderDate","RemittanceDeliveryMethod":"Email","RemittanceLocation":{"ContactPointType":"ElectronicAddress","PartyLocationType":"LocationIsContactPointAddressOfParty","LocationReference":{"LocationDescription":"UAMNHR","LocationDateTime":{"DateTimeContent":"2026-05-04T13:56:15.441872067Z","DateTimeType":"ValueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LocationStatus":{"StatusReason":"DOBC","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.441918638Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.441952699Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.441976589Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"CIQ","InvolvementReference":"ISQ"}},"LocationType":"Country","LocationZoningType":"QVXENWRBO","LocationNeighborhoodType":"DSXJPXIK","LocationConstructionType":"MMTLRI","LocationOccupancyType":"DGLUDYTDGA","LocationValue":"XPMLTEKEO","LocationCapacity":"ZFCAEXI","LocationIdentification":{"IdentifierValue":"AISVUTZI","IdentifierIssuerReference":{"PartyReference":"XOZGOSX","InvolvementReference":"RNEYNAL"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.442100802Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.442134213Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LocationAddress":"IULK","LocationName":{"Name":"DCYKR"},"LocationTimeZone":"CTXPPXEXEE"},"PartyReference":{"PartyName":{"Name":"IGPDQYA"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04T13:56:15.442225105Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PartyIdentification":{"PartyIdentificationType":"TaxIdentificationNumber","PartyIdentification":{"IdentifierValue":"JGZT","IdentifierIssuerReference":{"PartyReference":"CQJCKL","InvolvementReference":"JHZ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.442297686Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.442334507Z","DateTimeType":"ReceivingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}}},"PartyLegalStructureType":"PublicLimitedCompany","PartyActivityIndicator":{"Industrycode":"SUJQDWMHH"}}},"PaymentIdentification":{"PaymentIdentification":{"IdentifierValue":"IWAMPABQVL","IdentifierIssuerReference":{"PartyReference":"UFDYXX","InvolvementReference":"DXKBQJ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.442436839Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.442473220Z","DateTimeType":"ExpiryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"PaymentIdentificationType":"TransactionIdExecutionId"},"PaymentSchedule":{"ScheduleType":"IVNWS"},"PaymentFrequency":{"FrequencyCode":"Hourly","FrequencyName":{"Name":"MRZU"},"FrequencyDefinition":"WGYSXPIS"},"PaymentDescription":"XAXPRSIF","CreditFacilityDataTime":{"DateTimeContent":"2026-05-04T13:56:15.442573882Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"CreditFacilityType":"FixedAmount","CreditFacilityRateType":"AvailabilityCommission","CreditFacilityNumber":{"IdentifierValue":"XPAJ","IdentifierIssuerReference":{"PartyReference":"LWZ","InvolvementReference":"RWWL"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.442639793Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.442665534Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"CreditFacilityAmount":{"AmountValue":"85.05","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"RPKZCR","AmountType":"Reserved"},"FuneralPolicyArrangementType":"PaymentArrangement"}},"LimitStatusDTO":{"type":"object","properties":{"LimitStatus":{"$ref":"#/components/schemas/StatusDTO"},"LimitStatusType":{"type":"string","enum":["Enabled","Disabled","Deleted","Requested"]}},"example":{"LimitStatus":{"StatusReason":"SEBWJ","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.447422502Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.447507064Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.447537644Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"YTWARNI","InvolvementReference":"RQVC"}},"LimitStatusType":"Enabled"}},"LocationDTO":{"type":"object","properties":{"LocationDescription":{"type":"string"},"LocationDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"LocationStatus":{"$ref":"#/components/schemas/StatusDTO"},"LocationType":{"type":"string","enum":["Continent","Country","State","District","Province","Town","City","Region"]},"LocationZoningType":{"type":"string"},"LocationNeighborhoodType":{"type":"string"},"LocationConstructionType":{"type":"string"},"LocationOccupancyType":{"type":"string"},"LocationValue":{"type":"string"},"LocationCapacity":{"type":"string"},"LocationIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"LocationAddress":{"type":"string"},"LocationName":{"$ref":"#/components/schemas/NameDTO"},"LocationTimeZone":{"type":"string"}},"example":{"LocationDescription":"DDFXK","LocationDateTime":{"DateTimeContent":"2026-05-04T13:56:15.448422963Z","DateTimeType":"CloseDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LocationStatus":{"StatusReason":"RYWRFCC","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.448471494Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.448505464Z","DateTimeType":"SigningDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.536736436Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"XTQTZBMMU","InvolvementReference":"VZXP"}},"LocationType":"Continent","LocationZoningType":"KHWUUW","LocationNeighborhoodType":"PGNJP","LocationConstructionType":"PRGPQ","LocationOccupancyType":"UJCBWPCPQE","LocationValue":"OWUWZ","LocationCapacity":"ZJWO","LocationIdentification":{"IdentifierValue":"BPHK","IdentifierIssuerReference":{"PartyReference":"EJTQEBZQE","InvolvementReference":"BNNKIVQAGM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.537649485Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.537695476Z","DateTimeType":"CloseDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LocationAddress":"REHQ","LocationName":{"Name":"BST"},"LocationTimeZone":"OAXH"}},"NameDTO":{"type":"object","properties":{"Name":{"type":"string"}},"example":{"Name":"YMJQBEB"}},"PartyDTO":{"type":"object","properties":{"PartyName":{"$ref":"#/components/schemas/NameDTO"},"PartyType":{"type":"string","enum":["Person","Organisation"]},"PartyDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"PartyIdentification":{"$ref":"#/components/schemas/PartyIdentificationDTO"},"PartyLegalStructureType":{"type":"string","enum":["Individual","CommunityInterestCompany","CharitableIncorporatedOrganisation","CoOperative","Charity","GeneralPartnership","LimitedLiabilityPartnership","ScottishLimitedPartnership","LimitedPartnership","PrivateLimitedCompany","PublicLimitedCompany","SoleSoleTrader"]},"PartyActivityIndicator":{"$ref":"#/components/schemas/IndustryCodeDTO"}},"example":{"PartyName":{"Name":"VJZ"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04T13:56:15.539502824Z","DateTimeType":"BlockingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PartyIdentification":{"PartyIdentificationType":"CorporateIdentification","PartyIdentification":{"IdentifierValue":"BRI","IdentifierIssuerReference":{"PartyReference":"PQUZ","InvolvementReference":"EXVWKSREXE"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.539771479Z","DateTimeType":"ActivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.539804920Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}}},"PartyLegalStructureType":"PrivateLimitedCompany","PartyActivityIndicator":{"Industrycode":"MSDKJRQNDO"}}},"PartyIdentificationDTO":{"type":"object","properties":{"PartyIdentificationType":{"type":"string","enum":["TaxIdentificationNumber","NationalRegistrationNumber","RegistrationAuthorityIdentification","LeiLegalEntityIdentifier","AlienRegistrationNumber","PassportNumber","TaxExemptIdentificationNumber","CorporateIdentification","DriverLicenseNumber","ForeignInvestmentIdentityNumber","SocialSecurityNumber","IdentityCardNumber","Concat","NationalRegistrationIdentificationNumber"]},"PartyIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"PartyIdentificationType":"ForeignInvestmentIdentityNumber","PartyIdentification":{"IdentifierValue":"UAAVGU","IdentifierIssuerReference":{"PartyReference":"JZHNLEL","InvolvementReference":"HBAXYBV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.540602346Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.540656217Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}}}},"PaymentAmountAndCurrencyDTO":{"type":"object","properties":{"PaymentAmountAndCurrencyType":{"type":"string","enum":["InstructedAmountAndCurrency","EquivalentAmountAndCurrency","DebtorAccountAmountAndCurrency","InterbankSettlementAmountAndCurrency","CreditorAccountAmountAndCurrency","NetReceivedAmountAndCurrency"]},"PaymentAmountAndCurrency":{"$ref":"#/components/schemas/AmountDTO"}},"example":{"PaymentAmountAndCurrencyType":"NetReceivedAmountAndCurrency","PaymentAmountAndCurrency":{"AmountValue":"67.20","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"WMMRI","AmountType":"Used"}}},"PaymentDateTimeDTO":{"type":"object","properties":{"PaymentDate":{"$ref":"#/components/schemas/DateTimeDTO"},"PaymentDateType":{"type":"string","enum":["RequestedExecutionDate","AcceptanceDate","CreationDate","ValueDate","DueDate","ExpiryDate","ExpectedDate","PoolingAdjustmentDate"]}},"example":{"PaymentDate":{"DateTimeContent":"2026-05-04T13:56:15.542795732Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"PaymentDateType":"ExpiryDate"}},"PaymentIdentificationDTO":{"type":"object","properties":{"PaymentIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"PaymentIdentificationType":{"type":"string","enum":["ExecutionIdentification","EndToEndIdentification","InstructionIdentification","TransactionIdentification","ClearingSystemReference","CreditorReference","Uetr","CounterpartyReference","Identification","CommonIdentification","MatchingReference","UniqueTradeIdentifier","ClearingBrokerIdentification","PaymentOrderId","ClientReference","EndToEndId","ExternalReference","InstructionId","TransactionIdExecutionId"]}},"example":{"PaymentIdentification":{"IdentifierValue":"JYJ","IdentifierIssuerReference":{"PartyReference":"GUKPX","InvolvementReference":"URRKJPP"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.544290923Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.544333894Z","DateTimeType":"CloseDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"PaymentIdentificationType":"TransactionIdentification"}},"ProductAgreementDTO":{"type":"object","properties":{"ProductAgreementType":{"type":"string","enum":["CurrentAccountAgreement","SavingsAccountAgreement","BrokeredProductAgreement","ConsumerLoanAgreement","MortgageLoanAgreement","DirectDebitServiceAgreement","TermDepositAgreement"]},"ProductAgreementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"AgreementSignedDate":{"$ref":"#/components/schemas/DateDTO"},"AgreementType":{"type":"string","enum":["CustomerAgreement","SupplierAgreement","BrokerAgreement","SalesAgreement","PurchaseAgreement","MaintenanceAgreement","ProductAgreement","ResourceAgreement","PartnerAgreement","MasterAgreement","BilateralAgreement","RepurchaseAgreement"]},"AgreementValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"AgreementVersion":{"type":"string"},"AgreementStatus":{"$ref":"#/components/schemas/AgreementStatusDTO"},"AgreementSubjectMatter":{"type":"string"},"AgreementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"AgreementDate":{"$ref":"#/components/schemas/DateTimeDTO"},"AgreementDescription":{"type":"string"}},"example":{"ProductAgreementType":"CurrentAccountAgreement","ProductAgreementIdentification":{"IdentifierValue":"QHT","IdentifierIssuerReference":{"PartyReference":"KICIHXIE","InvolvementReference":"ITINZJP"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.545225672Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.545263793Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"AgreementSignedDate":{"DateContent":"LRRRSS"},"AgreementType":"BrokerAgreement","AgreementValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.545321704Z","DateTimeType":"ReceivingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.545349635Z","DateTimeType":"ValueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"AgreementVersion":"QZFOVNNZDJ","AgreementStatus":{"AgreementStatus":{"StatusReason":"QROLYP","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.545401796Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.545438017Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.545464607Z","DateTimeType":"ExpiryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"SBX","InvolvementReference":"OBKIUSY"}},"AgreementStatusType":"Terminated"},"AgreementSubjectMatter":"VDVNC","AgreementIdentification":{"IdentifierValue":"EAVFV","IdentifierIssuerReference":{"PartyReference":"XJISZB","InvolvementReference":"OXPXYU"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.545546529Z","DateTimeType":"RequestedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.545577670Z","DateTimeType":"ExpiryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"AgreementDate":{"DateTimeContent":"2026-05-04T13:56:15.545613500Z","DateTimeType":"CloseDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"AgreementDescription":"DNALRL"}},"ProductFeatureTypeDTO":{"type":"object","properties":{"ProductFeatureTypeValues":{"type":"string","enum":["BankingService","AdministrationService","AccessService","PriceFeature"]}},"example":{"ProductFeatureTypeValues":"BankingService"}},"RateDTO":{"type":"object","properties":{"RateValue":{"type":"string"},"RateUnit":{"type":"string"},"RatePeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"RateCapitalUnit":{"type":"string"}},"example":{"RateValue":"KOAIXD","RateUnit":"PIWC","RatePeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.546762104Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.546799755Z","DateTimeType":"ValueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"RateCapitalUnit":"LCUHZR"}},"ScheduleDTO":{"type":"object","properties":{"ScheduleType":{"type":"string"}},"example":{"ScheduleType":"XIUWQT"}},"StatusDTO":{"type":"object","properties":{"StatusReason":{"type":"string"},"StatusDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"StatusValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"StatusInvolvedPartyReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"}},"example":{"StatusReason":"JLBHLTYY","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.548019931Z","DateTimeType":"InitiatedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.548062912Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.548091522Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"EZYQHKNVHA","InvolvementReference":"MXHKBUKPKB"}}},"SubjectDTO":{"type":"object","properties":{"Subject":{"type":"string"}},"example":{"Subject":"CYJREUMAG"}},"TransactionDateTimeDTO":{"type":"object","properties":{"TransactionDate":{"$ref":"#/components/schemas/DateTimeDTO"},"TransactionDateType":{"type":"string","enum":["ExecutedDate","FulfillmentDate","InitiatedDate","CancelledDate","ApprovedDate","ValueDate","BookingDate"]}},"example":{"TransactionDate":{"DateTimeContent":"2026-05-04T13:56:15.549155004Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TransactionDateType":"BookingDate"}},"TransactionStatusDTO":{"type":"object","properties":{"TransactionStatus":{"$ref":"#/components/schemas/StatusDTO"},"TransactionStatusType":{"type":"string","enum":["Initiated","Executed","Cancelled","Confirmed","Suspended","Pending","Completed","Notified","Booked","Rejected"]}},"example":{"TransactionStatus":{"StatusReason":"GGNUUDL","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.549822318Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.549878860Z","DateTimeType":"SendingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.549922730Z","DateTimeType":"EffectiveDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"TLGORGZOIB","InvolvementReference":"IZW"}},"TransactionStatusType":"Completed"}},"FinancialTransactionCaptureDTO":{"type":"object","properties":{"PostingDescription":{"type":"string"},"PostingTransaction":{"$ref":"#/components/schemas/TransactionDTO"},"PostingValueDate":{"$ref":"#/components/schemas/DateDTO"}},"example":{"PostingDescription":"LQAWEDQHU","PostingTransaction":{"TransactionIdentification":{"IdentifierValue":"SWDXGPWHYV","IdentifierIssuerReference":{"PartyReference":"OKAZOZF","InvolvementReference":"QVFDROT"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.551215227Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.551253928Z","DateTimeType":"FulfillmentDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"TransactionDate":{"TransactionDate":{"DateTimeContent":"2026-05-04T13:56:15.551320570Z","DateTimeType":"ExecutedDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"TransactionDateType":"FulfillmentDate"},"TransactionType":"AccountingTransaction","TransactionDescription":"TMYIDKJF","TransactionStatus":{"TransactionStatus":{"StatusReason":"WLVFYR","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.638442328Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.638952309Z","DateTimeType":"DeactivationDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.638984529Z","DateTimeType":"CreatingDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"PYBMPCGAUY","InvolvementReference":"OJWRTIRTVO"}},"TransactionStatusType":"Pending"},"TransactionName":{"Name":"DWBCWA"},"TransactionAmount":{"AmountValue":"6.67","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"BRSGKBSCC","AmountType":"Available"},"TransactionDebitCreditIndicator":"Debit","ActionType":"Pay","EventType":"DSUUQPMMN","EventDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639269205Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"EventDescription":"SVHY","EventSource":"JBZB","EventLocation":{"LocationDescription":"QGJVKHIH","LocationDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639385367Z","DateTimeType":"OpenDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"LocationStatus":{"StatusReason":"JXGMYTBIKN","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639431579Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639468079Z","DateTimeType":"ValueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639499700Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"AKOVXYYTVD","InvolvementReference":"MZVOK"}},"LocationType":"District","LocationZoningType":"MUEYCSNXM","LocationNeighborhoodType":"UTBOQPW","LocationConstructionType":"BVRMNPA","LocationOccupancyType":"WOGWX","LocationValue":"QAWXPTG","LocationCapacity":"IPZ","LocationIdentification":{"IdentifierValue":"DOVKQFIEC","IdentifierIssuerReference":{"PartyReference":"DBQADHN","InvolvementReference":"SXLLGOAJ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T13:56:15.639617562Z","DateTimeType":"EntryDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T13:56:15.639649053Z","DateTimeType":"DueDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"LocationAddress":"MMWR","LocationName":{"Name":"WQU"},"LocationTimeZone":"QUZA"},"EventAction":{"Action":"UQGKD"},"EventStatus":{"StatusReason":"CPEJUMPWA","StatusDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639775766Z","DateTimeType":"ValidFromDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639813596Z","DateTimeType":"ValidToDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"},"ToDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639842117Z","DateTimeType":"MaturityDate","DaylightSavingIndicator":"false","TimeZoneCode":"UTC"}},"StatusInvolvedPartyReference":{"PartyReference":"BNVPKJQDP","InvolvementReference":"PWYR"}},"EventValue":"CYLSPSKX","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T13:56:15.639939659Z","DateTimeType":"ActivationDate","Dayl
[...]
