{"openapi":"3.0.1","info":{"title":"Product Directory","description":"Maintains and exposes the catalog of financial products offered by the institution, following BIAN 'Product Directory' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/stub/product-directory/{productdirectoryid}/update":{"put":{"tags":["CR - ProductDirectoryEntry - stub"],"summary":"UpCR Update details of a product or service in the catalog","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDirectoryEntryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDirectoryEntryDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/servicing/{servicingid}/update":{"put":{"tags":["BQ - Servicing - stub"],"summary":"UpBQ Update details of a product or service servicing details in the catalog","operationId":"UpdateServicing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}},{"name":"servicingid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/sales-and-marketing/{salesandmarketingid}/update":{"put":{"tags":["BQ - SalesandMarketing - stub"],"summary":"UpBQ Update details of a product or service sales and marketing details in the catalog","operationId":"UpdateSalesandMarketing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}},{"name":"salesandmarketingid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesAndMarketingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesAndMarketingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/request":{"put":{"tags":["CR - ProductDirectoryEntry - stub"],"summary":"RqCR Request that an existing entry is updated or revised","operationId":"Request","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDirectoryEntryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDirectoryEntryDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/production/{productionid}/update":{"put":{"tags":["BQ - Production - stub"],"summary":"UpBQ Update details of a product or service production details in the catalog","operationId":"UpdateProduction","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}},{"name":"productionid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductionDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/operations/{operationsid}/update":{"put":{"tags":["BQ - Operations - stub"],"summary":"UpBQ Update details of a product or service operations details in the catalog","operationId":"UpdateOperations","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}},{"name":"operationsid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/product-directory-config/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/servicing/register":{"post":{"tags":["BQ - Servicing - stub"],"summary":"InBQ Register a new product or service servicing details in the catalog","operationId":"RegisterServicing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/sales-and-marketing/register":{"post":{"tags":["BQ - SalesandMarketing - stub"],"summary":"InBQ Register a new product or service sales and marketing details in the catalog","operationId":"RegisterSalesandMarketing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesAndMarketingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesAndMarketingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/production/register":{"post":{"tags":["BQ - Production - stub"],"summary":"InBQ Register a new product or service production details in the catalog","operationId":"RegisterProduction","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductionDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/operations/register":{"post":{"tags":["BQ - Operations - stub"],"summary":"InBQ Register a new product or service operations details in the catalog","operationId":"RegisterOperations","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/register":{"post":{"tags":["CR - ProductDirectoryEntry - stub"],"summary":"InCR Register a new product or service in the catalog","operationId":"Register","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDirectoryEntryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDirectoryEntryDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/servicing/{servicingid}/retrieve":{"get":{"tags":["BQ - Servicing - stub"],"summary":"ReBQ Retrieve product or service servicing details from the catalog","operationId":"RetrieveServicing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}},{"name":"servicingid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/sales-and-marketing/{salesandmarketingid}/retrieve":{"get":{"tags":["BQ - SalesandMarketing - stub"],"summary":"ReBQ Retrieve product or service sales and marketing details from the catalog","operationId":"RetrieveSalesandMarketing","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}},{"name":"salesandmarketingid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesAndMarketingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/retrieve":{"get":{"tags":["CR - ProductDirectoryEntry - stub"],"summary":"ReCR Retrieve product or service details from the catalog","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDirectoryEntryDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/production/{productionid}/retrieve":{"get":{"tags":["BQ - Production - stub"],"summary":"ReBQ Retrieve product or service production details from the catalog","operationId":"RetrieveProduction","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}},{"name":"productionid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductionDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/product-directory/{productdirectoryid}/operations/{operationsid}/retrieve":{"get":{"tags":["BQ - Operations - stub"],"summary":"ReBQ Retrieve product or service operations details from the catalog","operationId":"RetrieveOperations","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"productdirectoryid","in":"path","required":true,"schema":{"type":"string"}},{"name":"operationsid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationsDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/product-directory-config/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfigDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/product-directory-config/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"AssetClassificationTypeValuesDTO":{"type":"object","properties":{"Assetclassificationtypevalues":{"type":"string"}},"example":{"Assetclassificationtypevalues":"YZNQK"}},"DateDTO":{"type":"object","properties":{"DateContent":{"type":"string"}},"example":{"DateContent":"2026-05-04"}},"DateTimeDTO":{"type":"object","properties":{"TimeIndication":{"type":"string"},"TimeIndicationType":{"type":"string"}},"example":{"TimeIndication":"2026-05-04T13:49:10.877498059","TimeIndicationType":"2026-05-04T13:49:10.877537370"}},"DateTimePeriodDTO":{"type":"object","properties":{"FromDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ToDateTime":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:10.878239149","TimeIndicationType":"2026-05-04T13:49:10.878267530"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:10.878337412","TimeIndicationType":"2026-05-04T13:49:10.878364062"}}},"FinancialInstrumentDateTimeDTO":{"type":"object","properties":{"FinancialInstrumentDate":{"$ref":"#/components/schemas/DateTimeDTO"},"FinancialInstrumentDateType":{"type":"string","enum":["CouponDate","ExpiryDate","FloatingRateFixingDate","MaturityDate","IssueDate","NextCallableDate","PutableDate","DatedDate","FirstPaymentDate"]}},"example":{"FinancialInstrumentDate":{"TimeIndication":"2026-05-04T13:49:10.878993069","TimeIndicationType":"2026-05-04T13:49:10.879013860"},"FinancialInstrumentDateType":"DatedDate"}},"FinancialInstrumentIdentificationDTO":{"type":"object","properties":{"FinancialInstrumentIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"FinancialInstrumentIdentificationType":{"type":"string","enum":["Nasdaq","Isin"]}},"example":{"FinancialInstrumentIdentification":{"IdentifierValue":"aeb5480d-ee22-407f-a5ed-17d9ac3d44a4","IdentifierIssuerReference":{"PartyReference":"8e41fac2-d15d-4cca-b54e-c98de4fde940","InvolvementReference":"5a93ce3b-5773-4885-b659-e5af64187db8"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.879679888","TimeIndicationType":"2026-05-04T13:49:10.879695798"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.879711789","TimeIndicationType":"2026-05-04T13:49:10.879729009"}},"FinancialInstrumentIdentificationType":"Isin"}},"IdentifierDTO":{"type":"object","properties":{"IdentifierValue":{"type":"string"},"IdentifierIssuerReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"IdentifierStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"IdentifierEndDate":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"IdentifierValue":"4ddced44-685c-4b61-80d9-852803836aaa","IdentifierIssuerReference":{"PartyReference":"0317743c-79e0-4ca8-8304-d96ba79f53bf","InvolvementReference":"0f82c04a-de48-4081-89f0-d41ca71f90a8"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.880279794","TimeIndicationType":"2026-05-04T13:49:10.880295294"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.880311135","TimeIndicationType":"2026-05-04T13:49:10.880320935"}}},"InvolvedPartyDTO":{"type":"object","properties":{"PartyReference":{"type":"string"},"InvolvementReference":{"type":"string"}},"example":{"PartyReference":"1000a843-031b-41f9-9ae0-a45bde9981c5","InvolvementReference":"5a542f7d-f605-411a-a1ce-d3b764ff5b3a"}},"NameDTO":{"type":"object","properties":{"Name":{"type":"string"}},"example":{"Name":"EJUJZEHAW"}},"ProductDTO":{"type":"object","properties":{"ProductIdentification":{"$ref":"#/components/schemas/ProductIdentificationDTO"},"ProductType":{"type":"string","enum":["LoanProduct","CurrentAccountProduct","SavingAccountProduct","BrokeredProduct","TermDepositProduct"]},"ProductLifecycleStatus":{"$ref":"#/components/schemas/ProductStatusDTO"},"ProductPriority":{"type":"string"},"ProductDescription":{"type":"string"},"ProductVersion":{"type":"string"},"ProductName":{"$ref":"#/components/schemas/NameDTO"},"FinancialInstrumentType":{"type":"string","enum":["Loan","Bond","Deposit","Stock","Option","Share","Debt","LetterOfCredit","Security","Derivative"]},"FinancialInstrumentIdentification":{"$ref":"#/components/schemas/FinancialInstrumentIdentificationDTO"},"FinancialInstrumentName":{"$ref":"#/components/schemas/NameDTO"},"FinancialInstrumentDate":{"$ref":"#/components/schemas/FinancialInstrumentDateTimeDTO"},"AssetTitle":{"type":"string"},"AssetIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"AssetType":{"type":"string","enum":["TangibleAsset","IntangibleAsset","OperatingAsset","NonOperatingAsset","CurrentAsset","NonCurrentFixedAsset","PersonalAsset","BusinessAsset"]},"AssetDescription":{"type":"string"},"AssetStatus":{"$ref":"#/components/schemas/StatusDTO"},"AssetDate":{"$ref":"#/components/schemas/DateTimeDTO"},"AssetClassification":{"type":"string"},"AssetClassificationType":{"$ref":"#/components/schemas/AssetClassificationTypeValuesDTO"},"AssetSubClassificationType":{"type":"string","enum":["SubAssetClass","TimeToMaturityBucket","OptionTimeToMaturityBucket","SwapTimeToMaturityBucket","UnderlyingInstrumentIdentification","UnderlyingBondIssuer","UnderlyingInterestRate","UnderlyingBondTerm","AssetClass","UnderlyingIndexIdentification","InterestRateTermOfContract","UnderlyingReferenceEntity","SovereignAndPublicTypeIssuer","IrdNotionalCurrency1","FexNotionalCurrency1","CfdNotionalCurrency1","FexNotionalCurrency2","IrdNotionalCurrency2","CfdNotionalCurrency2","SwaptionNotionalCurrency","CreditNotionalCurrency","CommodityNotionalCurrency","ContractType","BaseProduct","SubProduct","FurtherSubProduct","DeliveryCashLocation","DeliverySettlementType","SizeSpecificationRelatedToFreightSubtype","SpecificRouteTimeCharterAverage","EquityUnderlyingType","Parameter","InflationIndexCodeName","Isin","UnderlyingIndexCdsSubclassIdentification","UnderlyingType"]},"AssetSubClassification":{"type":"string"}},"example":{"ProductIdentification":{"ProductIdentification":{"IdentifierValue":"13dd5863-e111-4380-be05-28dead45d29e","IdentifierIssuerReference":{"PartyReference":"f21951da-bfd7-4fa5-b0d1-56d39ae3757c","InvolvementReference":"332e34a6-ad58-46de-a412-5997217a67e0"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.881768124","TimeIndicationType":"2026-05-04T13:49:10.881783774"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.881800645","TimeIndicationType":"2026-05-04T13:49:10.881811205"}},"ProductIdentificationType":"PartNumber"},"ProductType":"TermDepositProduct","ProductLifecycleStatus":{"ProductStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:10.881862206","TimeIndicationType":"2026-05-04T13:49:10.881873797"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:10.881890347","TimeIndicationType":"2026-05-04T13:49:10.881899507"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:10.881912708","TimeIndicationType":"2026-05-04T13:49:10.881921858"}},"StatusInvolvedPartyReference":{"PartyReference":"3180f946-ba1b-4538-a4f6-4938a63e63c0","InvolvementReference":"b625f202-6a20-486f-b803-4be06f5a6134"}},"ProductStatusType":"Initiated"},"ProductPriority":"MLDJBP","ProductDescription":"ANBXRYM","ProductVersion":"OLEQSAXFX","ProductName":{"Name":"AMM"},"FinancialInstrumentType":"Debt","FinancialInstrumentIdentification":{"FinancialInstrumentIdentification":{"IdentifierValue":"b0df81bd-d0b5-4518-8f05-4bb4f9d215c2","IdentifierIssuerReference":{"PartyReference":"cd09365a-3767-4dcb-bc46-966e399ba376","InvolvementReference":"5381e8d5-d1b1-4e6e-9dc8-4001c522d23f"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.972317458","TimeIndicationType":"2026-05-04T13:49:10.972349999"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.972387570","TimeIndicationType":"2026-05-04T13:49:10.972409010"}},"FinancialInstrumentIdentificationType":"Nasdaq"},"FinancialInstrumentName":{"Name":"COYRNIOWKJ"},"FinancialInstrumentDate":{"FinancialInstrumentDate":{"TimeIndication":"2026-05-04T13:49:10.972503293","TimeIndicationType":"2026-05-04T13:49:10.972526024"},"FinancialInstrumentDateType":"MaturityDate"},"AssetTitle":"LZDYDVUG","AssetIdentification":{"IdentifierValue":"182add3c-d375-43a4-9a0c-3287462932c5","IdentifierIssuerReference":{"PartyReference":"60ba2658-110e-40db-be35-4da0b96c2f77","InvolvementReference":"ff20eeaa-0074-4bfc-84c8-4d3a3e08c7b7"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.972687098","TimeIndicationType":"2026-05-04T13:49:10.972710029"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.972739159","TimeIndicationType":"2026-05-04T13:49:10.972758380"}},"AssetType":"TangibleAsset","AssetDescription":"WOQ","AssetStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:10.972834872","TimeIndicationType":"2026-05-04T13:49:10.972856983"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:10.972891003","TimeIndicationType":"2026-05-04T13:49:10.972910284"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:10.972937755","TimeIndicationType":"2026-05-04T13:49:10.972955205"}},"StatusInvolvedPartyReference":{"PartyReference":"188bcb71-27ca-4c59-8ea0-ee756cfc5c59","InvolvementReference":"d1507e10-e7b3-4e0f-ba14-fba72af2b714"}},"AssetDate":{"TimeIndication":"2026-05-04T13:49:10.973038367","TimeIndicationType":"2026-05-04T13:49:10.973059438"},"AssetClassification":"OEMWBMWUH","AssetClassificationType":{"Assetclassificationtypevalues":"LCBW"},"AssetSubClassificationType":"UnderlyingBondIssuer","AssetSubClassification":"WYCHVOIM"}},"ProductDirectoryEntryDTO":{"type":"object","properties":{"ProductReference":{"$ref":"#/components/schemas/ProductDTO"},"ProductVersion":{"type":"string"},"DirectoryEntryDateType":{"type":"string","enum":["OpenDate","RefreshDate"]},"DirectoryEntryDate":{"$ref":"#/components/schemas/DateDTO"},"DirectoryEntryStatus":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"ProductReference":{"ProductIdentification":{"ProductIdentification":{"IdentifierValue":"9be589c1-cc3d-47d4-9b1a-37890f742a28","IdentifierIssuerReference":{"PartyReference":"f7ba7e58-5b61-40f4-9f4c-38dc5275ee8d","InvolvementReference":"71c8ba88-85c0-4dde-ab2d-2d9cfe45f253"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.974310552","TimeIndicationType":"2026-05-04T13:49:10.974334212"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.974359293","TimeIndicationType":"2026-05-04T13:49:10.974374543"}},"ProductIdentificationType":"Ean"},"ProductType":"LoanProduct","ProductLifecycleStatus":{"ProductStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:10.974441265","TimeIndicationType":"2026-05-04T13:49:10.974457536"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:10.974484416","TimeIndicationType":"2026-05-04T13:49:10.974500077"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:10.974519507","TimeIndicationType":"2026-05-04T13:49:10.974533028"}},"StatusInvolvedPartyReference":{"PartyReference":"9e5e5595-9956-40af-bdd0-a708eeaa19c6","InvolvementReference":"b1c7f363-6b8b-42b4-acc3-035b90bf1998"}},"ProductStatusType":"Obsolete"},"ProductPriority":"YCFJYN","ProductDescription":"INKIYMCX","ProductVersion":"OFDX","ProductName":{"Name":"QVYCIUHJW"},"FinancialInstrumentType":"Loan","FinancialInstrumentIdentification":{"FinancialInstrumentIdentification":{"IdentifierValue":"f30cb3db-dbe5-40cf-a5b8-9c8560834aaf","IdentifierIssuerReference":{"PartyReference":"2f62f9ce-4cab-44ca-ac0f-67aa709f3ab5","InvolvementReference":"2913d23e-f9f9-4d45-8ad3-8b39f006f479"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.974802925","TimeIndicationType":"2026-05-04T13:49:10.974824286"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.974851986","TimeIndicationType":"2026-05-04T13:49:10.974868357"}},"FinancialInstrumentIdentificationType":"Isin"},"FinancialInstrumentName":{"Name":"UZU"},"FinancialInstrumentDate":{"FinancialInstrumentDate":{"TimeIndication":"2026-05-04T13:49:10.974932518","TimeIndicationType":"2026-05-04T13:49:10.974950009"},"FinancialInstrumentDateType":"PutableDate"},"AssetTitle":"ZXUTW","AssetIdentification":{"IdentifierValue":"c8885cc0-9114-4fde-9354-8004940532f8","IdentifierIssuerReference":{"PartyReference":"f0d5c2d7-ecd1-45f2-a634-c43eeb0561be","InvolvementReference":"48c094ff-cfa6-4eda-b63b-bedc85a74481"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.975088733","TimeIndicationType":"2026-05-04T13:49:10.975109423"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.975131194","TimeIndicationType":"2026-05-04T13:49:10.975145344"}},"AssetType":"OperatingAsset","AssetDescription":"LSQFFH","AssetStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:10.975207916","TimeIndicationType":"2026-05-04T13:49:10.975226896"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:10.975257117","TimeIndicationType":"2026-05-04T13:49:10.975275167"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:10.975299628","TimeIndicationType":"2026-05-04T13:49:10.975315679"}},"StatusInvolvedPartyReference":{"PartyReference":"f1953503-371d-40ae-a2ef-7c667c475762","InvolvementReference":"b2e5e26a-7c4d-4372-907f-df03cbcc78c9"}},"AssetDate":{"TimeIndication":"2026-05-04T13:49:10.975391111","TimeIndicationType":"2026-05-04T13:49:10.975410761"},"AssetClassification":"KEDU","AssetClassificationType":{"Assetclassificationtypevalues":"SPNB"},"AssetSubClassificationType":"InflationIndexCodeName","AssetSubClassification":"VBDGQGZ"},"ProductVersion":"TBRU","DirectoryEntryDateType":"RefreshDate","DirectoryEntryDate":{"DateContent":"2026-05-04"},"DirectoryEntryStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:10.975569975","TimeIndicationType":"2026-05-04T13:49:10.975588186"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:10.975618157","TimeIndicationType":"2026-05-04T13:49:10.975634037"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:10.975654528","TimeIndicationType":"2026-05-04T13:49:10.975668158"}},"StatusInvolvedPartyReference":{"PartyReference":"46259cf9-4d1b-4df3-8e83-3b227da86404","InvolvementReference":"eb2e72bd-2768-4d33-941a-fa02ba99babd"}}}},"ProductIdentificationDTO":{"type":"object","properties":{"ProductIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"ProductIdentificationType":{"type":"string","enum":["IsinCode","PackageCode","BuyersItemNumber","CommercialDescriptionCodeName","Ean","HarmonizedTariffCodeName","ManufacturersItemNumber","ModelNumber","PartNumber","QuotaCategory","StyleNumber","SuppliersItemNumber","UniversalProductCode"]}},"example":{"ProductIdentification":{"IdentifierValue":"4e247b16-1c2f-4790-a331-d1bb87e8e749","IdentifierIssuerReference":{"PartyReference":"cafc6383-e29c-44ef-b008-a49bae98fa59","InvolvementReference":"b561485b-a448-48a8-96fb-f4175ecc2e1a"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:10.976517361","TimeIndicationType":"2026-05-04T13:49:10.977279332"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:10.979633605","TimeIndicationType":"2026-05-04T13:49:10.979657925"}},"ProductIdentificationType":"BuyersItemNumber"}},"ProductStatusDTO":{"type":"object","properties":{"ProductStatus":{"$ref":"#/components/schemas/StatusDTO"},"ProductStatusType":{"type":"string","enum":["Initiated","Announced","Sold","Obsolete","Active"]}},"example":{"ProductStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:10.983254912","TimeIndicationType":"2026-05-04T13:49:10.983280223"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:10.983315274","TimeIndicationType":"2026-05-04T13:49:10.983334494"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:10.983360935","TimeIndicationType":"2026-05-04T13:49:10.983379516"}},"StatusInvolvedPartyReference":{"PartyReference":"cc28f639-2624-48c0-9687-e49c3717f00a","InvolvementReference":"58ff1102-b705-4f3c-870b-b8b125a9e0d1"}},"ProductStatusType":"Initiated"}},"StatusDTO":{"type":"object","properties":{"StatusReason":{"type":"string"},"StatusDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"StatusValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"StatusInvolvedPartyReference":{"$ref":"#/components/schemas/InvolvedPartyDTO"}},"example":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:10.984183257","TimeIndicationType":"2026-05-04T13:49:10.984208478"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:10.984242449","TimeIndicationType":"2026-05-04T13:49:10.984261139"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:10.984288860","TimeIndicationType":"2026-05-04T13:49:10.984307021"}},"StatusInvolvedPartyReference":{"PartyReference":"317a10ce-2e7d-4a25-9da3-9360a0d54192","InvolvementReference":"05246b70-6f28-4646-ae30-a033d7ade2c3"}}},"CaseDTO":{"type":"object","properties":{"CaseCreationDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"CaseType":{"type":"string","enum":["Card","Loan","Fraud","Payment","Market","Security","Other"]},"CaseLocation":{"$ref":"#/components/schemas/LocationDTO"},"CaseStatus":{"type":"string","enum":["Closed","Assigned","UnderInvestigation","Unknown","Overdue"]},"CaseDocument":{"$ref":"#/components/schemas/DocumentDTO"},"CaseDateTime":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"CaseCreationDateTime":{"TimeIndication":"2026-05-04T13:49:11.066924222","TimeIndicationType":"2026-05-04T13:49:11.067172768"},"CaseType":"Card","CaseLocation":{"LocationDescription":"ADG","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.067299761","TimeIndicationType":"2026-05-04T13:49:11.067319272"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.067355783","TimeIndicationType":"2026-05-04T13:49:11.067385494"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.067416445","TimeIndicationType":"2026-05-04T13:49:11.067432535"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.067456396","TimeIndicationType":"2026-05-04T13:49:11.067471536"}},"StatusInvolvedPartyReference":{"PartyReference":"09b65f46-28c4-4c2c-bdfb-d74bbb0d916b","InvolvementReference":"9512eaf6-ced4-4188-92c6-575d7f31696d"}},"LocationType":"Country","LocationZoningType":"PIF","LocationNeighborhoodType":"YPM","LocationConstructionType":"TLSQT","LocationOccupancyType":"CVOXGMOLI","LocationValue":"XKCSMB","LocationCapacity":"UREZWUT","LocationIdentification":{"IdentifierValue":"c071faab-e03a-458a-993d-4615797d0498","IdentifierIssuerReference":{"PartyReference":"2d28f263-1a9c-46ad-8204-58390714ae91","InvolvementReference":"9c0a6033-8855-4a62-91c0-a1ba18a963d2"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.067736513","TimeIndicationType":"2026-05-04T13:49:11.067757084"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.067782714","TimeIndicationType":"2026-05-04T13:49:11.067800745"}},"LocationAddress":"MURIEJLDP","LocationName":{"Name":"TRB"},"LocationTimeZone":"UTC"},"CaseStatus":"Overdue","CaseDocument":{"DocumentIdentification":{"IdentifierValue":"8fe83ec4-ce0a-4313-ab68-1e6436f63a26","IdentifierIssuerReference":{"PartyReference":"11d8c2fc-c563-4b2d-a6d9-d2cd2da4dc7c","InvolvementReference":"7bf528fb-1569-4546-89a3-7bdecf486d11"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.067970970","TimeIndicationType":"2026-05-04T13:49:11.067991900"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.068019551","TimeIndicationType":"2026-05-04T13:49:11.068038221"}},"DocumentVersion":"SWZ","DocumentType":"CommercialContract","DocumentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.068105693","TimeIndicationType":"2026-05-04T13:49:11.068124754"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.068153675","TimeIndicationType":"2026-05-04T13:49:11.068168665"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.068694939","TimeIndicationType":"2026-05-04T13:49:11.069167862"}},"StatusInvolvedPartyReference":{"PartyReference":"3032eafc-fa22-40e4-ab7d-1ac9f97df374","InvolvementReference":"936ede9b-88da-44ef-b1ca-7addfdba1a3a"}},"DocumentDateTime":{"TimeIndication":"2026-05-04T13:49:11.069264324","TimeIndicationType":"2026-05-04T13:49:11.069859380"},"DocumentName":{"Name":"AKZGBCBYF"},"DocumentDateTimeType":"IssueDate","DocumentPurpose":"QGC","DocumentFormat":"WZSPYQMXD","DocumentSubject":"WXHDXNOQDM","DocumentDescription":"EEMBSCZ","DocumentValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.070246131","TimeIndicationType":"2026-05-04T13:49:11.070641341"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.070687852","TimeIndicationType":"2026-05-04T13:49:11.070702293"}}},"CaseDateTime":{"TimeIndication":"2026-05-04T13:49:11.070725493","TimeIndicationType":"2026-05-04T13:49:11.070745474"}}},"CaseResolutionDTO":{"type":"object","properties":{"ResolutionSchedule":{"$ref":"#/components/schemas/ScheduleDTO"},"ResolutionType":{"type":"string"},"Description":{"type":"string"}},"example":{"ResolutionSchedule":{"ScheduleType":"BPLU"},"ResolutionType":"IUQCUYCH","Description":"PNTFZ"}},"DocumentDTO":{"type":"object","properties":{"DocumentIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"DocumentVersion":{"type":"string"},"DocumentType":{"type":"string","enum":["MeteredServiceInvoice","CreditNoteRelatedToFinancialAdjustment","DebitNoteRelatedToFinancialAdjustment","CommercialInvoice","CreditNote","DebitNote","HireInvoice","SelfBilledInvoice","RemittanceAdviceMessage","RelatedPaymentInstruction","CommercialContract","ForeignExchangeDealReference","StatementOfAccount","DispatchAdvice","PurchaseOrder","StructuredCommunicationReference","BillOfLading","Voucher","AccountReceivableOpenItem","TradeServicesUtilityTransaction","CashierReceipt","CustomerReceipt","Journal","SaleReceipt"]},"DocumentStatus":{"$ref":"#/components/schemas/StatusDTO"},"DocumentDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"DocumentName":{"$ref":"#/components/schemas/NameDTO"},"DocumentDateTimeType":{"type":"string","enum":["CreationDate","CapturingDate","VersionDate","ValueDate","IssueDate"]},"DocumentPurpose":{"type":"string"},"DocumentFormat":{"type":"string"},"DocumentSubject":{"type":"string"},"DocumentDescription":{"type":"string"},"DocumentValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"}},"example":{"DocumentIdentification":{"IdentifierValue":"dda5628a-09dc-43b9-9e83-21405ee831e6","IdentifierIssuerReference":{"PartyReference":"05297d9b-5de1-4c6b-bc21-6701ce9a4ac5","InvolvementReference":"09b53af6-8e28-4e08-9778-4549a5454de4"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.074829264","TimeIndicationType":"2026-05-04T13:49:11.074850384"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.074877345","TimeIndicationType":"2026-05-04T13:49:11.074892745"}},"DocumentVersion":"FNKYY","DocumentType":"DispatchAdvice","DocumentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.074971568","TimeIndicationType":"2026-05-04T13:49:11.074987638"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.075015669","TimeIndicationType":"2026-05-04T13:49:11.075031069"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.075058500","TimeIndicationType":"2026-05-04T13:49:11.075080050"}},"StatusInvolvedPartyReference":{"PartyReference":"9f2b6b28-11b2-4e08-97b6-8bc7ae600c57","InvolvementReference":"d502a577-b78c-42f4-a435-6d501f09fb0f"}},"DocumentDateTime":{"TimeIndication":"2026-05-04T13:49:11.075160493","TimeIndicationType":"2026-05-04T13:49:11.075176123"},"DocumentName":{"Name":"WJIFAV"},"DocumentDateTimeType":"CapturingDate","DocumentPurpose":"AXSYICUG","DocumentFormat":"VLHSXCT","DocumentSubject":"YXF","DocumentDescription":"VQLJRQQ","DocumentValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.075295746","TimeIndicationType":"2026-05-04T13:49:11.075311707"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.075331377","TimeIndicationType":"2026-05-04T13:49:11.075344558"}}}},"LocationDTO":{"type":"object","properties":{"LocationDescription":{"type":"string"},"LocationDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"LocationStatus":{"$ref":"#/components/schemas/StatusDTO"},"LocationType":{"type":"string","enum":["Continent","Country","State","District","Province","Town","City","Region"]},"LocationZoningType":{"type":"string"},"LocationNeighborhoodType":{"type":"string"},"LocationConstructionType":{"type":"string"},"LocationOccupancyType":{"type":"string"},"LocationValue":{"type":"string"},"LocationCapacity":{"type":"string"},"LocationIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"LocationAddress":{"type":"string"},"LocationName":{"$ref":"#/components/schemas/NameDTO"},"LocationTimeZone":{"type":"string"}},"example":{"LocationDescription":"WVFOAHYS","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.076151149","TimeIndicationType":"2026-05-04T13:49:11.076172170"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.076248172","TimeIndicationType":"2026-05-04T13:49:11.076267602"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.076295433","TimeIndicationType":"2026-05-04T13:49:11.076309294"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.076334344","TimeIndicationType":"2026-05-04T13:49:11.076348335"}},"StatusInvolvedPartyReference":{"PartyReference":"89130230-026f-467e-85ac-909c83d4dca5","InvolvementReference":"300119f3-671f-458f-93a1-b904e8932b98"}},"LocationType":"State","LocationZoningType":"UWBSWVGIE","LocationNeighborhoodType":"ICEXRCB","LocationConstructionType":"GXQYR","LocationOccupancyType":"VKULBFOUHM","LocationValue":"KAFTEH","LocationCapacity":"MNVZ","LocationIdentification":{"IdentifierValue":"c83d0d64-b7f7-4fdb-b398-42b95968bf4a","IdentifierIssuerReference":{"PartyReference":"e7d8197a-326c-4092-b26b-9971dd9d915e","InvolvementReference":"d073ec14-1104-4397-9bd8-028edc2e84b1"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.076615472","TimeIndicationType":"2026-05-04T13:49:11.076635792"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.076657033","TimeIndicationType":"2026-05-04T13:49:11.076675753"}},"LocationAddress":"TSNDM","LocationName":{"Name":"WUXQGUZ"},"LocationTimeZone":"UTC"}},"ProductFeatureDTO":{"type":"object","properties":{"ProductFeatureType":{"type":"string","enum":["BankingService","AdministrationService","AccessService","PriceFeature"]},"ProductFeatureSpecification":{"type":"string"},"ProductFeatureIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"ProductFeatureName":{"$ref":"#/components/schemas/NameDTO"},"ProductFeatureLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"ProductFeatureType":"PriceFeature","ProductFeatureSpecification":"PBFUH","ProductFeatureIdentification":{"IdentifierValue":"6b127219-b9a8-4b7a-9e95-8c105bb4e6e8","IdentifierIssuerReference":{"PartyReference":"109a3a78-97b3-4452-9905-316abffd52c2","InvolvementReference":"cfcd4f1b-2854-4436-908b-777b1a40f768"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.077528296","TimeIndicationType":"2026-05-04T13:49:11.077546457"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.077566537","TimeIndicationType":"2026-05-04T13:49:11.077579268"}},"ProductFeatureName":{"Name":"MOSH"},"ProductFeatureLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.077626139","TimeIndicationType":"2026-05-04T13:49:11.077639819"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.077662590","TimeIndicationType":"2026-05-04T13:49:11.077675320"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.077692991","TimeIndicationType":"2026-05-04T13:49:11.077705991"}},"StatusInvolvedPartyReference":{"PartyReference":"9a40b816-0d1c-47e1-bc4a-079c5f3c79e6","InvolvementReference":"336c86fb-36f0-4175-83e3-ac9da815cc9e"}}}},"RuleSetDTO":{"type":"object","properties":{"RuleSetDefinition":{"type":"string"},"RuleSetInterpretation":{"type":"string"},"RuleSetType":{"type":"string","enum":["Policy","Regulation","Law","Guideline","Criterion","Standard"]},"RuleSetName":{"$ref":"#/components/schemas/NameDTO"},"RuleSetIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"RuleSetLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"}},"example":{"RuleSetDefinition":"BRBQVGZM","RuleSetInterpretation":"FOYLR","RuleSetType":"Regulation","RuleSetName":{"Name":"VMHK"},"RuleSetIdentification":{"IdentifierValue":"00e1028b-a384-4e47-9d2c-a48d4184a1dd","IdentifierIssuerReference":{"PartyReference":"22b2c0d1-4851-4b7d-8e15-93942135e182","InvolvementReference":"ff238070-73b1-493b-81ba-35334b55b8b3"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.078649406","TimeIndicationType":"2026-05-04T13:49:11.078667887"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.078688867","TimeIndicationType":"2026-05-04T13:49:11.078702668"}},"RuleSetLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.078731589","TimeIndicationType":"2026-05-04T13:49:11.078744999"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.078769090","TimeIndicationType":"2026-05-04T13:49:11.078782070"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.078800281","TimeIndicationType":"2026-05-04T13:49:11.078813231"}},"StatusInvolvedPartyReference":{"PartyReference":"5ee0a2d8-bd4e-49a3-adb7-1d97c5f079b6","InvolvementReference":"1932d540-4b58-4a74-83ab-594fe8c985e6"}}}},"ScheduleDTO":{"type":"object","properties":{"ScheduleType":{"type":"string"}},"example":{"ScheduleType":"SQMBWBRDFO"}},"ServicingDTO":{"type":"object","properties":{"ProductandServiceFeature":{"$ref":"#/components/schemas/ProductFeatureDTO"},"ProductandServiceFeatureGuideline":{"$ref":"#/components/schemas/RuleSetDTO"},"ProductandServiceFeatureProblemDiagnosis":{"$ref":"#/components/schemas/CaseDTO"},"ProductandServiceFeatureProblemResolution":{"$ref":"#/components/schemas/CaseResolutionDTO"}},"example":{"ProductandServiceFeature":{"ProductFeatureType":"PriceFeature","ProductFeatureSpecification":"GSNQBQJBT","ProductFeatureIdentification":{"IdentifierValue":"dcf7632c-87d4-4adf-aa3f-3fa75674b54c","IdentifierIssuerReference":{"PartyReference":"db68ffc9-3ea6-480b-b235-884ab675bf22","InvolvementReference":"df390d7a-597e-4fdb-abee-6cb5ba397840"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.080638490","TimeIndicationType":"2026-05-04T13:49:11.080656410"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.080676941","TimeIndicationType":"2026-05-04T13:49:11.080690091"}},"ProductFeatureName":{"Name":"IDYK"},"ProductFeatureLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.080736813","TimeIndicationType":"2026-05-04T13:49:11.080750583"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.080774823","TimeIndicationType":"2026-05-04T13:49:11.080787874"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.080806554","TimeIndicationType":"2026-05-04T13:49:11.080818915"}},"StatusInvolvedPartyReference":{"PartyReference":"624ad4ea-ecd5-428d-8e15-3a626c5cb13c","InvolvementReference":"312b86ec-481c-4f9b-b6a3-a61a095dea15"}}},"ProductandServiceFeatureGuideline":{"RuleSetDefinition":"IDG","RuleSetInterpretation":"VLVXEV","RuleSetType":"Regulation","RuleSetName":{"Name":"NBXUNRNCML"},"RuleSetIdentification":{"IdentifierValue":"5489b726-6539-4cff-8f5e-82ccfef243f4","IdentifierIssuerReference":{"PartyReference":"4839a590-804c-48cd-8f2f-92e472b68bed","InvolvementReference":"a8637c6b-fbe7-448d-8751-ed90c480e7dd"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.081050621","TimeIndicationType":"2026-05-04T13:49:11.081067791"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.081088182","TimeIndicationType":"2026-05-04T13:49:11.081101952"}},"RuleSetLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.081133473","TimeIndicationType":"2026-05-04T13:49:11.081147173"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.081173494","TimeIndicationType":"2026-05-04T13:49:11.081187945"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.081209275","TimeIndicationType":"2026-05-04T13:49:11.081228806"}},"StatusInvolvedPartyReference":{"PartyReference":"e0e8839c-dab6-4718-b184-7f76f5583aee","InvolvementReference":"c6fbdd64-1c87-4747-b2fa-93c42b1000a8"}}},"ProductandServiceFeatureProblemDiagnosis":{"CaseCreationDateTime":{"TimeIndication":"2026-05-04T13:49:11.081312118","TimeIndicationType":"2026-05-04T13:49:11.081327168"},"CaseType":"Payment","CaseLocation":{"LocationDescription":"ZADXWOPA","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.081387470","TimeIndicationType":"2026-05-04T13:49:11.081402450"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.081432651","TimeIndicationType":"2026-05-04T13:49:11.081445412"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.081471022","TimeIndicationType":"2026-05-04T13:49:11.081483913"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.081501903","TimeIndicationType":"2026-05-04T13:49:11.081513893"}},"StatusInvolvedPartyReference":{"PartyReference":"d8a253d6-0421-4cee-8217-5b2e0aeaea45","InvolvementReference":"443d042b-1143-48bf-a003-77ad4e0e9754"}},"LocationType":"Continent","LocationZoningType":"WBLW","LocationNeighborhoodType":"ATXIHOMOX","LocationConstructionType":"KLDXDXBBV","LocationOccupancyType":"UJAEKKJLYF","LocationValue":"PUA","LocationCapacity":"FXBCKFXUBB","LocationIdentification":{"IdentifierValue":"71c6831f-c013-4c0a-9267-d80daebace28","IdentifierIssuerReference":{"PartyReference":"4beb3fc6-aa0b-4a58-9672-71cf2eaf2199","InvolvementReference":"aaa4d823-1adc-493b-871b-ba683a669a46"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.081739969","TimeIndicationType":"2026-05-04T13:49:11.081755280"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.081773780","TimeIndicationType":"2026-05-04T13:49:11.081785771"}},"LocationAddress":"AUYDQWIT","LocationName":{"Name":"MXFQY"},"LocationTimeZone":"UTC"},"CaseStatus":"Unknown","CaseDocument":{"DocumentIdentification":{"IdentifierValue":"0a5b70bc-62d0-4168-a8a0-14a3f488a8d1","IdentifierIssuerReference":{"PartyReference":"cca88940-5394-4fdb-861a-35ec7adbc62f","InvolvementReference":"942cab08-cc76-4c38-b3a5-69c807aaa7d9"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.081930034","TimeIndicationType":"2026-05-04T13:49:11.081944885"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.081964115","TimeIndicationType":"2026-05-04T13:49:11.081977636"}},"DocumentVersion":"HGCNRWL","DocumentType":"MeteredServiceInvoice","DocumentStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.169654243","TimeIndicationType":"2026-05-04T13:49:11.169793217"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.169861969","TimeIndicationType":"2026-05-04T13:49:11.169881779"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.169907910","TimeIndicationType":"2026-05-04T13:49:11.169923920"}},"StatusInvolvedPartyReference":{"PartyReference":"6a154926-3057-4eb5-9e8f-91354b333255","InvolvementReference":"65be77c4-e1fe-4719-bbb3-4f65d5c9cf12"}},"DocumentDateTime":{"TimeIndication":"2026-05-04T13:49:11.170019393","TimeIndicationType":"2026-05-04T13:49:11.170033473"},"DocumentName":{"Name":"ICXLCEK"},"DocumentDateTimeType":"IssueDate","DocumentPurpose":"ADDC","DocumentFormat":"ZNWPNUJJ","DocumentSubject":"ENMFHHTZHT","DocumentDescription":"NFL","DocumentValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.170171367","TimeIndicationType":"2026-05-04T13:49:11.170191007"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.170215188","TimeIndicationType":"2026-05-04T13:49:11.170229488"}}},"CaseDateTime":{"TimeIndication":"2026-05-04T13:49:11.170252609","TimeIndicationType":"2026-05-04T13:49:11.170266109"}},"ProductandServiceFeatureProblemResolution":{"ResolutionSchedule":{"ScheduleType":"PGBE"},"ResolutionType":"WQRJBGXH","Description":"MSPIOBGDLV"}}},"CustomerProductEligibilityProfileClassDTO":{"type":"object","properties":{"Type":{"type":"object"},"Description":{"type":"object"}},"example":{"Type":{"value":"DEFAULT"},"Description":{"value":"DEFAULT"}}},"ProductFeatureModalityDTO":{"type":"object","properties":{"ProductFeatureModalityType":{"type":"string","enum":["AllocationModality","CalculationModality","DerivationModality","PaymentModality","ProcessingModality","ApplicationModality","DeliveryModality"]}},"example":{"ProductFeatureModalityType":"AllocationModality"}},"ProductRequirementDTO":{"type":"object","properties":{"ProductRequirementType":{"type":"string","enum":["FunctionalRequirement","TechnicalRequirement","OperationalRequirement","LegalRequirement","TestingRequirement","SalesAndMarketingRequirement","ServicingRequirement","ProductionRequirement","SuitabilityRequirement","EligibilityRequirement","ProcessingRequirement"]},"ProductRequirementSpecification":{"type":"string"}},"example":{"ProductRequirementType":"EligibilityRequirement","ProductRequirementSpecification":"THNWKLOTL"}},"SalesAndMarketingDTO":{"type":"object","properties":{"ProductandServiceSalesMaterial":{"type":"string"},"ProductandServicesFeaturesAndOptions":{"$ref":"#/components/schemas/ProductFeatureDTO"},"ProductandServicePricingTable":{"$ref":"#/components/schemas/ProductFeatureModalityDTO"},"ProductandServiceFeesPenaltiesTable":{"$ref":"#/components/schemas/ProductFeatureModalityDTO"},"ProductSuitabilityGuide":{"$ref":"#/components/schemas/RuleSetDTO"},"ProductandServiceEligibilityType":{"$ref":"#/components/schemas/CustomerProductEligibilityProfileClassDTO"},"ProductandServiceEligibilityDescription":{"type":"string"},"ProductandServiceOfferProcessingRequirements":{"$ref":"#/components/schemas/ProductRequirementDTO"}},"example":{"ProductandServiceSalesMaterial":"DUEGZ","ProductandServicesFeaturesAndOptions":{"ProductFeatureType":"AccessService","ProductFeatureSpecification":"BIMXRATKQ","ProductFeatureIdentification":{"IdentifierValue":"824ac542-28fb-4375-a4be-e871b8cb4bce","IdentifierIssuerReference":{"PartyReference":"b755e7c9-3752-4d93-8971-8e0c8ce3e716","InvolvementReference":"09118cfa-3b87-477e-86ba-d3aa29e674f1"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.174709409","TimeIndicationType":"2026-05-04T13:49:11.174729249"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.174756360","TimeIndicationType":"2026-05-04T13:49:11.174774530"}},"ProductFeatureName":{"Name":"WSDWLHTMG"},"ProductFeatureLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.174834462","TimeIndicationType":"2026-05-04T13:49:11.174853233"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.174886524","TimeIndicationType":"2026-05-04T13:49:11.174904754"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.174929925","TimeIndicationType":"2026-05-04T13:49:11.174946705"}},"StatusInvolvedPartyReference":{"PartyReference":"bf1b5d8b-8171-45b8-a573-ac76b14d6af4","InvolvementReference":"b1e0a653-7483-43b4-986a-89d2c60c1787"}}},"ProductandServicePricingTable":{"ProductFeatureModalityType":"CalculationModality"},"ProductandServiceFeesPenaltiesTable":{"ProductFeatureModalityType":"CalculationModality"},"ProductSuitabilityGuide":{"RuleSetDefinition":"JHEI","RuleSetInterpretation":"XEZ","RuleSetType":"Standard","RuleSetName":{"Name":"APVINFNY"},"RuleSetIdentification":{"IdentifierValue":"080c1d84-89d9-411a-9184-28914d1e20b4","IdentifierIssuerReference":{"PartyReference":"6bd5df22-8554-4f37-9748-18ab7a2153a8","InvolvementReference":"b427d3bc-232e-410e-9d16-5f9b812398de"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.175271944","TimeIndicationType":"2026-05-04T13:49:11.175293184"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.175319475","TimeIndicationType":"2026-05-04T13:49:11.175335596"}},"RuleSetLifecycleStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.175370457","TimeIndicationType":"2026-05-04T13:49:11.175385697"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.175411158","TimeIndicationType":"2026-05-04T13:49:11.175425358"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.175446828","TimeIndicationType":"2026-05-04T13:49:11.175462999"}},"StatusInvolvedPartyReference":{"PartyReference":"25661e86-c548-45af-802a-5dfcf9923696","InvolvementReference":"8fb07d1e-f4ac-434f-b123-b4cc3070476f"}}},"ProductandServiceEligibilityType":{"Type":{"value":"DEFAULT"},"Description":{"value":"DEFAULT"}},"ProductandServiceEligibilityDescription":"VFYTKDEESW","ProductandServiceOfferProcessingRequirements":{"ProductRequirementType":"TestingRequirement","ProductRequirementSpecification":"SXN"}}},"ActionDTO":{"type":"object","properties":{"ActionType":{"type":"string","enum":["INITIATE","EXECUTE","CREATE","TRANSFER","PAY","DELIVER","APPLY","CALCULATE"]},"EventType":{"type":"string"},"EventDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"EventDescription":{"type":"string"},"EventSource":{"type":"string"},"EventLocation":{"$ref":"#/components/schemas/LocationDTO"},"EventAction":{"$ref":"#/components/schemas/ActionDTO"},"EventStatus":{"$ref":"#/components/schemas/StatusDTO"},"EventValue":{"type":"string"},"EventValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"EventIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"ActionType":"PAY","EventType":"QSD","EventDateTime":{"TimeIndication":"2026-05-04T13:49:11.176809905","TimeIndicationType":"2026-05-04T13:49:11.176831196"},"EventDescription":"BZHJASU","EventSource":"TCJPBOVGY","EventLocation":{"LocationDescription":"DELWXCNA","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.176914838","TimeIndicationType":"2026-05-04T13:49:11.176932228"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.176962649","TimeIndicationType":"2026-05-04T13:49:11.176978140"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.177006410","TimeIndicationType":"2026-05-04T13:49:11.177023021"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.177045231","TimeIndicationType":"2026-05-04T13:49:11.177061032"}},"StatusInvolvedPartyReference":{"PartyReference":"4c976cef-3068-44ea-b554-2730c3ad329c","InvolvementReference":"47b8a931-80b7-4322-890a-4b799dc70b29"}},"LocationType":"Town","LocationZoningType":"BPQVXMLXZ","LocationNeighborhoodType":"DGALXMKSF","LocationConstructionType":"GFDLYZJ","LocationOccupancyType":"ECWDYKG","LocationValue":"GAWEGJX","LocationCapacity":"XAKH","LocationIdentification":{"IdentifierValue":"bbac7495-8975-43d3-a510-a0a749ea0254","IdentifierIssuerReference":{"PartyReference":"76ba2619-e8e2-4dbf-a0e4-e798bf53bd7a","InvolvementReference":"f342a845-2a87-4aa8-a453-9f27a2dc8931"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.177337329","TimeIndicationType":"2026-05-04T13:49:11.177359640"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.177386881","TimeIndicationType":"2026-05-04T13:49:11.177404361"}},"LocationAddress":"LTFEYA","LocationName":{"Name":"HXEWUPJMH"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.177539175","TimeIndicationType":"2026-05-04T13:49:11.177557945"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.177587176","TimeIndicationType":"2026-05-04T13:49:11.177603086"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.177624957","TimeIndicationType":"2026-05-04T13:49:11.177641038"}},"StatusInvolvedPartyReference":{"PartyReference":"ee1c48e6-f024-4e02-a5a8-0e90943e1653","InvolvementReference":"7a3c26bd-6e6e-4575-b9da-55cc282061e2"}},"EventValue":"XUFEUTW","EventValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.177738070","TimeIndicationType":"2026-05-04T13:49:11.177754961"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.177776541","TimeIndicationType":"2026-05-04T13:49:11.177792502"}},"EventIdentification":{"IdentifierValue":"28837dc9-815a-48b8-810f-026f8a259e4b","IdentifierIssuerReference":{"PartyReference":"f92b3ed5-90aa-4fa5-890b-503803ca1441","InvolvementReference":"8716a759-9843-40ad-9431-c0bd4a16ff0e"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.177906265","TimeIndicationType":"2026-05-04T13:49:11.177924575"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.177946706","TimeIndicationType":"2026-05-04T13:49:11.177961076"}}}},"ArrangementStatusDTO":{"type":"object","properties":{"ArrangementStatus":{"$ref":"#/components/schemas/StatusDTO"},"ArrangementStatusType":{"type":"string","enum":["Requested","Proposed","Offered","Accepted","Cancelled","Fulfilled","Terminated"]}},"example":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.178657935","TimeIndicationType":"2026-05-04T13:49:11.178677815"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.178706306","TimeIndicationType":"2026-05-04T13:49:11.178721216"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.178743857","TimeIndicationType":"2026-05-04T13:49:11.178758717"}},"StatusInvolvedPartyReference":{"PartyReference":"320056a1-e4ec-4444-a64e-e05e05fa745c","InvolvementReference":"356a6409-84b6-46eb-934b-9e300f013d9d"}},"ArrangementStatusType":"Requested"}},"ProductionDTO":{"type":"object","properties":{"ProductandServiceLocationAvailability":{"$ref":"#/components/schemas/LocationDTO"},"ProductandServiceTimeAvailability":{"$ref":"#/components/schemas/DateTimeDTO"},"ProductandServiceAccessAvailability":{"$ref":"#/components/schemas/ServiceAccessArrangementDTO"}},"example":{"ProductandServiceLocationAvailability":{"LocationDescription":"PSBJAAVWXZ","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.180018201","TimeIndicationType":"2026-05-04T13:49:11.180040202"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.180075943","TimeIndicationType":"2026-05-04T13:49:11.180091213"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.180119664","TimeIndicationType":"2026-05-04T13:49:11.180137605"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.180164545","TimeIndicationType":"2026-05-04T13:49:11.180181916"}},"StatusInvolvedPartyReference":{"PartyReference":"9e653c90-9feb-47cf-a148-f57b98d9cc24","InvolvementReference":"06a11009-7005-4c82-a5fd-02a6106d7c8f"}},"LocationType":"State","LocationZoningType":"ULYZYE","LocationNeighborhoodType":"HYVBGTCKRJ","LocationConstructionType":"PVCLRMXA","LocationOccupancyType":"IQXP","LocationValue":"JBCL","LocationCapacity":"RENQ","LocationIdentification":{"IdentifierValue":"2065c942-7a52-410b-b167-8c03d9dd68d0","IdentifierIssuerReference":{"PartyReference":"c80f3fc8-f9ce-43d5-a11a-72b629a8534e","InvolvementReference":"622e93e3-4d76-4f35-aeab-7c51f5e665cb"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.180491344","TimeIndicationType":"2026-05-04T13:49:11.180513595"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.180541565","TimeIndicationType":"2026-05-04T13:49:11.180560586"}},"LocationAddress":"YRITVOBXWC","LocationName":{"Name":"MTWVO"},"LocationTimeZone":"UTC"},"ProductandServiceTimeAvailability":{"TimeIndication":"2026-05-04T13:49:11.180641528","TimeIndicationType":"2026-05-04T13:49:11.180660669"},"ProductandServiceAccessAvailability":{"PointOfAccessType":"DeviceAccess","AccessCredentialMethod":"CityOfBirth","ArrangementAction":{"ActionType":"CALCULATE","EventType":"FRQLLL","EventDateTime":{"TimeIndication":"2026-05-04T13:49:11.180797282","TimeIndicationType":"2026-05-04T13:49:11.180911835"},"EventDescription":"GZGUOU","EventSource":"CEDT","EventLocation":{"LocationDescription":"YVBD","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.181005258","TimeIndicationType":"2026-05-04T13:49:11.181022828"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.181059419","TimeIndicationType":"2026-05-04T13:49:11.181069340"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.181085560","TimeIndicationType":"2026-05-04T13:49:11.181094010"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.181117321","TimeIndicationType":"2026-05-04T13:49:11.181133971"}},"StatusInvolvedPartyReference":{"PartyReference":"68d670e5-c2a3-46bb-a099-f42cd86a0be3","InvolvementReference":"78b9790a-2e52-4e65-b19b-8919aa48dea3"}},"LocationType":"Town","LocationZoningType":"DXETCJQ","LocationNeighborhoodType":"ZWJTJJPYGJ","LocationConstructionType":"JHZPXCKE","LocationOccupancyType":"HCGQDGTFN","LocationValue":"GVQXHRR","LocationCapacity":"YPRAIG","LocationIdentification":{"IdentifierValue":"0d2be236-1dde-4617-bca0-00dd403d1cda","IdentifierIssuerReference":{"PartyReference":"4b0f3267-19b1-4560-9483-54f645d893a0","InvolvementReference":"c628bb5a-f4aa-4eb6-af03-371c2ff31e1b"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.181730007","TimeIndicationType":"2026-05-04T13:49:11.181743978"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.181758738","TimeIndicationType":"2026-05-04T13:49:11.181767098"}},"LocationAddress":"XEU","LocationName":{"Name":"KNZLTOXGLO"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.181815070","TimeIndicationType":"2026-05-04T13:49:11.181823800"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.181838370","TimeIndicationType":"2026-05-04T13:49:11.181845980"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.181857331","TimeIndicationType":"2026-05-04T13:49:11.181866941"}},"StatusInvolvedPartyReference":{"PartyReference":"1b54454e-72cd-45dd-a125-1ea08917f22e","InvolvementReference":"d7c0f4b4-b5d7-4981-808c-75b300315fd8"}},"EventValue":"FUP","EventValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.181933073","TimeIndicationType":"2026-05-04T13:49:11.181942823"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.181954514","TimeIndicationType":"2026-05-04T13:49:11.181964784"}},"EventIdentification":{"IdentifierValue":"68489e81-72a7-4688-80dc-2ac5f6e69f96","IdentifierIssuerReference":{"PartyReference":"28067feb-f201-4d46-a203-9fa9a03a282c","InvolvementReference":"4c55ec3c-5b4a-4292-a549-3604d04a6b2a"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.182031645","TimeIndicationType":"2026-05-04T13:49:11.182041316"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.182053576","TimeIndicationType":"2026-05-04T13:49:11.268784358"}}},"ArrangementStartDate":{"TimeIndication":"2026-05-04T13:49:11.268878630","TimeIndicationType":"2026-05-04T13:49:11.268900791"},"ArrangementEndDate":{"TimeIndication":"2026-05-04T13:49:11.268930952","TimeIndicationType":"2026-05-04T13:49:11.268949522"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.268998583","TimeIndicationType":"2026-05-04T13:49:11.269017414"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.269051755","TimeIndicationType":"2026-05-04T13:49:11.269068625"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.269094486","TimeIndicationType":"2026-05-04T13:49:11.269110786"}},"StatusInvolvedPartyReference":{"PartyReference":"1843a9fe-b021-4729-8d5b-89894b191cfc","InvolvementReference":"beecce5b-e80a-48a4-bb6a-4ac247cf1b41"}},"ArrangementStatusType":"Cancelled"},"ArrangementSubjectMatter":{"Subject":"KMHS"},"Arrangementtype":"OverdraftArrangement","ArrangementIdentification":{"IdentifierValue":"4b62b232-ecd5-48c2-a32a-bac53d7b4cd3","IdentifierIssuerReference":{"PartyReference":"57b41cfc-e08d-4973-b4fc-5c6e5a25aa85","InvolvementReference":"174beec0-2329-4eda-933d-663f487bc10e"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.269397044","TimeIndicationType":"2026-05-04T13:49:11.269414925"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.269437255","TimeIndicationType":"2026-05-04T13:49:11.269451306"}},"ProductArrangementType":"StandingOrderArrangement"}}},"ServiceAccessArrangementDTO":{"type":"object","properties":{"PointOfAccessType":{"type":"string","enum":["ChannelAccess","ProductAndServiceAccess","DeviceAccess","ApiAccess"]},"AccessCredentialMethod":{"type":"string","enum":["OnlinePin","OfflinePin","SignatureCapture","Password","Biometry","CscVerification","CryptogramVerification","UnknownMethod","Bypass","PaperSignature","ManualVerification","MerchantAuthentication","SecureCertificate","SecureNoCertificate","SecuredChannel","BillingAddressVerification","CardholderIdentificationData","PassiveAuthentication","SecureElectronicCommerce","ShippingAddressVerification","TokenAuthentication","PaymentToken","AuthenticationToken","Mobile","Other","AddressDigits","AlienRegistrationNumber","ArqcVerification","Birthdate","CardholderName","CityOfBirth","CustomerIdentification","DriverIdentification","DriverLicenseNumber","Email","EmployeeIdentificationNumber","EmployerIdentificationNumber","IdentityCardNumber","OneTimePassword","OtherCardholderIdentification","OtherCryptogram","PassportNumber","PostalCode","ShippingAddressFrom","ShippingAddressTo","CardholderAddress","NonVisibleCsc","OtherNational","OtherPrivate","PlaceOfBirth","SocialSecurityNumber","TaxIdentificationNumber","AccountDigitalSignature","ArpcVerification","Atc","OfflineBiographics","OfflineBiometrics","OfflineDataAuthentication","OfflineDigitisedSignatureAnalysis","OfflinePinEncrypted","OfflinePinInClear","OnlineBiographics","PhoneHome","PhoneWork","PkiSignature","QualifiedCertificate","Threeds","CardholderCertificateSerialNumber","AcceptorCertificateSerialNumber","NationalIdentifier"]},"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"ProductArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]}},"example":{"PointOfAccessType":"ApiAccess","AccessCredentialMethod":"AcceptorCertificateSerialNumber","ArrangementAction":{"ActionType":"EXECUTE","EventType":"TUFXIRDE","EventDateTime":{"TimeIndication":"2026-05-04T13:49:11.270940256","TimeIndicationType":"2026-05-04T13:49:11.270960556"},"EventDescription":"KCIS","EventSource":"CQQQTLFMZ","EventLocation":{"LocationDescription":"CTFYIDWYOD","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.271036208","TimeIndicationType":"2026-05-04T13:49:11.271054469"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.271091240","TimeIndicationType":"2026-05-04T13:49:11.271106430"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.271133821","TimeIndicationType":"2026-05-04T13:49:11.271148401"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.271167532","TimeIndicationType":"2026-05-04T13:49:11.271182232"}},"StatusInvolvedPartyReference":{"PartyReference":"652f8407-b606-45bc-9775-690d433b9154","InvolvementReference":"19157b96-eb60-4bad-a900-945c7cabb592"}},"LocationType":"Town","LocationZoningType":"VWPGVQOGJ","LocationNeighborhoodType":"CITMJF","LocationConstructionType":"OMHYVAUHDI","LocationOccupancyType":"GRHZKSBX","LocationValue":"JIZMNJZMVH","LocationCapacity":"KORMSXBH","LocationIdentification":{"IdentifierValue":"0f28ca04-6471-436b-801f-d753d365d50c","IdentifierIssuerReference":{"PartyReference":"1b8b8bac-27ab-4ec5-8c8a-4fcc5a00fc41","InvolvementReference":"d7dd6f44-0735-4923-8cfd-7f32556802da"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.271528771","TimeIndicationType":"2026-05-04T13:49:11.271549432"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.271578543","TimeIndicationType":"2026-05-04T13:49:11.271596853"}},"LocationAddress":"ZOYFTTGAAN","LocationName":{"Name":"XGKHLUJH"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.271692206","TimeIndicationType":"2026-05-04T13:49:11.271708576"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.271739297","TimeIndicationType":"2026-05-04T13:49:11.271755357"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.271779108","TimeIndicationType":"2026-05-04T13:49:11.271795429"}},"StatusInvolvedPartyReference":{"PartyReference":"ce24933d-879d-4d2f-9c72-56b62420684f","InvolvementReference":"44aefd55-e269-4eb0-b2e4-9c930de466ed"}},"EventValue":"VDPMMY","EventValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.271889441","TimeIndicationType":"2026-05-04T13:49:11.271905832"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.271927172","TimeIndicationType":"2026-05-04T13:49:11.271940833"}},"EventIdentification":{"IdentifierValue":"e27837ea-80fd-429f-bf32-fa852ad6b948","IdentifierIssuerReference":{"PartyReference":"e992375d-c39b-43b0-bed2-6bcbeec13407","InvolvementReference":"fb47aa08-c701-47d2-b96e-6c59c7c78ac1"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.272330663","TimeIndicationType":"2026-05-04T13:49:11.272362824"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.366864054","TimeIndicationType":"2026-05-04T13:49:11.366944067"}}},"ArrangementStartDate":{"TimeIndication":"2026-05-04T13:49:11.367024299","TimeIndicationType":"2026-05-04T13:49:11.367042359"},"ArrangementEndDate":{"TimeIndication":"2026-05-04T13:49:11.367066110","TimeIndicationType":"2026-05-04T13:49:11.367080160"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.367126011","TimeIndicationType":"2026-05-04T13:49:11.367140562"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.367170753","TimeIndicationType":"2026-05-04T13:49:11.367184653"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.367205963","TimeIndicationType":"2026-05-04T13:49:11.367220334"}},"StatusInvolvedPartyReference":{"PartyReference":"bf1e5794-19a1-469e-b478-5d62ff1bcb74","InvolvementReference":"1bdb6667-7371-461d-8b82-71bc732efff1"}},"ArrangementStatusType":"Accepted"},"ArrangementSubjectMatter":{"Subject":"BSEN"},"Arrangementtype":"FactoringArrangement","ArrangementIdentification":{"IdentifierValue":"e6382278-d5a9-47c1-bcd4-e21edf7b07f6","IdentifierIssuerReference":{"PartyReference":"5deefafa-341e-4c95-8e48-c0046911d765","InvolvementReference":"fdc479bd-9abf-4b04-a3af-0ca7ec71a715"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.367574993","TimeIndicationType":"2026-05-04T13:49:11.367593974"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.367616385","TimeIndicationType":"2026-05-04T13:49:11.367631105"}},"ProductArrangementType":"OverdraftArrangement"}},"SubjectDTO":{"type":"object","properties":{"Subject":{"type":"string"}},"example":{"Subject":"OEMYW"}},"ArrangementDTO":{"type":"object","properties":{"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"ArrangementAction":{"ActionType":"INITIATE","EventType":"MJE","EventDateTime":{"TimeIndication":"2026-05-04T13:49:11.374358106","TimeIndicationType":"2026-05-04T13:49:11.374406227"},"EventDescription":"TTRRGHA","EventSource":"UUWILOTE","EventLocation":{"LocationDescription":"YPYZANSP","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.374498110","TimeIndicationType":"2026-05-04T13:49:11.374515950"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.374550381","TimeIndicationType":"2026-05-04T13:49:11.374565342"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.374594882","TimeIndicationType":"2026-05-04T13:49:11.374616293"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.374642664","TimeIndicationType":"2026-05-04T13:49:11.374659404"}},"StatusInvolvedPartyReference":{"PartyReference":"fed11c98-d5fb-4e22-a866-34b8e94d82e2","InvolvementReference":"8825931e-8339-49f0-954f-7598ec3a937b"}},"LocationType":"City","LocationZoningType":"DXLF","LocationNeighborhoodType":"UECDLCCGOX","LocationConstructionType":"VYINPM","LocationOccupancyType":"HBKUK","LocationValue":"TVUHDVJHVU","LocationCapacity":"VINDS","LocationIdentification":{"IdentifierValue":"7e19ea2a-2972-44af-a183-b852b56bd2f2","IdentifierIssuerReference":{"PartyReference":"a47a0174-2424-4f13-9a25-b0d06f57b158","InvolvementReference":"e1c23002-d52b-4948-8693-3578bf60730c"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.375019574","TimeIndicationType":"2026-05-04T13:49:11.375042325"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.375068115","TimeIndicationType":"2026-05-04T13:49:11.375107776"}},"LocationAddress":"OHRPAA","LocationName":{"Name":"VMYIBNV"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.375212309","TimeIndicationType":"2026-05-04T13:49:11.375227219"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.375273961","TimeIndicationType":"2026-05-04T13:49:11.375287461"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.375306932","TimeIndicationType":"2026-05-04T13:49:11.375322802"}},"StatusInvolvedPartyReference":{"PartyReference":"47230a35-50df-49a5-b760-8771f09ab6d2","InvolvementReference":"888b2910-9e19-4505-b5a0-0f1e6aa84b5d"}},"EventValue":"ABA","EventValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.375452716","TimeIndicationType":"2026-05-04T13:49:11.375472366"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.375493697","TimeIndicationType":"2026-05-04T13:49:11.375506677"}},"EventIdentification":{"IdentifierValue":"ea593a10-3f12-4457-af68-dd00b29353bc","IdentifierIssuerReference":{"PartyReference":"2b9c11fd-b8e7-498b-aaee-2c9d89a58da5","InvolvementReference":"a297ad16-6ee6-4f0b-8dd9-5b2b2d238ace"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.375616960","TimeIndicationType":"2026-05-04T13:49:11.375637651"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.375665421","TimeIndicationType":"2026-05-04T13:49:11.375682432"}}},"ArrangementStartDate":{"TimeIndication":"2026-05-04T13:49:11.375711963","TimeIndicationType":"2026-05-04T13:49:11.375729613"},"ArrangementEndDate":{"TimeIndication":"2026-05-04T13:49:11.375755484","TimeIndicationType":"2026-05-04T13:49:11.375771184"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.375814906","TimeIndicationType":"2026-05-04T13:49:11.375829556"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.375855987","TimeIndicationType":"2026-05-04T13:49:11.375870697"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.375892017","TimeIndicationType":"2026-05-04T13:49:11.375906218"}},"StatusInvolvedPartyReference":{"PartyReference":"6c4237ff-e6cf-450c-9026-b949540c46fc","InvolvementReference":"760f0423-fe76-4eda-9d44-811c1f5a7c66"}},"ArrangementStatusType":"Fulfilled"},"ArrangementSubjectMatter":{"Subject":"TWIWSIACGO"},"Arrangementtype":"CreditTransferArrangement","ArrangementIdentification":{"IdentifierValue":"6ce56ad1-d334-46eb-ab80-3a2b2719aa49","IdentifierIssuerReference":{"PartyReference":"c01a1d82-88b8-4198-a472-6b7f85f88e05","InvolvementReference":"db09326c-ff58-4aa2-b3a5-918765b664d3"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.376140304","TimeIndicationType":"2026-05-04T13:49:11.376157715"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.376179105","TimeIndicationType":"2026-05-04T13:49:11.376193136"}}}},"OperationsDTO":{"type":"object","properties":{"ProductandServiceOperatingSchedule":{"$ref":"#/components/schemas/ScheduleDTO"},"ProductandServiceConfigurationParameterType":{"type":"string","enum":["FeeFeature","InterestFeature","WithdrawalFeature","DepositFeature","SweepFeature","LienFeature","PaymentFeature","RepaymentFeature","LimitFeature","OverdraftFeature","StatementFeature","CurrencyExchangeFeature","PriceFeature"]},"ProductandServiceConfigurationParameterDescription":{"type":"string"},"ProductandServiceConfigurationParameterSetting":{"type":"array","items":{"$ref":"#/components/schemas/ArrangementDTO"}}},"example":{"ProductandServiceOperatingSchedule":{"ScheduleType":"DFPH"},"ProductandServiceConfigurationParameterType":"LienFeature","ProductandServiceConfigurationParameterDescription":"CIDHXDC","ProductandServiceConfigurationParameterSetting":[{"ArrangementAction":{"ActionType":"TRANSFER","EventType":"AYYZY","EventDateTime":{"TimeIndication":"2026-05-04T13:49:11.377920662","TimeIndicationType":"2026-05-04T13:49:11.377943853"},"EventDescription":"RPXKO","EventSource":"OVLRJOXLP","EventLocation":{"LocationDescription":"OTMAFTBA","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.378048646","TimeIndicationType":"2026-05-04T13:49:11.378080197"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.378121548","TimeIndicationType":"2026-05-04T13:49:11.378139208"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.378171939","TimeIndicationType":"2026-05-04T13:49:11.378188390"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.378213290","TimeIndicationType":"2026-05-04T13:49:11.378229381"}},"StatusInvolvedPartyReference":{"PartyReference":"1978e82a-ec63-43e4-ba86-25f8581d23e2","InvolvementReference":"21ab5d8b-3524-4bf3-9fb3-827b53adeda6"}},"LocationType":"State","LocationZoningType":"JZDDDJHS","LocationNeighborhoodType":"FDQYBX","LocationConstructionType":"BHFPH","LocationOccupancyType":"CMQM","LocationValue":"JJDUCCDTBU","LocationCapacity":"XEM","LocationIdentification":{"IdentifierValue":"cbff25f2-50a7-46a6-aa27-1d6a6df585bc","IdentifierIssuerReference":{"PartyReference":"800dd6fb-d7cc-4e83-a39f-b6644d244d3d","InvolvementReference":"1d98b83b-2a11-4f6e-9ef6-6e7df1a4a30a"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.378582150","TimeIndicationType":"2026-05-04T13:49:11.378602061"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.378623781","TimeIndicationType":"2026-05-04T13:49:11.378637512"}},"LocationAddress":"KBRHOYJN","LocationName":{"Name":"GLXQCY"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.378717394","TimeIndicationType":"2026-05-04T13:49:11.378732344"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.378764215","TimeIndicationType":"2026-05-04T13:49:11.378781155"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.378804496","TimeIndicationType":"2026-05-04T13:49:11.378819027"}},"StatusInvolvedPartyReference":{"PartyReference":"fc0d6489-3435-4a4c-aa6c-30d4ccea70c7","InvolvementReference":"064573a4-cfd4-4939-95a9-44241b8b5fe2"}},"EventValue":"NZQAFICBDP","EventValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.378915399","TimeIndicationType":"2026-05-04T13:49:11.378933590"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.378959210","TimeIndicationType":"2026-05-04T13:49:11.378976841"}},"EventIdentification":{"IdentifierValue":"76db7630-d1f7-4247-a11c-22b18d847b23","IdentifierIssuerReference":{"PartyReference":"57f5682e-e2c1-4275-b250-f4d74bf50705","InvolvementReference":"6579e5f2-68e2-4ea7-9ac3-22122ef039ab"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.379109164","TimeIndicationType":"2026-05-04T13:49:11.379128915"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.379154876","TimeIndicationType":"2026-05-04T13:49:11.379172076"}}},"ArrangementStartDate":{"TimeIndication":"2026-05-04T13:49:11.379200607","TimeIndicationType":"2026-05-04T13:49:11.379218567"},"ArrangementEndDate":{"TimeIndication":"2026-05-04T13:49:11.379244008","TimeIndicationType":"2026-05-04T13:49:11.379262128"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.379306430","TimeIndicationType":"2026-05-04T13:49:11.379324140"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.379355931","TimeIndicationType":"2026-05-04T13:49:11.379372822"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.379399032","TimeIndicationType":"2026-05-04T13:49:11.379416193"}},"StatusInvolvedPartyReference":{"PartyReference":"12f711a8-2459-4b2e-9372-40423240c6f3","InvolvementReference":"b9d61ec0-2ff8-4f8a-832c-9c7a58168d93"}},"ArrangementStatusType":"Terminated"},"ArrangementSubjectMatter":{"Subject":"FFM"},"Arrangementtype":"MaturityArrangement","ArrangementIdentification":{"IdentifierValue":"7f3c3d7a-530f-46db-8846-a50cabae262d","IdentifierIssuerReference":{"PartyReference":"92a33d50-72e6-4e87-a1f2-332be822ee4c","InvolvementReference":"3bf41c97-547e-4940-8eae-63b4b4bd2bda"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.379671020","TimeIndicationType":"2026-05-04T13:49:11.379692520"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.379720001","TimeIndicationType":"2026-05-04T13:49:11.379737392"}}},{"ArrangementAction":{"ActionType":"DELIVER","EventType":"RXQS","EventDateTime":{"TimeIndication":"2026-05-04T13:49:11.379824904","TimeIndicationType":"2026-05-04T13:49:11.379842774"},"EventDescription":"TVYXVOII","EventSource":"FSWGS","EventLocation":{"LocationDescription":"EIPW","LocationDateTime":{"TimeIndication":"2026-05-04T13:49:11.379915726","TimeIndicationType":"2026-05-04T13:49:11.379932567"},"LocationStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.379966628","TimeIndicationType":"2026-05-04T13:49:11.379981348"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.380013109","TimeIndicationType":"2026-05-04T13:49:11.380030019"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.380054970","TimeIndicationType":"2026-05-04T13:49:11.380070521"}},"StatusInvolvedPartyReference":{"PartyReference":"3d113f3f-9268-4d19-a41f-2f9d7279c155","InvolvementReference":"ca518e9e-8bed-4685-aed6-ddebe5fb5a54"}},"LocationType":"Country","LocationZoningType":"PVXBCP","LocationNeighborhoodType":"EKWVRW","LocationConstructionType":"CVOUCL","LocationOccupancyType":"FJFXTH","LocationValue":"JKSWLJGBH","LocationCapacity":"FYPSDGVUEQ","LocationIdentification":{"IdentifierValue":"7e6faf2c-9285-4d87-9626-58ac9458e62e","IdentifierIssuerReference":{"PartyReference":"a2b645a6-fbd7-4751-aebb-a86af46452f4","InvolvementReference":"2c930d4c-13ce-4591-ab21-903872c9d206"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.380397739","TimeIndicationType":"2026-05-04T13:49:11.466865823"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.466952865","TimeIndicationType":"2026-05-04T13:49:11.466973545"}},"LocationAddress":"TFIBMYZUQZ","LocationName":{"Name":"KHQNICE"},"LocationTimeZone":"UTC"},"EventStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.467087839","TimeIndicationType":"2026-05-04T13:49:11.467105249"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.467137960","TimeIndicationType":"2026-05-04T13:49:11.467160681"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.467188121","TimeIndicationType":"2026-05-04T13:49:11.467203702"}},"StatusInvolvedPartyReference":{"PartyReference":"5aa22fcc-7d7e-4769-a2b6-5083a553bf16","InvolvementReference":"0f32c099-a481-48d2-8ce1-2e573cd60cf7"}},"EventValue":"WIYPJTIVHQ","EventValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.467361836","TimeIndicationType":"2026-05-04T13:49:11.467382547"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.467409147","TimeIndicationType":"2026-05-04T13:49:11.467424658"}},"EventIdentification":{"IdentifierValue":"be44c73e-4ce0-4ec6-a324-88fc16e5a820","IdentifierIssuerReference":{"PartyReference":"3f9a4fa5-083a-4a8c-b4ef-6e71cffc4d20","InvolvementReference":"56dcb3bd-d6f1-42cf-ad62-4b9e3af6952e"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.467631003","TimeIndicationType":"2026-05-04T13:49:11.467652774"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.467680564","TimeIndicationType":"2026-05-04T13:49:11.467696205"}}},"ArrangementStartDate":{"TimeIndication":"2026-05-04T13:49:11.467724196","TimeIndicationType":"2026-05-04T13:49:11.467740586"},"ArrangementEndDate":{"TimeIndication":"2026-05-04T13:49:11.467764557","TimeIndicationType":"2026-05-04T13:49:11.467780687"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"ACTIVE","StatusDateTime":{"TimeIndication":"2026-05-04T13:49:11.467825078","TimeIndicationType":"2026-05-04T13:49:11.467839269"},"StatusValidityPeriod":{"FromDateTime":{"TimeIndication":"2026-05-04T13:49:11.467866609","TimeIndicationType":"2026-05-04T13:49:11.467879"},"ToDateTime":{"TimeIndication":"2026-05-04T13:49:11.467901161","TimeIndicationType":"2026-05-04T13:49:11.467915891"}},"StatusInvolvedPartyReference":{"PartyReference":"f3b9f932-2d37-4416-864d-cdb89e9b667e","InvolvementReference":"e7601727-4fe4-4e81-b756-55c7a4780804"}},"ArrangementStatusType":"Terminated"},"ArrangementSubjectMatter":{"Subject":"MEI"},"Arrangementtype":"CardPaymentArrangement","ArrangementIdentification":{"IdentifierValue":"3b9daf95-4098-4701-b5f0-a352c7dd3c34","IdentifierIssuerReference":{"PartyReference":"300b16b6-6387-4fed-aea3-6d0dc6a4092f","InvolvementReference":"c3265299-b4da-4a22-92fc-ea05ca24f06b"},"IdentifierStartDate":{"TimeIndication":"2026-05-04T13:49:11.468176818","TimeIndicationType":"2026-05-04T13:49:11.468197158"},"IdentifierEndDate":{"TimeIndication":"2026-05-04T13:49:11.468223539","TimeIndicationType":"2026-05-04T13:49:11.468239359"}}}]}},"AdapterConfigDTO":{"type":"object","properties":{"adapterName":{"type":"string"},"host":{"type":"string"},"path":{"type":"string"},"endpoints":{"type":"object","additionalProperties":{"type":"string"}}},"example":{"adapterName":"OVZSZNC","host":"MUMLZPBRTU","path":"SJFMWKFJ","endpoints":{"HPAATEEJ":"HHRPMYHZTK","KPK":"CGPVUQV","MYISB":"PQFKWWBE","YIYRNW":"YQD"}}},"ErrorResponse":{"type":"object","properties":{"timestamp":{"type":"string"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}