{"openapi":"3.0.1","info":{"title":"Savings Account","description":"Maintains and exposes the operational state, balances, restrictions, entitlements, and lifecycle attributes associated with a specific AccountInstanceReference and following the BIAN 'Savings Account' standards.","version":"1.0"},"servers":[{"url":"https://gatewayqa.ustfinx.com"}],"paths":{"/v1/savings-account/{savings-account-id}/update":{"put":{"tags":["CR - SavingsAccountFacility - v14"],"summary":"ReCR Update information about a savings account - either standard canned reports or selected instance attribute values","operationId":"Update","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/update":{"put":{"tags":["CR - SavingsAccountFacility - stub"],"summary":"Update details of a savings account","operationId":"Update_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/sweep/{sweep-id}/update":{"put":{"tags":["BQ - Sweep - stub"],"summary":"Update details of an existing account sweep","operationId":"UpdateSweep","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"sweep-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/sweep/{sweep-id}/execute":{"put":{"tags":["BQ - Sweep - stub"],"summary":"Trigger an account sweep transaction","operationId":"ExecuteSweep","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"sweep-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/payment/{payment-id}/update":{"put":{"tags":["BQ - Payment - stub"],"summary":"Update a payment transaction configuration or specific transaction","operationId":"UpdatePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"payment-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/payment/{payment-id}/execute":{"put":{"tags":["BQ - Payment - stub"],"summary":"Trigger a payment for a repeating payment set up","operationId":"ExecutePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"payment-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/payment/{payment-id}/exchange":{"put":{"tags":["BQ - Payment - stub"],"summary":"Verify/approve a scheduled repeating payment","operationId":"ExchangePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"payment-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/issued-device/{issued-device-id}/update":{"put":{"tags":["BQ - IssuedDevice - stub"],"summary":"Update Details of Issued Device Allocated to This Account","operationId":"UpdateIssuedDevice","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"issued-device-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/interest/{interest-id}/execute":{"put":{"tags":["BQ - Interest - stub"],"summary":"Execute Apply Interest","operationId":"ExecuteInterest","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"interest-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterestDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/deposit/{deposit-id}/update":{"put":{"tags":["BQ - Deposit - stub"],"summary":"UpBQ Update or correct a deposit transaction","operationId":"UpdateDeposit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"deposit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/deposit/{deposit-id}/execute":{"put":{"tags":["BQ - Deposit - stub"],"summary":"ExBQ Execute a deposit transaction","operationId":"ExecuteDeposit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"deposit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/debit-and-credit/{debit-and-credit-id}/update":{"put":{"tags":["BQ - DebitandCredit - stub"],"summary":"UpBQ Update or correct a withdrawal transaction","operationId":"UpdateDebitandCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"debit-and-credit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/debit-and-credit/{debit-and-credit-id}/execute":{"put":{"tags":["BQ - DebitandCredit - stub"],"summary":"Execute a withdrawal transaction","operationId":"ExecuteDebitandCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"debit-and-credit-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/control":{"put":{"tags":["CR - SavingsAccountFacility - stub"],"summary":"Control the processing of an a savings account","operationId":"Control","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/charge/{charge-id}/update":{"put":{"tags":["BQ - Charge - stub"],"summary":"Update details about an applied service fee","operationId":"UpdateCharge","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"charge-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/charge/{charge-id}/execute":{"put":{"tags":["BQ - Charge - stub"],"summary":"ExBQ Execute Apply Service Fee","operationId":"ExecuteCharge","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"charge-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/booking/{booking-id}/execute":{"put":{"tags":["BQ - Booking - stub"],"summary":"Execute authorization of booking","operationId":"ExecuteBooking","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"booking-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/amount-block/{amount-block-id}/update":{"put":{"tags":["BQ - AmountBlock - stub"],"summary":"Update details of an amount block","operationId":"UpdateAmountBlock","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"amount-block-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/savings-account/config/adapters/update":{"put":{"tags":["Configuration Management"],"summary":"Update  configuration","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/savings-account/initiate":{"post":{"tags":["CR - SavingsAccountFacility - v14"],"summary":"InCR Initiate A new savings account","operationId":"Initiate","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/sweep/initiate":{"post":{"tags":["BQ - Sweep - stub"],"summary":"Set up an account sweep","operationId":"InitiateSweep","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/payment/initiate":{"post":{"tags":["BQ - Payment - stub"],"summary":"Initialize a payment transaction (can be single or repeating)","operationId":"InitiatePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/issued-device/initiate":{"post":{"tags":["BQ - IssuedDevice - stub"],"summary":"Initiate Provision of Issued Device","operationId":"InitiateIssuedDevice","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/deposit/initiate":{"post":{"tags":["BQ - Deposit - stub"],"summary":"Initialize deposit transaction","operationId":"InitiateDeposit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/debit-and-credit/initiate":{"post":{"tags":["BQ - DebitandCredit - stub"],"summary":"InBQ Initialize withdrawal transaction","operationId":"InitiateDebitandCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/charge/initiate":{"post":{"tags":["BQ - Charge - stub"],"summary":"InBQ Initiate service fees against an account","operationId":"InitiateCharge","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/amount-block/initiate":{"post":{"tags":["BQ - AmountBlock - stub"],"summary":"Initiate an amount block","operationId":"InitiateAmountBlock","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/initiate":{"post":{"tags":["CR - SavingsAccountFacility - stub"],"summary":"Initiate A new savings account","operationId":"Initiate_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/savings-account/{savings-account-id}/retrieve":{"get":{"tags":["CR - SavingsAccountFacility - v14"],"summary":"Retrieve information about a savings account - either standard canned reports or selected instance attribute values","operationId":"Retrieve","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/sweep/{sweep-id}/retrieve":{"get":{"tags":["BQ - Sweep - stub"],"summary":"Retrieve details about a sweep facility or specific sweep transaction","operationId":"RetrieveSweep","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"sweep-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SweepDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/retrieve":{"get":{"tags":["CR - SavingsAccountFacility - stub"],"summary":"ReCR Retrieve information about a savings account - either standard canned reports or selected instance attribute values","operationId":"Retrieve_1","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountFacilityDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/payment/{payment-id}/retrieve":{"get":{"tags":["BQ - Payment - stub"],"summary":"Retrieve details about a payment transaction or arrangement","operationId":"RetrievePayment","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"payment-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/issued-device/{issued-device-id}/retrieve":{"get":{"tags":["BQ - IssuedDevice - stub"],"summary":"Retrieve Details about Issued Device","operationId":"RetrieveIssuedDevice","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"issued-device-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedDeviceDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/interest/{interest-id}/retrieve":{"get":{"tags":["BQ - Interest - stub"],"summary":"ReBQ Retrieve details about interest applied to the account","operationId":"RetrieveInterest","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"interest-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterestDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/deposit/{deposit-id}/retrieve":{"get":{"tags":["BQ - Deposit - stub"],"summary":"ReBQ Retrieve details about a deposit transaction","operationId":"RetrieveDeposit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"deposit-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/debit-and-credit/{debit-and-credit-id}/retrieve":{"get":{"tags":["BQ - DebitandCredit - stub"],"summary":"ReBQ Retrieve details about a withdrawal transaction","operationId":"RetrieveDebitandCredit","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"debit-and-credit-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebitAndCreditDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/charge/{charge-id}/retrieve":{"get":{"tags":["BQ - Charge - stub"],"summary":"ReBQ Retrieve information about a service fee applied to the account","operationId":"RetrieveCharge","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"charge-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/stub/savings-account/{savings-account-id}/amount-block/{amount-block-id}/retrieve":{"get":{"tags":["BQ - AmountBlock - stub"],"summary":"Retrieve details about an amount block","operationId":"RetrieveAmountBlock","parameters":[{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"savings-account-id","in":"path","required":true,"schema":{"type":"string"}},{"name":"amount-block-id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmountBlockDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/savings-account/config/adapters/{adapterName}/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get  configuration by name","operationId":"getConfig","parameters":[{"name":"adapterName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdapterConfig"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/savings-account/config/adapters/retrieve":{"get":{"tags":["Configuration Management"],"summary":"Get all  configurations","operationId":"getAllConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"AccountBalanceDTO":{"type":"object","properties":{"BalanceAmounts":{"$ref":"#/components/schemas/AmountDTO"},"BalanceType":{"type":"string","enum":["OpeningBalance","ClosingBalance","CurrentBalance","AvailableBalance","LedgerBalance","ReserveBalance","FreeBalance","PrincipalBalance","ClosingAvailable","ClosingBooked","ForwardAvailable","Information","InterimAvailable","InterimBooked","OpeningAvailable","OpeningBooked","PreviouslyClosedBooked","Expected","ExpectedIncomingBalance","ExpectedOutgoingBalance"]},"BalanceValueDate":{"$ref":"#/components/schemas/DateTimeDTO"},"BalanceIndicator":{"type":"string","enum":["Debit","Credit"]},"BalanceCounterpartyType":{"type":"string","enum":["Bilateral","Multilateral"]},"BalanceCalculationDate":{"$ref":"#/components/schemas/DateTimeDTO"},"BalanceSubType":{"type":"string","enum":["Adjustment","BaseCurrency","Blocked","BlockedFunds","DaylightOverdraft","EligibleAssets","FirmCollateralization","AmountsThatHaveBeenUsedToServeAsFirmCollateral","SecuritiesForecast","NetFunding","Intermediate","LocalCurrency","LimitRelated","ReservedLiquidity","SecuritiesPending","PayInPayOut","ProgressiveAverage","Reserve","SelfCollateralization","AmountsThatHaveBeenUsedToServeAsSelfCollateral","Threshold"]}},"example":{"BalanceAmounts":{"AmountValue":"34.00","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"CRWJO","AmountType":"Default"},"BalanceType":"AvailableBalance","BalanceValueDate":{"DateTimeContent":"2026-05-04T12:26:38.244369444Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T12:26:38.244551919Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"BalanceSubType":"AmountsThatHaveBeenUsedToServeAsSelfCollateral"}},"AccountCurrencyDTO":{"type":"object","properties":{"AccountCurrencyType":{"type":"string","enum":["BaseCurrency","ReportingCurrency","SecondaryCurrency","TransferCurrency","SettlementCurrency"]},"AccountCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"}},"example":{"AccountCurrencyType":"SecondaryCurrency","AccountCurrency":{"Currencycode":"USD"}}},"AccountDTO":{"type":"object","properties":{"AccountStatus":{"$ref":"#/components/schemas/AccountStatusDTO"},"AccountIdentification":{"$ref":"#/components/schemas/AccountIdentificationDTO"},"AccountDate":{"type":"array","items":{"$ref":"#/components/schemas/AccountDateTimeDTO"}},"AccountType":{"type":"string","enum":["DebitAccount","CreditAccount","VostroAccount","NostroAccount","PaymentAccount","SettlementAccount","SavingAccount","CurrentAccount","CashAccount","LoanAccount","IndividualAccount","JointAccount","LiquidationAccount","ProvisionAccount","PartnershipAccount","InvestmentAccount"]},"AccountPurpose":{"type":"string"},"AccountBalances":{"type":"array","items":{"$ref":"#/components/schemas/AccountBalanceDTO"}},"AccountCurrency":{"type":"array","items":{"$ref":"#/components/schemas/AccountCurrencyDTO"}},"AccountDescription":{"type":"string"},"AccountName":{"$ref":"#/components/schemas/NameDTO"},"LogType":{"type":"string"},"LogPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"LogDate":{"$ref":"#/components/schemas/DateTimeDTO"},"LogIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AccountStatus":{"AccountStatus":{"StatusReason":"TTAAZGHJDX","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.246164039Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.246240291Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.246288052Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"DBALIY","InvolvementReference":"JMYPHFFV"}},"AccountStatusType":"Enabled"},"AccountIdentification":{"AccountIdentificationType":"Aiin","AccountIdentification":{"IdentifierValue":"TODKQX","IdentifierIssuerReference":{"PartyReference":"BLK","InvolvementReference":"SOBIXBUNFO"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.246567399Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.246612260Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}}},"AccountDate":[{"AccountDateType":"OpeningDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.246843756Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},{"AccountDateType":"MaturityDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.246875896Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}}],"AccountType":"LoanAccount","AccountPurpose":"TQO","AccountBalances":[{"BalanceAmounts":{"AmountValue":"62.15","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"EOTBT","AmountType":"Fixed"},"BalanceType":"OpeningBooked","BalanceValueDate":{"DateTimeContent":"2026-05-04T12:26:38.246983619Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"BalanceIndicator":"Debit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T12:26:38.246998590Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"BalanceSubType":"EligibleAssets"},{"BalanceAmounts":{"AmountValue":"9.38","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"HYO","AmountType":"Maximum"},"BalanceType":"Expected","BalanceValueDate":{"DateTimeContent":"2026-05-04T12:26:38.247032320Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T12:26:38.247044851Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"BalanceSubType":"BlockedFunds"},{"BalanceAmounts":{"AmountValue":"48.09","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"RHKZAIIWL","AmountType":"Decremental"},"BalanceType":"InterimBooked","BalanceValueDate":{"DateTimeContent":"2026-05-04T12:26:38.247067031Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"BalanceIndicator":"Debit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T12:26:38.247077001Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"BalanceSubType":"Reserve"},{"BalanceAmounts":{"AmountValue":"56.26","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"KNXXR","AmountType":"Principal"},"BalanceType":"AvailableBalance","BalanceValueDate":{"DateTimeContent":"2026-05-04T12:26:38.247097382Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"BalanceIndicator":"Debit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T12:26:38.247107892Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"BalanceSubType":"Blocked"},{"BalanceAmounts":{"AmountValue":"96.66","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"NJSQCQUMNK","AmountType":"Available"},"BalanceType":"Information","BalanceValueDate":{"DateTimeContent":"2026-05-04T12:26:38.247131383Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T12:26:38.247141763Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"BalanceSubType":"PayInPayOut"}],"AccountCurrency":[{"AccountCurrencyType":"BaseCurrency","AccountCurrency":{"Currencycode":"USD"}},{"AccountCurrencyType":"SettlementCurrency","AccountCurrency":{"Currencycode":"USD"}},{"AccountCurrencyType":"SecondaryCurrency","AccountCurrency":{"Currencycode":"USD"}}],"AccountDescription":"YOPUJYNKJD","AccountName":{"Name":"RCSGINO"},"LogType":"QKGQSHDVTN","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.247247526Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.247259666Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"LogDate":{"DateTimeContent":"2026-05-04T12:26:38.247280677Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"LogIdentification":{"IdentifierValue":"EFLFBGTAKS","IdentifierIssuerReference":{"PartyReference":"CCOV","InvolvementReference":"KRINOXGR"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.247310057Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.247320718Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}}}},"AccountDateTimeDTO":{"type":"object","properties":{"AccountDateType":{"type":"string","enum":["OpeningDate","ClosingDate","BlockingDate","MaturityDate","LiveDate","RenewalDate"]},"AccountDate":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"AccountDateType":"BlockingDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.247653676Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}}},"AccountIdentificationDTO":{"type":"object","properties":{"AccountIdentificationType":{"type":"string","enum":["Bban","Iban","Upic","AccountNumber","Pan","Paym","Wallet","SortCodeAndAccountNumber","Aiin","Cuid"]},"AccountIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AccountIdentificationType":"AccountNumber","AccountIdentification":{"IdentifierValue":"HRHMPTXE","IdentifierIssuerReference":{"PartyReference":"JLTRCENS","InvolvementReference":"WDWINHLPVL"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.248021375Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.248035785Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}}}},"AccountInvolvementDTO":{"type":"object","properties":{"AccountInvolvementType":{"type":"string","enum":["PartyIsOwnerOfAccount","PartyIsServicerOfAccount","PartyIsPrimaryOwnerOfAccount","PartyIsCoOwnerOfAccount","PartyIsJointOwnerOfAccount"]},"AccountReference":{"$ref":"#/components/schemas/AccountDTO"},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"},"PartyRoleType":{"type":"string"},"PartyRoleName":{"$ref":"#/components/schemas/NameDTO"},"PartyRoleValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"PartyInvolvementType":{"type":"string","enum":["AgreementInvolvement","PartyInvolvement","ArrangementInvolvement","DesignSpecificationInvolvement","RelationshipInvolvement","LocationInvolvement","BankGuaranteeInvolvement"]}},"example":{"AccountInvolvementType":"PartyIsOwnerOfAccount","AccountReference":{"AccountStatus":{"AccountStatus":{"StatusReason":"EZUAXHH","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.248616650Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.248634030Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.248644450Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EMJSTSFI","InvolvementReference":"VSNNGSFXG"}},"AccountStatusType":"Deleted"},"AccountIdentification":{"AccountIdentificationType":"Wallet","AccountIdentification":{"IdentifierValue":"NKV","IdentifierIssuerReference":{"PartyReference":"WDYOONG","InvolvementReference":"TEJ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.248680621Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.248690872Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"}}},"AccountDate":[{"AccountDateType":"RenewalDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.248724142Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},{"AccountDateType":"ClosingDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.248740373Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},{"AccountDateType":"ClosingDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.248751913Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},{"AccountDateType":"BlockingDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.248762053Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},{"AccountDateType":"LiveDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.248771843Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},{"AccountDateType":"LiveDate","AccountDate":{"DateTimeContent":"2026-05-04T12:26:38.248781354Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}}],"AccountType":"SettlementAccount","AccountPurpose":"UII","AccountBalances":[{"BalanceAmounts":{"AmountValue":"70.92","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"JEEVGNEGOP","AmountType":"Maximum"},"BalanceType":"ClosingAvailable","BalanceValueDate":{"DateTimeContent":"2026-05-04T12:26:38.248833925Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"BalanceIndicator":"Debit","BalanceCounterpartyType":"Bilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T12:26:38.248848865Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"BalanceSubType":"ProgressiveAverage"},{"BalanceAmounts":{"AmountValue":"31.42","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"HLWFRQIY","AmountType":"Unknown"},"BalanceType":"OpeningAvailable","BalanceValueDate":{"DateTimeContent":"2026-05-04T12:26:38.248874416Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"BalanceIndicator":"Credit","BalanceCounterpartyType":"Multilateral","BalanceCalculationDate":{"DateTimeContent":"2026-05-04T12:26:38.248883876Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"BalanceSubType":"LocalCurrency"}],"AccountCurrency":[{"AccountCurrencyType":"BaseCurrency","AccountCurrency":{"Currencycode":"USD"}},{"AccountCurrencyType":"TransferCurrency","AccountCurrency":{"Currencycode":"USD"}}],"AccountDescription":"SUOLCTHALO","AccountName":{"Name":"DNKLMKNI"},"LogType":"IABIPXMASR","LogPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.248936668Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.248947188Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"LogDate":{"DateTimeContent":"2026-05-04T12:26:38.248957498Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"LogIdentification":{"IdentifierValue":"ATQPZ","IdentifierIssuerReference":{"PartyReference":"OQBA","InvolvementReference":"YYUXFDRGZ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.248975428Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.248985129Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}}},"PartyReference":{"PartyName":{"Name":"DEKYS"},"PartyType":"Person","PartyDateTime":{"DateTimeContent":"2026-05-04T12:26:38.249044870Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"PartyIdentification":{"PartyIdentificationType":"AlienRegistrationNumber","PartyIdentification":{"IdentifierValue":"BNCCGX","IdentifierIssuerReference":{"PartyReference":"CJFPGXJTQA","InvolvementReference":"LIMPLCAMKN"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.249095962Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.249106212Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}}},"PartyLegalStructureType":"GeneralPartnership","PartyActivityIndicator":{"Industrycode":"LZSUND"}},"PartyRoleType":"ARJ","PartyRoleName":{"Name":"MOPOHAKV"},"PartyRoleValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.249190544Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.249200794Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}},"PartyInvolvementType":"AgreementInvolvement"}},"AccountRestrictionDTO":{"type":"object","properties":{"AccountRestrictionIdentifier":{"$ref":"#/components/schemas/IdentifierDTO"},"AccountRestrictionType":{"type":"string"},"AccountRestrictionDescription":{"type":"string"},"AccountRestrictionValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"AccountRestrictionStatus":{"$ref":"#/components/schemas/AccountRestrictionStatusDTO"},"AccountRestrictionRegulator":{"$ref":"#/components/schemas/InvolvedPartyDTO"},"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"AccountRestrictionIdentifier":{"IdentifierValue":"MAMD","IdentifierIssuerReference":{"PartyReference":"VVCV","InvolvementReference":"NXEUPIFH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.249877261Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.249891461Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"AccountRestrictionType":"CWZO","AccountRestrictionDescription":"POD","AccountRestrictionValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.249937483Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"InitiatedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.249973603Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"}},"AccountRestrictionStatus":{"AccountRestrictionStatus":{"StatusReason":"DOTQXFNR","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250025055Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250039015Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250049785Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ANKVQXIM","InvolvementReference":"HCU"}},"AccountRestrictionStatusType":"Inactive"},"AccountRestrictionRegulator":{"PartyReference":"LCXLYBBXLK","InvolvementReference":"HFBEIHW"},"ArrangementAction":{"ActionType":"Calculate","EventType":"GQLWCOFDD","EventDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250137297Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"EventDescription":"OZPXWHXYJC","EventSource":"OFAXK","EventLocation":{"LocationDescription":"JXY","LocationDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250185319Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"LocationStatus":{"StatusReason":"WWBUZULG","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250208049Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250220310Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250229450Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"AIQYE","InvolvementReference":"IWNWB"}},"LocationType":"Town","LocationZoningType":"QFDSPL","LocationNeighborhoodType":"NNFLVWNB","LocationConstructionType":"YTESLVXL","LocationOccupancyType":"XZOVQNMR","LocationValue":"PTEUZIKQ","LocationCapacity":"OEOQMJFD","LocationIdentification":{"IdentifierValue":"CMJV","IdentifierIssuerReference":{"PartyReference":"IASXB","InvolvementReference":"XSVLVFVQC"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.250309822Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.250320412Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"LocationAddress":"EPUD","LocationName":{"Name":"JTIKOWVZ"},"LocationTimeZone":"DQPNLI"},"EventAction":"SOAMSYQ","EventStatus":{"StatusReason":"TAXDWHEAE","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.250396184Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.334443378Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.334486119Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"StatusInvolvedPartyReference":{"PartyReference":"RQWTLFP","InvolvementReference":"CALBGHNKDG"}},"EventValue":"IOSBVZE","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.334611472Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.334635723Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}},"EventIdentification":{"IdentifierValue":"IHVCIK","IdentifierIssuerReference":{"PartyReference":"LDYJKCWSHC","InvolvementReference":"PCMW"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.334706104Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.334728825Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-04T12:26:38.334793006Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-04T12:26:38.334828467Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"MEZQMCDW","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.334893429Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.334920010Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.334938960Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}},"StatusInvolvedPartyReference":{"PartyReference":"PEQLAAJFY","InvolvementReference":"TWJXSAPSG"}},"ArrangementStatusType":"Requested"},"ArrangementSubjectMatter":{"Subject":"YIPQA"},"Arrangementtype":"CreditTransferArrangement","ArrangementIdentification":{"IdentifierValue":"MPTLZWZ","IdentifierIssuerReference":{"PartyReference":"LSVIIFE","InvolvementReference":"TEUJQUD"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.335080134Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.335096144Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}}}},"AccountRestrictionStatusDTO":{"type":"object","properties":{"AccountRestrictionStatus":{"$ref":"#/components/schemas/StatusDTO"},"AccountRestrictionStatusType":{"type":"string","enum":["Active","Inactive"]}},"example":{"AccountRestrictionStatus":{"StatusReason":"ZZBMSBYJZQ","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.336061218Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.336086079Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.336103119Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"}},"StatusInvolvedPartyReference":{"PartyReference":"CLZ","InvolvementReference":"PJDY"}},"AccountRestrictionStatusType":"Inactive"}},"AccountStatusDTO":{"type":"object","properties":{"AccountStatus":{"$ref":"#/components/schemas/StatusDTO"},"AccountStatusType":{"type":"string","enum":["Enabled","Disabled","Deleted","Proforma","Pending"]}},"example":{"AccountStatus":{"StatusReason":"DEH","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.336610332Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.336635782Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.336652982Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ZKSYLKYXIS","InvolvementReference":"JFXPCWVWSR"}},"AccountStatusType":"Pending"}},"ActionDTO":{"type":"object","properties":{"ActionType":{"type":"string","enum":["Initiate","Execute","Create","Transfer","Pay","Deliver","Apply","Calculate"]},"EventType":{"type":"string"},"EventDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"EventDescription":{"type":"string"},"EventSource":{"type":"string"},"EventLocation":{"$ref":"#/components/schemas/LocationDTO"},"EventAction":{"type":"string"},"EventStatus":{"$ref":"#/components/schemas/StatusDTO"},"EventValue":{"type":"string"},"EventValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"EventIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"ActionType":"Deliver","EventType":"ZTPVLV","EventDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337427942Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"EventDescription":"VWBVWU","EventSource":"QUBR","EventLocation":{"LocationDescription":"IFWIMRX","LocationDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337468003Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"LocationStatus":{"StatusReason":"AEXMHYPSYT","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337495194Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337517124Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337533694Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"RREGJJYWYD","InvolvementReference":"GGHZYMYDQ"}},"LocationType":"State","LocationZoningType":"PJKXAMNG","LocationNeighborhoodType":"KJDRRF","LocationConstructionType":"CPZZWXZ","LocationOccupancyType":"FVQRN","LocationValue":"TJL","LocationCapacity":"QMBVNK","LocationIdentification":{"IdentifierValue":"OSDNNAT","IdentifierIssuerReference":{"PartyReference":"FPCBGNVZVA","InvolvementReference":"HJRZCLGIWJ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.337602976Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.337622497Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"}},"LocationAddress":"VXQQUSO","LocationName":{"Name":"VBRCKU"},"LocationTimeZone":"BSOTFWBH"},"EventAction":"QZWDHZXO","EventStatus":{"StatusReason":"LCPZTZM","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337670788Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337693518Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337711459Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"StatusInvolvedPartyReference":{"PartyReference":"ARIHRH","InvolvementReference":"KMJEWQ"}},"EventValue":"DNFHCCTVHK","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337745480Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.337761750Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"EventIdentification":{"IdentifierValue":"KSIRVDJHGL","IdentifierIssuerReference":{"PartyReference":"JGGAFA","InvolvementReference":"MRGOU"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.337793461Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.337812111Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"}}}},"AddressDTO":{"type":"object","properties":{"AddressType":{"type":"string","enum":["PostalAddress","GeolocationAddress","LatitudeAddress","LongitudeAddress","ElectronicAddress"]},"AddressDescription":{"type":"string"}},"example":{"AddressType":"PostalAddress","AddressDescription":"IAMEOINQ"}},"AgreementStatusDTO":{"type":"object","properties":{"AgreementStatus":{"$ref":"#/components/schemas/StatusDTO"},"AgreementStatusType":{"type":"string","enum":["Offered","Confirmed","Completed","Signed","Terminated","Rejected"]}},"example":{"AgreementStatus":{"StatusReason":"UYSXGQUI","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.338795186Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.338826147Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"RequestedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.338845887Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"UTMKAW","InvolvementReference":"MFLKZQY"}},"AgreementStatusType":"Offered"}},"AmountDTO":{"type":"object","properties":{"AmountValue":{"type":"string"},"AmountCurrency":{"$ref":"#/components/schemas/CurrencyCodeDTO"},"DecimalPointPosition":{"type":"string"},"AmountType":{"type":"string","enum":["Principal","ActualAmount","Estimated","Maximum","Default","Replacement","Incremental","Decremental","Reserved","Available","Used","DuePayable","Minimum","Open","Unknown","Fixed"]}},"example":{"AmountValue":"93.56","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"ZJYLT","AmountType":"Replacement"}},"ArrangementStatusDTO":{"type":"object","properties":{"ArrangementStatus":{"$ref":"#/components/schemas/StatusDTO"},"ArrangementStatusType":{"type":"string","enum":["Requested","Proposed","Offered","Accepted","Cancelled","Fulfilled","Terminated"]}},"example":{"ArrangementStatus":{"StatusReason":"IXF","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.339941074Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.339967305Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.339985005Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"EWL","InvolvementReference":"AKRFKF"}},"ArrangementStatusType":"Cancelled"}},"AssetClassificationTypeValuesDTO":{"type":"object","properties":{"Assetclassificationtypevalues":{"type":"string"}},"example":{"Assetclassificationtypevalues":"TOU"}},"BranchDTO":{"type":"object","properties":{"BranchIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"BranchLegalEntityIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"BranchAddress":{"$ref":"#/components/schemas/AddressDTO"},"BranchName":{"$ref":"#/components/schemas/NameDTO"}},"example":{"BranchIdentification":{"IdentifierValue":"ZUSBOFUZPH","IdentifierIssuerReference":{"PartyReference":"GJOLWI","InvolvementReference":"PJDV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.341057852Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.341083963Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"BranchLegalEntityIdentification":{"IdentifierValue":"PUVZMBDWDB","IdentifierIssuerReference":{"PartyReference":"NJZMTS","InvolvementReference":"RLDDH"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.341187415Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.341212336Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}},"BranchAddress":{"AddressType":"LongitudeAddress","AddressDescription":"JUMFKTNMUR"},"BranchName":{"Name":"FLOXYQOQVK"}}},"BudgetArrangementDTO":{"type":"object","properties":{"BudgetType":{"$ref":"#/components/schemas/BudgetTypeDTO"},"BudgetAmount":{"$ref":"#/components/schemas/AmountDTO"},"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"}},"example":{"BudgetType":{"BudgetTypeName":{"Name":"YFDYPQO"},"BudgetType":"OperatingBudget"},"BudgetAmount":{"AmountValue":"51.55","AmountCurrency":{"Currencycode":"USD"},"DecimalPointPosition":"BTMLDIBZ","AmountType":"Unknown"},"ArrangementAction":{"ActionType":"Apply","EventType":"GRV","EventDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342502238Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"EventDescription":"XVD","EventSource":"XEVA","EventLocation":{"LocationDescription":"EMAPCGP","LocationDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342543579Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"LocationStatus":{"StatusReason":"JOJG","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342574100Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342599650Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342621851Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"StatusInvolvedPartyReference":{"PartyReference":"SRP","InvolvementReference":"HTQSR"}},"LocationType":"State","LocationZoningType":"FYY","LocationNeighborhoodType":"MYZT","LocationConstructionType":"SYBZDXU","LocationOccupancyType":"GEKEIGP","LocationValue":"MJHYUD","LocationCapacity":"LNF","LocationIdentification":{"IdentifierValue":"ZOSDP","IdentifierIssuerReference":{"PartyReference":"IXKOAJDT","InvolvementReference":"FYV"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.342714853Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.342736644Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"}},"LocationAddress":"ASUQQESOVH","LocationName":{"Name":"GYPPYUDEWX"},"LocationTimeZone":"HNAUR"},"EventAction":"EDZZCLHP","EventStatus":{"StatusReason":"TIVUSV","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342785865Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342808865Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342826676Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"StatusInvolvedPartyReference":{"PartyReference":"NBYQH","InvolvementReference":"MKEOKCAF"}},"EventValue":"TOKISXLTYW","EventValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342866107Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.342901937Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CloseDate"}},"EventIdentification":{"IdentifierValue":"RQGO","IdentifierIssuerReference":{"PartyReference":"UFREUV","InvolvementReference":"ERHIGTDZNS"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.342936189Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.342953869Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"}}},"ArrangementStartDate":{"DateTimeContent":"2026-05-04T12:26:38.343001390Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SigningDate"},"ArrangementEndDate":{"DateTimeContent":"2026-05-04T12:26:38.343037031Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"ArrangementStatus":{"ArrangementStatus":{"StatusReason":"BWJAKFV","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.343085702Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.343110883Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.343693577Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"CXWKDYAN","InvolvementReference":"BITNGBKKW"}},"ArrangementStatusType":"Accepted"},"ArrangementSubjectMatter":{"Subject":"BABD"},"Arrangementtype":"CollateralArrangement","ArrangementIdentification":{"IdentifierValue":"ETPUO","IdentifierIssuerReference":{"PartyReference":"DMUKBOL","InvolvementReference":"YHLNTZJCX"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.343822071Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.343842071Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}}}},"BudgetTypeDTO":{"type":"object","properties":{"BudgetTypeName":{"$ref":"#/components/schemas/NameDTO"},"BudgetType":{"type":"string","enum":["OperatingBudget","FinancialBudget","ResourceBudget"]}},"example":{"BudgetTypeName":{"Name":"EPM"},"BudgetType":"FinancialBudget"}},"ConditionDTO":{"type":"object","properties":{"ConditionIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"ConditionName":{"$ref":"#/components/schemas/NameDTO"},"ConditionValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"ConditionDateAndTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ConditionStatus":{"type":"string","enum":["Defined","Pending","Activated","Evaluated","Fulfilled","Violated","Expired","Archived"]},"ConditionDescription":{"type":"string"},"ConditionType":{"type":"string","enum":["CommissionTermAndCondition","LegalTermAndCondition","RegulatoryTermAndCondition","PolicyTermAndCondition","RestrictionTermAndCondition","PreferenceTermAndCondition","InvestmentTermAndCondition","MandateTermAndCondition","OperationalTermAndCondition","ProductTermAndCondition","AgreementTermAndCondition","RelationshipTermAndCondition","ConfidentialTermAndCondition"]},"FeatureType":{"type":"string","enum":["FeeFeature","InterestFeature","WithdrawalFeature","DepositFeature","SweepFeature","LienFeature","PaymentFeature","RepaymentFeature","LimitFeature","OverdraftFeature","StatementFeature","CurrencyExchangeFeature","PriceFeature"]},"FeatureIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"FeatureName":{"$ref":"#/components/schemas/NameDTO"},"FeatureLifecycleStatus":{"$ref":"#/components/schemas/StatusDTO"},"FeatureDescription":{"type":"string"}},"example":{"ConditionIdentification":{"IdentifierValue":"MHAS","IdentifierIssuerReference":{"PartyReference":"QHPNJDGXG","InvolvementReference":"GAAEOKRVSA"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.345025930Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.345051051Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExecutedDate"}},"ConditionName":{"Name":"LYZ"},"ConditionValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.345122093Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.345143133Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"}},"ConditionDateAndTime":{"DateTimeContent":"2026-05-04T12:26:38.345178914Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EntryDate"},"ConditionStatus":"Fulfilled","ConditionDescription":"FGJAZSPTP","ConditionType":"OperationalTermAndCondition","FeatureType":"LienFeature","FeatureIdentification":{"IdentifierValue":"LORJ","IdentifierIssuerReference":{"PartyReference":"VXLBB","InvolvementReference":"EGUYJPCQ"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.345301857Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidFromDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.345323228Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"FeatureName":{"Name":"EMVVCILH"},"FeatureLifecycleStatus":{"StatusReason":"NCUZ","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.345383009Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ActivationDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.345404620Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.345421370Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"AMNAENBSYR","InvolvementReference":"UMQEFZYCB"}},"FeatureDescription":"IPIQTFOGZS"}},"ContactPointDTO":{"type":"object","properties":{"ContactPointType":{"type":"string","enum":["ElectronicAddress","PostalAddress","PhoneNumber","SocialNetworkAddress"]},"PartyLocationType":{"type":"string","enum":["LocationIsResidentialAddressOfParty","LocationIsDomicileAddressOfParty","LocationIsPlaceOfBirthOfParty","LocationIsWorkAddressOfParty","LocationIsDeliveryPointAddressOfParty","PartyIsOwnerOfLocation","PartyIsOccupierOfLocation","PartyIsAlliancePartnerOfLocation","LocationIsContactPointAddressOfParty"]},"LocationReference":{"$ref":"#/components/schemas/LocationDTO"},"PartyReference":{"$ref":"#/components/schemas/PartyDTO"}},"example":{"ContactPointType":"ElectronicAddress","PartyLocationType":"PartyIsOccupierOfLocation","LocationReference":{"LocationDescription":"QPNTAE","LocationDateTime":{"DateTimeContent":"2026-05-04T12:26:38.346227920Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"LocationStatus":{"StatusReason":"YTYSAN","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.346255011Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"FulfillmentDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.346275471Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.346294642Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"SendingDate"}},"StatusInvolvedPartyReference":{"PartyReference":"FKTKJM","InvolvementReference":"PKALJELZ"}},"LocationType":"Region","LocationZoningType":"KXANIVBTPB","LocationNeighborhoodType":"FFLPVQHEIC","LocationConstructionType":"AQDYYF","LocationOccupancyType":"MMOI","LocationValue":"GGSLYTBU","LocationCapacity":"OCWCSD","LocationIdentification":{"IdentifierValue":"DSJIBIUPDQ","IdentifierIssuerReference":{"PartyReference":"RBQJL","InvolvementReference":"VDWEQGVRM"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.346369184Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"EffectiveDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.346387514Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"}},"LocationAddress":"DZGWVKPKC","LocationName":{"Name":"OIJZ"},"LocationTimeZone":"NZNCHG"},"PartyReference":{"PartyName":{"Name":"GQXXFDSYOS"},"PartyType":"Organisation","PartyDateTime":{"DateTimeContent":"2026-05-04T12:26:38.346458306Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"},"PartyIdentification":{"PartyIdentificationType":"SocialSecurityNumber","PartyIdentification":{"IdentifierValue":"TYLRXXNZ","IdentifierIssuerReference":{"PartyReference":"PYXYCNQ","InvolvementReference":"LFXMFYW"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.346499057Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.346514687Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ReceivingDate"}}},"PartyLegalStructureType":"LimitedLiabilityPartnership","PartyActivityIndicator":{"Industrycode":"MKZ"}}}},"CurrencyCodeDTO":{"type":"object","properties":{"Currencycode":{"type":"string"}},"example":{"Currencycode":"USD"}},"DateDTO":{"type":"object","properties":{"DateContent":{"type":"string"}},"example":{"DateContent":"FZCPBALNZ"}},"DateTimeDTO":{"type":"object","properties":{"DateTimeContent":{"type":"string"},"TimeZoneCode":{"type":"string"},"DaylightSavingIndicator":{"type":"string"},"DateTimeType":{"type":"string","enum":["MaturityDate","InitiatedDate","RequestedDate","ExecutedDate","OpenDate","CloseDate","ExpiryDate","EffectiveDate","CreatingDate","ActivationDate","DeactivationDate","BlockingDate","SendingDate","ValidFromDate","ValidToDate","ReceivingDate","SigningDate","DueDate","ValueDate","FulfillmentDate","EntryDate"]}},"example":{"DateTimeContent":"2026-05-04T12:26:38.347780849Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DeactivationDate"}},"DateTimePeriodDTO":{"type":"object","properties":{"FromDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"ToDateTime":{"$ref":"#/components/schemas/DateTimeDTO"}},"example":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.348200819Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"DueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.348228060Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"MaturityDate"}}},"DocumentDTO":{"type":"object","properties":{"DocumentIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"DocumentVersion":{"type":"string"},"DocumentType":{"type":"string","enum":["MeteredServiceInvoice","CreditNoteRelatedToFinancialAdjustment","DebitNoteRelatedToFinancialAdjustment","CommercialInvoice","CreditNote","DebitNote","HireInvoice","SelfBilledInvoice","RemittanceAdviceMessage","RelatedPaymentInstruction","CommercialContract","ForeignExchangeDealReference","StatementOfAccount","DispatchAdvice","PurchaseOrder","StructuredCommunicationReference","BillOfLading","Voucher","AccountReceivableOpenItem","TradeServicesUtilityTransaction","CashierReceipt","CustomerReceipt","Journal","SaleReceipt"]},"DocumentStatus":{"$ref":"#/components/schemas/StatusDTO"},"DocumentDateTime":{"$ref":"#/components/schemas/DateTimeDTO"},"DocumentName":{"$ref":"#/components/schemas/NameDTO"},"DocumentDateTimeType":{"type":"string","enum":["CreationDate","CapturingDate","VersionDate","ValueDate","IssueDate"]},"DocumentPurpose":{"type":"string"},"DocumentFormat":{"type":"string"},"DocumentSubject":{"type":"string"},"DocumentDescription":{"type":"string"},"DocumentValidityPeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"}},"example":{"DocumentIdentification":{"IdentifierValue":"TQWN","IdentifierIssuerReference":{"PartyReference":"DITKH","InvolvementReference":"TOSA"},"IdentifierStartDate":{"DateTimeContent":"2026-05-04T12:26:38.348815824Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ExpiryDate"},"IdentifierEndDate":{"DateTimeContent":"2026-05-04T12:26:38.348837795Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"}},"DocumentVersion":"IMFJSYSP","DocumentType":"CommercialInvoice","DocumentStatus":{"StatusReason":"QIQ","StatusDateTime":{"DateTimeContent":"2026-05-04T12:26:38.348913577Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"},"StatusValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.348934697Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"OpenDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.348950538Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValidToDate"}},"StatusInvolvedPartyReference":{"PartyReference":"FBFDQZ","InvolvementReference":"YJIQUWK"}},"DocumentDateTime":{"DateTimeContent":"2026-05-04T12:26:38.348993769Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"BlockingDate"},"DocumentName":{"Name":"NXLTZ"},"DocumentDateTimeType":"CreationDate","DocumentPurpose":"HAGJBDC","DocumentFormat":"YJKMHWURI","DocumentSubject":"KRENIWO","DocumentDescription":"GOEXGUOA","DocumentValidityPeriod":{"FromDateTime":{"DateTimeContent":"2026-05-04T12:26:38.349106782Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"ValueDate"},"ToDateTime":{"DateTimeContent":"2026-05-04T12:26:38.349127342Z","TimeZoneCode":"UTC","DaylightSavingIndicator":"false","DateTimeType":"CreatingDate"}}}},"DurationDTO":{"type":"object","properties":{"Duration":{"type":"string"}},"example":{"Duration":"CYRELJ"}},"FeeArrangementDTO":{"type":"object","properties":{"FeeType":{"type":"string","enum":["AccountingFee","ADRFee","AdvisoryFee","AirwayBillFee","BackEndLoad","BrokerageFee","ClearanceAndHandlingAtDestination","ClearanceAndHandlingAtOrigin","CollectFreight","Commission","ContingencyDeferredSalesCharge","CorrespondentBankCharge","CustodyFee","DangerousGoodsFee","DilutionLevy","Discount","Equalisation","FrontEndLoad","Initial","InsurancePremium","IssuanceCancellationFee","IssuanceFee","ManagementFee","MatchingFees","MiscellaneousFee","Other","Packaging","PartAcquis","Penalty","Pickup","PostageCharge","Premium","PublicationFee","RegulatoryFee","SecurityCharge","ServiceProvisionFee","ShippingCharge","SignatureService","SpecialConcessions","SpeciallyAgreedFrontEndLoad","StorageAtDestination","StorageAtOrigin","Switch","TransferFee","TransportCharges","UCITSCommission","ChequeRelatedFee"]},"FeeAmount":{"$ref":"#/components/schemas/AmountDTO"},"FeeRate":{"$ref":"#/components/schemas/RateDTO"},"FeeEffectivePeriod":{"$ref":"#/components/schemas/DateTimePeriodDTO"},"FeeDueDate":{"$ref":"#/components/schemas/DateTimeDTO"},"FeePlan":{"$ref":"#/components/schemas/FeePlanDTO"},"FeeCreditDebitIndicator":{"type":"string","enum":["Debit","Credit"]},"FeeReason":{"type":"string"},"FeeDirection":{"type":"string","enum":["Added","Substracted"]},"FeeBearerType":{"type":"string","enum":["Bornebydebtor","Bornebycreditor","Shared","FollowingServiceLevel"]},"FeeChargingFrequency":{"$ref":"#/components/schemas/FrequencyDTO"},"FeePaymentMethodType":{"type":"string","enum":["Cash","Unit"]},"LoanOriginationDate":{"$ref":"#/components/schemas/DateDTO"},"LoanMaturityDate":{"$ref":"#/components/schemas/DateDTO"},"LoanEndDate":{"$ref":"#/components/schemas/DateDTO"},"LoanAmount":{"$ref":"#/components/schemas/AmountDTO"},"LoanArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementAction":{"$ref":"#/components/schemas/ActionDTO"},"ArrangementStartDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementEndDate":{"$ref":"#/components/schemas/DateTimeDTO"},"ArrangementStatus":{"$ref":"#/components/schemas/ArrangementStatusDTO"},"ArrangementSubjectMatter":{"$ref":"#/components/schemas/SubjectDTO"},"Arrangementtype":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"ArrangementIdentification":{"$ref":"#/components/schemas/IdentifierDTO"},"PaymentCardArrangementIdentifier":{"$ref":"#/components/schemas/IdentifierDTO"},"CardPaymentArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","PaymentArrangement","EntitlementArrangement","PeriodArrangement","CollateralArrangement","LimitArrangement","AccessArrangement","CardPaymentArrangement","StandingOrderArrangement","OverdraftArrangement","RepaymentArrangement","StatementArrangement","CreditTransferArrangement","ProductAndServiceArrangement","FactoringArrangement","RolloverArrangement","RestructuringArrangement","InsuranceArrangement","CollectionArrangement","UnderwritingArrangement","TerminationArrangement","MaturityArrangement","AdministrativeArrangement"]},"FinancialAdvisoryServiceArrangementType":{"type":"string","enum":["FeeArrangement","FinancialPlanningArrangement","TaxOptimizationArrangement","StrategicFundingArrangement","TacticalFundingArrangement","CapitalStructuringArrangement","ProductGuidanceArrangement"]},"SavingsAccountArrangementType":{"type":"string","enum":["SweepArrangement","WithdrawalArrangement","DepositArrangement","InterestArrangement","FeeArrangement","LienArrangement","InformationArrangement","Payment
[...]
